[Desktop Entry]
Name=Package Manager
Name[en]=Add,Update or Remove Programs
Name[tr]=Program Ekle,Güncelle veya Kaldır
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Icon=package-manager
Type=Application
X-Tasma-Fork=True
Exec=package-manager
Categories=Qt;KDE;X-KDE-settings-system;X-KDE-tasma-system
