            <div id="minibox">
                <form action="?" method="post">
                <label for="search">
                    <img src="template/images/sorusor.png" />
                </label>
                <br />
            {if $Session}
                <input type="text" id="search" name="search_query" class="searchbar" />
                <div id="actions">
                    <span class="solpane">
                        <a href="#" onclick="tv(document.getElementById('ask_details'), this); return false"><img src="template/images/arama1.png" /></a>
                        <div id="ask_details" style="display:block">
                            Sorum bu sürümler içindir :
                            <select size="1" id="dist_list" name="dist_list">
                                {
                                    section name=node loop=$DistList
                                }
                                <option value="{$DistList[node].ID}">{$DistList[node].DistName} {$DistList[node].DistVersion}</option>
                                {
                                    /section
                                }
                                <option value="X">Tüm Sürümler</option>
                            </select>
                        </div>
                    </span>
                    <span class="sagpane">
                        <input type="submit" value="ara" class="buttonSubmit" />
                    </span>
                </div>
            {else}
            soru sorabilmek için sisteme giriş yapmış olmanız gerekiyor.<br />
            henüz üye değilseniz <a href="?make_account">buradan</a> üyelik kaydınızı yapabilirsiniz.
            {/if}
                </form>
            </div>