<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>1kb.</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript" src="lib/ajaxmodules/niceforms.js"></script>
<style type="text/css" media="screen">@import url(css/main.css);</style>
<style type="text/css" media="screen">@import url(css/forms.css);</style>
</head>

<body>
<div id="container">
<form action="vars.php" method="post">
	<select size="1" id="mySelect1" name="mySelect1">
		<option selected="selected" value="Test area no.1">Test area no.1</option>
		<option value="Another test option">Another test option</option>
		<option value="And another one">And another one</option>
		<option value="One last option for me">One last option for me</option>
	</select>
	<br />
	<select size="1" id="mySelect2" name="mySelect2">
		<option selected="selected" value="Test area no.2">Test area no.2</option>
		<option value="Another test">Another test</option>
		<option value="And another one">And another one</option>
		<option value="And yet another one">And yet another one</option>
		<option value="One last option for me">One last option for me</option>
	</select>
	<br />
	<input type="radio" name="radioSet" id="option1" value="foo" /><label for="option1">foo</label><br />
	<input type="radio" name="radioSet" id="option2" value="bar" /><label for="option2">bar</label><br />
	<input type="radio" name="radioSet" id="option3" value="another option" /><label for="option3">another option</label><br />
	<br />
	<input type="checkbox" name="checkSet1" id="check1" value="foo" /><label for="check1">foo</label><br />
	<input type="checkbox" name="checkSet2" id="check2" value="bar" /><label for="check2">bar</label><br />
	<input type="checkbox" name="checkSet3" id="check3" value="another option" /><label for="check3">another option</label><br />
	<br />
	<label for="textinput">Username:</label><br />
	<input type="text" id="textinput" name="textinput" class="textinput" maxlength="25" /><br />
	<label for="passwordinput">Password:</label><br />
	<input type="password" id="passwordinput" name="passwordinput" class="textinput" maxlength="25" /><br />
	<br />
	<label for="textareainput">Comments:</label><br />
	<textarea id="textareainput" name="textareainput" class="textarea" rows="17"></textarea><br />
	<br />
	<input type="submit" value="Submit" class="buttonSubmit" />
	<div id="stylesheetTest"></div>
</form>
</div>
</body>
</html>
