            <div id="minibox">
                <form action="?" method="post">
                <label for="search">
                    <img src="template/images/bilgiara.png" />
                </label>
                <br />
                <input type="text" id="search" name="search_query" class="searchbar" />
                <div id="actions">
                    <span class="solpane">
                        <a href="#" onclick="tv(document.getElementById('search_details'), this); return false"><img src="template/images/arama1.png" /></a>
                        <div id="search_details" style="display:block">
                            Arama bu sürümler ile sınırlandırılsın :
                            <select size="1" id="dist_list" name="dist_list">
                                {
                                    section name=node loop=$DistList
                                }
                                <option value="{$DistList[node].ID}">{$DistList[node].DistName} {$DistList[node].DistVersion}</option>
                                {
                                    /section
                                }
                            </select>
                        </div>
                    </span>
                    <span class="sagpane">
                        <input type="submit" value="ara" class="buttonSubmit" />
                    </span>
                </div>
                </form>
            </div>
