[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
Name[nl]=Pakketbeheer
Name[es]=Administrador de Paquetes
Name[de]=Paket-Manager
Name[pt_BR]=Gerenciador de Pacotes
Name[fr]=Gestionnaire de Paquets
Name[it]=Gestore di pacchetti
Icon=package-manager
Type=Application
StartupNotify=False
MimeType=application/x-pisi;
Exec=pm-install %u

