[Desktop Entry]
Encoding=UTF-8
Comment=PiSi File
Comment[en]=PiSi File
Comment[tr]=PiSi Dosyası
Comment[nl]=PiSi bestand
Comment[es]=Archivo PiSi
Comment[de]=PiSi-Datei
Comment[pt_BR]=Arquivo PiSi
Comment[fr]=Fichier PiSi
Comment[it]=File PiSi
MimeType=application/x-pisi
Patterns=*.pisi
Type=MimeType
Icon=package-manager
