[Desktop Entry]
Exec=kaptan
Icon=kaptan
Type=Application

X-KDE-StartupNotify=true
X-KDE-autostart-after=plasma
X-KDE-autostart-condition=kaptanrc:General:RunOnStart:true

Name=Kaptan Desktop
Name[de]=Kaptan-Desktop
Name[tr]=Kaptan Masaüstü
Name[pt_BR]=Kaptan Desktop
Name[nl]=Kaptan Desktop
Name[sv]=Kaptan Lots
Name[es]=Kaptan Desktop
Name[nl]=Kaptan desktop


