[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "$terms.Bug Yazma Kılavuzu" %]

  <p>Çözülme ihtimali en yüksek [% terms.bugs %], etkin şekilde yazılmış [% terms.bug %] raporlarında olur.
  Bu kılavuzlar etkin bir raporun nasıl yazıldığını açıklar.

<h3>Prensipler</h3>

  <ul>
    <li>Kesin bilgi verin</li>
    <li>Açık olun - açıklamanızı okuyan, [% terms.bugAcc %] tekrarlayabilsin</li>
    <li>Her raporda sadece bir [% terms.bug %] girin</li>
    <li>Hiçbir [% terms.bug %] bildirilmeyecek kadar önemsiz değildir - 
    küçük [% terms.bugs %] büyük [% terms.bugsAcc %] gizleyebilir</li>
    <li>Gerçekleri ve tahminlerinizi birbirinden net şekilde ayırın</li>
  </ul>

<h3>Ön hazırlıklar</h3>

<ol>
  <li>[% terms.BugAcc %] yazılımın güncel sürümünde tekrarlayın, tekrarlayamıyorsanız düzeltilmiş olabilir.
  </li>

  <li>[% terms.BugzillaLoc %] <a href="query.cgi?format=specific">Ara</a>ma yapın, belki [% terms.bug %] zaten bildirilmiştir.</li>
</ol>

<h3>Yeni [% terms.Bug %] Raporlamak</h3>

<p>Eğer [% terms.bugAcc %] uygulamanın güncel sürümünde tekrarlayabiliyorsanız ve başka kimse raporlamadıysa:</p>

<ol>
 <li>"<a href="enter_bug.cgi">Yeni bir [% terms.bug %] gir</a>"i seçin</li>
 <li>[% terms.BugAcc %] bulduğunuz ürünü seçin</li>
 <li>Formu doldurun. Formu anlama konusunda birkaç ipucu:</li>
</ol>

  <blockquote>
    <p><b>Bileşen:</b> [% terms.Bug %] yazılımın hangi bölümünde?<br>
    Bu alan zorunludur.
    Her bileşenle ilgili bir açıklama görmek için "Bileşen" kelimesine tıklayın. Eğer mevcut bileşen seçenekleri uygun gelmediyse, "Genel" bileşenini seçin.</p>


    <p><b>Özet:</b> [% terms.BugAcc %] en fazla 60 karakterde nasıl açıklarsınız?<br>
     İyi bir özet <b>[% terms.abug %] raporunu hızlı ve benzersiz şekilde açıklar</b>. Önerdiğiniz çözümü değil, problemi açıklamalıdır.<br>
     Olabildiğince ipucu kelime kullanmaya özen göstererek yaşadığınız problemi özetleyen bir cümle kullanılmalıdır.
    <ul>
     <li>İyi Örnek: "<tt>Bir dosya kopyalama diyaloğunda iptâl Dosya Yöneticisi'nin çakılmasına neden oluyor</tt>"</li>
     <li>Kötü Örnek: "<tt>Yazılım çakılıyor</tt>"</li>
     <li>Kötü Örnek: "<tt>Tarayıcı benim sitemi düzgün görüntülemeli</tt>"</li>
    </ul>

    <p><b>Mimari:</b> Hatanın alındığı sistemin mimarisi seçilmelidir.
        <pre>
            x86 veya x86_64
        </pre>
    <p><b>Ayrıntılar:</b>
    Problemin detayları:

       Özetin daha kapsamlı şekilde yazılmış halidir, bu açıklamanın hataya özgü olmasına lütfen özen gösterilmelidir.

        <pre>
        Bir sayfayı sürükleyerek seçmek Mac'lerde NSGetFactory fonksiyonunun çakılmasına neden oluyor.
        </pre>

    <p><b>Tekrarlanabilirlik:</b> Hatanın tekrarlanma sıklığını bu bölümde seçmeniz gerekmektedir.

    Seçenekler:
    <ul>
    <li>Her zaman tekrarlanabiliyor,</li> 
    <li>Bazen tekrarlanabiliyor,</li> 
    <li>Hatayı tekrarlamayı denemedim,</li>
    <li>Hatayı tekrarlayamıyorum.</li>
    </ul>

    <p><b>Tekrarlamak için gerekli adımlar:</b> [% terms.BugGen %] tekrar edilebilmesi için yapılması gerekenler, mümkün olduğunca kısa olarak sırası ile yazılmalıdır. Özel kurulum adımlarını da burada belirtmelisiniz.</p>

    <pre>
    1) Herhangi bir sayfa açılır. (Ben varsayılan test sayfasını 
    kullandım - resource:/res/samples/test0.html)

    2) Sayfayı sürükleyerek seçin. (Fareyle tıklayıp, tuşu 
    bırakmadan tarayıcının içerik alanında herhangi bir yerden 
    içerik alanının alt kısmına doğru sürükleyin.)
    </pre>

      <p><b>Güncel Sonuç:</b> Uygulama yukarıda verdiğiniz adımlar tamamlandığında ne yaptı?</p>

    <pre>
    Uygulama çakıldı.
    </pre>

      <p><b>Beklenen Sonuç:</b> [% terms.Bug %] olmasaydı uygulamanın ne yapması gerekiyordu?</p>

        <pre>
         Pencere aşağıya doğru kaymalıydı. 
         Kayan içerik seçilmeliydi. 
        (Ya da en azından, uygulama çakılmamalıydı.)
        </pre>

      <p><b>Ek Açıklamalar:</b> Hata için gerekli olduğunu düşündüğünüz her türlü bilgi buraya eklenebilmektedir. Bu bilgi bilgisayarınız ile ilgili bir donanım bilgisi veya herhangi bir ayar olabilir.
      Eğer bu açıklama birkaç satırdan fazla ise, eklentiler bölümünden bir dosya halinde girilmelidir.

      <p><b>Önem:</b> Karşılaştığınız problemin dağıtım için ne kadar önemli olduğu belirtilmelidir.

    <ul>
    <li> Acil: Tüm sistemi kullanılmaz hale getiren hatalar</li>
    <li> Büyük: Uygulamayı kullanılmaz hale getiren hatalar</li>
    <li> Normal: Uygulamanın bir kısmını kullanılmaz hale getiren hatalar</li>
    <li> Küçük: Yeni bir özellik isteği, çeviri eksikliği, kozmetik problem</li>
    </ul>

  <p>Raporunuzu hatalara ve eksik kalan noktalara karşı iki kez kontrol edin, sonra "Gönder"e basın.
  Artık [% terms.bug %] raporunuz [% terms.Bugzilla %] veritabanına eklenmiş durumdadır.<br>
  </p>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
