[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Stefan Seifert <nine@detonation.org>
  #                 Gervase Markham <gerv@gerv.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "Metne Bağlantıları Yerleştir" %]

<p>
  Eğer bir miktar metin girerseniz, bu form onu standart bir [% terms.Bugzilla %] yorum alanı gibi işleyerek döndürecektir. Yani, geçerli [% terms.bug %] numaraları, adresler, e-posta adresleri ve benzerleri uygun şekilde HTML bağlantıları yapılmış halde döndürülür.
</p>

<form action="page.cgi" method="post">
  [% INCLUDE global/textarea.html.tmpl
    name    = 'text'
    minrows = 20
    cols    = constants.COMMENT_COLS
  %]
  <br>
  <input type="hidden" name="id" value="linked.html">
  <input type="submit" id="linkify" value="Bağlantıları Yerleştir">
</form>

[% INCLUDE global/footer.html.tmpl %]
