[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "Oylama" %]

<p>[% terms.BugzillaGen %] bir "oylama" özelliği bulunur. 
Her ürün kullanıcıların belirli sayıda oy kullanmasına izin verir. (Bazı ürünlerde oy kullanmaya izin yoktur.) Oyunuzla hangi [% terms.bugsGen %] en önemlileri olduğunu, hangilerinin daha acilen düzeltilmesi gerektiğini düşündüğünüzü belirtme şansını elde edersiniz. Elbette oy kullanmak hiçbir zaman hataya bir çözüm bulmak kadar etkili olamaz.</p>

<p>Yöneticinin ilgili ürünü yapılandırma şekline bağlı olarak, aynı [% terms.bug %] üzerinde birden fazla oy kullanmanız mümkün olabilir. Bu şekilde bir oylama açıldığında ve sizin oyunuz belirli bir sayıda tutulduğunda, oylarınızı çok sayıda [% terms.bug %] arasında eşit olmayan bir şekilde dağıtarak belirli [% terms.bugsAcc %] ön plâna çıkarabilirsiniz.
</p>

<p>Oylara bakmak için:</p>

<ul>
  <li>Sorgu sayfasına gidin, normal bir sorgulama yapın, fakat "En az ___ oy" alanına 1 (bir) değerini girin. Bu sorgu, size en az bir oya sahip olan öğeleri gösterecektir.</li>
</ul>

<p>[% terms.Abug %] için oy kullanmak:</p>

<ul>
  <li>Oy kullanmak istediğiniz [% terms.bugAcc %] açın.</li>

  <li>"Önem" alanlarının hemen sağında bulunan "(oy kullan)" bağlantısına tıklayın. (Eğer öyle bir bağlantı görünmüyorsa, bu [% terms.bugGen %] bulunduğu üründe oylama kapalı olabilir.)</li>

  <li>Bu [% terms.bugDat %] kaç oy vermek istediğinizi belirtin. Bu sayfa oylarınızı istediğiniz şekilde dağıtabilmeniz için diğer [% terms.bugsLoc %] kullancığınız oyları da gösterecektir.</li>
</ul>

<p>Oyladığınız [% terms.bugsLoc %] gerçekleşen değişikliklerden e-posta yoluyla haberdar edilirsiniz.</p>

<p>Sayfa altlığında bulunan "<a href=
"votes.cgi?action=show_user">Verdiğim Oylar</a>" bağlantısını kullanarak istediğiniz zaman oylarınıza göz atabilirsiniz.</p>

[% INCLUDE global/footer.html.tmpl %]
