<!-- Localization -->
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../static/farm.css" type="text/css" />
<title>{% trans "Buildfarm Web Interface" %}</title>

<script type="text/javascript">
</script>

<style type="text/css">
table.transferTable
{
    border: 1px solid #CCCCCC;
    border-width: 0px 0px 1px 1px;
    background-color: #F2F2F2;
}

table.transferTable tr.row1
{
    background-color: #F6F6F6;
}

table.transferTable tr.row2
{
    background-color: #FFFFFF;
}

table.transferTable td
{
    border:1px solid #CCCCCC;
    border-width: 1px 1px 0px 0px;
    padding: 5px;
}

table.transferTable tr.title
{
    background-color: #E0E0E0;
    font-weight: bold;
}

</style>
</head>
<body>
    <h2>{% trans "Buildfarm web interface" %}</h2><hr />
    <!-- content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
