[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): N.N.
  #                 Marc Schumann <wurblzap@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% INCLUDE global/header.html.tmpl
   title  = "$terms.Bugzilla Hızlı Arama (Programcılar İçin)",
   style  = 'th {text-align: left}'
   onload = 'document.forms[\'f\'].quicksearch.focus()'
 %]

<p>
  Aranacak dizge(ler) girin:
</p>

<form name="f" action="buglist.cgi" method="get"
      onsubmit="if (this.quicksearch.value == '')
                { alert('Lütfen önce aranacak metni girin.');
                  return false; } return true;">
  <input type="text" size="40" name="quicksearch">
  <input type="submit" value="Bul" id="find">
  <input type="submit" name="load" value="Arama Formunu Yükle" id="load">
</form>

<p>
  Bu küçük-büyük harf ayrımı yapmayan, &ldquo;tüm metinleri alt dizgeler olarak alan&rdquo; bir aramadır, kelimeler birbirlerinden boşluk ile ayrılır.
  Öntanımlı olarak, aşağıdaki alanlar taranır: Özet, Anahtarlar, Ürün, Bileşen, Durum Notları.
  Eğer bir kelime bir adresin parçası gibi görünüyorsa, adres alanı da aramaya dahil edilir.
</p>
<p>
  &ldquo;Kelime&rdquo; için genel biçim <tt>alan1,&hellip;,alanN:değer1,&hellip;,değerM</tt> şeklindedir.
  Bir [% terms.bug %], girilen değerlerden en az biri alanların herhangi birinde geçiyorsa sonuçlar arasında yer alır.
  Örneğin, <tt>assignee,reporter,qa:ibm,sun</tt> araması size atanan, raporlayan veya kalite kontrol kişilerinden herhangi biri oturum açma adı
  <tt>ibm</tt> veya <tt>sun</tt> metnini içeren [% terms.bugAcc %] döndürecektir.
  Eğer sadece <tt>değer1,&hellip;,değerM</tt> verilmiyorsa, önek (yaklaşık olarak) yukarıda verilen öntanımlı değerlere karşılık gelir.
  <tt>-<i>kelime</i></tt> yapısıyla <tt><i>kelime</i></tt>nin mantıksal zıttını alabilirsiniz.
</p>
<p>
  Kullanılabilir alanları tam listesi şöyledir (Kısayol sütununda verilen değer sadece erişimi hızlandırmak içindir):
</p>

<table border="1">
<thead>
<tr>
  <th>Öntanımlı arama</th>
  <th>Kısayol</th>
  <th>Alan Adı</th>
  <th>Diğer Adı</th>
  <th>Açıklama</th>
</tr>
</thead>

<!-- Status, Resolution, Platform, OS, Priority, Severity -->

<tr>
  <td>&nbsp;</td>
  <td rowspan="2">
    <tt>UNCO,NEW,&hellip;,CLOS,<br>FIX,DUP,&hellip;<i>(ilk kelime olarak)</i></tt>
  </td>
  <td><tt>status</tt></td>
  <td>&nbsp;</td>
  <td>
    <a href="page.cgi?id=fields.html#status">Durum</a>
    <i>(&ldquo;bug_status&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>resolution</tt></td>
  <td>&nbsp;</td>
  <td><a href="page.cgi?id=fields.html#resolution">Karar</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><i>as-is</i></td>
  <td><tt>platform</tt></td>
  <td>&nbsp;</td>
  <td>
    <a href="page.cgi?id=fields.html#rep_platform">Platform</a>
    <i>(&ldquo;rep_platform&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>os</tt></td>
  <td><tt>opsys</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#op_sys">İşletim Sistemi</a>
    <i>(&ldquo;op_sys&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>p1,p2</tt> <i>or</i> <tt>p1-2</tt></td>
  <td><tt>priority</tt></td>
  <td><tt>pri</tt></td>
  <td><a href="page.cgi?id=fields.html#priority">Öncelik</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>blo,cri,&hellip;,enh</tt></td>
  <td><tt>severity</tt></td>
  <td><tt>sev</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#bug_severity">Önem</a>
    <i>(&ldquo;bug_severity&rdquo;)</i>
  </td>
</tr>

<!-- People: AssignedTo, Reporter, QA Contact, CC, Added comment -->
<!-- Added comment is missing!!!! -->

<tr>
  <td>&nbsp;</td>
  <td><b>@</b><i>assignee</i></td>
  <td><tt>assignedto</tt></td>
  <td><tt>assignee</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#assigned_to">Atanan</a>
    <i>(&ldquo;assigned_to&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>reporter</tt></td>
  <td><tt>rep</tt></td>
  <td>Raporlayan (oturum)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>qa</tt></td>
  <td><tt>qacontact</tt></td>
  <td>Kalite Kontrol Kişisi (oturum) <i>(&ldquo;qa_contact&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>cc</tt></td>
  <td>&nbsp;</td>
  <td>Haber Verilecekler (oturum)</td>
</tr>

<!-- Product, Version, Component, Target Milestone -->

<tr>
  <td><i>evet</i></td>
  <td rowspan="2"><b>:</b><i>area</i></td>
  <td><tt>product</tt></td>
  <td><tt>prod</tt></td>
  <td>Ürün (sayı)</td>
</tr>
<tr>
  <td><i>evet</i></td>
  <td><tt>component</tt></td>
  <td><tt>comp</tt></td>
  <td><a href="describecomponents.cgi">Bileşen</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>version</tt></td>
  <td><tt>ver</tt></td>
  <td>Sürüm (sayı)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>milestone</tt></td>
  <td><tt>target, targetmilestone</tt></td>
  <td>Hedef Aşama <i>(&ldquo;target_milestone&rdquo;)</i></td>
</tr>

<!-- Summary, Description, URL, Status whiteboard, Keywords -->

<tr>
  <td><i>evet</i></td>
  <td>&nbsp;</td>
  <td><tt>summary</tt></td>
  <td><tt>shortdesc</tt></td>
  <td>
    [% terms.Bug %] Özeti (kısa metin)
    <i>(&ldquo;short_desc&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>description</tt></td>
  <td><tt>desc, longdesc<!--, comment--></tt></td>
  <!-- reserve "comment" for "added comment" login search?! -->
  <td>[% terms.Bug %] Açıklaması / Yorumlar (uzun metin)</td>
</tr>
<tr>
  <td><i>değişir</i></td>
  <td>&nbsp;</td>
  <td><tt>url</tt></td>
  <td>&nbsp;</td>
  <td>Adres <i>(&ldquo;bug_file_loc&rdquo;)</i></td>
</tr>
<tr>
  <td><i>evet</i></td>
  <td>&nbsp;</td>
  <td><tt>statuswhiteboard</tt></td>
  <td><tt>sw, whiteboard</tt></td>
  <td>Durum Not Alanı <i>(&ldquo;status_whiteboard&rdquo;)</i></td>
</tr>
<tr>
  <td><i>evet</i></td>
  <td><b>!</b><i>keyword</i></td>
  <td><tt>keywords</tt></td>
  <td><tt>kw</tt></td>
  <td><a href="describekeywords.cgi">Anahtarlar</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>group</tt></td>
  <td>&nbsp;</td>
  <td>Grup</td>
</tr>

<!-- Flags -->

<tr>
  <td>&nbsp;</td>
  <td rowspan="2"><i>flag</i><b>?</b><i>requestee</i></td>
  <td><tt>flag</tt></td>
  <td>&nbsp;</td>
  <td>Bayrak adı ve durumu (+, - veya ?)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>requestee</tt></td>
  <td><tt>req</tt></td>
  <td>Bayrağı isteyen (oturum)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>setter</tt></td>
  <td><tt>set</tt></td>
  <td>Bayrağı atayan (oturum)</td>
</tr>

<!-- Attachments -->

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentdesc</tt></td>
  <td><tt>attachdesc</tt></td>
  <td>
    Ek Açıklaması
    <i>(&ldquo;attachments.description&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentdata</tt></td>
  <td><tt>attachdata</tt></td>
  <td>Ek Verisi <i>(&ldquo;attach_data.thedata&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentmimetype</tt></td>
  <td><tt>attachmimetype</tt></td>
  <td>Ek MIME türü <i>(&ldquo;attachments.mimetype&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>votes</tt></td>
  <td>&nbsp;</td>
  <td>
    Oy sayısı<br>
    (votes:<i>N</i> ve votes&gt;=<i>N</i> mean "en az N oy" demektir,
    votes&gt;<i>N</i> ise "N oydan fazlası" demektir)
  </td>
</tr>
</table>

<p>
  Bazı kullanışlı kısaltmalara örnekler:
</p>
<table border="1">
<thead>
<tr>
  <th>Cümle yapısı</th>
  <th>Anlamı ve Örnekler</th>
</tr>
</thead>

<!--
<tr>
  <td><i>STAT</i> <i>(ilk kelime olarak)</i></td>
  <td><b>status,resolution:</b> <i>STAT</i></td>
</tr>
<tr>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><tt>ALL</tt> <i>(ilk kelime olarak)</i></td>
  <td><i>karara varılmamış tüm [% terms.bugsAcc %] aramaya dahil eder</i></td>
</tr>
<tr>
  <td><tt>+DUP,FIXED</tt> <i>(ilk kelime olarak)</i></td>
  <td><i>AYNISI ve DÜZELTİLDİ olan [% terms.bugsAcc %] aramaya dahil eder</i></td>
</tr>
-->

<tr>
  <td><b>:</b><i>area</i></td>
  <td><b>product,component:</b><i>area</i></td>
</tr>
<tr>
  <td><i>sev</i></td>
  <td><b>severity:</b><i>sev</i></td>
</tr>
<tr>
  <td><tt>blo,cri,maj</tt></td>
  <td><i>önemli [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><tt>enh</tt></td>
  <td><i>geliştirme istekleri</i></td>
</tr>
<tr>
  <td><b>p</b><i>level</i></td>
  <td><b>priority:</b><i>level</i></td>
</tr>
<tr>
  <td><tt>p1</tt></td>
  <td><i>çok yüksek öncelikli [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><tt>p1-2</tt></td>
  <td><i>yüksek öncelikli [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><b>@</b><i>assignee</i></td>
  <td><b>assignedto:</b><i>assignee</i></td>
</tr>
<tr>
  <td><b>!</b><i>keyword</i></td>
  <td><b>keywords:</b><i>keyword</i></td>
</tr>
<tr>
  <td><i>flag</i><b>?</b><i>requestee</i></td>
  <td><b>flag:</b><i>flag?</i> <b>requestee:</b><i>requestee</i></td>
</tr>
</table>

<p>
  Daha fazla bilgiyi <a href="page.cgi?id=quicksearch.html">giriş sayfası</a>ndaki
  <a href="page.cgi?id=quicksearch.html#features">&ldquo;Özelikler&rdquo;</a>
  bölümünde bulabilirsiniz.
</p>

[% PROCESS global/footer.html.tmpl %]
