[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): N.N.
  #                 Marc Schumann <wurblzap@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% INCLUDE global/header.html.tmpl
   title  = "$terms.Bugzilla Hızlı Arama",
   style  = 'ul {margin-bottom: 2ex}
             ul li {margin-top: 2ex}
             ul li ul li {margin-top: 0}'
   onload = 'document.forms[\'f\'].quicksearch.focus()'
 %]

<p style="font-size: 80%">
  Asıl <a href="query.cgi">[% terms.Bugzilla %] Arama Formu</a> ile aşinalığınız varsa,
  <a href="page.cgi?id=quicksearchhack.html">bu formu</a> tercih edebilirsiniz.
</p>

<p>
  Aranacak bir veya daha fazla ifade girin:
</p>

<form name="f" action="buglist.cgi" method="get"
      onsubmit="if (this.quicksearch.value == '')
                { alert('Lütfen önce aranacak metni girin.');
                  return false; } return true;">
  <input type="text" size="40" name="quicksearch">
  <input type="submit" value="Bul" id="find">
</form>

<h2>Başlarken</h2>

<ul>
  <li>
    Bu aramada <strong>küçük-büyük harf ayrımı yapılmaz</strong>:<br />
    <ul>
      <li><tt>tablo</tt>, <tt>Tablo</tt> ve <tt>TABLO</tt> aynıdır.</li>
    </ul>
  </li>
  <li>
    Bu aramada girdiğiniz tüm parçalar <strong>oldukları gibi</strong> aranır.<br />
    O nedenle daha iyi sonuçlar elde etmek için <strong>kelime parçaları kullanın</strong>:
    <ul>
      <li>
        <tt>Yerelleştirme</tt> veya <tt>yerelleştirilmiş</tt> yerine
        <tt>yerelleştir</tt> kullanın.
      </li>
     <li>
       <tt>Yer imi</tt> veya <tt>yer imleri</tt> yerine
       <tt>yer im</tt> kullanın.
     </li>
   </ul>
  </li>
</ul>

<h2><a name="features">Özellikler</a></h2>

<ul>
  <li>
    Boole işlemler: &ldquo;<tt>-yer</tt>&rdquo;&nbsp;(DEĞİL),
    &ldquo;<tt>yer&nbsp;im</tt>&rdquo;&nbsp;(VE),
    &ldquo;<tt>yer|im</tt>&rdquo;&nbsp;(VEYA).
    <ul>
      <li>
        <strong>DEĞİL</strong>:<br />
        Özetinde <tt><i>yer</i></tt> geçen [% terms.bugsAcc %] almamak için <tt><b>-</b><i>yer</i></tt>.
      </li>
      <li>
        <strong>VE</strong>:<br />
        Birbirinden boşlukla ayrılmış kelimeler birleşik kabul edilir.
      </li>
      <li>
        <strong>VEYA</strong>:<br />
        Kelime içerisinde, birbirinden "|" ile ayrılmış kısımlar alternatif ifade eder.
      </li>
      <li>
        "|" gibi, alternatifleri ifade etmek için bir virgül (",") ve kullanılabilir.
      </li>
      <li>
        VEYA VE'den daha önceliklidir ve VE en üst işlemdir.
      </li>
    </ul>
    <i>Örnek:</i>
    <tt>adres,çubu,alan -oda</tt> means
    (<tt>adres</tt> VEYA <tt>çubuk</tt> VEYA <tt>alan</tt>)
    VE (DEĞİL <tt>focus</tt>)
  </li>
  <li>
    <tt>+im</tt> kullanarak <strong>özet</strong>inde <tt>im</tt> geçen bütün [% terms.bugsAcc %] bulabilirsiniz.<br/>
    <tt>#foo</tt> kullanarak ise <strong>summary</strong>inde <tt>im</tt> <strong>kelime</strong>si tek başına geçen [% terms.bugsAcc %] bulabilirsiniz.
    <ul>
      <li>
        <tt>+tara</tt> <tt>Tarayıcı</tt> ürünündeki tüm [% terms.bugsAcc %] listelemez.
      </li>
      <li>
        <tt>#baş</tt> ise <tt>başlık</tt> içeren [% terms.bugsAcc %] listelemeyecektir.
      </li>
    </ul>
    Özel karakterler (boşluk, virgül, +, -, #, &hellip;) içeren ifadeler
    <strong>tırnak içine alınarak</strong> aranabilir:
    <ul>
      <li>
        <tt>"simgeleri kilitle"</tt>
      </li>
    </ul>
  </li>
  <li>
    <strong>Açık ve Kararlaştırılmış [% terms.Bugs %]</strong>:<br />
    Öntanımlı olarak, sadece açık [% terms.bugs %] gösterilir.
    Aramanıza başka bir [%+ terms.bugGen %] aynısı olarak işaretlenmiş [%+ terms.bugsAcc %] dahil etmek için ilk kelime olarak <tt>+DUP</tt>,
    sadece düzeltilmiş [%+ terms.bugsAcc %] taramak için ilk kelime olarak <tt>FIXED</tt>,
    ve durum ve karardan bağımsız olarak tüm [%+ terms.bugsLoc %] arama yapmak için de yine ilk kelime olarak <tt>ALL</tt> kullanın.
    Eğer açık [%+ terms.abugAcc %] doğrudan bulamıyorsanız başka hataların aynısı olarak işaretlenmiş [%+ terms.bugsAcc %] da aramanız tavsiye olunur.
    <ul>
      <li>
        <tt>+DUP,FIXED tablo çerçeve</tt>
      </li>
      <li>
        <tt>ALL fare teker</tt>
      </li>
    </ul>
  </li>
  <li>
    <strong>Aramayı Ürün ve Bileşenlere Odaklamak</strong>:<br />
    Sadece "Paket Yöneticisi" ürünündeki [% terms.bugs %] içinde arama yapmak için,
    aramanıza <tt>:paket</tt>, <tt>:yönetici</tt> veya ikisini birden ekleyebilirsiniz.
    Bunu, tüm
    <a href="describecomponents.cgi">ürün ve bileşenler</a>in alt dizgelerine uygulayabilirsiniz.
  </li>
</ul>

<h2>Ek İpuçları</h2>

<ul>
  <li>
    Bu aracı ayrıca numarasına göre [% terms.bug %] <strong>aramak</strong> için de kullanabilirsiniz:<br />
    <ul>
      <li><tt>12345</tt></li>
    </ul>
  </li>
  <li>
    Birbirinden virgülle ayrılmış bir [% terms.bug %] listesi size bu [% terms.bugsAcc %] listeleyecektir:<br />
    <ul>
      <li><tt>12345,23456,34567</tt></li>
    </ul>
  </li>
</ul>

<p>
  Öntanımlı olarak, şu alanlarda arama gerçekleştirilir: Özet, Anahtarlar, Ürün, Bileşen, Durum Notları. Eğer bir kelime bir adresin parçası gibi görünüyorsa, Adres alanı da aramaya dahil edilir.
</p>
<hr>

<p>
  Gelişmiş aramalar için <a href="query.cgi">[% terms.Bugzilla %] Arama Formu</a>nu kullanabilirsiniz.
</p>

[% PROCESS global/footer.html.tmpl %]
