[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved.
  # Portions created by Everything Solved are Copyright (C) 2006
  # Everything Solved. All Rights Reserved.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl 
  title = "$terms.Bugzilla 3.2 Sürüm Notları" 
  style_urls = ['skins/standard/release-notes.css'] 
%]

<h2>İçindekiler</h2>

<ul class="bz_toc">
  <li><a href="#v32_introduction">Giriş</a></li>
  <li><a href="#v32_req">En Düşük Gereksinimler</a></li>
  <li><a href="#v32_feat">Yeni Özellikler ve Geliştirmeler</a></li>
  <li><a href="#v32_issues">Önemli Noktalar</a></li>
  <li><a href="#v32_upgrading">Eski Bir Sürümden Yükseltmek</a></li>
  <li><a href="#v32_code_changes">Özelleştirmeleri Etkileyebilecek Kod Değişiklikleri</a></li>
  <li><a href="#v32_previous">Önceki Sürümlerin Sürüm Notları</a></li>
</ul>

<h2><a name="v32_introduction"></a>Giriş</h2>

<p>[% terms.Bugzilla %] 3.2'ye hoşgeldiniz! Bu sürüm, [% terms.Bugzilla %] 3.0'dan bu yana ilk ana sürümümüzdür ve [% terms.Bugzilla %] deneyiminize çok sayıda güzel iyileştirme ve makyaj içermektedir.</p>

<p>Eğer önceki bir sürümden yükseltiyorsanız <a href="#v32_upgrading">Önceki Bir Sürümden Yükseltme</a> bölümünü mutlaka okuyun. Eğer 3.0 öncesi bir sürümden yükseltiyorsanız, sizdeki sürümle bu sürüm arasındaki tüm sürümlerin <a href="#v32_previous">notlar</a>ını <strong>özellikle de "Yükseltenler İçin Notlar" bölümlerini</strong> okumalısınız.</p>

<h2><a name="v32_req"></a>En Düşük Gereksinimler</h2>

<p>3.0.5'ten bu yana eklenen gereksinimler
  <span class="req_new">böyle</span> görünür.</p>

<ul>
  <li><a href="#v32_req_perl">Perl</a></li>
  <li><a href="#v32_req_mysql">MySQL Kullanıcıları İçin</a></li>
  <li><a href="#v32_req_pg">PostgreSQL Kullanıcıları İçin</a></li>
  <li><a href="#v32_req_oracle">Oracle Kullanıcıları İçin</a></li>
  <li><a href="#v32_req_modules">Gerekli Perl Bileşenleri</a></li>
  <li><a href="#v32_req_optional_mod">İsteğe Bağlı Perl Bileşenleri</a></li>
</ul>

<h3><a name="v32_req_perl"></a>Perl</h3>

<p>Perl <span class="req_new">v<strong>5.8.1</strong></span></p>

[% INCLUDE db_req db='mysql' dbd_new = 1 %]

[% INCLUDE db_req db='pg' %]

[% INCLUDE db_req db='oracle' %]

<h3><a name="v32_req_modules"></a>Gerekli Perl Bileşenleri</h3>

[% INCLUDE req_table reqs = REQUIRED_MODULES 
                     new = []
                     updated = ['Template-Toolkit', 'Email-MIME',
                                'Email-MIME-Modifier', 'CGI'] %]

<h3><a name="v32_req_optional_mod"></a>İsteğe Bağlı Perl Bileşenleri</h3>

<p>Aşağıdaki Perl bileşenleri, yüklü iseler çeşitli [% terms.Bugzilla %] özelliklerinin kullanılabilir olmasını sağlarlar:</p>

[% INCLUDE req_table reqs = OPTIONAL_MODULES
                     new  = ['SASL-Authen', 'RadiusPerl']
                     updated = []
                     include_feature = 1 %]

<h2><a name="v32_feat"></a>Yeni Özellikler ve Geliştirmeler</h2>

<ul>
  <li><a href="#v32_feat_ui">Ana Arayüz İyileştirmeleri</a></li>
  <li><a href="#v32_feat_skin">Yeni Varsayılan Cilt: Alacakaranlık</a></li>
  <li><a href="#v32_feat_status">Özelleştirilmiş Durum Akışı</a></li>
  <li><a href="#v32_feat_fields">Yeni, Özelleştirilmiş Alan Türleri</a></li>
  <li><a href="#v32_feat_install">Daha Kolay Kurulum</a></li>
  <li><a href="#v32_feat_oracle">Deneysel Oracle Desteği</a></li>
  <li><a href="#v32_feat_utf8">Geliştirilmiş UTF-8 Desteği</a></li>
  <li><a href="#v32_feat_grcons">Grup Simgeleri</a></li>
  <li><a href="#v32_feat_other">Diğer İyileştirmeler ve Değişiklikler</a></li>
</ul>

<h3><a name="v32_feat_ui"></a>Ana Arayüz İyileştirmeleri</h3>

<p>[% terms.Bugzilla %] 3.2 NASA İnsan-Bilgisayar Etkileşimi bölümünden ve yeni kurulan <a href="http://wiki.mozilla.org/Bugzilla:UE">[% terms.Bugzilla %]
  Kullanıcı Arayüz Takımı</a>ndan arayüz konusunda yardım aldı.</p>

<p>Özelde, [% terms.bug %] değiştirme formunda büyük bir değişiklik göreceksiniz ve ayrıca [% terms.Bugzilla %] için <a href="#v32_feat_skin">yeni bir deri</a> bulunuyor.</p>

<h3><a name="v32_feat_skin"></a>Yeni Varsayılan Cilt: Alacakaranlık</h3>

<p>[% terms.Bugzilla %] 3.2 artık öntanımlı deri olan "Klasik"ten biraz daha renkli olan ve "Alacakaranlık" adı verilen bir deri ile geliyor.</p>

<p>Yükseltilen kurulumlar halâ öntanımlı olarak "Klasik" deriyi kullanacak ve yöneticiler bunu Öntanımlı Tercihler denetim masasından değiştirebilecekler. Kullanıcılar kendi Tercihler sayfalarında (ya da Firefox'da Görünüm :: Sayfa Biçimi'nden) değiştirebilecekler.</p>

<p>[% terms.Bugzilla %]'nın Alacakaranlık için gerektirdiği değişiklikler yeni deriler eklemeyi çok kolaylaştırdı.
  <a href="http://wiki.mozilla.org/Bugzilla:Addons#Skins">Eklentiler sayfası</a>ndan başka deriler indirebilir, ya da kendinize bir [% terms.Bugzilla %] derisi yapabilirsiniz!</p>

<h3><a name="v32_feat_status"></a>Özelleştirilmiş Durum Akışı</h3>

<p>Artık [% terms.BugzillaLoc %] durumları ve aralarında gerçekleşebilecek geçişleri özelleştirebilirsiniz.</p>

<p>Ayrıca belirli durumlarda yorum girilmesini zorunlu kılabilirsiniz.</p>

<h3><a name="v32_feat_fields"></a>Yeni, Özelleştirilmiş Alan Türleri</h3>

<p>[% terms.Bugzilla %] 3.2 üç yeni özelleştirilmiş alan türüne olanak verir:</p>

<ul>
  <li>Uzun Metin: [% terms.BugsDat %] birden fazla satırlık bir metin kutusu ekler.</li>
  <li>Çoklu Seçim Kutusu: Bir listeden birden fazla öğe seçme olanağı veren bir kutu ekler.</li>
  <li>Tarih/Zaman: Bir tarih ve zaman girilmesine olanak verir. Bir JavaScript takvim yardımıyla tarih seçmeyi de kolaylaştıran bir alandır.</li>
</ul>

<h3><a name="v32_feat_install"></a>Daha Kolay Kurulum</h3>

<p>[% terms.Bugzilla %] artık [% terms.Bugzilla %] için gereken tüm Perl modüllerini indirip kuran <kbd>install-module.pl</kbd> isminde bir betikle geliyor. Bu betik o dosyaları [% terms.Bugzilla %] kurulumunuzun altındaki bir dizinde saklıyor, dolayısıyla makineye yönetici düzeyi erişiminiz olmasa bile Perl kurulumunuzda herhangi bir değişiklik yapmadan o modülleri kullanabiliyorsunuz.</p>

<p><kbd>checksetup.pl</kbd> <kbd>install-module.pl</kbd>'yi kullanmak için gereken açıklamaları yazacaktır, ya da isterseniz <kbd>install-module.pl</kbd>'nin <a href="[% docs_urlbase FILTER html %]api/install-module.html">belgelendirme</a>sine bakabilirsiniz.</p>

<h3><a name="v32_feat_oracle"></a>Deneysel Oracle Desteği</h3>

<p>[% terms.Bugzilla %] 3.2 veritabanı olarak Oracle kullanma noktasında deneysel destek içerir. [% terms.BugzillaGen %] bazı özelliklerinin Oracle'da çalışmadığı bilinmektedir, fakat bir sonraki ana sürümde bu problemlerin giderilmiş olacağını ümit edebilirsiniz.</p>

<p>[% terms.Bugzilla %] Projesi, açık kaynak bir proje olarak, sahipli veritabanı çözümlerinin kullanılmasını (doğal olarak) önermiyor. Ancak, eğer kurumunuz Oracle kullanmanızı gerektiriyorsa, [% terms.Bugzilla %] kullanabileceksiniz!</p>

<p>[% terms.Bugzilla %] Projesi bunun gerçekleşmesini sağlayan Oracle'ın [% terms.BugzillaDat %] geliştirme katkılarına teşekkür eder!</p>

<h3><a name="v32_feat_utf8"></a>Geliştirilmiş UTF-8 Desteği</h3>

<p>[% terms.Bugzilla %] 3.2 artık karakterleri birden fazla bayttan oluşan dillerin kullanımı da dahil kod seviyesinde gelişmiş UTF-8 desteği içeriyor. Sıradışı dillerle ilgili ana problemler giderildi ve [% terms.Bugzilla %] artık tüm ülkelerde çok az (en azından çok daha az) özelleştirme ile kullanılabilir durumda.</p>

<h3><a name="v32_feat_grcons"></a>Grup Simgeleri</a></h3>

<p>Yöneticiler artık belirli gruplardaki kullanıcıların yorum yazdıklarında isimlerinin yanında bir simge görünmesini sağlayabiliyor. Bu nitelik özellikle geliştiricileri [%+ terms.bug %] raporlayanlardan ayırmak için kullanışlı olacaktır.</p>

<h3><a name="v32_feat_other"></a>Diğer İyileştirmeler ve Değişiklikler</h3>

<p>Burada listelenenler ya küçük iyileştirmeler, ya da çok kısa açıklamaları olan iyileştirmeler. Fakat bazılarının gerçekten çok faydalı olduğunu göreceksiniz!</p>

<h4>Kullanıcılara Yönelik İyileştirmeler</h4>

<ul>
  <li><strong>[% terms.Bugs %]</strong>: Artık [%+ terms.abugAcc %] aynı anda hem başkasına atayıp hem de durumunu değiştirebilirsiniz.</li>
  <li><strong>[% terms.Bugs %]</strong>: [% terms.Abug %] girerken, bir bileşen seçtiğinizde o bileşenin açıklamasını göreceksiniz.</li>
  <li><strong>[% terms.Bugs %]</strong>: [% terms.Bug %] görünümü artık kullanıcıların adları ve eposta adresleri gibi bazı <a href="http://microformats.org/about/">mikrobiçim</a>lere destek veriyor.</li>
  <li><strong>[% terms.Bugs %]</strong>: Artık [% terms.abugGen %] Kalite Kontrol İletişim alanını temizleyerek o [% terms.bugGen%] Kalite Kontrol kişisini silmek mümkün.</li>
  <li><strong>[% terms.Bugs %]</strong>: Yorumlara yanıt yazarken o yorumdaki metnin alıntılanmasını engelleme tercihi eklendi.</li>
  <li><strong>[% terms.Bugs %]</strong>: [% terms.Bug %] görünümünde istediğiniz yorumları genişletebiliyor ve daraltabiliyorsunuz.</li>

  <li><strong>Ekler</strong>: Ekler değiştirilirken "havada çarpışma"ları (iki kişinin birden aynı hatada değişiklik yapması sonucu çakışma) önleme koruması bulunuyor.</li>
  <li><strong>Ekler</strong>: Fark (Diff) Görüntüleyici'de yamalarda artık satır numaraları gösteriliyor (<a href="https://bugzilla.mozilla.org/attachment.cgi?id=327546">Örnek</a>).</li>
  <li><strong>Ekler</strong>: Yeni bir ek yüklendikten veya güncellendikten sonra, doğrudan ilgili [% terms.bug %] sayfası gösteriliyor.</li>

  <li><strong>Arama</strong>: Sütun başlıklarına ikinci bir kez tıklayarak [% terms.bug %] listesinin sıralaması ters çevrilebiliyor.</li>
  <li><strong>Arama</strong>: [% terms.Bug %] listelerinin Atom beslemeleri artık daha fazla alan içeriyor.</li>
  <li><strong>Arama</strong>: Hızlı arama artık bayrak ve gruplarda arama yapmayı destekliyor. Öntanımlı olarak aramaya dahil edilen alanlara işletim sistemi alanı da eklendi.</li>
  <li><strong>Arama</strong>: query.cgi dosyasındaki "Yardım" metni artık Internet Explorer'da ve Firefox dışındaki diğer tarayıcılarda da çalışıyor (Firefox'da her zaman çalışıyordu.)</li>

  <li>[% terms.Bugzilla %] artık çoğu tarayıcıda adres satırının yanında görüntülenen bir simge ile geliyor. Eğer onun yerine başka bir simge koymak isterseniz, <kbd>images/favicon.ico</kbd> konumunda bulabilirsiniz.</li>

  <li>Artık "Bir Kerede Birden Fazla 
    [%+ terms.Bug %] Değiştir"irken son günü de değiştirebilirsiniz.</li>
  <li><strong>Kayıtlı Aramalar</strong> artık sütun listesini de kaydediyor; dolayısıyla sütunları özelleştirip listeyi o şekilde kaydederseniz her zaman o sütunları gösterecek.</li>
  <li><strong>Kayıtlı Aramalar</strong>: Bir aramayı paylaştığınızda, <kbd>userprefs.cgi</kbd> sayfasında kaç kişinin o aramaya abone olduğunu görebiliyorsunuz.</li>
  <li><strong>Kayıtlı Aramalar</strong>: <kbd>userprefs.cgi</kbd> içerisinde paylaşılan aramaların hangi grupla paylaşıldığını görebilirsiniz.</li>
  <li><strong>Bayraklar</strong>: Kurulumunuz açılır kullanıcı listeleri kullanıyorsa, "bayrak istenen" kutusu sadece istek alabilecek kullanıcıların listesini içerir.</li>
  <li><strong>Bayraklar</strong>: Eğer birisi sizden bir istekte bulunursa ve siz istek yapılan kişiyi başkası olarak değiştirirseniz, istekte bulunan kişi olarak işaretlenmeyeceksiniz. Diğer bir deyişle, istekleri başkasına yönlendirebilirsiniz ve istekte bulunan kişi değişmez.</li>
  <li><strong>Bayraklar</strong>: Bayraklar hakkındaki epostalar artık eposta istemcilerinde [% terms.abugGen %] epostası ile aynı seride yer alıyor.</li>
  <li><kbd>email_in.pl</kbd> kullanırken alan adı olarak <kbd>@cc</kbd> kullanarak kullanıcıları kolaylıkla haber verilecekler listesine ekleyebilirsiniz.</li>
  <li>Özellikle yönetim sayfaları olmak üzere pek çok sayfa [% terms.Bugzilla %] kılavuzundaki ilgili bölüme bağlantılar içerior, böylece belgelendirmeye kolayca ulaşılabiliyor.</li>
  <li>Bağlımlılık Çizelgeleri artık öntanımlı olarak sadece bağımlılık ağacında göreceğiniz [% terms.bugsAcc %] içerdiği için daha hızlı hazırlanacaktır.</li>
</ul>

<h4>Yöneticilere Yönelik Geliştirmeler</h4>

<ul>
  <li><strong>Yönetim Arayüzü</strong>: Sayfa altında Yönetim Paneli bağlantıları yerine artık sadece "Yönetim" metnine bağlı tek bir bağlantı bulunuyor ve o sayfadan [% terms.Bugzilla %] yönetimi ile ilgili tüm işlemlere gidilebiliyor.</li>
  <li><strong>Yönetim Arayüzü</strong>: Yönetim sayfaları artık onay sayfaları görüntülemek yerine neleri değiştirdiğinizi gösteren kullanışlı bir sayfaya yönlendiriyor.</li>
  <li><strong>Yönetim Arayüzü</strong>: <kbd>editgroups.cgi</kbd> dosyasında grup kalıtımlarını değiştirmekle ilgili olan kısım artık çok daha anlaşılır.</li>
  <li><strong>Yönetim Arayüzü</strong>: Bir kullanıcıda değişiklik yaparken artık o kullanıcının Öntanımlı Atanan veya Öntanımlı Kalite Kontrol Kişisi olduğu tüm bileşenleri görebiliyorsunuz.</li>

  <li><strong>Eposta</strong>: Sendmail yerine SMTP kullanan kurulumlarda [%+ terms.Bugzilla %] artık SMTP Kimlik Doğrulama desteği içeriyor, böylece ileti göndermeden önce posta sunucusuna oturum açabiliyorsunuz.</li>
  <li><strong>Eposta</strong>: Test etmeyi kolaylaştırmak için artık "Test" eposta iletim yöntemi geçerli bir mbox dosyası oluşturuyor.</li>

  <li><strong>Kimlik Doğrulama</strong>: [% terms.Bugzilla %] artık birden fazla epost adresi içeren LDAP kayıtlarını doğru işliyor. (Listeden geçerli bir [% terms.Bugzilla %] hesabı olan ilk eposta adresi kullanılır, ya da eğer bu yeni bir kullanıcı ise listedeki ilk eposta adresi kullanılır.)</li>
  <li><strong>Kimlik Doğrulama</strong>: [% terms.Bugzilla %] başarılı bir bağlantı sağlayana kadar denemek üzere bir LDAP sunucu listesi alabilir.</li>
  <li><strong>Kimlik Doğrulama</strong>: [% terms.Bugzilla %] artık RADIUS kimlik doğrulama yöntemini destekliyor.</li>

  <li><strong>Güvenlik</strong>: Oturum çerezler kötü niyetli betikleri engellemek için "HTTPOnly" olarak oluşturuluyor. Ayrıca, eğer kurulumunuzda SSL açıksa oturum çerezi sadece SSL bağlantılarda gönderiliyor.</li>
  <li><strong>Güvenlik</strong>: <code>ssl</code> parametresi "kimliği doğrulanmış oturumlar" olarak ayarlandığında oturum açmış kullanıcının açtığı tüm sayfalar korunur. Ayrıca, parametre atandığında WebServices arayüzünde SSL zorunlu kılınıyor.</li>

  <li><strong>Veritabanı</strong>: [% terms.Bugzilla %] artık tablo kilitlemek yerine aktarım (transaction) kullanıyor. Bu değişiklik çok sayıda kullanıcı bağlı olduğunda performans kazanımı sağlayacaktır. Bu değişiklik ayrıca bir sayfanın herhangi bir yerinde beklenmedik bir problem yaşandığında o sayfada yapılan tüm veritabanı değişikliklerinin geri alınacağı anlamına da geliyor.</li>
  <li><strong>Veritabanı</strong>: MySQL'de büyük ekler için artık <code>max_packet_size</code> kullanmanız gerekmiyor. Ancak, eğer veritabanınıza bir "mysqldump" yükleyecekseniz veritabanında bunu ayarlamanız gerekebilir.</li>

  <li>Yeni WebService fonksiyonları:
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html">B<!-- -->ug.add_comment</a>
    ve <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bugzilla.html">Bugzilla.extensions</a>.</li>

  <li>Kendi oluşturduğunuz alanları, herhangi bir [% terms.bugLoc %] atanmadılarsa, silebilirsiniz.</li>
  <li>Artık <kbd>checksetup.pl</kbd>'nin bir kullanıcının parolasını komut satırından sıfırlamak için <kbd>--reset-password</kbd> parametresi bulunuyor.</li>
  <li><kbd>sanitycheck.cgi</kbd> ile aynı işi yapan bir komut satırı betiği eklendi: <kbd>sanitycheck.pl</kbd>. Öntanımlı olarak, sadece bir hata varsa çıktı üretir, dolayısıyla bir cron işi olarak her gece çalıştırılmak için gayet uygundur.</li>
  <li><kbd>strict_isolation</kbd> parametresi artık sizin [% terms.abugLoc %] haber verilecekler, atanan veya Kalite Kontrol kişilerini görmenizi de engelliyor. Öncesinde sadece [% terms.bugLoc %] değişiklik yapamayacak kişileri eklemenize olanak veriyordu.</li>
  <li>Eklentiler HTML &lt;head&gt;'e artık özel CSS ve benzeri kendi başlıklarını ekleyebiliyor.</li>
  <li><kbd>sanitycheck.cgi</kbd> de tüm [% terms.Bugzilla %] arayüzü gibi şablonlarla çalışıyor.</li>
  <li><kbd>sslbase</kbd> parametresine artık port numarası da verebiliyorsunuz.</li>
  <li>[% terms.bugs %] using <kbd>importxml.pl</kbd> ile içeri aktarırken, eklerde diğer sistemden [% terms.bugAcc %] dışarı aktaran yerine ekleri oluşturanların kimliği korunuyor.</li>
  <li>Yeni kurulumlarda öntanımlı olarak oylama sistemi kapalıdır. Bunu oylama sisteminin ileride bir eklenti haline getirilmesine hazırlık olarak kabul ediniz.</li>
  <li><code>shutdownhtml</code> parametresi artık [% terms.Bugzilla %]'s veritabanı sunucusu çalışmıyor durumda olsa bile çalışır.</li>
</ul>

<h3>Yerelleştirme Ekiplerine (ve Yerelleştirilmiş Kurulumlara) Yönelik İyileştirmeler</h3>

<ul>
  <li>Belgelendirme yerelleştirilebilir oldu; diğer bir deyişle, birden fazla dil için belgelendirme yüklebilirsiniz ve [%+ terms.Bugzilla %] doğru dili çekip bağlantıları ona göre düzenler.</li>
  <li>[% terms.Bugzilla %] artık <kbd>languages</kbd> parametresini kullanımıyor. Onun yerine hangi dillerin kullanılabilir olduğunu anlamak için <kbd>template/</kbd> dizinine bakıyor.</li>
  <li><kbd>checksetup.pl</kbd> tarafından yazılan bazı dizgeler artık yerelleştirilebilir durumda. <kbd>template/en/default/setup/strings.txt.pl</kbd> dosyasına bakın.
</ul>

<h2><a name="v32_issues"></a>Problem Oluşturabilecek Noktalar</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=423439">
    [%- terms.Bug %] 423439</a>: Perl 5.8.8'deki bir hatadan ötürü yorumlardaki sekme karakterleri dört boşluk karakteriyle değiştirilir.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=69621">
    [%- terms.Bug %] 69621</a>: Eğer [% terms.abugLoc %] kullanılan bir anahtarı siler ya da değiştirirseniz, <a href="sanitycheck.cgi">sanitycheck.cgi</a> dosyasını çalıştırıp sorduğunda önbelleği yeniden oluşturma işlemini onaylayarak "anahtar önbelleği"ni yeniden oluşturmanız gerekir. Aksi taktirde arama sonuçlarında anahtarlar doğru görüntülenmeyebilir.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: Aynı anda birden fazla [% terms.bugAcc %] değiştirirken "havada çarpışma" koruması yoktur.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: Belirli kategorilere ve yeni çizelgelere erişimi sınırlama desteği henüz tamamlanmadı. 'chartgroup' parametresini tek erişim mekanizması olarak kabul etmelisiniz.<br>
    Ancak, eski çizelgelerden aktarılan çizelgeler ilgili ürün için ZORUNLU (MANDATORY) işaretli gruplarla sınırlı olr. Henüz bu sınırlandırmayı değiştirmek için herhangi bir yol yok ve ürünle ilgili grup yapılandırması değiştirilirken gruplamalar güncellenmez</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370370">
    [%- terms.Bug %] 370370</a>: mod_perl desteği Windows makinelerde çalışmıyor.</li>
</ul>

<h2><a name="v32_upgrading"></a>Önceki Sürümden Yükseltme</h2>

<h3><a name="v32_upgrading_notes"></a>Yükseltenlere Notlar</h3>

<ul>
  <li>CVS'den güncellerseniz, <kbd>extensions</kbd> ve <kbd>skins/contrib</kbd> dizinleri artık <kbd>checksetup.pl</kbd> tarafından oluşturulmak yerine CVS ile birlikte geliyor. 3.0 sürümünden <kbd>cvs update</kbd> yaparsanız o dizinleri silmeniz ya da güncellemeniz ve ondan sonra <kbdcvs update</kbd> yapmanız gerektiği bildirilir. Ek olarak, <kbd>docs</kbd> dizini yeniden yapılandırıldı ve <kbd>docs/html</kbd>, <kbd>docs/pdf</kbd>, <kbd>docs/txt</kbd>, ve <kbd>docs/xml</kbd> dizinlerini silebilirsiniz.</li>
  <li>MySQL kullanıyorsanız, [% terms.BugzillaGen %] artık tüm tablolarda InnoDB kullandığını bilmelisiniz. <kbd>checksetup.pl</kbd> tüm tablolarınızı otomatik olarak dönüştürecektir, fakat InnoDB'yi kapattıysanız, yükseltme tamamlanamaz (ve <kbd>checksetup.pl</kbd> de size bunu raporlar).</li>

  <li><strong>Ayrıca eğer 3.0 öncesi bir sürümden yükseltiyorsanız <a href="#v32_previous">önceki sürüm notları</a> bölümündeki <a href="#v30_upgrading_notes">Yükseltenler İçin [% terms.Bugzilla %] 3.0 Yükseltme Notları</a> kısmını da okumalısınız.</li>
</ul>

<h3>Yükseltme Adımları</h3>

<p>Yukarıdaki notları okuduktan sonra, nasıl yükselteceğiniz hakkında bilgi almak için
  <a href="[% docs_urlbase FILTER html %]upgrade.html">Yükseltme belgesi</a>ni okuyun.</p>

<h2><a name="v32_code_changes"></a>Özelleştirmeleri Etkileyebilecek Kod Değişiklikleri</h2>

<ul>
  <li><a href="#v32_code_hooks">Daha Fazla Kanca!</a></li>
  <li><a href="#v32_code_search">Search.pm Mimari Değişiklikleri</a></li>
  <li><a href="#v32_code_lib">lib Dizini</a></li>
  <li><a href="#v32_code_other">Diğer Değişiklikler</a></li>
</ul>

<h3><a name="v32_code_hooks"></a>Daha Fazla Kanca!</h3>

<p>3.2'de 3.0'a göre daha fazla kanca var. Bu konuda bilgi için
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Hook.html">Bugzilla::Kanca</a>
  bölümüne bakabilirsiniz.</p>

<h3><a name="v32_code_search"></a>Search.pm Mimari Değişiklikleri</h3>

<p><kbd>Bugzilla/Search.pm</kbd> okuması ve kullanması daha kolay olsun diye büyük oranda değiştirildi. 3.0 ile arasında büyük kod değişiklikleri olmamasına rağmen, yapısı hatırı sayılır miktarda değiştirildi.</p>

<h3><a name="v32_code_lib"></a>lib Dizini</h3>

<p><a href="#v32_feat_install">install-module.pl</a> dosyasına geçişin bir parçası olarak,
  [%+ terms.BugzillaDat %] standart sistem yoluna ek olarak yüklenen modülleri aramada kullandığı yerel bir <kbd>lib</kbd> dizini verildi.</p>

<p>Bu değişiklik, tüm [% terms.Bugzilla %] betiklerinin artık ilk satırlarından birinde <code>use lib qw(. lib);</code> ile geldiği anlamını da taşıyor.</p>

<h3><a name="v32_code_other"></a>Diğer Değişiklikler</h3>

<ul>
  <li>Şablonlarda artık <code>status_descs.NEW</code> yerine <code>get_status('NEW')</code> kullanmanız gerekiyor.</li>
  <li>Her şablon dosyasının üzerinde bulunan <code>[&#37;# version = 1.0 &#37;]</code> yorumu kaldırıldı.</li>
</ul>

<h2><a name="v32_previous"></a>Önceki Sürümlerin Sürüm Notları</h2>

<h1>[% terms.Bugzilla %] 3.0.x Sürüm Notları</h1>

<h2>İçindekiler</h2>

<ul class="bz_toc">
  <li><a href="#v30_introduction">Giriş</a></li>
  <li><a href="#v30_point">Bu 3.0.x Sürümündeki Güncellemeler</a></li>
  <li><a href="#v30_req">En Düşük Gereksinimler</a></li>
  <li><a href="#v30_feat">Yeni Özellikler ve Geliştirmeler</a></li>
  <li><a href="#v30_issues">Problem Oluşturabilecek Noktalar</a></li>
  <li><a href="#v30_security">Bu Sürümdeki Güvenlik Düzeltmeleri</a></li>
  <li><a href="#v30_upgrading">Eski Bir Sürümden Nasıl Yükseltilir</a></li>
  <li><a href="#v30_code_changes">Özelleştirmeleri Etkileyebilecek Değişiklikler</a></li>
  <li><a href="#v30_previous">Önceki Sürümlerin Sürüm Notları</a></li>
</ul>

<h2><a name="v30_introduction"></a>Giriş</h2>

<p>[% terms.Bugzilla %] 3.0'a hoşgeldiniz! [% terms.Bugzilla %] 2.0'dan bu yana sekiz yıl geçti, ve o zamandan bu yana herşey değişti. Bir önceki sürümümüz olan  [% terms.Bugzilla %] 2.22'den beri bile <em>çok</em> sayıda yeni özellik ekledik. Bu sürümü size ulaştırabildiğimiz için mutluyuz, keyfini çıkarın.</p>

<p>Eğer yükseltiyorsanız <a href="#v30_upgrading">Önceki Sürümlerden Yükseltme</a> sayfasını okumayı unutmayın. Eğer 2.22 öncesi bir sürümden yükseltiyorsanız sizin kullanmakta olduğunuz sürümden itibaren olan <a href="#v30_previous">önceki tüm sürümler</a>in tamamının yükseltme notlarını okumayı unutmayın.</p>

<h2><a name="v30_point">Bu 3.0.x Sürümündeki Güncellemeler</a></h2>

<p>Bu bölüm 3.0 sonrası hata düzeltme sürümlerinde [% terms.BugzillaLoc %] nelerin değiştiğini açıklar. Her sürüm için en önemli değişiklikleri listeliyoruz. Eğer her sürümde değişen <em>herşeyin</em> detaylı bir listesini isterseniz <a href="http://www.bugzilla.org/status/changes.html">Değişiklik Günlüğü Sayfası</a>nı kullanmalısınız.</p>

<h3>3.0.6</h3>

<ul>
  <li>3.0.6 öncesinde sonlandırıcı düzeydeki WebService hataları numara yerine dizge olan bir <code>faultCode</code> döndürüyordu.
   (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=446327">[% terms.Bug %] 446327</a>)</li>
  <li>Daha önce sildiğiniz bir ürün ya da bileşeni yeniden oluşturmaya kalktığınızda, seri tablosu hakkında bir hata vererek başarısızlıkla sonuçlanıyordu. (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=247936">[% terms.Bug %] 247936</a>)</li>
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.5</h3>

<ul>
  <li>Eğer bir bayrağı atama izniniz yoksa, arayüzde artık değiştirilemez şekilde görüntüleniyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=433851">[% terms.Bug %] 433851</a>)</li>
  <li>Eğer mod_perl çalıştırıyorsanız, [% terms.Bugzilla %] 3.0.3 sürümünden bu yana veritabanı bağlantılarını düzgün şekilde kapatmıyordu, dolayısıyla bazen veritabanına bağlantı sınırına ulaşılıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=441592">[% terms.Bug %] 441592</a>)</li>
  <li>Kurulum betiği artık Perl'de hangi <code>Email::</code> modüllerinin gerektiğini açık bir şekilde belirtiyor ve böylece 
    <samp>SCALAR(0xBF126795)</samp> gibi eposta gövdeleri önlenebiliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=441541">[% terms.Bug %] 441541</a>)</li>
  <li><a href="[% docs_urlbase FILTER html %]api/email_in.html">email_in.pl</a>
    artık <kbd>@product</kbd> değerlerini büyük-küçük harf duyarlı almıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365697">[% terms.Bug %] 365697</a>)</li>
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.4</h3>

<ul>
  <li>[% terms.Bugzilla %] yöneticileri yeni sürümlerden haberdar edilmiyorlardı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=414726">[% terms.Bug %] 414726</a>)</li>

  <li>Eposta konu satırlarında ek boşluklar bulunabiliyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=411544">[% terms.Bug %] 411544</a>)</li>

  <li><kbd>B<!-- -->ug.create</kbd> WebService fonksiyonu öncelik, önem, işletim sistemi ve platform alanlarının girilmesini bu alanların öntanımlı değerleri olsa bile zorunlu kılıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=384009">[% terms.Bug %] 384009</a>)</li>

  <li>Bazı eposta istemcilerinde [% terms.bug %] epostalarının daha düzgün dizilmesi.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=376453">[% terms.Bug %] 376453</a>)</li>

  <li>Gelen Eposta Arayüzü'nde (<kbd>email_in.pl</kbd>) çok sayıda düzeltme yapıldı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=92274">[% terms.Bug %] 92274</a>,
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=377025">[% terms.Bug %] 377025</a>,
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=412943">[% terms.Bug %] 412943</a>,
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=413672">[% terms.Bug %] 413672</a> ve
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=431721">[% terms.Bug %] 431721</a>)</li>

  <li>checksetup.pl artık yükseltme sırasında UTF-8 dönüşümünü daha düzgün yapıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=374951">[% terms.Bug %] 374951</a>)</li>

  <li>Uzak Doğu dillerinde yazılan yorumlar artık satır sonlarında doğru yerlerden kesiliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=388723">[% terms.Bug %] 388723</a>)</li>

  <li>Kullanıcı epostalar için bir dil seçtiğinde artık tüm epostalar doğru dilde gönderiliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=405946">[% terms.Bug %] 405946</a>)

  <li>Windowa'da ek yükleme sırasında oluşturulan geçici dosyalar yükleme işlemi tamamlandığında doğru şekilde siliniyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=414002">[% terms.Bug %] 414002</a>)</li>

  <li><kbd>checksetup.pl</kbd> artık Perl 5.10 kullanan Windows kullanıcıları için doğru yönergeler yazıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=414430">[% terms.Bug %] 414430</a>)
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.3</h3>

<ul>
  <li>mod_perl artık her Apache süreci için [% terms.Bugzilla %] kodu derlemiyor, sadece bir kez derleyip tüm süreçlerde aynı derlenmiş kodu kullanıyor. Bu performansı büyük oranda etkiliyor ve hafıza kullanımını azaltıyor.
   (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=398241">[% terms.Bug %] 398241</a>)</li>

  <li>Artık sürüm ve aşamalarda '---' (tırnaksız olarak) arayabiliyorsunuz.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=362436">[% terms.Bug %] 362436</a>)</li>

  <li>[% terms.Bugzilla %] artık eposta konu kısımlarında satır bölmüyor. Önceki davranış bazı eposta istemcilerinde problemlere neden oluyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=374424">[% terms.Bug %] 374424</a>)</li>

  <li>Eğer eposta tercihlerinizde "haber verilecekler" rolü için "buna eklendiğimde ya da çıkarıldığımda" seçeneğini işaretlemişseniz, haber verilecekler listesine bir kerede birden fazla kişi eklendiğinde ilgili eposta gönderilmiyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=394796">[% terms.Bug %] 394796</a>)</li>

  <li>Kullanıcı hesaplarını silmek artık o kullanıcıyı alıcı olarak belirlemiş kullanıcıların alarmlarını silmiyor. Takvim siliniyor fakat alarmlar tutuluyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=395924">[% terms.Bug %] 395924</a>)</li>

  <li><kbd>contrib/merge-users.pl</kbd> artık iki kullanıcı hesabını birleştirirken zorunlu tüm alanları doğru şekilde birleştiriyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=400160">[% terms.Bug %] 400160</a>)</li>

  <li>[% terms.Bugzilla %] artık mod_perl altında çalışabilmek için Apache::DBI'a gerek duymuyor. Veritabanı bağlantılarının kaybedilmesi gibi problemlere neden oluyordu ve hatırı sayılır bir performans artışı katmıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=408766">[% terms.Bug %] 408766</a>)</li>
</ul>

<h3>3.0.2</h3>

<ul>
  <li>[% terms.Bugzilla %] Perl 5.9.5 (dolayısıyla da Perl 5.10.0) ile sorunsuz çalışıyor olmalı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=390442">[% terms.Bug %] 390442</a>)</li>
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.1</h3>

<ul>
  <li>Firefox 2 kullanırken, the <code>show_bug.cgi</code> artık [% terms.abugAcc %] değiştirdiğinizde dağılmamalı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370739">[% terms.Bug %] 370739</a>)</li>
  <li>Eğer bir grubu onaylayabiliyorsanız ve o grupla bir kayıtlı arama paylaşmışsınız artık siz özellikle istemedikten sonra o kayıtlı arama o grubun sayfa altlığında görünmüyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365890">[% terms.Bug %] 365890</a>)</li>
  <li>Artık boş bir arama yapmaya, yani Basit Arama sayfasında sadece bir ürün ve durum aramaya olanak veren bir parametre bulunuyor. Parametre <code>specific_search_allow_empty_words</code>.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=385910">[% terms.Bug %] 385910</a>)</li>
  <li><code>text/x-patch</code> ya da <code>text/x-diff</code> türünde bir dosya eklerseniz, [% terms.Bugzilla %] tarafından otomatik olarak bir yama kabul edilir.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365756">[% terms.Bug %] 365756</a>)</li>
  <li>Bağımlılık Grafikleri artık tüm mod_perl kurulumlarında düzgün çalışıyor. [%+ terms.Bugzilla %] mod_perl altında çalışırken kayda değer bir problem çıkarmaması gerekiyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370398">[% terms.Bug %] 370398</a>)</li>
  <li>Eğer [% terms.abugAcc %] ürünler arasında taşımak [% terms.bugAbl %] bazı grupları çıkaracaksa, artık bu konuda bir uyarı veriliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=303183">[% terms.Bug %] 303183</a>)</li>
  <li>IIS'de, [% terms.Bugzilla %] bir uyarı verdiğinde, sayfada görünüyordu. Artık hatalar görüntülenmiyor; ama eğer <code>data</code> dizininde <code>errorlog</code> isminde bir dosya varsa, uyarılar oraya yazılıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=390148">[% terms.Bug %] 390148</a>)</li>
  <li>Eğer gruplar tarafından korunan [% terms.abug %] üzerinde değişiklik yapmak için <kbd>email_in.pl</kbd> dosyasını kullandıysanız, tüm gruplar temizleniyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=385453">[% terms.Bug %] 385453</a>)</li>
  <li>PostgreSQL kullanıcıları: Yeni Çizelgeler veri toplamayı başaramıyordu. Artık doğru şekilde veri toplayabiliyorlar.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=257351">[% terms.Bug %] 257351</a>)</li>
  <li>Bazı bayrak epostaları bayrağı isteyenin kim olduğunu belirtmiyordu. 
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=379787">[% terms.Bug %] 379787</a>)</li>
  <li><kbd>collectstats.pl</kbd> gerçek hatalar basmak yerine <code>ThrowUserError</code>'u bulamadığını söylüyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=380709">[% terms.Bug %] 380709</a>)</li>
  <li>IIS5'te ana sayfadan [% terms.BugzillaDat %] oturum açmak yeniden çalışıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=364008">[% terms.Bug %] 364008</a>)</li>
  <li>Eposta göndermek için SMTP kullanıyorsanız, bazen epostalarda <code>Date</code> başlığı bulunmuyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=304999">[% terms.Bug %] 304999</a>).</li>
  <li>XML-RPC WebService'de, özel alanların değerini istediyseniz <code>B<!-- -->ug.legal_values</code> artık özel alanların değerlerini doğru döndürüyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=381737">[% terms.Bug %] 381737</a>)</li>
  <li>"[% terms.Bug %] Yazma Kılavuzu" sayfası kısaltıldı ve yeniden yazıldı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=378590">[% terms.Bug %] 378590</a>)</li>
  <li>Eğer <code>urlbase</code> parametresi <code>www.domain.com:8080</code> gibi bir port numarası içeriyorsa SMTP başarısızlıkla sonuçlanabiliyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=384501">[% terms.Bug %] 384501</a>)</li>
  <li>SMTP kullanıcıları için artık <code>smtp_debug</code> isminde yeni bir parametre bulunuyor. Bu parametre açıldığında, SMTP ile ilgili problemleri gidermek amacıyla, her SMTP oturumu hakkındaki tüm bilgi web sunucunun hata günlüğüne kaydediliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=384497">[% terms.Bug %] 384497</a>)</li>
  <li>Eğer "küresel" bir izleyici iseniz (her [% terms.bug %] hakkındaki tüm epostaları alıyorsanız, artık bu ayarı Eposta Tercihleri'nde görebiliyorsunuz.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365302">[% terms.Bug %] 365302</a>)</li>
  <li>[% terms.BugsGen %] durum ve kararları artık CSV arama sonuçlarında doğru şekilde yerelleştiriliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=389517">[% terms.Bug %] 389517</a>)</li>
  <li>Eğer bir epostanın "Konu" kısmında Latin alfabesi dışında karakterler bulunuyorsa konu parçalanıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=387860">[% terms.Bug %] 387860</a>)</li>
  <li><kbd>editparams.cgi</kbd> kullanarak "languages" parametresini değiştirme işlemi bazen başarısız oluyordu ve [% terms.Bugzilla %] hata veriyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=335354">[% terms.Bug %] 335354</a>)</li>
</ul>

<h2><a name="v30_req"></a>En Düşük Gereksinimler</h2>

<p>Sürüm 2.22'den sonra eklenen gereksinimler
  <span class="req_new">böyle</span> görünür.</p>

<ul>
  <li><a href="#v30_req_perl">Perl</a></li>
  <li><a href="#v30_req_mysql">MySQL Kullanıcıları İçin</a></li>
  <li><a href="#v30_req_pg">PostgreSQL Kullanıcıları İçin</a></li>
  <li><a href="#v30_req_modules">Gerekli Perl Modülleri</a></li>
  <li><a href="#v30_req_optional_mod">İsteğe Bağlı Perl
    Modülleri</a></li>
</ul>


<h3><a name="v30_req_perl"></a>Perl</h3>

<ul>
  <li>Perl <span class="req_new">sürüm <strong>5.8.0</strong></span> (Windows dışı platformlarda)</li>
  <li>Perl v<strong>5.8.1</strong> (Windows platformunda)</li>
</ul>

<h3><a name="v30_req_mysql"></a>MySQL Kullanıcıları İçin</h3>

<ul>
  <li>MySQL v4.1.2</li>
  <li><strong>perl modülü:</strong> DBD::mysql v2.9003</li>
</ul>

<h3><a name="v30_req_pg"></a>PostgreSQL Kullanıcıları İçin</h3>

<ul>
  <li>PostgreSQL sürüm 8.00.0000</li>
  <li><strong>perl modülü:</strong> DBD::Pg sürüm 1.45</li>
</ul>

<h3><a name="v30_req_modules"></a>Gerekli Perl Modülleri</h3>

<table class="req_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Modül</th> <th>Sürüm</th>
  </tr>
    <tr><td>CGI</td> <td>2.93</td>
  </tr>
  <tr>
    <td>Date::Format</td> <td>2.21</td>
  </tr>
  <tr>
    <td>DBI</td> 
    <td class="req_new">1.41</td>
  </tr>
  <tr>
    <td>File::Spec</td> <td>0.84</td>
  </tr>
  <tr>
    <td>Template</td> <td>2.12</td>
  </tr>
  <tr>
    <td class="req_new">Email::Send</td> 
    <td class="req_new">2.00</td>
  </tr>
  <tr>
    <td>Email::MIME</td> 
    <td>1.861</td>
  </tr>
  <tr>
    <td class="req_new">Email::MIME::Modifier</td> 
    <td class="req_new">1.442</td>
  </tr>
</table>

<h3><a name="v30_req_optional_mod"></a>İsteğe Bağlı Perl Modülleri</h3>

<p>Aşağıdaki Perl modülleri, eğer yüklüyseler, [% terms.BugzillaGen %] çeşitli özelliklerini açarlar:</p>

<table class="req_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Modül</th> <th>Sürüm</th>
    <th>Açtığı Özellik</th>
  </tr>
   <tr>
     <td class="req_new">LWP::UserAgent</td> 
     <td class="req_new">(Herhangi biri)</td> 
     <td>Otomatik Güncelleme Bildirimleri</td>
  </tr>
  <tr>
    <td>Template::Plugin::GD::Image</td> 
    <td>(Herhangi bir)</td> 
    <td>Grafik Raporlar</td>
  </tr>
  <tr>
    <td>GD::Graph</td> 
    <td>(Herhangi bir)</td> 
    <td>Grafik Raporlar</td>
  </tr>
  <tr>
    <td>GD::Text</td> 
    <td>(Herhangi biri)</td> 
    <td>Grafik Raporlar</td>
  </tr>
  <tr>
    <td>GD</td> 
    <td>1.20</td> 
    <td>Grafik Raporlar, Yeni Çizelgeler, Eski Çizelgeler</td>
  </tr>
  <tr>
    <td class="req_new">Email::MIME::Attachment::Stripper</td> 
    <td class="req_new">(Herhangi biri)</td> 
    <td>Gelen Eposta</td>
  </tr>
  <tr>
    <td class="req_new">Email::Reply</td> 
    <td class="req_new">(Herhangi biri)</td> 
    <td>Gelen Eposta</td>
  </tr>
  <tr>
    <td>Net::LDAP</td> 
    <td>(Herhangi biri)</td> 
    <td>LDAP Kimlik Doğrulama</td>
  </tr>
  <tr>
    <td>HTML::Parser</td> 
    <td>3.40</td> 
    <td>Ürün ve Grup açıklamalarında daha fazla HTML</td>
  </tr>
  <tr>
    <td>HTML::Scrubber</td> 
    <td>(Herhangi biri)</td> 
    <td>Ürün ve Grup açıklamalarında daha fazla HTML</td>
  </tr>
  <tr>
    <td>XML::Twig</td> 
    <td>(Herhangi biri)</td> 
    <td>[% terms.BugsPluAcc %] kurulumlar arasında taşıma</td>
  </tr>
  <tr>
    <td>MIME::Parser</td> 
    <td>5.406</td> 
    <td>[% terms.BugsPluAcc %] kurulumlar arasında taşıma</td>
  </tr>
  <tr>
    <td>Chart::Base</td> 
    <td>1.0</td> 
    <td>Yeni Çizelgeler, Eski Çizelgeler</td>
  </tr>
  <tr>
    <td>Image::Magick</td> 
    <td>(Herhangi biri)</td> 
    <td>BMP resimleri PNG'ye dönüştürme</td>
  </tr>
  <tr>
    <td>PatchReader</td> 
    <td>0.9.4</td> 
    <td>Patch Viewer</td>
  </tr>
  <tr>
    <td class="req_new">SOAP::Lite</td> 
    <td class="req_new">(Herhangi biri)</td> 
    <td>XML-RPC Arayüzü</td>
  </tr>
  <tr>
    <td class="req_new">mod_perl2</td> 
    <td class="req_new">1.999022</td> 
    <td>mod_perl</td>
  </tr>
  <tr>
    <td>CGI</td> 
    <td>3.11</td> 
    <td>mod_perl</td>
  </tr>
</table>

<h2><a name="v30_feat"></a>Yeni Özellikler ve Geliştirmeler</h2>

<ul>
  <li><a href="#v30_feat_cf">Özel Alanlar</a></li>
  <li><a href="#v30_feat_mp">mod_perl Desteği</a></li>
  <li><a href="#v30_feat_sq">Paylaşılabilen Kayıtlı Aramalar</a></li>
  <li>
    <a href="#v30_feat_afn">Yeni [% terms.BugsPluLoc %] Ekler ve Bayraklar</a>
  </li>
  <li><a href="#v30_feat_cr">Özel Kararlar</a></li>
  <li><a href="#v30_feat_ppp">Ürüne Özel İzinler</a></li>
  <li><a href="#v30_feat_ui">Kullanıcı Arayüzü İyileştirmeleri</a></li>
  <li><a href="#v30_feat_xml">XML-RPC Arayüzü</a></li>
  <li><a href="#v30_feat_skin">Deriler</a></li>
  <li><a href="#v30_feat_sbu">Değiştirilemez Alanların Değiştirilemez Olarak Görünmesi</a></li>
  <li><a href="#v30_feat_et">Tüm Epostaların Şablonlara Taşınması</a></li>
  <li><a href="#v30_feat_df">[% terms.BugsPluGen %] İki Kez Kaydedilmemesi</a></li>
  <li><a href="#v30_feat_cc">Bileşenlere Varsayılan Haber Verilecekler Listesi Atanabilmesi</a></li>
  <li><a href="#v30_feat_emi">Epostayla [% terms.Bug %] Raporlayabilme ve Değiştirebilme</a></li>
  <li><a href="#v30_feat_gw">Tüm [% terms.Bug %] Bildirimlerini Alan Kullanıcılar</a></li>
  <li><a href="#v30_feat_utf8">Geliştirilmiş UTF-8 Desteği</a></li>
  <li><a href="#v30_feat_upda">Otomatik Güncelleme Bildirimi</a></li>
  <li><a href="#v30_feat_welc">Yeni Kurulumlarda 'Hoşgeldiniz' Sayfası</a></li>
  <li><a href="#v30_feat_other">Diğer İyileştirmeler ve Değişiklikler</a></li>
</ul>

<h3><a name="v30_feat_cf"></a>Özel Alanlar</h3>

<p>[% terms.Bugzilla %] artık çok temel de olsa özel alan desteği içeriyor.</p>

<p><kbd>admin</kbd> grubundaki kullanıcılar salt metin ya da açılır listeli özel alanlar ekleyebiliyor. Açılır listeli alanların alabileceği değerleri &quot;Alan Değerleri&quot; yönetim panelinden değiştirebilirsiniz.</p>

<p>Fazla özel alan eklemeyin! [% terms.BugzillaGen %] kullanımını zorlaştırabilir. Öntanımlı alanlarla idare etmek için elinizden geleni yapın ve [% terms.BugzillaAcc %] bu şekilde birkaç hafta kullandıktan sonra eğer o özel alanlar olmadan yapamayacağınıza eminseniz özel alanlar ekleyin.</p>

<h3><a name="v30_feat_mp"></a>mod_perl Desteği</h3>

<p>[% terms.Bugzilla %] 3.0 mod_perl destekliyor ve bu da sayfa yükleme performansının çok artmasını sağlıyor. mod_perl daha fazla hafıza kullanarak performansın artmasını sağlıyor ve sayfaların neredeyse anında yüklenmesine olanak veriyor.</p>

<p>Eğer [% terms.Bugzilla %] kurulumunuzda mod_perl'ü açmak istiyorsanız, en az 1.5 GB RAM öneririz; eğer sitenizin trafiği oldukça yüksekse 4 ila 8 GB RAM tavsiye ediyoruz.</p>

<p>Eğer kurulumunuzda performans o kadar önemli değilse, yeterli hafıza yoksa ya da Apache dışında bir web sunucu kullanıyorsanız bile, [% terms.Bugzilla %] normal bir CGI uygulaması olarak sorunsuz çalışacaktır.</p>

<h3><a name="v30_feat_sq"></a>Paylaşılabilen Kayıtlı Aramalar</h3>

<p>Kullanıcılar artık &quot;share&quot; kayıtlı aramalarını belirli bir grupla paylaşabiliyor. O grup o aramalara &quot;abone&quot; olabiliyor ve sayfalarının altlığında görüntüleyebiliyorlar.</p>

<p>Eğer paylaşan o gruba kullanıcı ekleyebiliyorsa, o grubun yöneticisi olarak kabul edilir ve sorguları otomatik olarak o grubun sayfa altlığında görünür. (Elbette istedikleri aramaların aboneliğinde çıkabilirler.)</p>

<p>Kullanıcının sorgularını paylaşabilmesi için <code>querysharegroup</code> parametresindw belirtilen gruba üye olması gerekir.</p>

<p>Kullanıcılar paylaştıkları ve abone oldukları sorguları &quot;Tercihler&quot; sayfasından değiştirebilirler.</p>

<h3><a name="v30_feat_afn"></a>Yeni [% terms.BugsPluLoc %] Ekler ve Bayraklar</h3>

<p>Artık yeni [% terms.abug %] raporlarken ekler oluşturabilirsiniz..</p>

<p>Ayrıca yeni [% terms.abug %] raporlarken [% terms.bugDat %] ve eklere bayraklar atayabilirsiniz.</p>

<h3><a name="v30_feat_cr"></a>Özel Kararlar</h3>

<p>Artık (öntanımlı kararların ismini değiştirmek de dahil) [% terms.Bugzilla %] karar listesini özelleştirebilirsiniz.</p>

<p>Fakat <code>FIXED</code> (DÜZELTİLDİ), <code>DUPLICATE</code> (AYNISI)
  ve <code>MOVED</code> (TAŞINDI) özel anlam içerdiği için isimleri değiştirilemez ve silinemez.</p>

<h3><a name="v30_feat_ppp"></a>Ürüne Özel İzinler</h3>

<p>Artık kullanıcılara sadece belirli ürünler için <kbd>editbugs</kbd> ve <kbd>canconfirm</kbd> izinleri verebilirsiniz. Kullanıcılara üründe <kbd>editcomponents</kbd> izni de verebiliyorsunuz, böylece o ürüne bileşen ekleme ya da üründen bileşen silme gibi o ürünle ilgili işlemleri yapabiliyorlar.</p>

<h3><a name="v30_feat_ui"></a>Kullanıcı Arayüzü İyileştirmeleri</h3>

<p>[% terms.Bugzilla %] 3.0 kullanıcı arayüzünde bazı iyileştirmele yapıldı:</p>

<ul>
  <li>Sayfanın altındaki çubuğa ek olarak, her sayfanın <em>üst</em> kısmına bir dolaşma paneli ve arama kutusu eklenti.</li>
  <li>[% terms.BugsPluGen %] &quot;Yazıcı Dostu Görüntüleme&quot; sayfası yeniden tasarlandı.</li>
  <li><kbd>show_bug.cgi</kbd> ([% terms.bug %] görüntüleme sayfası) yerleşimi değiştirildi ve ek tablosu yeniden tasarlandı.</li>
</ul>

<h3><a name="v30_feat_xml"></a>XML-RPC Arayüzü</h3>

<p>[% terms.BugzillaGen %] artık XML-RPC protokülünü kullanan bir web servisleri (Web Services) arayüzü bulunuyor. Harici uygulamalar kurulumunuzdaki <kbd>xmlrpc.cgi</kbd> üzerinden servise ulaşabilirler.</p>

<p>İlgili belgelendirmeye <a href="[% docs_urlbase FILTER html %]api/">[% terms.Bugzilla %] 
  API Belgeleri</a>'nde <kbd>Bugzilla::WebService</kbd> modüllerinde ulaşabilirsiniz.</p>

<h3><a name="v30_feat_skin"></a>Deriler</h3>

<p>[% terms.BugzillaLoc %] birden fazla &quot;deri&quot; bulunabilir ve kullanıcılar bu derilerden istediklerini seçebilirler. Bir deri hazırlamak için, birkaç CSS dosyası hazırlamanız yeterli olacaktır. Bu konuda daha fazla bilgi için <a href="[% docs_urlbase FILTER html %]cust-skins.html">Özel Deriler Belgelendirmesi</a>'ne bakabilirsiniz.</p>

<p>Henüz [% terms.Bugzilla %] ile yüklü gelen deriler bulunmuyor. Eğer siz bir deri yazarsanız, lütfen bize haber verin!</p>

<h3><a name="v30_feat_sbu"></a>Değiştirilemez Alanların Değiştirilemez Olarak Görünmesi</h3>

<p>Oturumunuz açık olduğu süre zarfında, [% terms.abugDat %] bakarken, eğer bir alanı değiştiremiyorsanız, değiştirebiliyormuşsunuz gibi görünmeyecek, yani onu düz metin olarak göreceksiniz.</p>

<h3><a name="v30_feat_et"></a>Tüm Epostaların Şablonlara Taşınması</h3>

<p>Artık gönderilen epostaların tamamı şablon sistemiyle kontrol ediliyor. Eskiden birer parametre olan <code>passwordmail</code>, <code>whinemail</code>,
  <code>newchangedmail</code> ve <code>voteremovedmail</code> artık <kbd>template/</kbd> dizininde birer şablon olarak bulunuyor.</p>

<p>Bu, gönderilen epostaları istediğiniz şekilde özelleştirmenin çok daha kolay olduğu anlamına geliyor. Ayrıca yerelleştirme ekipleri de dil paketlerinin bir parçası olarak epostaları daha iyi yerelleştirebiliyorlar.</p>

<p>Ayrıca [%+ terms.BugzillaGen %] gönderdiği tüm epostalarda <code>Gönderen</code> alanında görünecek kişiyi belirleyebilmeniz için bir de code>mailfrom</code> parametresi ekledik.</p>

<h3><a name="v30_feat_df"></a>[% terms.BugsPluGen %] İki Kez Kaydedilmemesi</h3>

<p>[% terms.Bugzilla %] kullanıcıları bazen web tarayıcılarında bir önceki sayfaya giderek ya da sayfayı tazeleyerek [% terms.abugGen %] iki kere gönderebilir. Geçmişte, bu geliştiricileri rahatsız edecek ve kullanıcıların kafasını karıştıracak şekilde aynı [% terms.bugGen %] arka arkaya iki kere (hâttâ bazen üç kere) gönderilmesine neden olabiliyordu.</p>

<p>Artık, eğer [% terms.abugAcc %] aynı ekrandan (bir önceki sayfaya giderek ya da sayfayı tazeleyerek) iki kere göndermeye kalktığınızda [% terms.Bugzilla %] aynı [%+ terms.bugAbl %] ikinci bir kopya oluşturmadan önce kullanıcıyı uyarıyor.</p>

<h3><a name="v30_feat_cc"></a>Bileşenlere Varsayılan Haber Verilecekler Listesi Atanabilmesi</h3>

<p>Bir bileşendeki tüm yeni [% terms.bugsPluGen %] haber verilecekler listesine <em>her zaman</em> eklenecek kullanıcılar belirtebilirsiniz.</p>

<h3><a name="v30_feat_emi"></a>Epostayla [% terms.Bug %] Raporlayabilme ve Değiştirebilme</h3>

<p>Eposta yoluyla [% terms.bug %] raporlamak veya değiştirmek artık mümkün. [% terms.BugzillaGen %] önceki sürümleri bu özelliği sadece desteklenmeyen bir eklenti olarak içeriyordu, fakat bu sürümle birlikte bu özellik [%+ terms.Bugzilla %] arayüzünün desteklediği özelliklerden biri haline geldi.</p>

<p>Daha fazla bilgi için <a href="[% docs_urlbase FILTER html %]api/email_in.html">email_in.pl belgelendirmesi</a>ne bakın.</p>

<h3><a name="v30_feat_gw"></a>Tüm [% terms.Bug %] Bildirimlerini Alan Kullanıcılar</h3>

<p><kbd>globalwatchers</kbd> isminde yeni bir parametre eklendi. Bu parametre [% terms.Bugzilla %] tarafından oluşturulan tüm [% terms.bug %] bildirimlerine alacak kullanıcıların (birbirlerinden virgülle ayrılmış) bir listesini içeriyor.</p>

<p>Bu özellik grup kontrollerinden bağımsız değil, yani [% terms.abugAcc %] göremeyen kullanıcılar o [% terms.bug %] ile ilgili bildirim almıyorlar.</p>

<h3><a name="v30_feat_utf8"></a>Geliştirilmiş UTF-8 Desteği</h3>

<p>MySQL kullanan [% terms.Bugzilla %] kullanıcıları <kbd>utf8</kbd> parametresini açtıklarında artık tam bir UTF-8 desteğine sahip olacaklar. (Yeni kurulumlarda bu parametre öntanımlı olarak açıktır.) [% terms.Bugzilla %] artık Çince gibi birden fazla bayt kullanan diller de dahil olmak üzere İngilizce dışındaki dillerde de arama ve sıralama yapabiliyor.</p>

<h3><a name="v30_feat_upda"></a>Otomatik Güncelleme Bildirimi</h3>

<p>Eğer <kbd>admin</kbd> (yönetim) grubundaysanız, oturum açtığınızda yeni bir [% terms.Bugzilla %] sürümü varsa bu konuda bir bildirim alıyorsunuz.</p>

<p><kbd>upgrade_notification</kbd> parametresini kullanarak bu bildirimlerin görüntülenip görüntülenmeyeceğini kontrol edebilirsiniz.</p>

<p>Eğer [% terms.Bugzilla %] kurulumunuz İnternet'e bir vekil üzerinden erişmek ("çıkmak") zorundaysa, <kbd>proxy_url</kbd> parametresini de değiştirmeniz gerekebilir.</p>

<h3><a name="v30_feat_welc"></a>Yeni Kurulumlarda 'Hoşgeldiniz' Sayfası</h3>

<p>Yeni bir [% terms.Bugzilla %] kurulumuna ilk kez oturum açtığınızda, açmanız gereken sayfalar ve ayarlamanız gereken parametrelerle ilgili bilgi veren bir sayfa ile karşılaşacaksınız.</p>

<h3><a name="v30_feat_qs"></a>IE7 ve Firefox 2 hızlı arama eklentisi</h3>

<p>Firefox 2 ve Internet Explorer 7 kullanıcıları arama çubuğuna [% terms.BugzillaAcc %] ekleme seçeneği elde ettiler. Bu özellik <a href="page.cgi?id=quicksearch.html">Hızlı arama cümle yapısı</a>nı kullanır.</p>

<h3><a name="v30_feat_other"></a>Diğer İyileştirmeler ve Değişiklikler</h3>

<p>Burada listelenenler ya küçük iyileştirmeler, ya da çok kısa açıklamaları olan iyileştirmeler. Fakat bazılarının gerçekten çok faydalı olduğunu göreceksiniz!</p>

<h4>[% terms.Bugzilla %] Kullanıcılarını Etkileyen İyileştirmeler</h4>

<ul>
  <li>Yorumlarda, alıntılanan metin (<kbd>&gt;</kbd> ile başlayan satırlar) normal metinden farklı bir renk olacak.</li>
  <li>Artık kullanıcı tercihlerinde sizi otomatik olarak değiştirdiğiniz her [% terms.bugGen %] haber verilecekler listesine ekleyen bir seçenek bulunuyor. Bu seçenek öntanımlı olarak <strong>açık</strong>.</li>
  <li>Eğer <kbd>editbugs</kbd> grubundaysanız, [% terms.bugs %] artık ilk açıldıklarında <kbd>ATANMIŞ</kbd> durumda olabiliyor.</li>
  <li>Öntanımlı olarak yorum alanları odak aldıklarında büyüyor ve odak kaybettiklerinde küçülüyor. Bu özelliği kullanıcı tercihlerinden kapatabilirsiniz.</li>
  <li>Eski ekleri ekler tablosunun altında bulunan &quot;Eskileri Gizle&quot; ile gizleyebilirsiniz.</li>
  <li>Eğer [% terms.abugLoc %] atanmış bayraklar varsa ve o [% terms.bugAcc%] aynı isme sahip bayrakların olduğu başka bir ürüne taşırsanız, bayraklar korunuyor.</li>
  <li>Artık belirli bir bayrağı atama izni olmayan birisinden o bayrağı atamasını isteyemiyorsunuz ([% terms.Bugzilla %] bu durumda hata veriyor).</li>
  <li>Giden [% terms.Bugzilla %] [%+ terms.bug %] epostalarına çok sayıda başlık eklendi: <code>X-Bugzilla-Status</code>,
    <code>X-Bugzilla-Priority</code>, <code>X-Bugzilla-Assigned-To</code>,
    <code>X-Bugzilla-Target-Milestone</code>, ve 
    <code>X-Bugzilla-Changed-Fields</code>, <code>X-Bugzilla-Who</code>.
    Bu başlık alanlarının neler içerdiği ile ilgili olarak epostalara bakabilirsiniz.</li>
  <li>O epostayı neden aldığınızı açıklayan eski <code>X-Bugzilla-Reason</code> eposta başlığına ek olarak, eğer bir epostayı birisini izlediğiniz için aldıysanız, ek olarak kimi izlediğinizi ve görevlerinin ne olduğunu açıklayan bir <code>X-Bugzilla-Watch-Reason</code> başlığı eklendi.</li>
  <li>Eğer fareyle [% terms.abugDat %] işaret eden tam bir adresin (örneğin <code>http://bugs.sirketim.com/show_bug.cgi?id=1212</code>) üzerine giderseniz o [%+ terms.bugGen %] başlığını görebilirsiniz. Elbette bu özellik sadece kendi [%+ terms.Bugzilla %] kurulumunuzdaki [%+ terms.bugsPluLoc %] çalışıyor.</li>
  <li>Eğer kurulumunuzda kullanıcı izleme açıksa, izleme listenizden çıkarabileceğiniz kullanıcıları güncel haber verilecekler listesine benzer olarak bir çoklu seçim kutusu şekilde göreceksiniz. (Geçmişte bir metin kutusu şeklindeydi.)</li>
  <li>Bir kullanıcı [% terms.BugzillaLoc %] yeni bir hesap oluşturduğunda, hesap o kullanıcı kendisine epostayla gönderilen bağlantıya tıklayıp eposta adresini onaylayana kadar oluşturulmuyor.</li>
  <li>[% terms.AbugGen %] kararını o [% terms.bugAcc %] yeniden açmadan değiştirebilirsiniz.</li>
  <li>[% terms.AbugGen %] bağımlılık ağacına bakarken, öntanımlı olarak karara bağlanmış [%+ terms.bugs %] gizli olur. (Önceki sürümlerde öntanımlı davranış olarak karara bağlanmış [% terms.bugs %] da gösteriliyordu.)</li>
  <li>[% terms.Bug %] hareketlerine bakarken, [% terms.bug %] numarası içeren alanlar (&quot;Blocks&quot; gibi) o [% terms.bug %] numaralarını o [% terms.bugsPluDat %] bağlantı olarak gösterir.</li>
  <li>[% terms.Bug %] listelerinde &quot;Anahtarlar&quot; alanı alfabetik olarak sıralanıyor, böylece listeyi o alana göre sıralamak mümkün oluyor.</li>
  <li>Çoğu yerde Sürüm alanı harf sırası yerine sürüm sıralama yöntemi kullanılarak (örneğin 1.10 1.2'den büyük olacak şekilde) sıralanır.</li>
  <li>Bayrak seçenekleri sadece bayrak atayabiliyorsanız görünür olur. Dolayısıyla, örneğin eğer bir bayrağa <kbd>+</kbd> atayamıyorsanız o seçeneği hiç görmezsiniz.</li>
  <li><kbd>config.cgi</kbd>'nin ürünlerle ilgili çıktısını adrese parametre olarak <kbd>product=</kbd> geçerek kısıtlayabilirsiniz. Birden falza ürün belirtmek için parametreyi birden fazla kez kullanabilirsiniz.</li>
  <li>Artık Boole çizelgeleri bir yorumun gizli olup olmadığına göre arayabilirsiniz.</li>
</ul>

<h4>Yöneticilere Yönelik İyileştirmeler</h4>

<ul>
  <li>Yöneticiler artık ekleri silerek [% terms.BugzillaAbl %] tamamen yok olmalarını sağlayabiliyorlar.</li>
  <li><kbd>sanitycheck.cgi</kbd> artık sadece <kbd>editcomponents</kbd> grubundaki kullanıcılar tarafından erişilebilir.</li>
  <li>&quot;Alan Değerleri&quot; yönetim paneli artık sadece <kbd>admin</kbd> grubundaki kullanıcılar tarafından erişilebilir. (Önceden <kbd>editcomponents</kbd> grubundaki herkes tarafından erişilebilirdi.)</li>
  <li><kbd>announcehtml</kbd> isminde yeni bir parametre var ve bu parametreye her sayfanın üstünde bir bildiri olarak yayınlanacak HTML metin girebiliyorsunuz.</li>
  <li><kbd>loginnetmask</kbd> parametresi yeni kurulumlarda öntanımlı olarak 0 değerini alıyor. Böylece doğru oturum çerezine sahip herkes herhangi bir IP adresinden oturum açabiliyor. Bu çevirmeli bağlantı sahibi kullanıcıları ve IP'si sık değişen kullanıcıların hayatını çok kolaylaştırıyor. Oturum çerezi artık tamamen rasgele değerler aldığı için bu güvenlikten birşey kaybedilmesini engelliyor.</li>
  <li>Tasnifler artık sıralama anahtarları içeriyor, böylece alfabetik olmayan bir şekilde sıralanabiliyorlar.</li>
  <li>Kimlik doğrulama artık düz LDAP'nin yanında SSL üzerinden LDAP (LDAPS) ve TLS (STARTLS komutuyla) de destekliyor.</li>
  <li>LDAP kullanıcıları LDAP <kbd>mail</kbd> niteliği yerine eposta adreslerini LDAP kullanıcı adı olarak kullanabilirler. Eğer bu şekilde kullanacaksanız <kbd>emailsuffix</kbd> parametresini ayarlamak isteyebilirsiniz.</li>
  <li>Yöneticiler artık &quot;Kullanıcılar&quot; yönetim panelinde kullanıcı hesaplarında nelerin değiştiğini görebiliyorlar.</li>
  <li><code>REMIND</code> (HATIRLAT) ve <code>LATER</code> (SONRA) artık öntanımlı karar listesinin bir parçası değil. Yükseltilen kurulumlar bu durumdan etkilenmiyor - onlarda bu kararlar halen geçerliliğini koruyor.</li>
  <li><kbd>editbugs</kbd> artık <kbd>timetrackinggroup</kbd> parametresinin öntanımlı değeri. Böylece yeni kurulumlarda tarihe ve zamana göre takip öntanımlı olarak açık oluyor.</li>
</ul>

<h2><a name="v30_issues"></a>Problem Oluşturabilecek Noktalar</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=69621">
    [%- terms.Bug %] 69621</a>: Eğer [% terms.bugsPluLoc %] kullanımda olan bir anahtarın ismini değiştirirseniz veya anahtarı silerseniz <a href="sanitycheck.cgi">sanitycheck.cgi</a>'ı yeniden çalıştırarak "anahtar önbelleği"ni yeniden oluşturmanız gerekir. Aksi taktirde arama sonuçlarında anahtarlar doğru şekilde görüntülenmez.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=99215">
    [%- terms.Bug %] 99215</a>: Bayraklar ve eklerde yapılan değişiklikler "havada çarpışma" korumasına tabi değil.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: Bir kerede birden fazla [% terms.bug %] değiştirirken "havada çarpışma" koruması yok.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: Belirtli Yeni Çizelge Kategorileri'ne erişim kısıtlama desteği tamamlanmadı. 'chartgroup' parametresini tek erişim mekanizması kabul edip ona göre hareket etmelisiniz. Ancak, eski çizelgelerden alınan çizelgeler iligli ürün için ZORUNLU olarak işaretlenirler. Şu anda bu kısıtlamayı değiştirmenin bir yolu yok ve ürünün grup yapılandırması değiştirilse bile gruplamalar güncellenmez.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370370">
    [%- terms.Bug %] 370370</a>: mod_perl desteği şu anda Windows bilgisayarlarda çalışmıyor.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=361149">
    [%- terms.Bug %] 361149</a>: Perl 5.8.0 kullanıyorsanız, Apache error_log dosyasında "deprecated
    pseudo-hashes" şeklinde çok sayıda uyarı alabilirsiniz. Bu "eskimiş ara değer"ler zararsızdır ve Perl 5.8.0'daki bir hatadan kaynaklanır. Perl 5.8.1 ve sonrasında bu problem yoktur.</li>
  <li>[% terms.Bugzilla %] 3.0rc1 oluşturulan özel alanların isimlerinde büyük harf-küçük harf kullanımı ayrımı yapmıyordu. [% terms.Bugzilla %] 3.0 ise sadece küçük harf isimlere müsaade eder. İsimleri farklı girseniz bile hepsini küçük harf haline getirir. Ama eğer kayıtlı aramalarınızda isimleri farklı girilmiş bu alanlar geçiyorsa, o kayıtlı aramaları yeniden oluşturmanız gerekir.</li>
</ul>

<h2><a name="v30_security"></a>Bu Sürümdeki Güvenlik Güncellemeleri</h2>

<h3>3.0.6</h3>

<p>[% terms.Bugzilla %] küçük bir güvenlik güncellemesi içeriyor. Detayları için <a href="http://www.bugzilla.org/security/2.20.6/">Güvenlik Güncellemeleri</a>ne bakın.</p>

<h3>3.0.5</h3>

<p>[% terms.Bugzilla %] <a href="[% docs_urlbase FILTER html %]api/importxml.html">importxml.pl</a> için bir güvenlik güncellemesi içeriyor. Detaylar için <a href="http://www.bugzilla.org/security/2.22.4/">Güvenlik Güncellemeleri</a>ne bakın.</p>

<h3>3.0.4</h3>

<p>[% terms.Bugzilla %] 3.0.4 üç güvenlik güncellemesi içeriyor. Detaylar için <a href="http://www.bugzilla.org/security/2.20.5/">Güvenlik Güncellemeleri</a>ne bakın.</p>
</p>

<h3>3.0.3</h3>

<p>Bu sürümde güvenlik güncellemesi bulunmuyor.</p>

<h3>3.0.2</h3>

<p>[% terms.Bugzilla %] 3.0.1 halka açık olan ve "requirelogin" parametresi açık kurulumlar için kritik olan önemli bir güvenlik güncellemesi içeriyordu. Detaylar için <a href="http://www.bugzilla.org/security/3.0.1/">Güvenlik Güncellemeleri</a>ne bakın.</p>

<h3>3.0.1</h3>

<p>[% terms.Bugzilla %] 3.0 bu sürümde düzeltilen üç güvenlik problemi içeriyordu. had three security issues that have been
  fixed in this release: one minor information leak, one hole only
  exploitable by an admin or using <code>email_in.pl</code>, and one in an
  uncommonly-used template. For details, see the 
  <a href="http://www.bugzilla.org/security/2.20.4/">Security Advisory</a>.</p>

<h2><a name="v30_upgrading"></a>Eski Bir Sürümden Nasıl Yükseltilir</h2>

<h3><a name="v30_upgrading_notes"></a>Yükseltenlere Notlar</h3>

<ul>
  <li>CVS üzerinden yükseltirseniz <kbd>checksetup.pl</kbd> tarafından oluşturulmak yerine artık CVS'de bulunan birkaç .cvsignore dosyası var. Bu şu anlama geliyor: CVS size bir uyuşmazlık olduğunu söylediğinde o dosyaları silmeniz ve ardından yeniden <kbd>cvs update</kbd> çalıştırmanız gerek.</li>
  <li>[% terms.BugzillaGen %] bu sürümünde, Özet (Summary) alanı 255 karakterle sınırlı. Yükselttiğinizde 255 karakteri aşan Özet alanları kısaltılır ve eski (kısaltılmamış) özet bir yorum olarak tutulur.</li>
  <li><kbd>utf8</kbd> parametresi açıksa, zamanı geldiğinde veritabanınızı dönüştürmek zorunda kalacaksanız. <kbd>checksetup.pl</kbd> bunu ne zaman yapacağınızı söyleyecek ve yükseltme işlemini tamamlamadan önce yapmanız gereken işlemleri sıralayacak. Dönüştürme işlemini kendi istediğiniz şekilde yapmayın, checksetup.pl'nin yönergelerini takip edin.</li>
  <li>Eğer 2.23.3, 2.23.4, veya 3.0rc1 çalıştırdıysanız, komut satırında <kbd>./collectstats.pl --regenerate</kbd> çalıştırmanız gerekecek, çünkü eski çizelgeler için tutulan veriler bozuk olacak. Bu birkaç gün sürebilir, o yüzden sadece eski çizelgeleri kullanıyorsanız çalıştırmanızı tavsiye ederiz.</li>
  <li>Ayrıca eğer 2.22 öncesi bir sürümden yüseltiyorsanız <a href="#v30_previous">daha önceki sürüm notları</a>nın Problem Oluşturabilecek Noktalar bölümlerini de okumanız tavsiye edilir.</li>
</ul>

<h3>Yükseltme Aşamaları</h3>

<p>Nasıl yükselteceğinize dair yönergeler için (yukarıdaki notları okuduktan sonra) <a href="[% docs_urlbase FILTER html %]upgrade.html">Yükseltme belgeleri</a>ni okuyun.</p>

<h2><a name="v30_code_changes"></a>Özelleştirmeleri Etkileyebilecek Kod Değişiklikleri</h2>

<ul>
  <li><a href="#v30_code_loc"><strong>Paketçiler:</strong> Konum Değişkenleri Taşındı</a></li>
  <li><a href="#v30_code_hooks">Kancalar!</a></li>
  <li><a href="#v30_code_api">API Belgeleri</a></li>
  <li><a href="#v30_code_globals">globals.pl'nin Yokoluşu</a></li>
  <li><a href="#v30_code_scope">Temizlenen Değişken Kapsam Mevzuları</a></li>
  <li><a href="#v30_code_sql">SendSQL'in Sonu</a></li>
  <li><a href="#v30_code_auth">Auth Yeniden Yazımı</a></li>
  <li><a href="#v30_code_obj">Bugzilla::Object</a></li>
  <li><a href="#v30_code_req">Bugzilla-&gt;request_cache</a></li>
  <li><a href="#v30_code_other">Diğer Değişiklikler</a></li>
</ul>

<h3><a name="v30_code_loc"></a><strong>Paketçiler:</strong> Konum Değişkenleri Taşındı</h3>

<p>Önceki [% terms.Bugzilla %] sürümlerinde, <kbd>Bugzilla::Config</kbd>
  yerel yapılandırma (localconfig) ve <kbd>data/</kbd> dizininin yolu gibi birbirinden farklı pek çok şeyin yolunu tutuyordu.</p>

<p>Artık, tüm bu veri <kbd>Bugzilla::Constants::bz_locations</kbd> altyordamında tutuluyor.</p>

<p>Ayrıca, mod_perl söz konusu olduğunda <kbd>bz_locations</kbd>'ın bağıl değil <em>tam</em> yolu tutması gerektiğini unutmayın. O altyordamda bunu elde etmeniz için gereken kod halihazırda mevcut.</p>

<h3><a name="v30_code_hooks"></a>Kancalar!</h3>

<p>[% terms.Bugzilla %] artık bir kod kanca mekanizması içeriyor. Daha fazla bilgi için <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Hook.html">Bugzilla::Hook</a> konusuna bakabilirsiniz.</p>

<p>Bu yaklaşım [% terms.BugzillaDat %] ileri düzeyde eklenti desteği sağlıyor. Şablonlara, koda ve yeni parametrelere kanca bağlayabilirsiniz. [% terms.Bugzilla %] eklentilerinizi bekliyoruz! Eğer bir eklenti yazarsanız, bize <a href="http://bugzilla.org/cgi-bin/mj_wwwusr?func=lists-long-full&amp;extra=developers">developers&#64;bugzilla.org</a> posta listesinde haber verebilirsiniz.</p>

<p>Daha fazla kancaya ihtiyacınız olursa, çekinmeden <a href="http://www.bugzilla.org/developers/reporting_bugs.html">bir hata girebilirsiniz</a>.</p>

<h3><a name="v30_code_api"></a>API Belgeleri</h3>

<p>[% terms.Bugzilla %] artık tüm perldoc'u HTML olarak inşa edilmiş şekilde geliyor. Tüm [% terms.Bugzilla %] modülleriyle ilgili açıklamaları <a href="[% docs_urlbase FILTER html %]api/">API Belgeleri</a> bölümünden okuyabilirsiniz. Orada <kbd>checksetup.pl</kbd> gibi betikler için bile HTML belgelendirmesi bulacaksınız.</p>

<h3><a name="v30_code_globals"></a>globals.pl'nin Yokoluşu</h3>

<p>Eski <kbd>globals.pl</kbd> dosyası kaldırıldı. İçerdiği kod birkaç modüle dağıtıldı. Her fonksiyon uygun ilgili modüle aktarıldı.</p>

<p>Genellikle taşıdığımız her fonksiyon için <a href="https://bugzilla.mozilla.org">bugzilla.mozilla.org</a>'da [% terms.abug %] açtık. Orada fonksiyonun eski adını arayarak yeni ismini ve yerini öğrenebilirsiniz.</p>

<h3><a name="v30_code_scope"></a>Temizlenen Değişken Kapsam Mevzuları</h3>

<p>Normal perl'de şuna benzer kodlar bulundurabilirsiniz:</p>
<pre>my $var = 0;
sub y { $var++ }</pre>

<p>Fakat bu kod mod_perl altında çalışmaz. Yani değişkenler artık altyordamlarla &quot;paylaşılmıyor&quot;, onun yerine her altyordamın ihtiyaç duyduğu değişkenler o altyordamın içinde tanımlanıyor.</p>

<h3><a name="v30_code_sql"></a>SendSQL'in Sonu</h3>

<p>Eski <kbd>SendSQL</kbd> fonksiyonu ve 'arkadaş'ları <strong>silindi</strong>. Onun yerine artık tüm veritabanı etkileşimi için DBI kullanıyoruz.</p>

<p>[% terms.BugzillaLoc %] <a href="http://search.cpan.org/perldoc?DBI">DBI</a> kullanımı ile ilgili daha fazla bilgi için <a href="http://www.bugzilla.org/docs/developer.html#sql-sendreceive">Geliştiricinin DBI Kılavuzu</a>'na bakabilirsiniz.</p>

<h3><a name="v30_code_auth"></a>Auth Yeniden Yazımı</h3>

<p>The <kbd>Bugzilla::Auth</kbd> modül ailesi tamamen baştan yazıldı. Kimlik doğrulamanın yeni yapısı ile ilgili olarak <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Auth.html">Bugzilla::Auth API belgesi</a>ne bakabilirsiniz.</p>

<p>Yeni yapılandırmayla yeni kimlik doğrulama eklentileri yazmak çok kolay olacaktır.</p>

<h3><a name="v30_code_obj"></a>Bugzilla::Object</h3>

<p>Nesnelerimizin çoğu için artık <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Object.html">Bugzilla::Object</a> isminde bir temel sınıf bulunuyor. Bu yapı veritabanındakilerden yeni nesneler oluşturma işlemini gerçekten kolaylaştırıyor.</p>

<h3><a name="v30_code_req"></a>Bugzilla-&gt;request-cache</h3>

<p><kbd>Bugzilla.pm</kbd> eskiden veritabanı bağlantısı gibi bazı şeyleri package-global değişkenlerinde (mesela <kbd>$_dbh</kbd>) önbellekliyordu.
  That doesn't work in mod_perl, so instead now there's a hash
  that can be accessed through <code>Bugzilla-&gt;request_cache</code>
  to store things for the rest of the current page request.</p>

<p>You shouldn't access <code>Bugzilla-&gt;request_cache</code> directly,
  but you should use it inside of <kbd>Bugzilla.pm</kbd> if you modify
  that. The only time you should be accessing it directly is if you need
  to reset one of the caches. Hash keys are always named after the function
  that they cache, so to reset the template object, you'd do:
  <code>delete Bugzilla-&gt;request_cache-&gt;{template};</code>.</p>

<h3><a name="v30_code_other"></a>Diğer Değişiklikler</h3>

<ul>
  <li><code>checksetup.pl</code> has been completely re-written, and most
    of its code moved into modules in the <kbd>Bugzilla::Install</kbd>
    namespace. See the
    <a href="[% docs_urlbase FILTER html %]api/checksetup.html">checksetup
    documentation</a> and <a href="https://bugzilla.mozilla.org/showdependencytree.cgi?id=277502&amp;hide_resolved=0">[% terms.Bugzilla %]
   [%+ terms.bug %] 277502</a> for details.</li>
  <li>Instead of <kbd>UserInGroup()</kbd>, all of [% terms.Bugzilla %] now 
    uses <kbd>Bugzilla-&gt;user-&gt;in_group</kbd></li>
  <li>mod_perl doesn't like dependency loops in modules, so we now have
    a test for that detects dependency loops in modules when you run
   <kbd>runtests.pl</kbd>.</li>
  <li><kbd>globals.pl</kbd> used to modify the environment variables,
    like <kbd>PATH</kbd>. That now happens in <kbd>Bugzilla.pm</kbd>.</li>
  <li>Templates can now link to the documentation more easily.
    See the <kbd>global/code-error.html.tmpl</kbd> and
    <kbd>global/user-error.html.tmpl</kbd> templates for examples.
    (Search for &quot;docslinks.&quot;)</li>
  <li>Parameters are accessed through <kbd>Bugzilla-&gt;params</kbd>
    instead of using the <kbd>Param()</kbd> function, now.</li>
  <li>The variables from the <kbd>localconfig</kbd> file are accessed
    through the <code>Bugzilla-&gt;localconfig</code> hash instead of through
    <kbd>Bugzilla::Config</kbd>.</li>
  <li><kbd>Bugzilla::BugMail::MessageToMTA()</kbd> has moved into its
    own module, along with other mail-handling code, called
    <kbd>Bugzilla::Mailer</kbd></li>
  <li>The <kbd>CheckCanChangeField()</kbd> subroutine in 
    <kbd>process_bug.cgi</kbd> has been moved to <kbd>Bugzilla::Bug</kbd>,
    and is now a method of a [% terms.bug %] object.</li>
  <li>The code that used to be in the <kbd>global/banner.html.tmpl</kbd>
    template is now in <kbd>global/header.html.tmpl</kbd>. The banner
    still exists, but the file is empty.</li>
</ul>

<h2><a name="v30_previous"></a>Önceki Sürümlerin Sürüm Notları</h2>

<p>Release notes for versions of [% terms.Bugzilla %] for versions
  prior to 3.0 are only available in text format: 
  <a href="[% docs_urlbase FILTER remove('html/$') FILTER html %]rel_notes.txt">Release Notes for [% terms.Bugzilla %] 2.22
  and Earlier</a>.</p>

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK db_req %]
  [% SET m = DB_MODULE.$db %]
  <h3><a name="v32_req_[% db FILTER html %]"></a>[% m.name FILTER html %] Kullanıcıları İçin</h3>

  <ul>
    <li>[% m.name FILTER html %]
       [%+ '<span class="req_new">' IF db_new %]v[% m.db_version FILTER html %]
       [% '</span>' IF db_new %]
       </li>
    <li><strong>perl modülü:</strong>
      [%+ m.dbd.module FILTER html %] 
      [% '<span class="req_new">' IF dbd_new %]sürüm [% m.dbd.version FILTER html %]
      [% '</span>' IF dbd_new %]</li>
  </ul>
[% END %]


[% BLOCK req_table %]
  <table class="req_table" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Modül</th> <th>Sürüm</th>
      [% IF include_feature %]
        <th>Açtığı Özellik</th>
      [% END %]
    </tr>
    [% FOREACH req = reqs %]
      <tr>
        <td [% 'class="req_new"' IF new.contains(req.package) %]>
          [%- req.module FILTER html %]</td> 
        <td [% 'class="req_new"' IF updated.contains(req.package) 
                                    OR new.contains(req.package) %]>
          [%- IF req.version == 0 %]
            (Herhangi biri)
          [% ELSE %]
            [%- req.version FILTER html %]
          [% END %]
        </td>
        [% IF include_feature %] 
          <td>[% req.feature FILTER html %]</td>
        [% END %]
      </tr>
    [% END %]
</table>
[% END %]
