[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 2005 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): A. Karl Kornel <karl@kornel.name>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "sudo: Başka Kullanıcının Yerine Geçme" %]

<p>
  [%+ terms.Bugzilla %] bir kullanıcının, eğer gerekli izinlere ve yetkilere sahipse, <i>sudo oturumu</i> adı verilen bir yöntemle başka bir kullanıcının yerine geçmesine olanak tanır.</p>

<p>
  Bir oturum açıkken, [% terms.Bugzilla %] herşeyi sanki diğer kullanıcı yapıyormuş gibi davranır. Bu özellikle test amaçlı olarak ve yerine geçilen kişinin müsait olmadığı durumlarda kullanışlı bir seçenektir. Yerine geçilen kullanıcı [% terms.BugzillaAbl %] oturum başladığında bir bilgilendirme epostası alır (bunun dışında başka birşeyden haberleri olmaz).
</p>

<p>
  Bu özelliği kullanmak için ilgili grubun üyesi olmanız gerekir. Bu grup, öntanımlı olarak tüm yöneticileri içerir. Diğer kullanıcılar ve diğer grupların üyeleri bu özelliği "lâzım oldukça" kullanabilirler. Bu türden erişim istemek için, bu kurulumun bakımından ve sağlığından sorumlu kişiyle (<a href="mailto:[% Param("maintainer") %]">[%- Param("maintainer") %]</a>) iletişim kurabilirsiniz.
</p>

<p>
  Eğer başka kullanıcıların sizin yerine geçememesini istiyorsanız, bu kurulumdan sorumlu kişiyle irtibat kurarak bunun mümkün olup olmadığını sorabilirsiniz. Bu özelliğe erişimi olan kullanıcılar otomatik olarak korumaya alınır.
</p>

<p id="message">
  [% IF user.groups.bz_sudoers %]
    <b>bz_sudoers</b> grubunun üyesisiniz. Bu özelliği başkalarının yerine geçmek için kullanabilirsiniz.
  [% ELSE %]
    Bu özelliği kullanabilecek herhangi bir grubun üyesi değilsiniz, o nedenle bu özelliği kullanamazsınız.
  [% END %]
  [% IF user.groups.bz_sudo_protect %]
    <br>
    <b>bz_sudo_protect</b> grubunun üyesisiniz. Başkaları bu özelliği kullanarak sizin yerinize geçemez.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
