[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS global/header.html.tmpl
  title = "Grup ekle"
  subheader = "Bau sayfada yeni bir kullanıcı grubu oluşturabilirsiniz."
  doc_section = "groups.html#create-groups"
%]

<form method="post" action="editgroups.cgi">
  <table border="1" cellpadding="4" cellspacing="0"><tr>
    <th>Yeni İsim</th>
    <th>Yeni Açıklama</th>
    <th>Yeni Kullanıcı Düzenli İfadesi</th>
    <th>[% terms.BugsLoc %] Kullanım</th>
  </tr><tr>
    <td><input size="20" name="name"></td>
    <td><input size="40" name="desc"></td>
    <td><input size="30" name="regexp"></td>
    <td><input type="checkbox" name="isactive" value="1" checked></td>
  </tr>
  <tr>
    <th>Simge Adresi:</th>
    <td colspan="3"><input type="text" size="70" maxlength="255" id="icon_url" name="icon_url"></td>
  </tr>
  [% Hook.process('field') %]
  </table>

  <hr>

  <input type="checkbox" id="insertnew" name="insertnew" value="1"
    [% IF Param("makeproductgroups") %] checked[% END %]>
  <label for="insertnew">Yeni grubu varolan tüm ürünlere gir.</label>
  <p>
  <input type="submit" id="create" value="Ekle">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

<p><b>İsim</b>, belirli bir grubu kullanan ve sizin yazdığınız özelleştirilmiş cgi dosyalarında B<!-- blah -->ugzilla->user->in_group() fonksiyonuyla kullanılır. Ayrıca eposta yoluyla [% terms.bug %] gönderen kişiler tarafından [% terms.abugAcc %] belirli gruplarla sınırlandırmak için de kullanılabilir.</p>

<p><b>Açıklama</b>, grup üyelerine [% terms.bugGen %] aynı gruptaki diğer kişilerle sınırlandırılıp sınırlandırılmayacağını seçebildikleri [% terms.bug %] raporlarında gösterilir.</p>

<p><b>[% terms.BugsLoc %] Kullanım</b> bayrağı grubun [% terms.BugsLoc %] kullanıma açık olup olmadığını gösterir. Eğer bu bayrağı kapatırsanız, gruptaki [% terms.bugs %] gruptan silinmese de, kullanıcılar bu gruba yeni [% terms.bug %] ekleyemez. Bu bayrağı kapatmak, grubun büyümesini engellemek isteyenler için, grubu silmekten çok daha kullanışlıdır. <b>Not: Eğer yeni bir grup oluşturuyorsanız, büyük ihtimalle bu grubun [% terms.BugsLoc %] kullanılabilir olmasını istiyorsunuzdur, o durumda da bu bayrak açık olmalıdır.</b></p>

<p><b>Kullanıcı Düzenli İfadesi</b> tercihe bağlıdır, eğer doldurursanız, burada verdiğiniz düzenli ifadeye uyan eposta adresi bulunan tüm kullanıcılar otomatik olarak bu gruba üye yapılır.</p>

<p>
  <b>Simge Adresi</b> de tercihe bağlıdır ve bu grubu temsil edecek simgenin URL'sidir. Bu kurulumun taban adresine bağıl bir adres olabileceği gibi, tam bir adres de olabilir. Bu simge [% terms.bugsLoc %] yorumların yanında yazarının isminin yanında görüntülenir.
</p>

<p>Öntanımlı olarak, yeni grup varolan gruplarla eşleştirilir. "Yeni grubu varolan tüm ürünlere gir" seçeneğinin işaretini kaldırmak bunun yapılmasını engeller ve grubu sadece kontrolleri bir ürüne eklendiğinde görünür hale getirir.</p>

<p><a href="./">ana [% terms.bugs %] sayfası</a>na veya

<a href="editgroups.cgi">grup listesine dön</a>.

[% PROCESS global/footer.html.tmpl %] 
