[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # gid: number. The group ID.
  # name: string. The name of the group.
  # description: string. The description of the group.
  # hasusers: boolean int. True if the group includes users in it.
  # hasbugs: boolean int. True if the group includes bugs in it.
  # hasproduct: boolean int. True if the group is binded to a product.
  # hasflags: boolean int. True if the group is used by a flag type.
  # shared_queries: int. Number of saved searches being shared with this group.
  # buglist: string. The list of bugs included in this group.
  #%]


[% PROCESS global/header.html.tmpl
  title = "Grup sil"
  doc_section = "groups.html"
%]

<table border="1">
  <tr>
    <th>Kimlik</th>
    <th>İsim</th>
    <th>Açıklama</th>
  </tr>
  <tr>
    <td>[% gid FILTER html %]</td>
    <td>[% name FILTER html %]</td>
    <td>[% description FILTER html_light %]</td>
  </tr>
</table>

<form method="post" action="editgroups.cgi">
  [% IF hasusers %]
    <p><b>Bu grupa kayıtlı kullanıcılar var. Grubu boşaltmadan silemezsiniz.</b>

    <br><a href="editusers.cgi?action=list&groupid=[% gid FILTER html %]&grouprestrict=1">Bana hangi kullanıcılar olduğunu göster</a> - <input type="checkbox" name="removeusers">Grubu benim yerime boşalt.</p>
  [% END %]

  [% IF hasbugs %]
    <p><b>Bir veya daha fazla [% terms.bug %] raporu sadece bu grup tarafından görüntülenebilir. Grubu, onu kullanan [% terms.bugs %] varken silemezsiniz.</b>

    <br><a href="buglist.cgi?bug_id=[% buglist FILTER html %]">Hangi [% terms.bugs %] hatalar olduğunu göster</a> - <input type="checkbox" name="removebugs">Bu grup sınırlamasaından tüm [% terms.bugsAcc %] benim yerime sil.</p>

    <p><b>NOT:</b> Bu kutuyu işaretleyerek gizli [% terms.bugsAcc %] görünür kılmak mümkündür. Kutuyu işaretlemeden önce bu gruptaki [% terms.bugsAcc %] gözden geçirmeniz <b>şiddetle</b> tavsiye olunur.</p>
  [% END %]

  [% IF hasproduct %]
    <p><b>Bu grup <u>[% name FILTER html %]</u> ürününe bağlı. Bir ürüne bağlı olduğu sürece bu grubu silemezsiniz.</b>

    <br><input type="checkbox" name="unbind">Bu grubu yine de sil ve <U>[% name FILTER html %]</U> ürününü herkes tarafından görülebilir hale getir.</p>
  [% END %]
  
  [% IF hasflags %]
    <p><b>Bu grup belirli bayrakları kimlerin değiştirebileceğini sınırlandırıyor. Bu grubu, onu kullanan bayrak türleri varken silemezsiniz.</b>

    <br><a href="editflagtypes.cgi?action=list&group=[% gid FILTER html %]">Bana hangi türler olduğunu göster</a> - <input type="checkbox" name="removeflags">Benim yerine bu gruptaki tüm bayrak türlerini sil.</p>
  [% END %]

  [% IF shared_queries %]
    <p>
      <b>Bu grupla paylaşılan [% shared_queries %] kayıtlı arama var.</b>
      Eğer bu grubu silerseniz bu kayıtlı arama[% 'lar' IF shared_queries > 1 %] yeniden gizli hale gelir.</p>
  [% END %]

  <h2>Onay</h2>

  <p>Gerçekten bu grubu silmek istiyor musunuz?</p>
  [% IF (hasusers || hasbugs || hasproduct || hasflags) %]
    <p><b>Devam etmeden önce ya yukarıdaki tüm kutuları işaretlemeli ya da belirtilen tüm problemleri gidermelisiniz.</b></p>
  [% END %]

  <p>
    <input type="submit" id="delete" value="Eveti sil">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="group" value="[% gid FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>
</form>

<a href="editgroups.cgi">Grup listesi</a>ne geri dön.

[% PROCESS global/footer.html.tmpl %] 
