[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # group - A Bugzilla::Group representing the group being edited.
  # *_current - Arrays of Bugzilla::Group objects that show the current
  #             values for this group, as far as grants.
  # *_available - Arrays of Bugzilla::Group objects that show the current 
  #               available values for each grant.
  #%]

[% title = BLOCK %][% group.name FILTER html %] Grubunu Değiştir[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "groups.html#edit-groups"
  style = "
    .grant_table { border-collapse: collapse; }
    .grant_table td, .grant_table th {
        padding-left: .5em;
    }
    .grant_table td.one, .grant_table th.one {
        border-right: 1px solid black;
        padding-right: .5em;
    }
  "
%]

<form method="post" action="editgroups.cgi">
  <input type="hidden" name="action" value="postchanges">
  <input type="hidden" name="group_id" value="[% group.id FILTER html %]">

  <table border="1" cellpadding="4">
    <tr>
      <th>Gruplar:</th>
      <td>
        [% IF group.is_bug_group %]
          <input type="text" name="name" size="60" 
                 value="[% group.name FILTER html %]">
        [% ELSE %]
          [% group.name FILTER html %]
        [% END %]
      </td>
    </tr>

    <tr>
      <th>Açıklama:</th>
      <td>
        [% IF group.is_bug_group %]
          <input type="text" name="desc" size="70" 
                 value="[% group.description FILTER html %]">
        [% ELSE %]
          [% group.description FILTER html %]
        [% END %]
      </td>
    </tr>

    <tr>
      <th>Kullanıcılar (Düzenli İfade):</th>
      <td>
        <input type="text" name="regexp" size="40" 
               value="[% group.user_regexp FILTER html %]">
      </td>
    </tr>

    <tr>
      <th>
        Simge Adresi:
        [% IF group.icon_url %]
          <img src="[% group.icon_url FILTER html %]" alt="[% group.name FILTER html %]">
        [% END %]
      </th>
      <td>
        <input type="text" name="icon_url" size="70" maxlength="255"
               value="[% group.icon_url FILTER html %]">
      </td>
    </tr>

    [% IF group.is_bug_group %]
      <tr>
        <th>[% terms.Bugs %] İçin Kullan:</th>
        <td>
          <input type="checkbox" name="isactive" 
                 value="1" [% 'checked="checked"' IF group.is_active %]>
        </td>
      </tr>
    [% END %]
    [% Hook.process('field') %]
  </table>

  <h4>Grup İzinleri</h4>

  <table class="grant_table">
    <tr>
      <th class="one">Bu Grubun Üyesi Olan Gruplar<br>
        (&quot;<var>X</var>'deki kullanıcılar otomatik olarak 
         [%+ group.name FILTER html %]&quot;) içinde</th>
      <th>Bu Grubun Bir Üyesi Olduğu Gruplar<br>
        (&quot;Eğer [% group.name FILTER html %] içindeyseniz, aynı zamanda otomatik olarak
         bunların da içindesiniz&quot;)</th>
    </tr>
    <tr>
      <td class="one">
        [% PROCESS select_pair name = "members" size = 10
                   items_available = members_available
                     items_current = members_current %]
      </td>
  
      <td>[% PROCESS select_pair name = "member_of" size = 10
                     items_available = member_of_available
                       items_current = member_of_current %]</td>
    </tr>
  </table>

  <table class="grant_table">
    <tr>
      <th class="one">
        Bu Gruba Üyelik İzni Verebilen Gruplar<br>
        (&quot;<var>X</var>'deki kullanıcılar diğer kullanıcıları 
         [%+ group.name FILTER html %] grubuna ekleyebilir&quot;)

      </th>
     <th>Bu Grubun Üyelik İzni Verebildiği Gruplar<br>
       (&quot;[% group.name FILTER html %] grubundaki kullanıcılar bu gruplara kullanıcı ekleyebilir&quot;)
     </th>
    </tr>
    <tr>
      <td class="one">
        [% PROCESS select_pair name = "bless_from" size = 10
                   items_available = bless_from_available
                     items_current = bless_from_current %]
      </td>
      <td>[% PROCESS select_pair name = "bless_to" size = 10
                     items_available = bless_to_available
                       items_current = bless_to_current %]
      </td>
    </tr>
  </table>

  [% IF Param('usevisibilitygroups') %]
    <table class="grant_table">
      <tr>
        <th class="one">
          Bu Grubu Görebilen Gruplar<br>
          (&quot;<var>X</var>'deki kullanıcılar 
           [%+ group.name FILTER html %] grubundaki kullanıcıları görebilir&quot;)
        </th>
       <th>Bu Grubun Görebildiği Gruplar<br>
         (&quot;[% group.name FILTER html %] grubundaki kullanıcılar bu gruplardaki kullanıcıları görebilir&quot;)
       </th>
      </tr>
      <tr>
        <td class="one">
          [% PROCESS select_pair name = "visible_from" size = 10
                     items_available = visible_from_available
                       items_current = visible_from_current %]
        </td>
        <td>[% PROCESS select_pair name = "visible_to_me" size = 10
                       items_available = visible_to_me_available
                         items_current = visible_to_me_current %]
        </td>
      </tr>
    </table>
  [% END %]

  <input type="submit" value="Grubu Güncelle">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>
  
<h4>Toplu Silme</h4>

<p>Bu formu kullanarak gruplardan kullanıcıları topluca silebilirsiniz.
  Bu işlev özellikle [% terms.Bugzilla %] 
  2.16'dan yükselttiyseniz kullanışlıdır.</p>

<table><tr><td>
<form method="post" action="editgroups.cgi">
  <fieldset>
    <legend>Oturum açma adları aşağıdaki düzenli ifadeye uyan kullanıcılardan tüm tanımlanmış üyelikleri ([% terms.Bugzilla %] üyeliği hariç) kaldır:</legend>
    <input type="text" size="20" name="regexp">
    <input type="submit" value="Üyelikleri Kaldır">

    <p>Eğer bu alanı boş bırakırsanız, bu gruptaki tüm dış üyelikler kaldırılır.</p>

    <input type="hidden" name="action" value="confirm_remove">
    <input type="hidden" name="group_id" value="[% group.id FILTER html %]">
  </fieldset>
</form>
</td></tr></table>
 
<p><a href="editgroups.cgi">grup listesi</a>ne geri dön.</p>

[% PROCESS global/footer.html.tmpl %] 

[% BLOCK select_pair %]
  <table class="select_pair">
    <tr>
      <th><label for="[% "${name}_add" FILTER html %]">Ekle<br>
        (eklemek için seçin)</label></th>
      <th><label for="[% "${name}_remove" FILTER html %]">Güncel<br>
        (silmek için seçin)</label></th>
    </tr>
    <tr>
      <td>
        <select multiple="multiple" size="[% size FILTER html %]"
                name="[% "${name}_add" FILTER html %]"
                id="[% "${name}_add" FILTER html %]">
          [% FOREACH item = items_available %]
            <option value="[% item.id FILTER html %]">
              [% item.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <td>
        <select multiple="multiple" size="[% size FILTER html %]"
                name="[% "${name}_remove" FILTER html %]"
                id="[% "${name}_remove" FILTER html %]">
          [% FOREACH item = items_current %]
            <option value="[% item.id FILTER html %]">
              [% item.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
    </tr>
  </table>
[% END %]
