[Desktop Entry]
Name=PiSi KGA
Name[en]=Add,Remove or Update Programs 
Name[tr]=Program Ekle, Güncelle veya Kaldır 
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Icon=pisi_kga
Type=Application
Exec=kdesu pisi-kga
Categories=Qt;KDE;System;
