[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=laptop
X-KDE-FactoryName=laptop
X-KDE-Init=laptop
Exec=kcmshell laptop       
Icon=laptop_battery
MiniIcon=laptop_battery
Type=Application
DocPath=kcontrol/laptop/index.html

Categories=Qt;KDE;X-KDE-settings-power;X-KDE-tasma-peripherals

Comment=Laptop Battery
Comment[tr]=Dizüstü Bilgisayar Pili

Name=Laptop Battery
Name[tr]=Dizüstü Pili

Init=klaptop_check

