[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell screensaver
Icon=kscreensaver
Type=Application
DocPath=kcontrol/screensaver/index.html

X-KDE-ModuleType=Library
X-KDE-Library=screensaver
X-KDE-FactoryName=screensaver
X-KDE-ParentApp=tasma

Name=Screen Saver
Name[tr]=Ekran Koruyucusu

Comment=Screen Saver Settings
Comment[tr]=Ekran Koruyucusu Ayarları

Keywords=screensavers,Priority
Keywords[tr]=ekran koruyucular,Öncelik,ekran koruyucusu,ekran koruyucuları

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
