[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell tasmanet
Icon=network_local
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=tasmanet
X-KDE-RootOnly=true
X-KDE-ParentApp=tasma
X-KDE-SubstituteUID=true

Name=Network Configuration
Name[tr]=Ağ Yapılandırması

Categories=Qt;KDE;X-KDE-settings-network;X-KDE-tasma-network
