{% load i18n %}

{% extends "base.html" %}

{% block content %}
    <h1>Pardus Linux Security</h1>
    <p>Security is a primary concern for Pardus Linux. Pardus Security team tracks security <br>
    vulnerabilities from a huge amount of resources including OSS projects, security related news groups and e-mail lists, and end-users. <br>
    <br>
    Our focus is to ensure the confidentiality and security of Pardus Linux, <br>
    thus we effort to give the quickest response while keeping the system stable.
    </p>
    <hr>
    <h1>Keeping Your Pardus Linux Secure</h1>
    <p>
    To keep your system secure, you should keep your system up-to-date and <br>
    receive the latest PLSAs in order to apply PLSA instructions.
    <br><br>
    Pardus Security Team handles security vulnerabilities only in <b>Official Pardus Linux Repositories</b>:<br>
    <a href="http://paketler.pardus.org.tr/info/2009/stable">Pardus 2009 Stable Repo</a>
    <a href="http://paketler.pardus.org.tr/info/2008/stable">Pardus 2008 Stable Repo</a>
    <br><br>
    <b>Note #1</b>: Security is NOT handled in <a href="http://paketler.pardus.org.tr/info/contrib/2009/stable">Pardus Contrib</a> repository.
    <br>
    <b>note #2</b>: Pardus 2007 is no longer supported since 20 march 2009.
    <br>
    <b>note #3</b>: Pardus 2008 is <b>security-only</b> right now. Only security updates are handled as of the release of Pardus 2009.1. Pardus 2008 will no longer be supported with the release of Pardus 2009.2.
    </p>
    <hr>
    <h1>Pardus Linux Security Announcements (PLSAs)</h1>
    <p>
    Pardus Security Team sends out Pardus Linux Security Announcements in order to <br>
    announce new security fixes related to the packages in stable Pardus repository.<br>
    <br>
    PLSAs are available in two languages (English and Turkish) and sent to specific e-mail lists:
    <br><ul>
        <li><a href="http://lists.pardus.org.tr/pardus-security">pardus-security (en)</a></li>
        <li><a href="http://lists.pardus.org.tr/pardus-guvenlik/">pardus-guvenlik (tr)</a></li><br>
    </ul>
    PLSAs are also available via a web interface:<br>
    <ul>
        <li><a href="http://security.pardus.org.tr/en/"> http://security.pardus.org.tr/en (en)</a></li>
        <li><a href="http://security.pardus.org.tr/tr/">http://security.pardus.org.tr/tr (tr)</a></li><br>
    </ul>
    To get the PLSAs via RSS feed:<br>
    <ul>
        <li><a href="http://security.pardus.org.tr/en/rss/">http://security.pardus.org.tr/en/rss/ (en)</a></li>
        <li><a href="http://security.pardus.org.tr/tr/rss/">http://security.pardus.org.tr/tr/rss/ (tr)</a></li><br>
    </ul>

    The older security advisories are also available:·<br>
    <ul>
        <li>Security advisories announced in 2009: <a href="http://security.pardus.org.tr/en/2009/">http://security.pardus.org.tr/en/2009</a></li>
        <li>Security advisories announced in 2008: <a href="http://security.pardus.org.tr/en/2008/">http://security.pardus.org.tr/en/2008</a></li>
        <li>Security advisories announced in 2007: <a href="http://security.pardus.org.tr/en/2007/">http://security.pardus.org.tr/en/2007</a></li>
        <li>Security advisories announced in 2006: <a href="http://security.pardus.org.tr/en/2006/">http://security.pardus.org.tr/en/2006</a></li>
    </ul>
    </p>
    <hr>
    <h1>Pardus Security Team Contact Information</h1>
    <p>
    Please report any instances of security vulnerability which are related with packages<br>
    in Pardus stable repository to Pardus Security Team, security@pardus.org.tr<br><br>

    <b>Note</b>: If you want to correct a published PLSA, please use Pardus bugzilla <br>
    <a href="http://bugs.pardus.org.tr">http://bugs.pardus.org.tr</a> with the bug number referred in the PLSA.
    </p>
    <hr>
    <h1>Recruitment</h1>
    <p>
    We are currently looking for users interested in helping to Pardus Security Team with the following jobs:

    <h4>Pardus Security Testing Team</h4>

    <b>Description:</b> Helping to Pardus Security Team with testing fixed packages in order to prevent 
    <br>Application Program Interface (API) or Application Binary Interface (ABI) break issue.·<br><br>
    <b>Requirements:</b> 
    <br><ul>
        <li>Basic system architecture knowledge (dynamic/static linking)</li>
        <li>Availability to response within maximum 24 hours.</li>
        </ul>
        <br>
        Contact: security@pardus.org.tr<br><br>
    </p>

{% endblock %}

{% block menu %}
    <a href="/{{ language }}/">{% trans "Homepage" %}</a>
    {% for year in years %}
        | <a href="/{{ language }}/{{ year }}/">{{ year }}</a>
    {% endfor %}
    {% for lang in other_languages %}
        | <a href="/{{ lang.code }}">{{ lang.name }}</a>
    {% endfor %}
{% endblock %}
