{% load i18n %}

{% extends "base.html" %}

{% block title %}Advisories of {{ year }} -{% endblock %}

{% block content %}
    <h2>{% blocktrans %}Advisories of {{ year }}{% endblocktrans %}</h2>
    <table>
        <tr class="row0">
            <th>{% trans "Release Date" %}</th>
            <th>{% trans "Advisory" %}</th>
        </tr>
        {% for advisory in advisories %}
        <tr class="{% cycle row1,row2 %}">
            <td>{{ advisory.release_date|escape }}</td>
            <td><a href="/{{ advisory.language.code }}/{{ advisory.plsa_id|escape }}/">[PLSA {{ advisory.plsa_id|escape }}] {{ advisory.title|escape }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block menu %}
    <a href="/{{ language }}/">{% trans "Homepage" %}</a>
    {% for year in years %}
        | <a href="/{{ language }}/{{ year }}/">{{ year }}</a>
    {% endfor %}
    {% for lang in other_languages %}
        | <a href="/{{ lang.code }}">{{ lang.name }}</a>
    {% endfor %}
{% endblock %}
