{% load i18n %}

{% extends "base.html" %}

{% block content %}
    {% for advisory in advisories %}
        <h2>
            <a href="/{{ advisory.language.code }}/{{ advisory.plsa_id|escape }}/">[PLSA {{ advisory.plsa_id|escape }}] {{ advisory.title|escape }}</a>
        </h2>
        <div class="advisory_summary">
            {{ advisory.summary }}
        </div>
        <div class="advisory_packages">
            <strong>{% trans "Affected Packages:" %}</strong> {{ advisory.get_package_names|join:", " }}
        </div>
    {% endfor %}
{% endblock %}

{% block menu %}
    <a href="/{{ language }}/">{% trans "Homepage" %}</a>
    {% for year in years %}
        | <a href="/{{ language }}/{{ year }}/">{{ year }}</a>
    {% endfor %}
    {% for lang in other_languages %}
        | <a href="/{{ lang.code }}">{{ lang.name }}</a>
    {% endfor %}
{% endblock %}
