body {
	font-size: 0.9em;
	font-family: Helvetica,bitstream vera sans,sans-serif;
	text-align: left;
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}

h1 {
        padding: 0;
        font-family: Helvetica,bitstream vera sans,Arial,sans-serif;
        font-weight: bold;
        vertical-align: bottom;
        color: #1B57B1;
        text-align: left;
        width: 100%;
	font-size: 1.75em;
}

h2, .contentheading {
        padding: 0;
        font-family: Helvetica,bitstream vera sans,Arial,sans-serif;
	font-size: 1.25em;
        font-weight: bold;
        vertical-align: bottom;
        color: #1B57B1;
        text-align: left;
        width: 100%;
}

h3 {
	font-size: 1.0em;
        color: #303030;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}

table tr {
	font-size: 0.85em; 
}

a:link {
	color: #606050;
}

a:visited {
	color: #48468f;
}

a:hover {
	color: #f20;
}

#pardus1 {
	font-size: 0.9em;
	min-width: 120px;
	margin: 7px;
}

#pardus-content {
	padding: 24px;
	border: 1px solid #F0F0F0;
	background-color: #FCFCFC;
}

#pardus-footer {
	font-size: 0.75em;
	text-align: center;
	color: #777;
	margin-bottom: 2em;
}

.article .table table th {
	padding: 5px;
	text-align: center;
}

div.heading {
        padding: 4px;
        border: 0.5px solid #cccccc;
        margin: 0.1em 0.1em;
	background-color: #F7F7F7
}
                                                                                                     
div.box {
        padding: 10px;
        border: 0.5px solid #cccccc;
        margin: 0.5em 3em;
	background-color: #F7F7F7
}
