# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=pardus2011.xml
Name=Pardus 2011
Name[af]=Pardus 2011
Name[ar]=
Name[as]=Pardus 2011
Name[be]=Pardus 2011
Name[be@latin]=Pardus 2011
Name[bg]=Pardus 2011
Name[bn]=
Name[bn_IN]=Pardus 2011
Name[ca]=Pardus 2011
Name[ca@valencia]=Pardus 2011
Name[cs]=Pardus 2011
Name[csb]=
Name[da]=Pardus 2011
Name[de]=Pardus 2011
Name[el]=Pardus 2011
Name[en_GB]=Pardus 2011
Name[eo]=Pardus 2011
Name[es]=
Name[et]=Pardus 2011
Name[eu]=Pardus 2011
Name[fi]=Pardus 2011
Name[fr]=Pardus 2011
Name[fy]=Pardus 2011
Name[ga]=Pardus 2011
Name[gl]=Pardus 2011
Name[gu]=
Name[he]=Pardus 2011
Name[hi]=
Name[hne]=
Name[hr]=Pardus 2011
Name[hsb]=Pardus 2011
Name[hu]=Pardus 2011
Name[ia]=Pardus 2011
Name[id]=
Name[is]=Pardus 2011
Name[it]=Pardus 2011
Name[ja]=Pardus 2011
Name[kk]=Pardus 2011
Name[km]=
Name[kn]=
Name[ko]=Pardus 2011
Name[ku]=Pardus 2011
Name[lt]=Pardus 2011
Name[lv]=Pardus 2011
Name[mai]=
Name[mk]=
Name[ml]=
Name[mr]=
Name[nb]=Pardus 2011
Name[nds]=Pardus 2011
Name[ne]=
Name[nl]=Pardus 2011
Name[nn]=
Name[or]=
Name[pa]=
Name[pl]=Pardus 2011
Name[pt]=Pardus 2011
Name[pt_BR]=Pardus 2011
Name[ro]=Pardus 2011
Name[ru]=Pardus 2011
Name[se]=
Name[si]=
Name[sk]=Pardus 2011
Name[sl]=
Name[sr]=
Name[sr@ijekavian]=
Name[sr@ijekavianlatin]=
Name[sr@latin]=
Name[sv]=Pardus 2011
Name[ta]=
Name[te]=Pardus 2011
Name[tg]=Pardus 2011
Name[th]=รูปแบบ Pardus 2011
Name[tr]=Pardus 2011
Name[uk]=Pardus 2011
Name[uz]=Pardus 2011
Name[uz@cyrillic]=Pardus 2011
Name[vi]=Pardus 2011
Name[wa]=
Name[x-test]=xxPardus 2011xx
Name[zh_CN]=Pardus 2011
Name[zh_TW]=Pardus 2011
Description=Pardus 2011 Theme
Description[ar]=
Description[be@latin]=Matyŭ „Pardus 2011”
Description[bg]=Тема Pardus 2011
Description[bn]=
Description[bn_IN]=Pardus 2011 থিম
Description[ca]=Tema Pardus 2011
Description[ca@valencia]=Tema Pardus 2011
Description[cs]=Motiv Pardus 2011
Description[csb]=
Description[da]=Pardus 2011-tema
Description[de]=Pardus 2011-Design
Description[el]=Θέμα του Pardus 2011
Description[en_GB]=Pardus 2011 Theme
Description[eo]=
Description[es]=
Description[et]=Pardus 2011i teema
Description[eu]=Pardus 2011 gaia
Description[fi]=Pardus 2011-teema
Description[fr]=Thème Pardus 2011
Description[fy]=Pardus 2011-tema
Description[ga]=Téama Pardus 2011
Description[gl]=Tema Pardus 2011
Description[gu]=
Description[he]=ערכת־נושא של Pardus 2011
Description[hi]=
Description[hne]=
Description[hr]=Pardus 2011 tema
Description[hsb]=Pardus 2011 Theme
Description[hu]=Pardus 2011 téma
Description[ia]=Thema de Pardus 2011
Description[id]=
Description[is]=Pardus 2011 þema
Description[it]=Tema Pardus 2011
Description[ja]=Pardus 2011 テーマ
Description[kk]=Pardus 2011 нақышы
Description[km]=
Description[kn]=
Description[ko]=Pardus 2011 테마
Description[ku]=Dirbê Pardus 2011
Description[lt]=Pardus 2011 tema
Description[lv]=Pardus 2011 tēma
Description[mai]=
Description[mk]=
Description[ml]=
Description[mr]=
Description[nb]=Pardus 2011-tema
Description[nds]=Pardus 2011-Muster
Description[nl]=Pardus 2011-team
Description[nn]=
Description[pa]=
Description[pl]=Motyw Pardus 2011
Description[pt]=Tema do Pardus 2011
Description[pt_BR]=Tema do Pardus 2011
Description[ro]=Tematica Pardus 2011
Description[ru]=Тема Pardus 2011
Description[si]=Pardus 2011 තේමාව
Description[sk]=Téma Pardus 2011
Description[sl]=
Description[sr]=
Description[sr@ijekavian]=
Description[sr@ijekavianlatin]=
Description[sr@latin]=
Description[sv]=Pardus 2011-tema
Description[ta]=Pardus 2011 Theme
Description[te]=Pardus 2011 థీమ్
Description[tg]=Мавзӯъи Pardus 2011
Description[th]=ชุดตกแต่ง Pardus 2011
Description[tr]=Pardus 2011 Teması
Description[uk]=Тема Pardus 2011
Description[wa]=
Description[x-test]=xxPardus 2011 Themexx
Description[zh_CN]=
Description[zh_TW]=Pardus 2011 主題
Author=Renan Çakırerk
Copyright=(c) 2011 Renan Çakırerk
Screenshot=screenshot.png
