[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "İç Hata" %]

[% error_message = BLOCK %]
  [% IF    error == "action_unrecognized" %]
    [% docslinks = {'query.html' => "$terms.Bugs taranıyor",
                    'query.html#list' => "$terms.Bug listeleri"} %]
    <em>Action</em> (<i>eylem</i>) değişkeninin değerini (<em>[% action FILTER html %]</em>) bilmiyorum.
  
  [% ELSIF error == "attachment_already_obsolete" %]
    Ek #[% attach_id FILTER html %] ([% description FILTER html %]) 
    zaten eskiymiş.

  [% ELSIF error == "auth_invalid_email" %]
    [% title = "Geçersiz Eposta Adresi" %]
    Hesabınızı oluşturmaya veya güncellemeye çalışırken aldığımız eposta adresi (<b>[% addr FILTER html %]</b>)
    geçerli eposta adresi testlerimizden geçemedi.
    [% IF default %]
      Geçerli bir adreste sadece bir tane '@' olabilir ve '@' işaretinden sonra en az bir '.' olmalıdır.
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    Ayrıca bu karakterlerden herhangi birini ve boşluk karakterini içeremez:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>.

  [% ELSIF error == "authres_unhandled" %]
    [% value FILTER html %] sonuç değeri oturum kodu tarafından dikkate alınmadı.

  [% ELSIF error == "bad_page_cgi_id" %]
    [% title = "Geçersiz Sayfa Kimliği" %]
    <code>[% page_id FILTER html %]</code> kimliği geçerli bir sayfa belirteci değil.

  [% ELSIF error == "bad_arg" %]
    <code>[% function FILTER html %]</code> fonksiyonuna
    geçersiz parametre (<code>[% argument FILTER html %]</code>)
    gönderildi.

  [% ELSIF error == "bug_error" %]
    [% terms.bug %] [%+ bug.bug_id FILTER html %] açma çabası [% bug.error FILTER html %] hatasını döndürdü.
    
  [% ELSIF error == "chart_data_not_generated" %]
    [% admindocslinks = {'extraconfig.html' => 'Çizelge Ayarları'} %]
    [% IF product %]
      <em>[% product FILTER html %]</em> ürünü çizelgeleri, ürün oluşturulduğundan beri çizelge yapılabilecek herhangi bir veri toplanamadığı için henüz hazır değil.
    [% ELSE %]
      Henüz hiç çizelge verisi toplanmadı.
    [% END %]
    Lütfen bir gün bekleyip sonra tekrar deneyin.
    Eğer bu mesajı o bir günden sonra aldıysanız, 
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a>
    ile iletişime geçip bu hatayı bildirin.

  [% ELSIF error == "chart_datafile_corrupt" %]
    Çizelge veri dosyası [% file FILTER html %] bozuk.
        
  [% ELSIF error == "chart_dir_nonexistent" %]
    Dizinlerden biri <tt>[% dir FILTER html %]</tt> ve
    <tt>[% graph_dir FILTER html %]</tt> yok.
  
  [% ELSIF error == "chart_file_open_fail" %]
    Çizelge veri dosyası <tt>[% filename FILTER html %]</tt> açılamadı.
  
  [% ELSIF error == "chart_lines_not_installed" %]
    [% admindocslinks = {'installation.html#install-perlmodules' => 'Çizelgeler için gerekli Perl bileşenlerinin yüklenmesi'} %]
    Chart::Lines Perl bileşeni yüklenmeden çizelgeler oluşturulamaz.
    Kurulum yönergeleri için checksetup.pl dosyasını çalıştırın.

  [% ELSIF error == "column_not_null_without_default" %]
    [% name FILTER html %] sütunu eklenemedi:
    <code>$init_value</code> 
    parametresine bir değer atamadan, öntanımlı bir değer belirtmeksizin varolan bir tabloya NOT NULL (boş değil) işaretli bir sütun ekleyemezsiniz.

  [% ELSIF error == "column_not_null_no_default_alter" %]
    [% name FILTER html %] sütununu varsayılan bir değer belirtmeden veya $set_null_to alanına bir değer girmeden NOT NULL (BOŞ OLAMAZ) işaretleyemezsiniz çünkü şu anda bu sütunda NULL (BOŞ) olan hücreler var.

  [% ELSIF error == "db_rename_conflict" %]
    İsim çakışması: [% old FILTER html %] ismini [% new FILTER html %] olarak değiştiremezsiniz çünkü [% new FILTER html %] zaten var.

  [% ELSIF error == "cookies_need_value" %]
    Her çerezin bir değeri olmalıdır.

  [% ELSIF error == "env_no_email" %]
    [% terms.Bugzilla %] çevreden bir eposta adresi alamadı.
    [% IF Param("auth_env_email") %]
      Bu, '[% Param("auth_env_email") FILTER html %]' çevre değişkeninin ya boş olduğu ya da olmadığı anlamına gelir.
    [% ELSE %]
      "auth_env_email" parametresine kullanıcının eposta adresini içerecek olan çevre değişkeninin adını yazmalısınız.
    [% END %]

  [% ELSIF error == "extension_invalid" %]
    [% extension FILTER html %] eklentisindeki [% name FILTER html %] kancası işlenirken bir hata oluştu:
    [% errstr FILTER html %]

  [% ELSIF error == "extern_id_conflict" %]
    Dış kimlik '[% extern_id FILTER html %]' veritabanında '[% username FILTER html %]' için kullanılmış fakat hesabınızın kaynağı bu kimliğin sahibini '[% extern_user FILTER html %]' olarak raporluyor.

  [% ELSIF error == "field_type_mismatch" %]
    <code>[% field FILTER html %]</code> ve <code>[% type FILTER html %]</code>; ikisiyle birden başa çıkamıyorum.

  [% ELSIF error == "field_not_custom" %]
    '[% field.description FILTER html %]' ([% field.name FILTER html %])
    özel oluşturulmuş bir alan değil.

  [% ELSIF error == "gd_not_installed" %]
    [% admindocslinks = {'installation.html#install-perlmodules' => 'Çizelgeler için gerekli Perl bileşenlerinin yüklenmesi'} %]
    Çizelgeler GD Perl bileşeni yüklenmeden çalışmaz. Kurulum yönergeleri için checksetup.pl'yi çalıştırın.

  [% ELSIF error == "illegal_content_type_method" %]
    Gönderdiğiniz form bir şekilde bozuldu. İçerik türünün nasıl belirlendiğini belirten <em>içerik yöntemi</em> 
    alanı <em>autodetect</em>, <em>list</em>, veya <em>manual</em> olmalıydı fakat
    <em>[% contenttypemethod FILTER html %]</em> olarak geldi.

  [% ELSIF error == "illegal_field" %]
    Geçerli bir [% field FILTER html %] atanmış değildi.

  [% ELSIF error == "inactive_group" %]
    [% terms.Bugs %] için kullanılmayan '[% name FILTER html %]' grubuna [% terms.bug %] eklemeye çalıştınız.

  [% ELSIF error == "invalid_attach_id_to_obsolete" %]
     'Eskidi' olarak işaretlemeye çalıştığınız eklerin bir tanesinin ek numarası ([% attach_id FILTER html %]) geçersiz.
          
  [% ELSIF error == "invalid_column_name_cookie" %]
    [% title = "Geçersiz Sütun Adı" %]
     Tarayıcınızda kayıtlı çerezde belirtilen özelleştirilmiş sıralama geçersiz bir sütun adı içeriyor (<em>[% fragment FILTER html %]</em>). Çerez bilgisayarınızdan temizlendi.
         
  [% ELSIF error == "invalid_column_name_form" %]
    [% title = "Geçersiz Sütun Adı" %]
     Gönderdiğiniz formda belirtilen özelleştirilmiş sıralama geçersiz bir sütun adı içeriyor (<em>[% fragment FILTER html %]</em>).

  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "Geçersiz Alan Türü" %]
    The type <em>[% type FILTER html %]</em> is not a valid field type.

  [% ELSIF error == "invalid_dimensions" %]
    [% title = "Boyutlar Geçersiz" %]
    Belirtilen genişlik veya yükseklik pozitif bir tamsayı değil.

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "Geçersiz Bayrak İlişkilendirmesi" %]
    Bazı bayraklar Some flags do not belong to
    [% IF attach_id %]
      [% attach_id FILTER html %] ekine
    [% ELSE %]
      [%+ bug_id FILTER html %] [%+ terms.bugDat %] 
    [% END %]
    ait değil.

  [% ELSIF error == "invalid_series_id" %]
    [% title = "Geçersiz Seri" %]
    series_id [% series_id FILTER html %] geçerli değil. Bu seri silinmiş olabilir.

  [% ELSIF error == "invalid_webservergroup" %]
    There is no such group: [% group FILTER html %]. Check your $webservergroup
    setting in [% constants.bz_locations.localconfig FILTER html %].

  [% ELSIF error == "mismatched_bug_ids_on_obsolete" %]
    Ek [% attach_id FILTER html %] ([% description FILTER html %]) 
    [%+ attach_bug_id FILTER html %] numaralı [% terms.bugDat %] ekli, 
    fakat siz [%+ my_bug_id FILTER html %] numaralı [% terms.bugDat %] yeni bir ek oluştururken onu eski olarak işaretlemeye çalıştınız.

  [% ELSIF error == "flags_not_available" %]
    [% title = "Bayrak Değiştirmeye İzin Yok" %]
    [% IF type == "b" %]
      Bir kerede birden fazla [% terms.bugLoc %] değişiklik yaparken bayrakları değiştiremezsiniz.
    [% ELSE %]
      Yeni bir ek oluştururken varolan bayraklara referanslar geçersizdir.
    [% END %] 

  [% ELSIF error == "flag_requestee_disabled" %]
    [% title = "Bayrak Belirli Bir Kişiden İstenemez" %]
    <em>[% type.name FILTER html %]</em>
    belirli bir kişiden istenemez.
  
  [% ELSIF error == "flag_status_invalid" %]
    Bayrak 
    [% IF id %]
      kimliği #[% id FILTER html %] için bayrak
    [% END %]
    durumu (<em>[% status FILTER html %]</em>)
    geçersiz.

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "Etkin Olmayan Bayrak Türü" %]
    Bayrak türü [% type FILTER html %] etkin değil ve yeni bayraklar oluşturmak için kullanılamaz.

  [% ELSIF error == "flag_type_nonexistent" %]
    <em>[% id FILTER html %]</em> kimliğini taşıyan bir bayrak türü yok.

  [% ELSIF error == "flag_type_target_type_invalid" %]
    Hedef türü ne <em>[% terms.bug %]</em> ne de <em>ek</em> idi,
    onun yerine <em>[% target_type FILTER html %]</em>
    olarak atanmıştı.
  
  [% ELSIF error == "invalid_field_name" %]
    [% field FILTER html %] bir alan adı olarak kullanılamaz.

  [% ELSIF error == "invalid_keyword_id" %]
    Anahtar kimliği <em>[% id FILTER html %]</em> 
    bulunamadı.

  [% ELSIF error == "invalid_user" %]
    [% title = "Geçersiz Kullanıcı" %]
    [% IF user_id %]
      Kimliği <em>[% user_id FILTER html %]</em>
    [% ELSIF user_login %]
      Oturum açma adı <em>[% user_login FILTER html %]</em>
    [% ELSE %]
      Verilmiş 
    [% END %]
    olan kullanıcı yok.

  [% ELSIF error == "ldap_bind_failed" %]
    LDAP sunucusuna bağlantı sabitlenemedi. Hata mesajı:
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    Belirtilen LDAP özniteliği ([% attr FILTER html %]) bulunamadı.

  [% ELSIF error == "ldap_connect_failed" %]
    LDAP sunucusuna (<code>[% server FILTER html %]</code>) bağlanılamadı.

  [% ELSIF error == "ldap_start_tls_failed" %]
    LDAP sunucusuyla TLS başlatılamadı: <code>[% error FILTER html %]</code>.

  [% ELSIF error == "ldap_search_error" %]
    LDAP'de &quot;[% username FILTER html %]&quot; aranırken bir hata oluştu: 
   <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_server_not_defined" %]
    Kimlik denetimi için kullanılacak LDAP sunucusu tanımlanmamış.

  [% ELSIF error == "mail_send_error" %]
    '[% mail.header('From') FILTER html %]' adresinden
    '[% mail.header('To') FILTER html %]' adresine eposta gönderilemedi:
    [% msg FILTER html %]

  [% ELSIF error == "missing_bug_id" %]
    [% terms.Bug %] kimliği verilmedi.
    
  [% ELSIF error == "missing_series_id" %]
    Veritabanına bir seri girildikten sonra, series_id dönmedi.
    Seri: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %].
    
  [% ELSIF error == "need_quipid" %]
    Geçerli bir nükte kimliği gerekiyor.

  [% ELSIF error == "no_manual_moved" %]
    [% terms.BugAcc %] taşımadan durumunu TAŞINDI olarak değiştiremezsiniz.

  [% ELSIF error == "no_open_bug_status" %]
    [% title = "$terms.Bug Cannot Be Confirmed" %]
    There is no valid transition from
    [%+ get_status("UNCONFIRMED") FILTER html %] to an open state.

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "Geçersiz Parametre" %]
    [% function FILTER html %] fonksiyonuna geçersiz parametre geldi.
    Sayısal olmalı.

  [% ELSIF error == "param_required" %]
    [% title = "Kayıp Parametre" %]
    <code>[% function FILTER html %]</code> fonksiyonu
    bir <code>[% param FILTER html %]</code> parametresi gerektiriyor fakat o parametre gelmedi.

  [% ELSIF error == "protection_violation" %]
    Paketin dışından
    [% IF caller %]
        <code>[%+ caller FILTER html %]</code> tarafından 
    [% END %]
    <code>[% function FILTER html %]</code> fonksiyonu 
    [% IF argument %]
        <code>[% argument FILTER html %]</code> parametresiyle
    [% END %]
    çağırıldı. Bu fonksiyon sadece 
    <code>[% superclass FILTER html %]</code> sınıfının altsınıfları tarafından çağrılabilir.

  [% ELSIF error == "radius_preparation_error" %]
    RADIUS kimlik doğrulama isteği hazırlanırken bir hata oluştu:
    <code>[% errstr FILTER html %]</code>.

  [% ELSIF error == "unknown_comparison_type" %]
    Belirtilen karşılaştırma türü desteklenmiyor.

  [% ELSIF error == "request_queue_group_invalid" %]
    <em>[% group FILTER html %]</em> grup alanı geçersiz.

  [% ELSIF error == "report_axis_invalid" %]
    <em>[% val FILTER html %]</em> 
    [%+ IF    fld == "x" %]yatay eksen 
    [%+ ELSIF fld == "y" %]dikey eksen 
    [%+ ELSIF fld == "z" %]birden fazla tablo veya resim 
    [%+ ELSE %]bir raporlama ekseni[% END %] alanı olarak 
    geçerli bir değer değil.

  [% ELSIF error == "setting_info_invalid" %]
    Yeni bir ayar oluştururken bir ayar adı, değer/sıralama endeksi çiftleri ve öntanımlı değer belirtmelisiniz.

  [% ELSIF error == "setting_name_invalid" %]
    Ayar adı <em>[% name FILTER html %]</em> 
    geçerli bir seçenek değil. Ayar adları bir harfle başlamalıdır ve sadece harf, sayı ve 
    '_', '-', '.', ve ':' işaretlerini içerebilir.

  [% ELSIF error == "setting_subclass_invalid" %]
    <code>[% subclass FILTER html %]</code>
    diye bir Ayar alt sınıfı yok.

  [% ELSIF error == "setting_value_invalid" %]
    "<code>[% value FILTER html %]</code>" değeri, <em>[% name FILTER html %]</em> ayarı için geçerli bir değer değil.

  [% ELSIF error == "soap_not_installed" %]
    [% admindocslinks = {'installation.html#install-perlmodules' => 'Perl bileşenlerini yüklemek'} %]
    XMLRPC arayüzü SOAP::Lite Perl bileşeni yüklü olmadan çalışmaz.
    Kurulum yönergeleri için checksetup.pl'yi çalıştırın.

  [% ELSIF error == "token_generation_error" %]
    Bilet oluşturma sisteminde çok ciddi bir terslik var.

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    Kanca çağrısında geçersiz dosya adı olan bir şablon bulundu: [% name FILTER html %].

  [% ELSIF error == "unable_to_retrieve_password" %]
     Veritabanından eski parolanızı getiremiyorum.

  [% ELSIF error == "undefined_field" %]
    [% field FILTER html %] form alanı tanımlı değil.
    
  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       [% action FILTER html %] eylemi bilinmiyor!
    [% ELSE %]
       Ne yapmak istediğinizi anlayamadım.
    [% END %]

  [% ELSIF error == "usage_mode_invalid" %]
    '[% invalid_usage_mode FILTER html %]' geçerli bir kullanım kipi değil.

  [% ELSIF error == "must_be_patch" %]
    [% title = "Ek Yama Olmalı" %]
    #[% attach_id FILTER html %] eki bir yama olmalı.

  [% ELSIF error == "not_in_transaction" %]
    Aktarım (transaction) başlatmadan bitirmeye çalışıldı.

  [% ELSIF error == "comma_operator_deprecated" %]
    [% title = "SQL sorgu oluşturucusunda iç hata" %]
    SQL sorgusu oluşturan kodda bir hata bulunuyor. Sorgular örtük (implicit) JOIN ile oluşturulacak.

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    post_bug_submit_action ayarı hatalı.

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "İç hata" %]
      Bir iç hata oluştu, fakat [% terms.Bugzilla %] 
      <code>[% error FILTER html %]</code> ne demek bilmiyor.

      Eğer siz bir [% terms.Bugzilla %] son kullanıcısı iseniz, lütfen bu sayfayı kaydedin ve ilgili kişiye ([% Param('maintainer') %]) gönderin.
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<tt>
  <p>
    [% terms.Bugzilla %] iç bir hata yaşadı. Lütfen bu sayfayı kaydedin ve 
    [% Param("maintainer") %] adresine bu mesaj çıktığında neler yaptığınıza dair detayları da anlatarak gönderin.
  </p>
  <script type="text/javascript"> <!--
    document.write("<p>URL: " + 
                    document.location.href.replace(/&/g,"&amp;")
                                          .replace(/</g,"&lt;")
                                          .replace(/>/g,"&gt;") + "</p>");
  // -->
  </script>
</tt>

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

[% IF variables %]
  <pre>
Variables:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
