[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% PROCESS global/variables.none.tmpl %]

[% field_descs = { "[Bug creation]"          => "[$terms.Bug creation]",
                   "actual_time"             => "Güncel Saatler"
                   "alias"                   => "Sembolik Ad",
                   "assigned_to"             => "Atanan",
                   "attach_data.thedata"     => "Ek verisi",
                   "attachments.description" => "Ek açıklaması",
                   "attachments.filename"    => "Ek dosya adı",
                   "attachments.mimetype"    => "Ek dosya türü",
                   "attachments.ispatch"     => "Ek bir yama",
                   "attachments.isobsolete"  => "Ek eski olarak işaretli",
                   "attachments.isprivate"   => "Ek gizli olarak işaretli",
                   "attachments.isurl"       => "Ek bir URL",
                   "attachments.submitter"   => "Eki oluşturan",
                   "blocked"                 => "Engellediği",
                   "bug_file_loc"            => "URL",
                   "bug_group"               => "Grup",
                   "bug_id"                  => "$terms.Bug Numarası",
                   "bug_severity"            => "Önem",
                   "bug_status"              => "Durum",
                   "changeddate"             => "Değişti",
                   "cc"                      => "Haber verilecekler",
                   "classification"          => "Sınıflandırma",
                   "cclist_accessible"       => "Haber verilecekler listesi erişilebilir mi?",
                   "commenter"               => "Yorum Yazan",
                   "component_id"            => "Bileşen Numarası",
                   "component"               => "Bileşen",
                   "content"                 => "Content",
                   "creation_ts"             => "Oluşturma zamanı",
                   "deadline"                => "Son teslim tarihi",
                   "delta_ts"                => "Fark zaman etiketi",
                   "dependson"               => "Bağımlı olduğu",
                   "dup_id"                  => "Aynısı olduğu",
                   "estimated_time"          => "Öngörülen zaman",
                   "everconfirmed"           => "Onaylandı mı?",
                   "flagtypes.name"          => "Bayrak",
                   "keywords"                => "Anahtarlar",
                   "longdesc"                => "Açıklama",
                   "longdescs.isprivate"     => "Yorum gizli",
                   "newcc"                   => "Haber verilecekler",
                   "op_sys"                  => "İşletim Sistemi",
                   "opendate"                => "Açılma tarihi",
                   "owner_idle_time"         => "Atanan Dokunduğundan Beri Geçen Zaman",
                   "percentage_complete"     => "Tamamlanma %",
                   "priority"                => "Öncelik",
                   "product_id"              => "Ürün Numarası",
                   "product"                 => "Ürün",
                   "qa_contact"              => "Kalite Sorumlusu",
                   "remaining_time"          => "Saat Kaldı",
                   "rep_platform"            => "Donanım",
                   "reporter"                => "Raporlayan",
                   "reporter_accessible"     => "Raporlayan erişilebilir mi?",
                   "requestees.login_name"   => "Bayrak İsteyen",
                   "resolution"              => "Çözüm",
                   "setters.login_name"      => "Bayrak Atayan",
                   "setting"                 => "Tercih",
                   "settings"                => "Tercihler",
                   "short_desc"              => "Özet",
                   "status_whiteboard"       => "Beyaz Tahta",
                   "target_milestone"        => "Hedef Mihenktaşı",
                   "version"                 => "Sürüm",
                   "votes"                   => "Oylar",
                   "work_time"               => "Çalışılan Süre"} %]

[%# Also include any custom fields or fields which don't have a
    Description here, by copying their Description from the
    database. If you want to override this for your language
    or your installation, just use a hook. %]

[% UNLESS Param('shutdownhtml') %]
  [% USE Bugzilla %]
  [% FOREACH bz_field = bug_fields.values %]
    [% SET field_descs.${bz_field.name} = bz_field.description
       IF !field_descs.${bz_field.name}.defined %]
  [% END %]
[% END %]

[% field_types = { ${constants.FIELD_TYPE_UNKNOWN}       => "Belirsiz Tür",
                   ${constants.FIELD_TYPE_FREETEXT}      => "Serbest Metin",
                   ${constants.FIELD_TYPE_SINGLE_SELECT} => "Tekli Seçim Kutusu",
                   ${constants.FIELD_TYPE_MULTI_SELECT}  => "Çoklu Seçim Kutusu",
                   ${constants.FIELD_TYPE_TEXTAREA}      => "Büyük Metin Kutusu",
                   ${constants.FIELD_TYPE_DATETIME}      => "Tarih/Zaman",
                } %]

[% status_descs = { "UNCONFIRMED" => "ONAYLANMADI",
                    "NEW"         => "YENİ",
                    "ASSIGNED"    => "ATANDI",
                    "REOPENED"    => "TEKRAR AÇILDI",
                    "RESOLVED"    => "KARAR VERİLDİ",
                    "VERIFIED"    => "ONAYLANDI",
                    "CLOSED"      => "KAPATILDI" } %]

[% MACRO get_status(status) GET status_descs.$status || status %]

[% resolution_descs = { "FIXED"      => "ÇÖZÜLDÜ",
                        "INVALID"    => "GEÇERSİZ",
                        "WONTFIX"    => "DÜZELTİLMEYECEK",
                        "DUPLICATE"  => "AYNISI",
                        "WORKSFORME" => "EVDE ÇALIŞIYOR",
                        "MOVED"      => "TAŞINDI",
                        "---"        => "---",
                        " "          => " " } %]

[% MACRO get_resolution(res) GET resolution_descs.$res || res %]

[% Hook.process("end") %]
