[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# This is a list of all the possible messages. Please keep them in
  # alphabetical order by message tag, and leave a blank line between messages.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% message_tag = message %]

[% message = BLOCK %]
  [% IF    message_tag == "account_created" %]
    [% title = "User $otheruser.login created" %]
    Yeni bir kullanıcı hesabı ([% otheruser.login FILTER html %]) başarılı şekilde oluşturuldu.
    [% IF groups.size %]
      Aşağıdaki formu kullanarak grup ayarlarını değiştirebilirsiniz.
    [% END %]
    [% IF login_info %]
      Şimdi bu [% terms.Bugzilla %] kurulumuna girmek için <a href="index.cgi">Oturum Aç</a>ma sayfasına gidebilirsiniz.
    [% END %]

  [% ELSIF message_tag == "account_creation_canceled" %]
    [% title = "Kullanıcı Hesabını Oluşturma İptal Edildi" %]
    [% account FILTER html %] kullanıcı hesabının oluşturulması iptâl edildi.

  [% ELSIF message_tag == "account_updated" %]
    [% IF changed_fields.size
          + groups_added_to.size + groups_removed_from.size
          + groups_granted_rights_to_bless.size + groups_denied_rights_to_bless.size %]
      [% title = "$loginold kullanıcısı güncellendi" %]
      [%+ loginold FILTER html %] kullanıcı hesabına aşağıdaki değişiklikler yapıldı:
      <ul>
        [% FOREACH field = changed_fields %]
          <li>
            [% IF    field == 'login_name' %]
              Oturum açma kimliği artık [% otheruser.login FILTER html %].
            [% ELSIF field == 'realname' %]
              Gerçek isim güncellendi.
            [% ELSIF field == 'cryptpassword' %]
              Parola değiştirildi.
            [% ELSIF field == 'disabledtext' %]
              Kapatma metni değiştirildi.
            [% ELSIF field == 'disable_mail' %]
              [% IF otheruser.email_disabled %]
                [% terms.Bug %] epostaları kapatıldı.
              [% ELSE %]
                [% terms.Bug %] epostaları açıldı.
              [% END %]
            [% END %]
          </li>
        [% END %]
        [% IF groups_added_to.size %]
          <li>
            Hesap 
            [%+ groups_added_to.join(', ') FILTER html %]
            [% IF groups_added_to.size > 1 %]
              gruplarına
            [% ELSE %]
              grubuna
            [% END%]
            eklendi.
          </li>
        [% END %]
        [% IF groups_removed_from.size %]
          <li>
            Hesap 
            [%+ groups_removed_from.join(', ') FILTER html %]
            [% IF groups_removed_from.size > 1 %]
              gruplarından
            [% ELSE %]
              grubundan
            [% END%]
            çıkarıldı.
          </li>
        [% END %]
        [% IF groups_granted_rights_to_bless.size %]
          <li>
            Hesaba 
            [%+ groups_granted_rights_to_bless.join(', ') FILTER html %]
            [% IF groups_granted_rights_to_bless.size > 1 %]
              gruplarını
            [% ELSE %]
              grubunu
            [% END%]
            yönetme hakkı verildi.
          </li>
        [% END %]
        [% IF groups_denied_rights_to_bless.size %]
          <li>
            Hesaba
            [%+ groups_denied_rights_to_bless.join(', ') FILTER html %]
            [% IF groups_denied_rights_to_bless.size > 1 %]
              gruplarını
            [% ELSE %]
              grubunu
            [% END%]
            yönetme hakkı verilmedi.
          </li>
        [% END %]
      </ul>
    [% ELSE %]
      [% title = "Kullanıcı $otheruser.login değiştirilmedi" %]
      Kullanıcı hesabı 
      [%+ otheruser.login FILTER html %] 
      üzerinde herhangi bir değişiklik istemediniz.
    [% END %]

  [% ELSIF message_tag == "account_deleted" %]
    [% title = "User $otheruser.login deleted" %]
    [% otheruser.login FILTER html %] kullanıcı hesabı başarılı şekilde değiştirildi.

  [% ELSIF message_tag == "attachment_creation_failed" %]
    [% terms.bug %] başarılı şekilde oluşturuldu ama ek oluşturma işlemi başarısız oldu.
    Lütfen eki aşağıdaki "Yeni Ek Oluştur" bağlantısını kullanarak oluşturun.

  [% ELSIF message_tag == "bug_confirmed_by_votes" %]
    *** Bu [% terms.bug %] çoğunluk oyla onaylandı. ***

  [% ELSIF message_tag == "bug_duplicate_of" %]
    *** Bu [% terms.bug %] [%+ dupe_of FILTER html %] numaralı [% terms.bugGen %] aynısı olarak işaretlendi. ***

  [% ELSIF message_tag == "bug_has_duplicate" %]
    *** [% terms.Bug %] [%+ dupe FILTER html %] bu [% terms.bugGen %] aynısı olarak işaretlendi. ***

  [% ELSIF message_tag == "bug_moved_to" %]
    <p>[% terms.Bug %] [% Param("move-to-url") FILTER html %] adresine taşındı.</p>
    <p>Taşıma başarılı olduysa, [% login FILTER html %] diğer veritabanındaki yeni [% terms.bugGen %] numarasını içeren bir eposta alacak.
    Eğer herşey yolunda gittiyse, lütfen bu [% terms.bugAcc %] onaylanmış olarak işaretleyin ve yeni [% terms.bugDat %] bir bağlantı yapıştırın. Aksi taktirde, bu [% terms.bugAcc %] yeniden açmalısınız.

  [% ELSIF message_tag == "buglist_adding_field" %]
    [% title = "Arama sayfasına alan ekleniyor..." %]
    [% link  = "Eğer sayfa kendini otomatik olarak yenilemezse buraya tıklayın." %]

  [% ELSIF message_tag == "buglist_updated_named_query" %]
    <code><a 
     href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% queryname FILTER url_quote %]"
    >[% queryname FILTER html %]</a></code> isimli aramanız güncellendi.

  [% ELSIF message_tag == "buglist_new_default_query" %]
    Tamam, artık yeni bir öntanımlı aramanız var. Ayrıca yaptığınız herhangi bir yeni aramayı yer imlerine de alabilirsiniz.

  [% ELSIF message_tag == "buglist_new_named_query" %]
    Tamam, artık <code><a
     href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% queryname FILTER url_quote %]"
    >[% queryname FILTER html %]</a></code> adında yeni bir aramanız var.

  [% ELSIF message_tag == "buglist_query_gone" %]
    [% title = "Arama silindi" %]
    [% link  = "Arama sayfasına geri dön." %]
    Tamam, <b>[% namedcmd FILTER html %]</b> araması silindi.

  [% ELSIF message_tag == "buglist_sorted_by_relevance" %]
    Bu listedeki [% terms.bugs %], en ilgili [% terms.bugs %] üstte olacak şekilde, ilgiye göre sıralıdır.
    [% IF bugs.size == constants.FULLTEXT_BUGLIST_LIMIT %]
      Sadece [% constants.FULLTEXT_BUGLIST_LIMIT FILTER html %]
      en ilgili [% terms.bugs %] hatalar gösteriliyor.
    [% END %]

  [% ELSIF message_tag == "change_columns" %]
    [% title = "Sütunları değiştir" %]
    Aramanız yeni sütunlarla yeniden yapılıyor...
    Eğer sayfa otomatik olarak yenilenmezse <a href="[% redirect_url FILTER html %]">buraya</a>
    tıklayın.

  [% ELSIF message_tag == "classification_created" %]
    [% title = "Yeni Sınıf Oluşturuldu" %]
    <em>[% classification.name FILTER html %]</em> sınıfı oluşturuldu.

  [% ELSIF message_tag == "classification_deleted" %]
    [% title = "Sınıf Silindi" %]
    <em>[% classification FILTER html %]</em> sınıfı silindi.

  [% ELSIF message_tag == "classification_updated" %]
    [% IF updated_classification || updated_description || updated_sortkey %]
      [% title = "Sınıf Güncellendi" %]
      <em>[% classification FILTER html %]</em> sınıfına yapılan değişiklikler kaydedildi:
      <ul>
        [% IF updated_classification %]
          <li>Sınıf adı güncellendi</li>
        [% END %]
        [% IF updated_description %]
          <li>Açıklama güncellendi</li>
        [% END %]
        [% IF updated_sortkey %]
          <li>Sıralama anahtarı güncellendi</li>
        [% END %]
      </ul>
    [% ELSE %]
      <em>[% classification FILTER html %]</em> sınıfında herhangi bir değişiklik yapılmadı.
    [% END %]

  [% ELSIF message_tag == "component_created" %]
    [% title = "Bileşen Oluşturuldu" %]
    <em>[% comp.name FILTER html %]</em> bileşeni oluşturuldu.

  [% ELSIF message_tag == "component_deleted" %]
    [% title = "Bileşen Silindi" %]
    <em>[% comp.name FILTER html %]</em> bileşeni silindi.
    [% IF comp.bug_count %]
      Bu bileşendeki tüm [% terms.bugs %] ve onlara yapılan tüm başvurular da silindi.
    [% END %]

  [% ELSIF message_tag == "component_updated" %]
    [% title = "Component Updated" %]
    [% IF changes.keys.size %]
      <em>[% comp.name FILTER html %]</em> bileşenine yapılan değişiklikler kaydedildi:
      <ul>
      [% IF changes.name.defined %]
        <li>İsim '[% comp.name FILTER html %]' olarak güncellendi</li>
      [% END %]
      [% IF changes.description.defined %]
        <li>Açıklama '[% comp.description FILTER html_light %]' olarak güncellendi</li>
      [% END %]
      [% IF changes.initialowner.defined %]
        <li>Öntanımlı sorumlu '[% comp.default_assignee.login FILTER html %]' olarak güncellendi</li>
      [% END %]
      [% IF changes.initialqacontact.defined %]
        [% IF comp.default_qa_contact.id %]
          <li>Öntanımlı kalite kontrol kişisi '[% comp.default_qa_contact.login FILTER html %]' olarak güncellendi</li>
        [% ELSE %]
          <li>Öntanımlı kalite kontrol kişisi silindi</li>
        [% END %]
      [% END %]
      [% IF changes.cc_list.defined %]
        [% IF comp.initial_cc.size %]
          [% cc_list = [] %]
          [% FOREACH cc_user = comp.initial_cc %]
            [% cc_list.push(cc_user.login) %]
          [% END %]
          <li>Öntanımlı haber verilecekler listesi [% cc_list.join(", ") FILTER html %] olarak güncellendi</li>
        [% ELSE %]
          <li>Öntanımlı haber verilecekler listesi silindi</li>
        [% END %]
      [% END %]
    [% ELSE %]
      <em>[% comp.name FILTER html %]</em> bileşenine herhangi bir değişiklik yapılmadı.
    [% END %]

  [% ELSIF message_tag == "custom_field_created" %]
    [% title = "Özel Alan Oluşturuldu" %]
    Yeni özel alan '[% field.name FILTER html %]' başarıyla oluşturuldu.

  [% ELSIF message_tag == "custom_field_deleted" %]
    [% title = "Özel Alan Silindi" %]
    '[% field.name FILTER html %]' özel alanı başarıyla oluşturuldu.

  [% ELSIF message_tag == "custom_field_updated" %]
    [% title = "Özel Alan Güncellendi" %]
    '[% field.name FILTER html %]' alanının özellikleri başarıyla güncellendi.

  [% ELSIF message_tag == "default_settings_updated" %]
    [% IF changes_saved %]
      Öntanımlı tercihlere yapılan değişiklikler kaydedildi.
    [% ELSE %]
      Herhangi bir değişiklik yapılmadı.
    [% END %]

  [% ELSIF message_tag == "emailold_change_canceled" %]
    [% title = "Eposta Adresini Değiştirme İsteğini İptal Et" %]
    Hesabınızın eposta adresini 
    [%+ new_email FILTER html %] olarak değiştirme isteği iptal edildi.

  [% ELSIF message_tag == "email_change_canceled" %]
    [% title = "Eposta Adresini Değiştirme İsteğini İptal Et" %]
    [%+ old_email FILTER html %] hesabının eposta adresini 
    [%+ new_email FILTER html %] olarak değiştirme isteği iptal edildi.

  [% ELSIF message_tag == "email_change_canceled_reinstated" %]
    [% title = "Eposta Adresini Değiştirme İsteğini İptal Et" %]
    [%+ old_email FILTER html %] hesabının eposta adresini 
    [%+ new_email FILTER html %] olarak değiştirme isteği iptal edildi.
   Eski hesap ayarlarınıza geri dönüldü.

  [% ELSIF message_tag == "field_value_created" %]
    [% title = "Yeni Alan Değeri Oluşturuldu" %]
    <em>[% value FILTER html %]</em> değeri <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>) alanına girilebilecek değerler arasına eklendi.
    [% IF field.name == "bug_status" %]
      Şimdi yeni [% terms.bug %] durumunu dahil etmek için <a href="editworkflow.cgi">durum akış şeması sayfası</a>
      sayfasını ziyaret edin.
    [% END %]

  [% ELSIF message_tag == "field_value_deleted" %]
    [% title = "Field Value Deleted" %]
    <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>) alanının 
    <em>[% value FILTER html %]</em> değeri
    silindi.

  [% ELSIF message_tag == "field_value_updated" %]
    [% title = "Alan Değeri Güncellendi" %]
    [% IF updated_value || updated_sortkey %]
      <em>[% field.description FILTER html %]</em>
      (<em>[% field.name FILTER html %]</em>) alanının <em>[% value FILTER html %]</em> değerine yapılan değişiklikler değiştirildi:
      <ul>
        [% IF updated_value %]
          <li>Field value updated to <em>[% value FILTER html %]</em></li>
          [% IF default_value_updated %]
            (bu değer bu alan için öntanımlı değerdir. Öntanımlı değere yapılan tüm başvurular artık bu yeni değeri gösterecek)
          [% END %]
        [% END %]
        [% IF updated_sortkey %]
          <li>Alan değeri sıralama anahtarı <em>[% sortkey FILTER html %]</em></li> olarak güncellendi.
        [% END %]
      </ul>
    [% ELSE %]
      <em>[% value FILTER html %]</em> alan değerine herhangi bir değişiklik yapılmadı.
    [% END %]

  [% ELSIF message_tag == "flag_cleared" %]
    Bazı bayraklar yeni ürün/bileşene uygulanamadı ve temizlendi.

  [% ELSIF message_tag == "flag_creation_failed" %]
    [% title = "Bayrak Oluşturma Hatası" %]
    Bayrakları doğrularken bir hata oluştu:
    [%+ flag_creation_error FILTER none %]

  [% ELSIF message_tag == "get_field_desc" %]
    [% field_descs.$field_name FILTER html %]

  [% ELSIF message_tag == "get_resolution" %]
    [% get_resolution(resolution) FILTER html %]

  [% ELSIF message_tag == "get_status" %]
    [% get_status(status) FILTER html %]

  [% ELSIF message_tag == "group_created" %]
    [% title = "Yeni Grup Oluşturuldu" %]
    <em>[% group.name FILTER html %]</em> grubu oluşturuldu.

  [% ELSIF message_tag == "group_deleted" %]
    [% title = "Grup Silindi" %]
    <em>[% name FILTER html %]</em> grubu silindi.

  [% ELSIF message_tag == "group_membership_removed" %]
    [% title = "Grup Üyeliği Silindi" %]
    [% IF users.size %]
      [% IF regexp %]'[% regexp FILTER html %]' düzenli ifadesine uyan kişilerin [% END %]
      <em>[% group FILTER html %]</em> grubuna üyelik[% IF regexp %]leri[% END %] kaldırıldı:
      [% FOREACH user = users %]
        [%+ user.login FILTER html %]
      [% END %]
    [% ELSE %]
      Bu eylemden hiçbir kullanıcı etkilenmedi.
    [% END %]

  [% ELSIF message_tag == "group_updated" %]
    [% IF changes.keys.size %]
      '[% group.name FILTER html %]' 
      grubuna şu değişiklikler yapıldı:
      <ul>
      [% FOREACH field = changes.keys.sort %]
        [% SWITCH field %]
          [% CASE 'name' %]
            <li>İsim '[% changes.name.1 FILTER html %]' olarak değiştirildi.</li>
          [% CASE 'description' %]
            <li>Açıklama güncellendi.</li>
          [% CASE 'userregexp' %]
            <li>Düzenli ifade güncellendi.</li>
          [% CASE 'isactive' %]
            [% IF changes.isactive.1 %]
              <li>Grup artık [% terms.bugs %] için kullanılacak.</li>
            [% ELSE %]
              <li>Grup artık [% terms.bugs %] için kullanılmayacak.</li>
            [% END %]
          [% CASE 'icon_url' %]
            <li>Grup simgesinin adresi güncellendi.</li>
          [% CASE 'members_add' %]
            <li>Aşağıdaki gruplar artık bu grubun üyesi:
              [%+ changes.members_add.join(', ') FILTER html %]</li>
          [% CASE 'members_remove' %]
            <li>Aşağıdaki gruplar artık bu grubun üyesi değil:
              [%+ changes.members_remove.join(', ') FILTER html %]</li>
          [% CASE 'member_of_add' %]
            <li>Bu grup artık aşağıdaki grupların üyesi:
              [%+ changes.member_of_add.join(', ') FILTER html %]</li>
          [% CASE 'member_of_remove' %]
            <li>Bu grup artık aşağıdaki grupların üyesi değil:
              [%+ changes.member_of_remove.join(', ') FILTER html %]</li>
          [% CASE 'bless_from_add' %]
            <li>Aşağıdaki gruplar artık bu gruba kullanıcı ekleyebilir:
              [%+ changes.bless_from_add.join(', ') FILTER html %]</li>
          [% CASE 'bless_from_remove' %]
            <li>Aşağıdaki gruplar artık bu gruba kullanıcı ekleyemez:
              [%+ changes.bless_from_remove.join(', ') FILTER html %]</li>
          [% CASE 'bless_to_add' %]
            <li>Bu grup artık aşağıdaki gruplara kullanıcı ekleyebilir:
              [%+ changes.bless_to_add.join(', ') FILTER html %]</li>
          [% CASE 'bless_to_remove' %]
            <li>Bu grup artık aşağıdaki gruplara kullanıcı ekleyemez:
              [%+ changes.bless_to_remove.join(', ') FILTER html %]</li>
          [% CASE 'visible_from_add' %]
            <li>Aşağıdaki gruplar artık bu gruptaki kullanıcıları görebilir:
              [%+ changes.visible_from_add.join(', ') FILTER html %]</li>
          [% CASE 'visible_from_remove' %]
            <li>Aşağıdaki gruplar artık bu gruptaki kullanıcıları göremez:
              [%+ changes.visible_from_remove.join(', ') FILTER html %]</li>
          [% CASE 'visible_to_me_add' %]
            <li>Bu grup artık aşağıdaki gruplarda bulunan kullanıcıları görebilir:
              [%+ changes.visible_to_me_add.join(', ') FILTER html %]</li>
          [% CASE 'visible_to_me_remove' %]
            <li>Bu grup artık aşağıdaki gruplarda bulunan kullanıcıları göremez:
              [%+ changes.visible_to_me_remove.join(', ') FILTER html %]</li>
        [% END %]
      [% END %]
      </ul>
    [% ELSE %]
      '[% group.name FILTER html %]' grubu için herhangi bir değişiklik talep etmediniz.
    [% END %]

  [% ELSIF message_tag == "keyword_created" %]
    [% title = "Yeni Anahtar Oluşturuldu" %]
    <em>[% name FILTER html %]</em> anahtarı oluşturuldu.

  [% ELSIF message_tag == "keyword_deleted" %]
    [% title = "Anahtar Silindi" %]
    <em>[% keyword.name FILTER html %]</em> anahtarı silindi.
    <b>Anahtarlarda değişikliklerinizi bitirdikten sonra
    <a href="sanitycheck.cgi?rebuildkeywordcache=1">anahtar önbelleğini yeniden 
    oluştur</a>malısınız.</b> (Çok büyük bir [% terms.Bugzilla %] kurulumunda 
    bu işlem birkaç dakika alabilir.)

  [% ELSIF message_tag == "keyword_updated" %]
    [% title = "Anahtar Güncellendi" %]
    [% IF changes.keys.size %]
      <em>[% keyword.name FILTER html %]</em> anahtarına yapılan değişiklikler 
      kaydedildi:
      <ul>
        [% IF changes.name.defined %]
          <li>
            Anahtarın yeni adı <em>[% keyword.name FILTER html %]</em> olarak atandı.
            <b>Anahtarları değiştirmeyi bitirdikten sonra 
            <a href="sanitycheck.cgi?rebuildkeywordcache=1">anahtar 
            önbelleğini yeniden oluştur</a>malısınız.</b> (Çok büyük bir 
            [% terms.Bugzilla %] kurulumunda bu işlem birkaç dakika alabilir.)
          </li>
        [% END %]
        [% IF changes.description.defined %]
          <li>Açıklama <em>[% keyword.description FILTER html %]</em> olarak güncellendi.</li>
        [% END %]
      </ul>
    [% ELSE %]
      Herhangi bir değişiklik yapılmadı.
    [% END %]

  [% ELSIF message_tag == "logged_out" %]
    [% title = "Oturum Kapatıldı" %]
    [% url = "index.cgi?GoAheadAndLogIn=1" %]
    [% link = "Tekrar oturum aç." %]
    <b>Oturumunuz unutuldu</b>.
    Oturumunuzu hatırlayan çerez silinmiş. Gerektiğinde tekrar oturum açmanız istenecek.

  [% ELSIF message_tag == "login_changed" %]
    [% title = "$terms.Bugzilla Oturumu Değişti" %]
    [% terms.Bugzilla %] oturumunuz değişti.

  [% ELSIF message_tag == "milestone_created" %]
    [% title = "Aşama Oluşturuldu" %]
    <em>[% milestone.name FILTER html %]</em> aşaması oluşturuldu.

  [% ELSIF message_tag == "milestone_deleted" %]
    [% title = "Aşama Silindi" %]
    <em>[% milestone.name FILTER html %]</em> aşaması silindi.
    [% IF milestone.bug_count %]
      Bu aşamaya yönlendirilen [%+ terms.bugs %] öntanımlı aşamaya
      (<em>[% product.default_milestone FILTER html %]</em>) yönlendirildi.
    [% END %]

  [% ELSIF message_tag == "milestone_updated" %]
    [% title = "Aşama Güncellendi" %]
    [% IF changes.size %]
      <em>[% milestone.name FILTER html %]</em> aşamasına yapılan değişiklikler 
      kaydedildi:
      <ul>
        [% IF changes.value.defined %]
          <li>Aşama adı <em>[% milestone.name FILTER html %]</em> olarak değiştirildi</li>
        [% END %]
        [% IF changes.sortkey.defined %]
          <li>Sıralama anahtarı <em>[% milestone.sortkey FILTER html %] olarak güncellendi</em>
        [% END %]
      </ul>
    [% ELSE %]
      <em>[% milestone.name FILTER html %]</em> aşamasına herhangi bir değişiklik yapılmadı.
    [% END %]

  [% ELSIF message_tag == "parameters_updated" %]
    [% title = "Parametreler Güncellendi" %]
    [% IF param_changed.size > 0 %]
      [% FOREACH param = param_changed %]
        <em>[% param FILTER html %]</em> değiştirildi<br>
        [% IF param == 'utf8' && Param('utf8') %]
          <strong>Şimdi checksetup.pl'yi yeniden çalıştırmalısınız.</strong><br>
        [% END %]
      [% END %]
    [% ELSE %]
      Herhangi bir değişiklik yapılmadı.
    [% END %]

    [% IF shutdown_is_active == 1 %]
      <hr>
      [% terms.Bugzilla %] şimdi kapatıldı. Sistemi yeniden açmak için 
      <em>shutdownhtml</em> alanını boşaltın.
    [% END%]

  [% ELSIF message_tag == "password_change_canceled" %]
    [% title = "Parola Değiştirme İsteğini İptal Et" %]
    İsteğiniz iptal edildi.

  [% ELSIF message_tag == "password_change_request" %]
    [% title = "Parola Değiştirme İsteği" %]
    Parolanızı değiştirmeniz için eposta adresinize bir bilet gönderildi.
    Parolanızı değiştirmek için o epostadaki yönergeleri uygulayın.

  [% ELSIF message_tag == "password_changed" %]
    [% title = "Parola Değiştirildi" %]
    Parolanız değiştirildi.

  [% ELSIF message_tag == "flag_type_created" %]
    [% title = "Bayrak Türü Oluşturuldu" %]
    <em>[% name FILTER html %]</em> bayrak türü oluşturuldu.

  [% ELSIF message_tag == "flag_type_changes_saved" %]
    [% title = "Bayrak Türü Değişiklikleri Kaydedildi" %]
    <em>[% name FILTER html %]</em> bayrak türüne yapılan değişiklikler 
    kaydedildi.

  [% ELSIF message_tag == "flag_type_deleted" %]
    [% title = "Bayrak Türü Silindi" %]
    <em>[% name FILTER html %]</em> bayrak türü silindi.

  [% ELSIF message_tag == "flag_type_deactivated" %]
    [% title = "Bayrak Türü Etkin Halden Çıkarıldı" %]
    <em>[% flag_type.name FILTER html %]</em> bayrak türü pasif hale getirildi.

  [% ELSIF message_tag == "install_admin_get_email" %]
    Yöneticinin eposta adresini girin:

  [% ELSIF message_tag == "install_admin_get_name" %]
    Yöneticinin gerçek adını girin:

  [% ELSIF message_tag == "install_admin_get_password" %]
    Yönetici hesabı için bir parola girin:

  [% ELSIF message_tag == "install_admin_created" %]
    [% user.login FILTER html %] yönetici olarak atandı.

  [% ELSIF message_tag == "install_admin_setup" %]
    Görünüşe göre henüz bir yönetici hesabımız yok.
    Ya [% terms.BugzillaAcc %] ilk defa kullanıyorsunuz, ya da yöneticinizin ayrıcalıkları yanlışlıkla silinmiş.

  [% ELSIF message_tag == "install_column_add" %]
    '[% table FILTER html %]' tablosuna '[% column FILTER html %]' sütunu ekleniyor...

  [% ELSIF message_tag == "install_column_drop" %]
    '[% table FILTER html %]' tablosundan '[% column FILTER html %]' sütunu siliniyor...

  [% ELSIF message_tag == "install_column_rename" %]
    '[% old FILTER html %]' sütununun adı '[% new FILTER html %]' olarak değiştiriliyor...

  [% ELSIF message_tag == "install_confirm_password" %]
    Lütfen doğrulamak için parolayı yeniden yazın:

  [% ELSIF message_tag == "install_default_classification" %]
    Öntanımlı sınıf '[% name FILTER html %]' oluşturuluyor...

  [% ELSIF message_tag == "install_default_product" %]
    Boş '[% name FILTER html %]' ürünü oluşturuluyor...

  [% ELSIF message_tag == "install_file_perms_fix" %]
    Dosya izinleri düzeltiliyor...

  [% ELSIF message_tag == "install_fk_add" %]
    Yabancı anahtar ekleniyor: [% table FILTER html %].[% column FILTER html %] -&gt; [% fk.TABLE FILTER html %].[% fk.COLUMN FILTER html %]...

  [% ELSIF message_tag == "install_fk_drop" %]
    Yabancı anahtar siliniyor: [% table FILTER html %].[% column FILTER html %] -&gt; [% fk.TABLE FILTER html %].[% fk.COLUMN FILTER html %]...

  [% ELSIF message_tag == "install_group_create" %]
    [% name FILTER html %] grubu oluşturuluyor...

  [% ELSIF message_tag == "install_setting_new" %]
    '[% name FILTER html %]' adında yeni bir kullanıcı ayarı ekleniyor

  [% ELSIF message_tag == "install_table_drop" %]
    '[% name FILTER html %]' tablosu siliniyor...

  [% ELSIF message_tag == "install_table_rename" %]
    '[% old FILTER html %]' tablosunun adı '[% new FILTER html %]' olarak değiştiriliyor...

  [% ELSIF message_tag == "install_urlbase_default" %]
    [% terms.Bugzilla %] kurulumunu tamamladığınıza göre, tüm ayarların istediğiniz gibi olduğunu (buna 'urlbase' parametresine doğru URL'yi girmek de dahil) garantilemek için 'Parametreler' sayfasına gitmelisiniz (Yönetici hesabının sayfa altlığında bağlantısını bulabilirsiniz).

  [% ELSIF message_tag == "install_reset_password" %]
    [% user.login FILTER html %] parolasını girin:

  [% ELSIF message_tag == "install_reset_password_done" %]
    Yeni parola atandı.

  [% ELSIF message_tag == "install_webservergroup_empty" %]
    ****************************************************************************
    UYARI! localconfig'de "webservergroup" parametresi için bir değer girmemişsiniz. Bu, hem sizin tarafınızdan hem de web sunucu tarafından değiştirilebilmesi gereken belirli dosya ve dizinlerin herkesin yazmasına açık olması gerektiği ve (veritabanınızın parolasını tutan localconfig dosyası dahil) diğer dosyaların da herkesin okumasına açık olması gerektiği anlamına geliyor. Bu da, bu makinaya yerel erişim elde eden _herkesin_ [%+ terms.Bugzilla %] kurulumunuza canı ne isterse yapabileceği ve büyük olasılıkla web sunucuyu çalıştıran kullanıcı olarak istediği her Perl kodunu çalıştırabileceği anlamına gelir.

    You really, really, really need to change this setting.
    ****************************************************************************

  [% ELSIF message_tag == "install_webservergroup_not_in" %]
    Uyarı: localconfig'de "webservergroup" parametresine bir değer girmişsiniz fakat ya a)bu betiği [% constants.ROOT_USER FILTER html %] olarak çalıştırıyorsunuz, ya da b) bu grubun bir üyesisiniz. Bu dosya izinleriyle ilgili problemlere neden olabilir ve daha düşük güvenlik seviyesi anlamına gelir. [% terms.Bugzilla %] betiklerini çalıştırmakta sorun yaşıyorsanız, [% constants.ROOT_USER FILTER html %] olarak oturum açın ve bu betiği yeniden çalıştırın, grubun bir üyesi olun, veya "webservergroup" parametresinin değerini silin.

  [% ELSIF message_tag == "install_webservergroup_windows" %]
    Uyarı: [% constants.bz_locations.localconfig FILTER html %] içinde webservergroup değerine atama yapmışsınız. Lütfen bunun Windows altında çalışırken herhangi ek bir güvenlik getirmediğini unutmayın.
    [% terms.Bugzilla %] dizininizdeki dosya izinlerinin sisteminiz için geçerli şekilde ayarlı olduğundan emin olmalısınız. Gereksiz yazma izinlerinden kaçınmayı unutmayın.

  [% ELSIF message_tag == "product_created" %]
    [% title = "Ürün Oluşturuldu" %]
    <em>[% product.name FILTER html %]</em> ürünü oluşturuldu. Herhangi birinin bu ürüne [% terms.bug %] girebilmesi için önce 
    <a href="editcomponents.cgi?action=add&product=[% product.name FILTER url_quote %]">
    en az bir bileşen ekle</a>meniz gerekir.

  [% ELSIF message_tag == "product_deleted" %]
    [% title = "Product Deleted" %]
    <em>[% product.name FILTER html %]</em> ürünü, tüm sürümleri, bileşenleri, aşamaları ve grup kontrolleri silindi.
    [% IF product.bug_count %]
      Bu üründeki tüm [% terms.bugs %] ve onlara olan tüm başvurular da silindi.
    [% END %]

  [% ELSIF message_tag == "product_invalid" %]
    [% title = "$terms.Bugzilla Bileşen Açıklamaları" %]
    Ya <em>[% product FILTER html %]</em> diye bir ürün yok, ya da sizin ona erişiminiz yok. Aşağıda seçebileceğiniz ürünlerin bir listesini bulabilirsiniz.

  [% ELSIF message_tag == "remaining_time_zeroed" %]
    [% field_descs.remaining_time FILTER html %] alanı bu [% terms.bugAcc %] kapatma işleminin veya kapalı bir durumdan başka bir kapalı duruma taşımanın bir sonucu olarak 0 (sıfır) şeklinde değiştirildi.

  [% ELSIF message_tag == "sanitycheck" %]
    [%# We use this way to call sanitycheck-specific messages so that
      # we can still use get_text(). %]
    [% PROCESS "admin/sanitycheck/messages.html.tmpl" %]

  [% ELSIF message_tag == "series_all_open" %]
    Tümü Açık

  [% ELSIF message_tag == "series_all_closed" %]
    Tümü Kapalı

  [% ELSIF message_tag == "sudo_started" %]
    [% title = "Sudo oturumu başlatıldı" %]
      Sudo oturumu başlatıldı. Önümüzdeki 6 saat boyunca (ya da siz oturumu sonlandırana kadar), yaptığınız herşeyi yerine geçtiğiniz kullanıcı ([% target FILTER html %]) olarak yapıyor olacaksınız.
  
  [% ELSIF message_tag == "sudo_ended" %]
    [% title = "Sudo oturumu tamamlandı" %]
      Sudo oturumu tamamlandı. Şu andan itibaren yaptıklarınızı kendi kullanıcınızla yapıyor olacaksınız.

  [% ELSIF message_tag == "series_created" %]
    [% title = "Seri Oluşturuldu" %]
      <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      serisi oluşturuldu. Bu seriden bir çizelge oluşturulabilmesi için
      [%+ series.frequency * 2 %] gün kadar beklemeniz gerekebilir.
      <br><br>
      Geri dönün veya
      <a href="query.cgi?format=create-series">başka bir seri oluştur</a>un.
    
  [% ELSIF message_tag == "shutdown" %]
    [% title = "$terms.Bugzilla Kapalı" %]
    [% Param("shutdownhtml") %]
    [% IF userid %]
      <p>Güvenlik nedeniyle oturumunuz otomatik olarak sonlandırıldı.
      Oturum bilgilerinizi tutan çerez silindi.
    [% END %]

  [% ELSIF message_tag == "term" %]
    [% terms.$term FILTER html %]

  [% ELSIF message_tag == "unexpected_flag_types" %]
    Bazı bayraklar ayarlanamadı. Lütfen değişikliklerinizi kontrol edin.

  [% ELSIF message_tag == "user_match_failed" %]
    Bilinen herhangi bir [% terms.Bugzilla %] kullanıcıyla uyuşmayan bir kullanıcı adı girdiniz. O yüzden [% match_field FILTER html %] alanını boş bıraktık.

  [% ELSIF message_tag == "user_match_multiple" %]
    Birden fazla kullanıcıyla uyuşan bir kullanıcı adı girdiniz. O yüzden [% match_field FILTER html %] alanını boş bıraktık.

  [% ELSIF message_tag == "version_created" %]
    [% title = "Sürüm Oluşturuldu" %]
    <em>[% product.name FILTER html %]</em>
    ürününün <em>[% version.name FILTER html %]</em>
    sürümü oluşturuldu.

  [% ELSIF message_tag == "version_deleted" %]
    [% title = "Sürüm Silindi" %]
    <em>[% product.name FILTER html %]</em> ürününün <em>[% version.name FILTER html %]</em> sürümü silindi.

  [% ELSIF message_tag == "version_updated" %]
    [% title = "Sürüm güncellendi" %]
    Sürüm, <em>[% version.name FILTER html %]</em> olarak yeniden adlandırıldı.

  [% ELSIF message_tag == "workflow_updated" %]
    İş akışı güncellendi.

  [% ELSE %]
    [%# Give sensible error if error functions are used incorrectly.
      #%]        
    [% terms.Bugzilla %]'s mesajlaşma fonksiyonlarını yanlış kullanıyorsunuz. '[% message_tag %]' dizgesini geçtiniz. Doğru kullanım için bir takı geçmeniz ve o takıyı messages.html.tmpl dosyasında tanımlamanız gerekirdi.<br>
    <br>
    Eğer bir [% terms.Bugzilla %] son kullanıcısı iseniz, lütfen bu sayfayı kaydedin ve [% Param('maintainer') %] adresine gönderin..
    
  [% END %]
[% END %]
