[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the Bugzilla header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #
  # Extension- or custom-specific error handling  can be easily added 
  # via hooks: just place your <extension>-errors.html.tmpl into 
  # template/en/extension/hook/global/user-error.html.tmpl/errors/
  # Note: be aware of uniqueness of error string parameter value, since 
  # nobody can guarantee the hook files processing order in the future
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Hata" %]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "Hesap Oluşturma Kapalı" %]
    Kullanıcı hesabı oluşturma işlemine izin verilmiyor.
    <hr>
    Yeni hesaplar bir yönetici tarafından oluşturulmalı. Bakımcı: [% Param("maintainer") %].

  [% ELSIF error == "account_creation_restricted" %]
    [% title = "Hesap Oluşturma Kısıtlanmış" %]
    Kullanıcı hesabı oluşturma işlemi kısıtlanmış durumda.
    <hr>
    Yeni bir hesap oluşturma hakkında bilgi almak için yöneticinizle veya bakımcıyla ([% Param("maintainer") %]) iletişim kurun.

  [% ELSIF error == "account_disabled" %]
    [% title = "Hesap Kapalı" %]
    [% disabled_reason FILTER none %]
    <hr>
    Hesabınızın tekrar açılması gerektiğini düşünüyorsanız, lütfen [% Param("maintainer") %] eposta adresine nedenini açıklayan bir eposta gönderin.

  [% ELSIF error == "account_exists" %]
    [% title = "Hesap Zaten Var" %]
    [% IF email %]
      [% email FILTER html %] oturum açma adıyla
    [% ELSE %]
      O oturum açma adıyla
    [% END %]
    zaten bir hesap var.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "İsimde Geçersiz Karakterler" %]
    Girdiğiniz isim (<em>[% alias FILTER html %]</em>)
    bir veya daha fazla virgül veya boşluk karakteri içeriyor. Takma adlar bu karakterleri içeremez çünkü o karakterler listelerde takma adları birbirinden ayırmak için kullanılıyor. Lütfen virgül ve boşluk içermeyen bir takma ad seçin.

  [% ELSIF error == "alias_in_use" %]
    [% title = "İsim Kullanımda" %]
    <em>[% alias FILTER html %]</em> ismi zaten [%+ bug_id FILTER bug_link(bug_id) FILTER none %] numaralı [% terms.bugDat %] atanmış durumda. Lütfen başka bir tane seçin.

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "İsim Sayılardan Oluşuyor" %]
    [% terms.bugDat %] vermeye çalıştığınız <em>[% alias FILTER html %]</em> 
    ismi sayılardan oluşuyor. İsimler [% terms.bug %] numaralarıyla karışabileceği için sadece sayılardan oluşamaz. Lütfen en az bir harf içeren bir isim seçin.

  [% ELSIF error == "alias_too_long" %]
    [% title = "İsim Fazla Uzun" %]
    [% terms.Bug %] isimleri 20 karakterden uzun olamaz. Lütfen daha kısa bir isim seçin.

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "Hesap Oluşturulamıyor" %]
    Bu site hesap oluşturmaya izin vermeyen bir kimlik doğrulama sistemi kullanıyor. Lütfen yeni bir hesap oluşturması için bir yöneticiyle irtibata geçin.

  [% ELSIF error == "auth_failure" %]
    [% title = "Oturum Açmak Gerekir" %]
    [% admindocslinks = {'groups.html' => 'Grup Güvenliği'} %]
    [% IF group %]
      '[% group FILTER html %]' grubunun üyesi değilsiniz.
    [% END %]

    [% IF reason %]
      [% IF group %] and [% END %]
      [% IF reason == "cant_bless" %]
        Gruba üye ekleme veya gruptan üye çıkarma izniniz yok.
      [% ELSIF reason == "not_visible" %]
        Belirli kullanıcı gruplarında görünürlük kısıtlamaları var.
      [% END %]
    [% END %]

    [% IF group || reason %] Dolayısıyla [% END %]

    [% IF object == "administrative_pages" %]
      yönetim sayfaları 
    [% ELSIF object == "attachment" %]
      bu ek 
    [% ELSIF object == "bugs" %]
      [%+ terms.bugs %]
    [% ELSIF object == "charts" %]
      "Yeni Çizelgeler" özelliği 
    [% ELSIF object == "classifications" %]
      sınıflar
    [% ELSIF object == "components" %]
      bileşenler
    [% ELSIF object == "custom_fields" %]
      özel hazırlanmış alanlar
    [% ELSIF object == "field_values" %]
      alan değerleri
    [% ELSIF object == "flagtypes" %]
      bayrak türleri
    [% ELSIF object == "group_access" %]
      grup erişimi
    [% ELSIF object == "groups" %]
      gruplar
    [% ELSIF object == "keywords" %]
      anahtarlar
    [% ELSIF object == "milestones" %]
      aşamalar
    [% ELSIF object == "multiple_bugs" %]
      bir kerede birden fazla [% terms.bug %]
    [% ELSIF object == "parameters" %]
      parametreler
    [% ELSIF object == "products" %]
      ürünler
    [% ELSIF object == "quips" %]
      nükteler
    [% ELSIF object == "reports" %]
      alarm raporları
    [% ELSIF object == "sanity_check" %]
      bir doğruluk kontrolü
    [% ELSIF object == "settings" %]
      ayarlar
    [% ELSIF object == "sudo_session" %]
      bir sudo oturumu
    [% ELSIF object == "timetracking_summaries" %]
      özet zaman takip raporları
    [% ELSIF object == "user" %]
      belirttiğiniz kullanıcı
    [% ELSIF object == "users" %]
      kullanıcılar
    [% ELSIF object == "versions" %]
      sürümler
    [% ELSIF object == "workflow" %]
      iş akışı
    [% END %]
    
    üzerinde

    [% IF action == "access" %]
      erişme
    [% ELSIF action == "add" %]
      ekleme
    [% ELSIF action == "begin" %]
      başlama
    [% ELSIF action == "modify" %]
      değiştirme
    [% ELSIF action == "delete" %]
      silme
    [% ELSIF action == "edit" %]
      ekleme, değiştirme veya silme
    [% ELSIF action == "move" %]
      taşıma
    [% ELSIF action == "run" %]
      çalıştırma
    [% ELSIF action == "schedule" %]
      takvime bağlama
    [% ELSIF action == "use" %]
      kullanma
    [% ELSIF action == "approve" %]
      onaylama
    [% END %]
    
    işlemine yapma izniniz yok.


    [% Hook.process("auth_failure") %]

  [% ELSIF error == "attachment_deletion_disabled" %]
    [% title = "Ek Silme Kapalı" %]
    Bu kurulumda eklerin silinmesine izin yok.

  [% ELSIF error == "attachment_removed" %]
    [% title = "Ek Silindi" %]
    Erişmeye çalıştığınız ek silinmiş.

  [% ELSIF error == "bug_access_denied" %]
    [% title = "Erişim Reddedildi" %]
    [% admindocslinks = {'groups.html' => 'Grup Güvenliği'} %]
    [% bug_id FILTER html %] numaralı [% terms.bugDat %] erişim izniniz yok.

  [% ELSIF error == "bug_access_query" %]
    [% title = "Erişim Reddedildi" %]
    [% docslinks = {'myaccount.html' => 'Hesap oluşturma'} %]
    [% bug_id FILTER html %] numaralı [% terms.bugDat %] erişim izniniz yok.
    Bu [% terms.bugDat %] görebilmek için, gerekli izinlere sahip 
    first <a href="show_bug.cgi?id=
                   [% bug_id FILTER url_quote %]&amp;GoAheadAndLogIn=1">bir 
    hesaba oturum aç</a>malısınız.

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Parametre Gerekli" %]
    [% docslinks = {'query.html' => "$terms.Bug Aramak",
                    'query.html#list' => "$terms.Bug listeleri"} %]
    Herhangi bir arama kriteri içermeyen kayıtlı arama yapamaz ve oluşturamazsınız.

  [% ELSIF error == "chart_too_large" %]
    [% title = "Çizelge Fazla Büyük" %]
    Bir çizelgenin büyüklüğü en fazla 2000 x 2000 olabilir.

  [% ELSIF error == "comment_invalid_isprivate" %]
    [% id FILTER html %] numaralı yorumun gizliliğini değiştirmeye çalıştınız,
    ama bu [% terms.bugLoc %] bu geçerli bir yorum değil.

  [% ELSIF error == "comment_required" %]
    [% title = "Yorum Gerekiyor" %]
    [% IF old && new %]
      [% terms.abugGen %] durumunu 
      [%+ new.name FILTER html %] olarak değiştirirken bir <b>yorum</b> 
    [% ELSIF new %]
      Bu [% terms.bug %] için bir yorum 
    [% ELSE %]
      bu değişiklik hakkında bir <b>yorum</b> 
    [% END %]
    girmelisiniz.

  [% ELSIF error == "comment_too_long" %]
    [% title = "Yorum Fazla Uzun" %]
    Yorumlar 65,535 karakterden fazla olamaz.

  [% ELSIF error == "auth_classification_not_enabled" %]
    [% title = "Sınıflandırma Kapalı" %]
    Sınıflandırma kapatılmış durumda.

  [% ELSIF error == "classification_not_specified" %]
    [% title = "Sınıf Adı Gerekli" %]
    Bir sınıf adı girmelisiniz.

  [% ELSIF error == "classification_already_exists" %]
    [% title = "Sınıf Zaten Var" %]
    '[% name FILTER html %]' adında bir sınıf zaten mevcut.

  [% ELSIF error == "classification_doesnt_exist" %]
    [% title = "Sınıf Yok" %]
    '[% name FILTER html %]' adında bir sınıf yok.

  [% ELSIF error == "classification_doesnt_exist_for_product" %]
    [% title = "Bu Üründe Bu Sınıf Yok" %]
    '[% product FILTER html %]' ürününde '[% classification FILTER html %]' adında bir sınıf bulunmuyor.

  [% ELSIF error == "classification_invalid_sortkey" %]
    [% title = "Sınıf Sıralama Anahtarı Geçersiz" %]
    '[% name FILTER html %]' sınıfı için verilen <em>[% sortkey FILTER html %]</em> 
    sıralama anahtarı geçersiz. Pozitif bir tamsayı olmalı.

  [% ELSIF error == "classification_not_deletable" %]
    [% title = "Öntanımlı Sınıf Silinemez" %]
    Öntanımlı sınıfı silemezsiniz.

  [% ELSIF error == "classification_has_products" %]
     Bu sınıfı kullanan ürünler var. Bu sınıfı silmeden önce o ürünleri başka bir sınıfa atamalısınız.

  [% ELSIF error == "component_already_exists" %]
    [% title = "Bileşen Zaten Var" %]
    <em>[% product.name FILTER html %]</em> ürününde 
    zaten <em>[% name FILTER html %]</em> adında bir bileşen var.

  [% ELSIF error == "component_blank_description" %]
    [% title = "Bileşen Açıklaması Boş Bırakılamaz" %]
    Bu bileşen için bir açıklama girmelisiniz.

  [% ELSIF error == "component_blank_name" %]
    [% title = "Bileşen Adı Boş Bırakılamaz" %]
    Bu bileşen için bir ad girmelisiniz.

  [% ELSIF error == "component_has_bugs" %]
    [% title = BLOCK %]Bileşende Kayıtlı [% terms.Bugs %] Var[% END %]
    Bu bileşene girilmiş [% nb FILTER html %] [%+ terms.bug %] var!
    Bu bileşeni silmeden önce o [% terms.bugs %] başka bir bileşene atamalısınız.

  [% ELSIF error == "component_name_too_long" %]
    [% title = "Bileşen Adı Fazla Uzun" %]
    Bileşen adları 64 karakterle sınırlıdır.
    '[% name FILTER html %]' fazla uzun ([% name.length %] karakter).

  [% ELSIF error == "component_need_initialowner" %]
    [% title = "Bileşene Öntanımlı Biri Atanmalı" %]
    Bu bileşenin öntanımlı olarak birine atanması gerekir.

  [% ELSIF error == "customfield_nonexistent" %]
    [% title = "Bilinmeyen Özel Alan" %]
    '[% name FILTER html %]' adında özel oluşturulmuş bir alan yok.

  [% ELSIF error == "customfield_not_obsolete" %]
    [% title = "Özel Alan Halâ Kullanılıyor" %]
    '[% name FILTER html %]' alanı halâ kullanımda. Lütfen özel oluşturulmuş bir alanı silmeden önce herhangi bir yerde kullanılmadığından emin olun.

  [% ELSIF error == "customfield_has_activity" %]
    [% title = "Özel Alanda Hareket Bulunuyor" %]
    '[% name FILTER html %]' özel alanı silinemez çünkü üzerinde kayıtlı bazı hareketler var.

  [% ELSIF error == "customfield_has_contents" %]
    [% title = "Özel Alanda İçerik Bulunuyor" %]
    '[% name FILTER html %]' özel alanı silinemez çünkü en az bir [% terms.bugLoc %] bu alana bir değer atanmış.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Bağımlılık Döngüsü Tespit Edildi" %]
    Eğer bu değişiklikler gönderilirse, aşağıdaki [% terms.bug %](lar) bağımlılık ağacının hem "bağımlı" hem de "engelleyici" bölümlerinde görünecek.
    [% FOREACH dep = deps %]
      [%+ dep FILTER bug_link(dep) FILTER none %]
    [% END %].
    Bu durum dairesel bir bağımlılık oluşturur (ve dairesel bağımlılığa izin verilmez).

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Bağımlılık Döngüsü Tespit Edildi" %]
    [% terms.AbugAcc %] kendine bağımlı ya da kendini engelliyor olarak işaretleyemezsiniz.

  [% ELSIF error == "dupe_id_required" %]
    [% title = "Aynı Olan $terms.BugGen Numaralı Gerekli" %]
    Bu [% terms.bugAcc %] bir başkasının eşi olarak işaretleyebilmek için o [% terms.bugGen %] numarasını vermelisiniz.

  [% ELSIF error == "dupe_not_allowed" %]
    [% title = "$terms.Bugs Aynı İşaretlenemiyor" %]
    Bir kerede birden fazla [% terms.bug %] üzerinde değişiklik yaparken onları başka [% terms.bugsGen %] aynısı olarak işaretleyemezsiniz.

  [% ELSIF error == "dupe_loop_detected" %]
    [% title = "Aynı Olanlar Arasında Döngü Tespit Edildi" %]
    [%+ bug_id FILTER html %] numaralı [% terms.bugAcc %]  
    [% IF dupe_of == bug_id %]
      kendisinin
    [% ELSE %]
      [%+ dupe_of FILTER html %] numaralı [%+ terms.bugGen %] 
    [% END %]
    aynısı olarak işaretleyemezsiniz[% IF dupe_of != bug_id %] çünkü bu durumda iki "aynı" hata oluşur[% END %].

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Eposta Değiştirme Süreci İşliyor" %]
    Eposta değiştirme süreci halihazırda işliyor; lütfen eposta kutunuzu kontrol edin.

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Eposta Adresi Onaylama Başarısız" %]
    Eposta adresi onaylanamadı.

  [% ELSIF error == "email_no_text_plain" %]
    Mesajınızda metin yoktu. [% terms.Bugzilla %] salt HTML içeren epostaları ve ek içeren HTML epostaları kabul etmez.

  [% ELSIF error == "empty_group_description" %]
    [% title = "Grup Açıklaması Boş" %]
    Grup açıklaması boş olamaz, gruba bir açıklama girmelisiniz.

  [% ELSIF error == "empty_group_name" %]
    [% title = "Grup Adı Boş" %]
    Gruba bir isim vermelisiniz.
  
  [% ELSIF error == "entry_access_denied" %]
    [% title = "İzin Verilmedi" %]
    [% admindocslinks = {'groups.html' => 'Grup Güvenliği'} %]
    Ya <em>[% product FILTER html %]</em> ürünü yok ya da o ürüne [% terms.bug %] girme izniniz yok.

  [% ELSIF error == "field_already_exists" %]
    [% title = "Alan Zaten Var" %]
    '[% field.name FILTER html %]' ([% field.description FILTER html %]) alanı zaten var. Lütfen başka bir isim seçin.

  [% ELSIF error == "field_invalid_name" %]
    [% title = "Geçersiz Alan Adı" %]
    '[% name FILTER html %]' geçerli bir alan adı değil. Bir ad sadece harfler, sayılar ve altçizgi ("_") içerebilir.

  [% ELSIF error == "field_invalid_sortkey" %]
    [% title = "Geçersiz Alan Sıralama Anahtarı" %]
    Bu alan için verdiğiniz [% sortkey FILTER html %] sıralama anahtarı geçerli bir pozitif tamsayı değil.

  [% ELSIF error == "field_missing_description" %]
    [% title = "Alan Açıklaması Eksik" %]
    Bu alan için bir açıklama girmelisiniz.

  [% ELSIF error == "field_missing_name" %]
    [% title = "Alan İsmi Eksik" %]
    Bu alan için bir isim girmelisiniz.

  [% ELSIF error == "fieldname_invalid" %]
    [% title = "Belirtilen Alan Mevcut Değil" %]
    '[% field FILTER html %]' alanı ya yok ya da bu arayüzle açılamıyor.

  [% ELSIF error == "fieldname_not_specified" %]
    [% title = "Alan Adı Eksik" %]
    Alan değerlerini değiştirmek için bir alan adı girmelisiniz.

  [% ELSIF error == "fieldvalue_already_exists" %]
    [% title = "Alan Değeri Zaten Var" %]
    '[%- field.description FILTER html %]' alanının zaten '[% value FILTER html %]' değeri var.

  [% ELSIF error == "fieldvalue_doesnt_exist" %]
    [% title = "Belirtilen Alan Değeri Yok" %]
    '[% field FILTER html %]' alanı için '[% value FILTER html %]' diye bir değer yok.

  [% ELSIF error == "fieldvalue_is_default" %]
    [% title = "Belirtilen Alan Değeri Öntanımlı" %]
    '[% field.description FILTER html %]' alanının '[% value FILTER html %]' değeri bu alanın öntanımlı değeri ve silinemez.
    [% IF user.groups.tweakparams %]
      Önce öntanımlı değeri <a href="editparams.cgi?section=bugfields#
      [%- param_name FILTER url_quote %]">değiştir</a>melisiniz.
    [% END %]

  [% ELSIF error == "fieldvalue_name_too_long" %]
    [% title = "Alan Değeri Fazla Uzun" %]
    Alan değerleri 60 karakterle sınırlıdır.
    '[% value FILTER html %]' değeri fazla uzun ([% value.length %] karakter).

  [% ELSIF error == "fieldvalue_not_editable" %]
    [% title = "Alan Değeri Değiştirilemez" %]
    '[% old_value FILTER html %]' değerinin adı değiştirilemez çünkü
    '[% field.description FILTER html %]' alanı için özel bir işlevi var.

  [% ELSIF error == "fieldvalue_not_deletable" %]
    [% title = "Alan Değeri Silinemez" %]
    '[% value FILTER html %]' değeri silinemiyor çünkü 
    '[% field.description FILTER html %]' alanı için özel bir işlevi var.

  [% ELSIF error == "fieldvalue_not_specified" %]
    [% title = "Alan Değeri Seçilmemiş" %]
    Alan değerini değiştirmek için önce bir alan değeri seçmelisiniz.

  [% ELSIF error == "fieldvalue_reserved_word" %]
    [% title = "Ayrılmış Kelime Kullanılamaz" %]
    '[% field.description FILTER html %]' alanı için '[% value FILTER html %]' değeri kullanılamaz. Bu değer sistemin iç işleyişi için kullanılmaktadır. Lütfen başka bir değer belirleyin.

  [% ELSIF error == "fieldvalue_sortkey_invalid" %]
    [% title = "Alan Değeri Sıralama Anahtarı Geçersiz" %]
    '[% name FILTER html %]' alanı için belirtilen '[% sortkey FILTER html %]' sıralama anahtarı geçerli (pozitif) bir sayı değil.

  [% ELSIF error == "fieldvalue_still_has_bugs" %]
    [% title = "Bu Alan Değerini Silemezsiniz" %]
    '[% field FILTER html %]' alanından '[% value FILTER html %]' değerini silemezsiniz çünkü bu değer halâ
    [%+ count FILTER html %] [%+ terms.bug %] tarafından kullanılıyor.

  [% ELSIF error == "fieldvalue_undefined" %]
    [% title = "Değer Belirtilmemiş" %]
    Bir değer belirtmelisiniz.

  [% ELSIF error == "file_not_specified" %]
    [% title = "Dosya Belirtilmemiş" %]
    Ekleyecek bir dosya seçmelisiniz.

  [% ELSIF error == "file_too_large" %]
    [% title = "Dosya Fazla Büyük" %]
    Eklemeye çalıştığınız dosya [% filesize FILTER html %] kilobayt boyutunda.
    Yama olmayan ekler [%+ Param('maxattachmentsize') %] kilobayttan büyük olamaz.
    <br>
    Eki başka bir yerde depolayıp
    [% IF Param("allow_attach_url") %]
      ek oluşturma sayfasında 
      <b>AttachURL</b> alanına bu dosyanın adresini vermenizi
    [% ELSE %]
      adresi bir yoruma veya bu [% terms.bugGen %] URL (adres) alanına girmenizi
    [% END %]
    tavsiye ederiz.
    <br>
    Bir diğer seçenek de, eğer göndermeye çalıştığınız ek bir resim ise, onu JPG veya PNG gibi sıkıştırılabilir bir biçime dönüştürüp tekrar denemektir.

  [% ELSIF error == "flag_not_multiplicable" %]
    [% docslinks = {'flags-overview.html' => 'Bayraklara Genel Bakış',
                    'flags.html' => 'Bayrakların Kullanımı'} %]
    <em>[% type.name FILTER html %]</em> 
    için aynı anda birden fazla kişiden istekte bulunamazsınız.

  [% ELSIF error == "flag_requestee_needs_privs" %]
    [% title = "Bayrak İsteyenin Ayrıcalıklara İhtiyacı Var" %]
    [% requestee.identity FILTER html %] <em>[% flagtype.name FILTER html %]</em> bayrağını atamak için izne ihtiyaç duyuyor.
    Lütfen <em>[% flagtype.grant_group.name FILTER html %]</em> grubunun üyesi bir kullanıcı seçin.

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "Bayrak İsteyen Yetkili Değil" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Bayrakların Yönetimi',
                         'groups.html' => 'Grup Güvenliği'} %]
    [% docslinks = {'flags-overview.html' => 'Bayraklara Genel Bakış',
                    'flags.html' => 'Bayrakların Kullanımı'} %]

    [%+ bug_id FILTER html -%] numaralı [% terms.bug %] [% IF attach_id && attach_id > 0 %] [% attach_id FILTER html %] numaralı ek [% END %] için [% requestee.identity FILTER html %] isimli kişiden <code>[% flag_type.name FILTER html %]</code> 
    bayrağını atamasını istediniz, fakat o [% terms.bug %] sadece belirli gruplardaki kullanıcılara açık durumda ve istekte bulunduğunuz kişi [% terms.bugDat %] erişebilir durumda olan tüm gruplarda değil. Lütfen başka birinden isteyin veya [% terms.bugAcc %] haber verilecekler listesindeki kişiler için erişilebilir yaparak o kullanıcıyı haber verilecekler listesine ekleyin.

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "Bayrak İsteyen Yetkili Değil" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Bayrakların Yönetimi',
                         'groups.html' => 'Grup Güvenliği'} %]
    [% docslinks = {'flags-overview.html' => 'Bayraklara Genel Bakış',
                    'flags.html' => 'Bayrakların Kullanımı'} %]

    [%+ bug_id FILTER html -%] numaralı [%+ terms.bug %] [% attach_id FILTER html %] numaralı ek için [% requestee.identity FILTER html %] isimli kişiden <code>[% flag_type.name FILTER html %]</code> 
    bayrağını atamasını istediniz, fakat o ek sadece [% Param("insidergroup") FILTER html %] grubundaki kullanıcıların erişimine açık ve istekte bulunduğunuz kişi o grupta değil. Lütfen başka birinden isteyin veya bir yöneticiden kullanıcıyı o gruba eklemesini rica edin.

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Bayrak Türü Haber Verilecekler Listesi Geçersiz" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Bayrakların Yönetimi'} %]
    Haber verilecekler listesi [% cc_list FILTER html %] 200 karakterden kısa olmalıdır.

  [% ELSIF error == "flag_type_component_without_product" %]
    [% title = "Ürün Kayıp" %]
    Bileşen seçildi ama ürün seçilmedi.

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Bayrak Türü Açıklaması Geçersiz" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Bayrak Yönetimi'} %]
    Açıklama 32 kilobayttan küçük olmalı.

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Bayrak Türü Adı Geçersiz" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Bayrak Yönetimi'} %]
    <em>[% name FILTER html %]</em> ismi en fazla 50 karakter uzunluğunda olabilir ve boşluk ya da virgül içermemelidir.

  [% ELSIF error == "flag_update_denied" %]
    [% title = "Bayrak Değiştirme İşlemi Reddedildi" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Bayrak Yönetimi',
                         'groups.html' => 'Grup Güvenliği'} %]
    [% docslinks = {'flags-overview.html' => 'Bayraklara Genel Bakış',
                    'flags.html' => 'Bayrakların Kullanımı'} %]
    <code>[% name FILTER html %]
          [% IF status == "X" %][% old_status FILTER html %][% END %]</code>
    [% IF status == "+" %] izin vermeye [% ELSIF status == "-" %] reddetmeye
    [% ELSIF status == "X" %] temizlemeye [% ELSE %] istemeye [% END %]
    çalıştınız.

    Sadece gerekli izinlere sahip bir kullanıcı bunu yapabilir.

  [% ELSIF error == "format_not_found" %]
    [% title = "Biçim Bulunamadı" %]
    <em>[% ctype FILTER html %]</em> içerik türünde istenen <em>[% format FILTER html %]</em> biçimi yok.
    
  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Bayrak Türü Sıralama Anahtarı Geçersiz" %]
    Sıralama anahtarı 0 ile 32767 arasında bir tamsayı olmalıdır.
    <em>[% sortkey FILTER html %]</em> olamaz.

  [% ELSIF error == "freetext_too_long" %]
    [% title = "Metin Fazla Uzun" %]
    Girdiğiniz metin fazla uzun ([% text.length FILTER html %] karakter,
    izin verilen en fazla [% constants.MAX_FREETEXT_LENGTH FILTER none %] karakter):
    <p><em>[% text FILTER html %]</em></p>

  [% ELSIF error == "group_cannot_delete" %]
    [% title = "Grup Silinemez" %]
    <em>[% name FILTER html %]</em> grubu silinemez çünkü veritabanında ona başvuruda bulunan 
    <a href="editgroups.cgi?action=del&amp;group=[% gid FILTER url_quote %]">kayıt</a>
    var. Grubu silmeden önce bu başvuruların silinmesi gerekir.

  [% ELSIF error == "group_change_denied" %]
    [% title = "O Grup Eklenemez-Silinemez" %]
    [%+ bug.id FILTER html %] numaralı [% terms.bugDat %] [% group_id FILTER html %] kimlikli bir grup eklemeye veya silmeye çalıştınız, fakat bunu yapma izniniz yok.

  [% ELSIF error == "group_exists" %]
    [% title = "Grup Zaten Var" %]
    [% name FILTER html %] grubu zaten var.

  [% ELSIF error == "group_has_special_role" %]
    [% title = "Grup Silinemez" %]
    [% IF groups.size == 1 %]
      [% attr = "onu" %]
      [% param = "parametresi" %]
    [% ELSE %]
      [% attr = "onları" %]
      [% param = "parametreleri" %]
    [% END %]
    '[% name FILTER html %]' grubu
    '[% groups.join("' ve '") FILTER html %]' [% param FILTER html %] tarafından kullanılıyor.
    Bu grubu silebilmek için, önce o [% attr FILTER html %] başka bir gruba işaret eder hale getirmelisiniz.

  [% ELSIF error == "group_invalid_removal" %]
    [%+ bug.id FILTER html %] numaralı [% terms.bugAcc %] [% group_id FILTER html %] kimlikli gruptan silmeye çalıştınız, fakat '[% product FILTER html %]' ürünündeki [% terms.bugs %] o gruptan silinemez.
    
  [% ELSIF error == "group_invalid_restriction" %]
    [%+ bug.id FILTER html %] numaralı [% terms.bugAcc %] [% group_id FILTER html %] kimlikli gruba sınırlandırmaya çalıştınız, ama '[% product FILTER html %]' ürünündeki [% terms.bugs %] o gruba sınırlandırılamaz.

  [% ELSIF error == "group_not_specified" %]
    [% title = "Grup Belirtilmedi" %]
    Herhangi bir grup belirtilmedi.

  [% ELSIF error == "system_group_not_deletable" %]
    [% title = "Sistem Grupları Silinemez" %]
    <em>[% name FILTER html %]</em> bir sistem grubu, o yüzden silinemez.

  [% ELSIF error == "group_unknown" %]
    [% title = "Bilinmeyen Grup" %]
    [% name FILTER html %] diye bir grup yok. Lütfen geçerli bir grup adı belirtin. Gerekiyorsa önce o grubu oluşturun!

  [% ELSIF error == "illegal_at_least_x_votes" %]
    [% title = "Arama Anlamsız" %]
    <em>En az ___ oy</em> alanı bir tamsayı olmalıdır. Sizin girdiğiniz <tt>[% value FILTER html %]</tt> değeri bu nedenle geçersiz.
    
  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Yetkisiz Eylem" %]
    [% attach_id FILTER html %] ekini değiştirme yetkiniz yok.

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "Yetkisiz Eylem" %]
    [%+ bug_id FILTER html %] numaralı [% terms.bugLoc %] ekleri değiştirme yetkiniz yok.
    .
         
  [% ELSIF error == "illegal_attachment_is_patch" %]
    [% title = "Arama Anlamsız" %]
    <em>Ek bir yama</em> alanı için geçerli değerler sadece 0 ve 1'dir.

  [% ELSIF error == "illegal_bug_status_transition" %]
    [% title = "Geçersiz $terms.Bug Durum Değişimi" %]
    [% IF old.defined %]
      [% terms.bug %] durumunu [%+ old.name FILTER html %] iken [% new.name FILTER html %] yapamazsınız.
    [% ELSE %]
      [%+ new.name FILTER html %] durumunda yeni [% terms.bugs %] giremezsiniz.
    [% END %]

  [% ELSIF error == "illegal_change" %]
    [% title = "İzin Yok" %]
    <strong>[% field_descs.$field FILTER html %]</strong> alanını 
    [% IF oldvalue.defined %]
      <em>[% oldvalue.join(', ') FILTER html %]</em> iken 
    [% END %]
    [% IF newvalue.defined %]
      <em>[% newvalue.join(', ') FILTER html %]</em> olarak 
    [% END %]
    değiştirmeye çalıştınız, fakat sadece 
    [% IF privs < 3 %]
      [% terms.bug %] atanan[% IF privs < 2 %], [% terms.bugAcc %] bildiren [% END %]
      veya
    [% END %]
    gerekli izinlere sahip bir kullanıcı o alanı değiştirebilir.

  [% ELSIF error == "illegal_change_deps" %]
    [% title = "İzin Yok" %]
    <strong>[% field_descs.$field FILTER html %]</strong> alanını 
    değiştirmeye çalıştınız ama o alanı sadece ilgili iki [% terms.bugsAcc %] da değiştirme izni olan bir kullanıcı değiştirebilir.

  [% ELSIF error == "illegal_changed_in_last_x_days" %]
    [% title = "Arama Anlamsız" %]
    <em>Son ___ günde değişmiş</em> alanı bir tamsayı olmalıdır. fakat sizin girdiğiniz
    <tt>[% value FILTER html %]</tt> değeri geçerli bir tamsayı değil.
    
  [% ELSIF error == "illegal_date" %]
    [% title = "Geçersiz Tarih" %]
    '<tt>[% date FILTER html %]</tt>' geçerli bir tarih değil.
    [% IF format %]
      Lütfen '<tt>[% format FILTER html %]</tt>' biçimini kullanın.
    [% END %]
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "Geçersiz Eposta Adresi" %]
    Girdiğiniz eposta adresi (<b>[% addr FILTER html %]</b>) 
    geçerli eposta adresi testimizden geçemedi.
    [% IF default %]
      Geçerli bir adres bir adet '@'
      ve '@' işaretinden sonra da en az bir tane de '.' içermelidir.
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    Ayrıca şu özel karakterlerden birini ve boşluk karakterini içeremez:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>.
    
  [% ELSIF error == "illegal_frequency" %]
    [% title = "Fazla Sık" %]
    Eğer bir yönetici değilseniz oluşturacağınız seriler en az [% minimum FILTER html %] günde bir kullanılabilir.
    
  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "Grup Kontrol Bileşiminiz Geçersiz" %]
    [% admindocslinks = {'groups.html' => 'Ürünlere Grup Kontrolleri Atamak'} %]
    &quot;[% groupname FILTER html %]&quot; grubuna atadığınız grup kontrol bileşiminiz geçersiz.

  [% ELSIF error == "illegal_is_obsolete" %]
    [% title = "Arama Anlamsız" %]
    <em>Ek eski</em> alanı için geçerli değerler sadece 0 ve 1'dir.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Geçersiz Arama Adı" %]
    Aramanızın adı aşağıdaki karakterleri içeremez:
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    [% admindocslinks = {'groups.html' => 'Grup Güvenliği'} %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Seri oluşturma izniniz yok.
        
  [% ELSIF error == "illegal_series_edit" %]
    [% admindocslinks = {'groups.html' => 'Grup Güvenliği'} %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Bu seriyi değiştirme izniniz yok. Bunu sadece bu seriyi oluşturan kişi ve yöneticiler yapabilir.

  [% ELSIF error == "illegal_time" %]
    [% title = "Geçersiz Zaman" %]
    '<tt>[% time FILTER html %]</tt>' geçerli bir zaman değil.
    [% IF format %]
      Lütfen '<tt>[% format FILTER html %]</tt>' biçimini kullanın.
    [% END %]
        
  [% ELSIF error == "insufficient_data_points" %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Bir grafik oluşturmak için yeterli veri noktamız yok (henüz).
        
  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Geçersiz Ek Kimliği" %]
    Ek kimliği ([% attach_id FILTER html %]) geçersiz.

  [% ELSIF error == "bug_id_does_not_exist" %]
    [% title = BLOCK %]Geçersiz [% terms.Bug %] Kimliği[% END %]
    [% bug_id FILTER html %] kimlikli bir [% terms.bug %] yok.
    
  [% ELSIF error == "improper_bug_id_field_value" %]
    [% title = BLOCK %]
      [% IF bug_id %]Geçersiz [% ELSE %]Kayıp [% END %] [% terms.Bug %] Kimliği
    [% END %]
    [% IF bug_id %]
      '[% bug_id FILTER html %]' geçerli bir [% terms.bug %] numarası
      [% IF Param("usebugaliases") %]
        ve [% terms.abug %] adı
      [% END %] değil.
    [% ELSE %]
      [% IF field %]
        '[% field_descs.$field FILTER html %]' alanı boş olamaz.
      [% END %]
      Geçerli bir [% terms.bug %] numarası girmelisiniz!
    [% END %]

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "Geçersiz 'İtibaren Değişen'" %]
    'itibaren değişen' değeri, '[% changedsince FILTER html %]', 0'dan (sıfır) büyük bir tamsayı olmalıdır.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Geçersiz İçerik Türü" %]
    <em>[% contenttype FILTER html %]</em> içerik türü geçersiz.
    Geçerli değerler <em>üst</em>'ün <em>application, audio, image, message, model, multipart, text</em> veya <em>video</em> olabildiği <em>üst/alt</em> şeklinde olmalıdır.
    
  [% ELSIF error == "invalid_context" %]
    [% title = "Geçersiz Bağlam" %]
    [% context FILTER html %] bağlamı geçersiz (bir sayı, "dosya" veya "yama" olabilir).

  [% ELSIF error == "invalid_datasets" %]
    [% title = "Geçersiz Veri Kümeleri" %]
    <em>[% datasets FILTER html %]</em> veri kümeleri geçersiz. Sadece basamaklar, harfler ve sütunlar kullanılabilir.

  [% ELSIF error == "invalid_format" %]
    [% title = "Geçersiz Biçim" %]
    "[% format FILTER html %]" biçimi geçersiz. (
    [% FOREACH my_format = formats %]
      "[% my_format FILTER html %]"
    [% END %]
    değerlerinden biri olmalıdır).

  [% ELSIF error == "invalid_group_ID" %]
    [% title = "Geçersiz Grup Kimliği" %]
    Belirttiğiniz grup mevcut değil.

  [% ELSIF error == "invalid_group_name" %]
    [% title = "Geçersiz Grup Adı" %]
    Belirttiğiniz grup ([% name FILTER html %]) burada kullanılamaz.

  [% ELSIF error == "invalid_maxrows" %]
    [% title = "En Fazla Satır Sayısı Değeri Geçersiz" %]
    Olabilecek en fazla satır sayısı değeri ('[% maxrows FILTER html %]') pozitif bir tamsayı olmalıdır.

  [% ELSIF error == "invalid_parameter" %]
    [% title = "Geçersiz Parametre" %]
    [% name FILTER html %] için verilen yeni değer geçersiz: [% err FILTER html %].

  [% ELSIF error == "invalid_product_name" %]
    [% title = "Geçersiz Ürün Adı" %]
    '[% product FILTER html %]' ürün adı geçersiz veya böyle bir ürün yok.

  [% ELSIF error == "invalid_regexp" %]
    [% title = "Geçersiz Düzenli İfade" %]
    Girdiğiniz düzenli ifade (regular expression) geçersiz.

  [% ELSIF error == "invalid_user_group" %]
    [% title = "Geçersiz Kullanıcı Grubu" %]
    
    '[% users.join(', ') FILTER html %]' [% IF users.size > 1 %] kullanıcıları [% ELSE %] kullanıcısı [% END %]
    [% IF bug_id %]
      '[% bug_id FILTER html %]' kimlikli [% terms.bug %] için
    [% ELSIF new %]
      yeni bir [% terms.bugDat %] dahil edilemez ve
    [% ELSE %]
      değiştirilen en az bir [% terms.bug %] için
    [% END %]
    [% IF product %]
      '[% product FILTER html %]'
    [% END %]
    [%+ field_descs.product FILTER html %]
    ürününü değiştiremiyor.

  [% ELSIF error == "invalid_username" %]
    [% title = "Geçersiz Kullanıcı Adı" %]
    <tt>[% name FILTER html %]</tt> adı geçerli bir kullanıcı adı değil.
    Ya yanlış yazdınız, ya da o kişinin bir [% terms.Bugzilla %] hesabı yok.

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Geçersiz Kullanıcı Adı Veya Parola" %]
    Girdiğiniz kullanıcı adı ya da parola geçersiz.

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "Anahtar Zaten Var" %]
    [% name FILTER html %] adında bir anahtar zaten var.

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "Anahtar Açıklaması Boş Olamaz" %]
    Anahtar için bir açıklama girmelisiniz.
     
  [% ELSIF error == "keyword_blank_name" %]
    [% title = "Anahtar Adı Boş Olamaz" %]
    Anahtara bir isim girmelisiniz.
     
  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "Geçersiz Anahtar Adı" %]
    Anahtar adında virgül ve boşluk kullanamazsınız.
     
  [% ELSIF error == "local_file_too_large" %]
    [% title = "Yerel Dosya Fazla Büyük" %]
    Yerel dosya yüklemeleri boyut olarak [% Param('maxlocalattachment') %] megabaytı geçemez.

  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Oturum Açmalısınız" %]
    Parolanızı değiştirmek için önce oturum açma adı girmelisiniz.

  [% ELSIF error == "login_required_for_pronoun" %]
    [% title = "Oturum Açmalısınız" %]
    Oturum açmadan "%user%" kullanamazsınız, çünkü %user% sizin kullanıcı adınıza karşılık gelir.

  [% ELSIF error == "milestone_already_exists" %]
    [% title = "Aşama Zaten Var" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi',
                         'milestones.html' => 'Aşamalar Hakkında'} %]
    '[%- product FILTER html %]' ürününün zaten bir '[% name FILTER html %]' aşaması var.
    .

  [% ELSIF error == "milestone_blank_name" %]
    [% title = "Aşama Adı Boş Olamaz" %]
    Bu aşama için bir isim girmelisiniz.

  [% ELSIF error == "milestone_is_default" %]
    [% title = "Öntanımlı Aşama Silinemez" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi',
                         'milestones.html' => 'Aşamalar Hakkında'} %]
    [% milestone.name FILTER html %], '[% milestone.product.name FILTER html %]' ürününün öntanımlı aşaması, o yüzden silinemez.

  [% ELSIF error == "milestone_name_too_long" %]
    [% title = "Aşama Adı Fazla Uzun" %]
    Bir aşamanın adı en fazla 20 karakter olabilir. '[% name FILTER html %]' fazla uzun bir isim ([% name.length %] karakter).

  [% ELSIF error == "milestone_required" %]
    [% title = "Aşama Gerekiyor" %]
    Eğer [% terms.bugAcc %] kabul edecekseniz, [%+ bug.id FILTER html %] kimlikli [% terms.bug %] için bir aşama seçmelisiniz. Ne zaman düzeltilmiş olacağına dair bir tahminde bulunmak, [% terms.abugAcc %] kabul etmenin gereğidir.

  [% ELSIF error == "milestone_sortkey_invalid" %]
    [% title = "Aşama Sıralama Anahtarı Geçersiz" %]
    '[% sortkey FILTER html %]' sıralama anahtarı
    [%+ constants.MIN_SMALLINT FILTER html %] ile
    [%+ constants.MAX_SMALLINT FILTER html %] arasında değil.

  [% ELSIF error == "misarranged_dates" %]
    [% title = "Tarihler Ters" %]
    Verdiğiniz başlangıç tarihi ([% datefrom FILTER html %]) bitiş tarihinden ([% dateto FILTER html %]) sonra.
    
  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Ek Açıklaması Verilmemiş" %]
    Ek için bir açıklama girmelisiniz.
    
  [% ELSIF error == "missing_category" %]
    [% title = "Kategori Verilmemiş" %]
    Bu seri için bir kategori belirtmemişsiniz.

  [% ELSIF error == "missing_component" %]
    [% title = "Bileşen Verilmemiş" %]
    [% admindocslinks = {'products.html'   => 'Ürün Yönetimi',
                         'components.html' => 'Bileşen Oluşturma'} %]
    <em>[% product.name FILTER html %]</em> ürününe [% terms.abug %] girebilmemiz için ürünün en az bir bileşeni olması gerekiyor.
    <br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editcomponents.cgi?action=add&amp;product=[% product.name FILTER url_quote %]">Yeni bileşen oluştur</a>.
    [% ELSE %]
      Lütfen [% Param("maintainer") %] ile iletişime geçip bu ürüne bir bileşen eklemesini isteyin.
    [% END %]

  [% ELSIF error == "missing_content_type" %]
    [% title = "İçerik Türü Belirtilmemiş" %]
     [% terms.BugzillaAbl %] içerik türünü otomatik olarak algılamasını istediniz fakat tarayıcınız dosyayı yüklerken herhangi bir içerik türü belirtmedi, o yüzden kendiniz bir içerik türü girmelisiniz.
                
  [% ELSIF error == "missing_content_type_method" %]
    [% title = "İçerik Türü Algılama Yönetimi Belirtilmemiş" %]
    <em>otomatik algıla</em>, <em>listeden seç</em>, veya <em>elle gir</em>
    değerlerinden biri olmak üzere içerik türünü belirlemek için bir yöntem seçmelisiniz.
        
  [% ELSIF error == "missing_cookie" %]
    [% title = "Çerez Kayıp" %]
    Görünüşe göre son aramanızın sonuçlarını tutan çerezi kaybettim. <a href="query.cgi">Arama sayfası</a>ndan yeniden başlamanız gerekecek.
          
  [% ELSIF error == "missing_datasets" %]
    [% title = "Veri Kümesi Seçilmemiş" %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Çizim için en az bir veri kümesi seçmelisiniz.
    
  [% ELSIF error == "missing_email_type" %]
    [% title = "Arama Anlamsız" %]
    İçinde <tt>[% email FILTER html %]</tt> aranacak bir veya daha fazla alan seçmelisiniz.
    
  [% ELSIF error == "missing_frequency" %]
    [% title = "Sıklık Belirtilmemiş" %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Bu seri için geçerli bir tekrarlama sıklığı belirtmediniz.
                
  [% ELSIF error == "missing_name" %]
    [% title = "İsim Belirtilmemiş" %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Bu seri için bir isim girmelisiniz.
                
  [% ELSIF error == "missing_query" %]
    [% title = "Arama Kayıp" %]
    [% docslinks = {'query.html' => '$terms.Bug Arama',
                    'query.html#list' => '$terms.Bug Listeleri'} %]
    <em>[% queryname FILTER html %]</em> isimli arama
    [% IF sharer_id && sharer_id != user.id %]
      size görünür kılınmamış.
    [% ELSE %]
      yok.
    [% END %]

  [% ELSIF error == "missing_resolution" %]
    [% title = "Karar Gerekli" %]
    Hataları [%+ status FILTER upper FILTER html %] olarak işaretleyebilmek için geçerli bir karar girmelisiniz.

  [% ELSIF error == "move_bugs_disabled" %]
    [% title = BLOCK %][% terms.Bug %] Taşıma Kapatılmış[% END %]
    [% terms.Bug %] taşıma kapatılmış durumda. Eğer [% terms.abugAcc %] taşımanız gerekiyorsa, lütfen [% Param("maintainer") %] ile iletişime geçin.

  [% ELSIF error == "missing_subcategory" %]
    [% title = "Alt Kategori Belirtilmemiş" %]
    Bu seri için herhangi bir alt kategori belirtmediniz.
                
  [% ELSIF error == "missing_version" %]
    [% title = "Sürüm Belirtilmemiş" %]
    [% admindocslinks = {'versions.html' => 'Sürüm Tanımlama'} %]
    <em>[% product.name FILTER html %]</em> ürününe [% terms.abug %] girebilmeniz için 
    en az bir sürümü olması gerekir.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editversions.cgi?action=add&amp;product=[% product.name FILTER url_quote %]">Yeni sürüm oluştur</a>.
    [% ELSE %]
      Lütfen [% Param("maintainer") %] ile iletişime geçip bu ürüne bir sürüm eklemesini isteyin.
    [% END %]

  [% ELSIF error == "need_quip" %]
    [% title = "Nükte Gerekli" %]
    [% docslinks = {'quips.html' => 'Nükteler Hakkında'} %]
    Lütfen metin alanına bir nükte girin.

  [% ELSIF error == "new_password_missing" %]
    [% title = "Yeni Parola Belirtilmemiş" %]
    Yeni bir parola girmelisiniz.

  [% ELSIF error == "no_axes_defined" %]
    [% title = "Eksen Tanımlanmadı" %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
    Çizilmesini istediğiniz herhangi bir eksen tanımlamadınız.

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %][% terms.Bug %] Seçilmedi[% END %]
    [% IF action == "modify" %]
      Değiştirmek için
    [% ELSIF action == "view" %]
      Açmak için
    [% END %]
    herhangi bir [% terms.bug %] seçmediniz.

  [% ELSIF error == "no_bug_ids" %]
    [% title = BLOCK %][% terms.Bugs %] Seçilmedi[% END %]
    the [% tag FILTER html %] 
    [% IF action == "add" %] takısına eklemek [% ELSE %] takısından çıkarmak [% END %]
    için herhangi bir [% terms.bug %] seçmediniz.

  [% ELSIF error == "no_bugs_in_list" %]
    [% title = "Takı Silinsin mi?" %]
    Bu eylem [% tag FILTER html %] takısından bütün [% terms.bugsAcc %] ve takıyı tamamen silecek. Gerçekten silmek istiyorsanız
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
    [%- tag FILTER url_quote %]">buraya</a> tıklayın.

  [% ELSIF error == "no_bugs_to_remove" %]
    [% title = "Takı Seçilmedi" %]
    [% terms.bugsAcc %] sileceğiniz takıyı seçmediniz.

  [% ELSIF error == "no_dupe_stats" %]
    [% title = "'Aynı' İstatistikleri Bulunamıyor" %]
    [% admindocslinks = {'extraconfig.html' => 'collectstats.pl İşini Düzenli Aralıklarla Çalıştırmak'} %]
    Bugün ([% today FILTER html %]) ve dün için 'aynı [% terms.bug %]' istatistiği yok.

  [% ELSIF error == "no_dupe_stats_error_today" %]
    [% title = "Bugünün 'Aynı Olanlar' Dosyasının Okunmasında Hata" %]
    [% admindocslinks = {'extraconfig.html' => 'collectstats.pl İşini Düzenli Aralıklarla Çalıştırmak'} %]
    Bugünün 'aynı olanlar' dosyası okunmaya çalışırken bir hata oluştu: [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_whenever" %]
    [% title = "Önceki 'Aynı Olanlar' Dosyasının Okunmasında Hata" %]
    [% admindocslinks = {'extraconfig.html' => 'collectstats.pl İşini Düzenli Aralıklarla Çalıştırmak'} %]
    [% changedsince FILTER html %] gün öncesinin ([% whenever FILTER html %]) 'aynı olanlar' dosyasını açmaya çalışırken bir hata oluştu:
    [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_yesterday" %]
    [% title = "Dünün 'Aynı Olanlar' Dosyasının Okunmasında Hata" %]
    [% admindocslinks = {'extraconfig.html' => 'collectstats.pl İşini Düzenli Aralıklarla Çalıştırmak'} %]
    Bugün ([% today FILTER html %]) için hiç 'aynı olanlar' istatistiği yok ve dünün 'aynı olanlar' dosyasını açmaya çalışırken bir hata oluştu: [% error_msg FILTER html %].

  [% ELSIF error == "no_initial_bug_status" %]
    [% title = "Başlangıç $terms.Bug Durumu Yok" %]
    [% terms.Bug %] oluştururken hangi durumun atanacağı belli değil.
    Lütfen problemi [% Param("maintainer") %] adresine bildirin.

  [% ELSIF error == "no_new_quips" %]
    [% title = "Yeni Nükte Yok" %]
    [% admindocslinks = {'quips.html' => 'Nükte Kullanımını Kontrol Etmek'} %]
    Site yeni nükte eklenmesine izin vermiyor.

  [% ELSIF error == "no_page_specified" %]
    [% title = "Sayfa Belirtilmedi" %]
    Gösterilecek sayfanın kimliğini belirtmediniz.

  [% ELSIF error == "no_products" %]
    [% title = "Ürün Yok" %]
    [% admindocslinks = {'products.html'   => 'Bir Ürünü Yapılandırmak',
                         'components.html' => 'Ürünlere Bileşen Eklemek',
                         'groups.html'     => 'Grup Güvenliği'} %]
    Ya [% terms.bug %] girilebilecek herhangi bir ürün tanımlanmadı ya da sizin herhangi bir ürüne erişiminiz yok.

  [% ELSIF error == "no_valid_action" %]
    [% title = "Geçerli Bir Eylem Belirtilmedi" %]
    [% field_descs.$field FILTER html %] değiştirilemiyor: geçerli bir eylem belirtilmedi.

  [% ELSIF error == "number_not_numeric" %]
    [% title = "Sayısal Değer Gerekiyor" %]
    <em>[% field_descs.$field FILTER html %]</em> alanındaki '[% num FILTER html %]' değeri sayısal bir değer değil.

  [% ELSIF error == "number_too_large" %]
    [% title = "Sayı Fazla Büyük" %]
    <em>[% field_descs.$field FILTER html %]</em> alanındaki '[% num FILTER html %]' sayısı, izin verilen en yüksek değerden ([% max_num FILTER html %]) daha büyük.

  [% ELSIF error == "number_too_small" %]
    [% title = "Sayı Fazla Küçük" %]
    <em>[% field_descs.$field FILTER html %]</em> alanındaki '[% num FILTER html %]' sayısı, izin verilen en düşük değerden ([% min_num FILTER html %]) daha küçük.

  [% ELSIF error == "object_name_not_specified" %]
    [% type = BLOCK %][% PROCESS object_name %][% END %]
    [% title = BLOCK %][% type FILTER ucfirst FILTER html %] Belirtilmedi[% END %]
    Bir [% type FILTER html %] seçmeli ya da girmelisiniz.

  [% ELSIF error == "object_does_not_exist" %]
    [% type = BLOCK %][% PROCESS object_name %][% END %]
    [% title = BLOCK %]Geçersiz [% type FILTER ucfirst FILTER html %][% END %]
    [% IF product.defined %]
      '[% product.name FILTER html %]' ürününde
    [% END %]
    '[% name FILTER html %]' adında bir [% type FILTER html %] yok.
    [% IF class == "Bugzilla::User" %]
      Ya adı yalış yazdınız ya da o kullanıcı henüz bir [% terms.Bugzilla %] hesabı açmadı.
    [% END %]

  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Hatalı Eski Parola" %]
    Eski parolanızı doğru girmediniz.

  [% ELSIF error == "old_password_required" %]
    [% title = "Eski Parola Gerekli" %]
    Eposta adresinizi değiştirmek için eski parolanızı girmelisiniz.

  [% ELSIF error == "password_change_requests_not_allowed" %]
    [% title = "Parola Değiştirme İsteklerine İzin Verilmiyor" %]
    Sistem parola değiştirme isteklerine izin vermeyecek şekilde yapılandırılmış.

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Parolalar Uyuşmuyor" %]
    Girdiğiniz iki parola birbiriyle uyuşmuyor.

  [% ELSIF error == "password_too_long" %]
    [% title = "Parola Fazla Uzun" %]
    Parola
    [%+ constants.USER_PASSWORD_MAX_LENGTH FILTER html %] karakterden uzun olmamalı.

  [% ELSIF error == "password_too_short" %]
    [% title = "Parola Fazla Kısa" %]
    Parola en az
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] karakter uzunluğunda olmalı.

  [% ELSIF error == "patch_too_large" %]
    [% title = "Dosya Fazla Büyük" %]
    Eklemeye çalıştığınız dosya [% filesize FILTER html %] kilobayt. Yamalar [% Param('maxpatchsize') %] kilobayttan büyük olamaz. Yamayı birkaç parçaya bölmeyi deneyin.

  [% ELSIF error == "product_access_denied" %]
    Ya '[% product FILTER html %]' böyle bir ürün yok ya da sizin bu ürüne erişiminiz yok.

  [% ELSIF error == "product_doesnt_exist" %]
    [% title = "Belirtilen Ürün Mevcut Değil" %]
    '[% product FILTER html %]' diye bir ürün yok.

  [% ELSIF error == "product_votes_per_bug_must_be_nonnegative" %]
    [% title = "En Fazla Oy Sayısı Negatif Olmamalı" %]
    [% admindocslinks = {'voting.html' => 'Oy Özelliğini Ayarlamak'} %]
    '[% maxvotesperbug FILTER html %]' değeri pozitif bir sayı olması gereken <em>'[% terms.Bug %] Başına En Fazla Oy Sayısı'</em> alanı için geçersiz bir değer.

  [% ELSIF error == "product_votes_per_user_must_be_nonnegative" %]
    [% title = "Kullanıcı Başına Oy Sayısı Negatif Olmamalı" %]
    [% admindocslinks = {'voting.html' => 'Oy Özelliğini Ayarlamak'} %]
    '[% votesperuser FILTER html %]' değeri pozitif bir sayı olması gereken <em>'Kullanıcı Başına Oy'</em> alanı için geçersiz bir değer.

  [% ELSIF error == "product_votes_to_confirm_must_be_nonnegative" %]
    [% title = "Onay İçin Oy Sayısı Negatif Olmamalı" %]
    [% admindocslinks = {'voting.html' => 'Oy Özelliğini Ayarlamak'} %]
    '[% votestoconfirm FILTER html %]' değeri pozitif bir sayı içermesi gereken <em>'Onay İçin Oy Sayısı'</em> alanı için geçersiz bir değer.

  [% ELSIF error == "product_cant_delete_description" %]
    [% title = "Ürün Açıklaması Silinemez" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    '[% product FILTER html %]' ürününün açıklaması silinemez.

  [% ELSIF error == "product_cant_delete_name" %]
    [% title = "Ürün adı silinemez" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    '[% product FILTER html %]' ürününün adı silinemez.

  [% ELSIF error == "product_name_already_in_use" %]
    [% title = "Ürün Adı Zaten Kullanımda" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    '[% product FILTER html %]' ürün adı zaten kullanılıyor
  
  [% ELSIF error == "product_name_diff_in_case" %]
    [% title = "Ürün Adında Sadece Harfleri Halleri Farklı" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    '[% product FILTER html %]' ürün adı varolan '[% existing_product FILTER html %]' ürününün adından sadece harflerin halleri yoluyla ayrılıyor.

  [% ELSIF error == "product_must_define_defaultmilestone" %]
    [% title = "Yeni Öntanımlı Aşama Belirtilmeli" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi',
                         'milestones.html' => 'Aşamalar Hakkında'} %]
    [% IF classification %]
      [% classification_url_part = BLOCK %]&amp;classification=
        [%- classification FILTER url_quote %]
      [% END %]
    [% END %]
    '[% product FILTER html %]' ürünü için öntanımlı aşama olabilmesi için önce onu <a href="editmilestones.cgi?action=add&amp;product=
    [%- product FILTER url_quote %]
    [%- classification_url_part FILTER none %]">
    aşamayı oluştur</a>malısınız.

  [% ELSIF error == "product_admin_denied" %]
    [% title = "Ürüne Erişim Reddedildi" %]
    '[% product FILTER html %]' ürününün özelliklerini değiştirme izniniz yok.

  [% ELSIF error == "product_blank_name" %]
    [% title = "Ürün Adı Boş Olamaz" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    Yeni ürün için bir isim girmelisiniz.
  
  [% ELSIF error == "product_disabled" %]
    [% title = BLOCK %]Ürün [% terms.Bug %] Girişine Kapalı[% END %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    <em>[% product.name FILTER html %]</em> ürününe [% terms.bug %] girişi kapatılmış durumda.

  [% ELSIF error == "product_edit_denied" %]
    [% title = "Ürün Değiştirme Erişimi Reddedildi" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi',
                         'groups.html'   => 'Grup Güvenliği'} %]
    [%+ product FILTER html %] ürünündeki [% terms.bugsAcc %] değiştirme izniniz yok.

  [% ELSIF error == "product_has_bugs" %]
    [% title = BLOCK %]Ürüne Kayıtlı [% terms.Bugs %] Var[% END %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    Bu ürüne girilmiş [% nb FILTER html %] [%+ terms.bug %] var!
    Bu ürünü silebilmek için önce o [% terms.bugsAcc %] taşımalısınız.

  [% ELSIF error == "product_must_have_description" %]
    [% title = "Ürüne Açıklama Girilmeli" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi'} %]
    '[% product FILTER html %]' ürününe bir açıklama girmelisiniz.

  [% ELSIF error == "product_must_have_version" %]
    [% title = "Ürüne Sürüm Girilmeli" %]
    [% admindocslinks = {'products.html' => 'Ürün Yönetimi',
                         'versions.html' => 'Sürüm Yönetimi'} %]
    '[% product FILTER html %]' ürününe bir sürüm girmelisiniz.

  [% ELSIF error == "product_not_specified" %]
    [% title = "Ürün Belirtilmemiş" %]
    [% admindocslinks = {'products.html'   => 'Ürün Yönetimi',
                         'components.html' => 'Bileşen Yönetimi',
                         'milestones.html' => 'Aşama Yönetimi',
                         'versions.html'   => 'Sürüm Yönetimi'} %]
    Bileşen, aşama, sürüm veya ürün değiştirilmeye çalışırken herhangi bir ürün belirtilmedi.

  [% ELSIF error == "query_name_exists" %]
    [% title = "Arama Adı Kullanılıyor" %]
    <em>[% name FILTER html %]</em> adı başka bir kayıtlı arama tarafından kullanılıyor. Eğer bu adı kullanmanız şart ise önce onu
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
    [%- name FILTER url_quote %]">sil</a>melisiniz.

  [% ELSIF error == "query_name_missing" %]
    [% title = "Arama Adı Belirtilmedi" %]
    [% docslinks = {'query.html#list' => '$terms.Bug Listeleri'} %]
    Arama için bir isim girmelisiniz.

  [% ELSIF error == "query_name_too_long" %]
    [% title = "Sorgu Adı Fazla Uzun" %]
    Sorgunun adı 64 karakterden az olmalı.

  [% ELSIF error == "quicksearch_unknown_field" %]
    [% title = "Bilinmeyen Hızlı Arama Alanı" %]
    [% IF fields.unique.size == 1 %]
      <code>[% fields.first FILTER html %]</code> alanı bilinen bir alan değil.
    [% ELSE %]
      Fields
      [% FOREACH field = fields.unique.sort %]
         <code>[% field FILTER html %]</code>
         [% ', ' UNLESS loop.last() %]
      [% END %]
      alanları bilinen alanlar değil.
    [% END %]
    Kabul edilen alan adları <a href="page.cgi?id=quicksearchhack.html">burada listelenmekte</a>dir.

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Geçersiz Yeniden Atama" %]
    [% terms.Abug %] yeniden atamak için, [% terms.bugGen %] atanacağı yeni kişinin adresini girmelisiniz.

  [% ELSIF error == "require_component" %]
    [% title = "Bileşen Gerekiyor" %]
    Bu [% terms.bugAcc %] girmek için önce bir bileşen seçmelisiniz. Eğer emin olamıyorsanız, tahminde bulunmanız yeterlidir.

  [% ELSIF error == "require_new_password" %]
    [% title = "Yeni Parola Gerekiyor" %]
    Yeni bir parola yazmadan parolanızı değiştiremezsiniz.

  [% ELSIF error == "require_summary" %]
    [% title = "Özet Gerekiyor" %]
    Bu [% terms.bugDat %] bir özet girmelisiniz.

  [% ELSIF error == "resolution_cant_clear" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %] kapatılmış durumda, dolayısıyla kararı değiştiremezsiniz.

  [% ELSIF error == "resolution_not_allowed" %]
    [% title = "Karara İzin Verilmiyor" %]
    Açık [% terms.abugGen %] kararını değiştiremezsiniz.

  [% ELSIF error == "saved_search_used_by_whines" %]
    [% title = "Kayıtlı Arama Kullanımda" %]
    [% docslinks = {'whining.html' => 'Alarmlar Hakkında'} %]
    <em>[% search_name FILTER html %]</em> kayıtlı araması aşağıdaki başlıkları taşıyan
    <a href="editwhines.cgi">alarm tetikleri</a> tarafından kullanılıyor:
    [%+ subjects FILTER html %]

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "Geçersiz Arama" %]
    "İçerik" alanı sadece "eşleştirme" aramalarıyla kullanılabilir ve "eşleştirme" aramalarında sadece "içerik" alanı kullanılabilir.

  [% ELSIF error == "series_already_exists" %]
    [% title = "Seri Zaten Var" %]
    [% docslinks = {'reporting.html' => 'Bildirme'} %]
      <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      adında bir seri zaten var.
    
  [% ELSIF error == "sidebar_supports_mozilla_only" %]
    sidebar.cgi şu anda sadece Mozilla tabanlı web tarayıcılarını destekliyor.
    <a href="http://www.mozilla.org">Kendinize bir iyilik yapın</a>. :-)

  [% ELSIF error == "still_unresolved_bugs" %]
    [% IF dependency_count == 1 %]
      <a href="show_bug.cgi?id=[% dependencies.0.bug_id FILTER none %]">[% dependencies.0.bug_id FILTER none %]</a> kimlikli [% terms.bugLoc %]
      halâ [% dependencies.0.dependencies FILTER html %] çözülmemiş bağımlılık var.
      <a href="showdependencytree.cgi?id=[% dependencies.0.bug_id FILTER none %]&amp;hide_resolved=1">Bağımlılık Ağacı</a>nı göster.
    [% ELSE %]
      Çözülmemiş bağımlılıkları bulunan [% dependency_count FILTER none %] açık [% terms.bug %] var.
      <br>
      [% FOREACH bug = dependencies %]
        <a href="show_bug.cgi?id=[% bug.bug_id FILTER none %]">[% bug.bug_id FILTER none %]</a> kimlikli [% terms.bugLoc %]
        [% bug.dependencies FILTER html %] açık bağımlılık var.
        (<a href="showdependencytree.cgi?id=[% bug.bug_id FILTER none %]&amp;hide_resolved=1">Bağımlılık Ağacı</a>)<br>
      [% END %]
    [% END %]

  [% ELSIF error == "sudo_in_progress" %]
    [% title = "Oturum Açık" %]
    Bir sudo oturumu ([% target FILTER html %] yerine geçilmiş) açık durumda. Yeni bir oturuma başlamadan önce o oturumu sayfa altlığındaki bağlantıyı kullanarak sonlandırın.

  [% ELSIF error == "sudo_password_required" %]
    [% title = "Parola Gerekli" %]
    Bir sudo oturumuna başlamak için [% terms.Bugzilla %] parolanız gerekiyor.
    Lütfen <a href="relogin.cgi?action=prepare-sudo&target_login=
    [%- target_login FILTER html %]&reason=
    [%- reason FILTER html %]">geri dön</a>ün ve parolanızı girin.
    
  [% ELSIF error == "sudo_preparation_required" %]
    [% title = "Hazırlık Gerekiyor" %]
    Bir sudo oturumuna doğrudan başlayamazsınız. Lütfen
    <a href="relogin.cgi?action=prepare-sudo&target_login=
    [%- target_login FILTER html %]&reason=
    [%- reason FILTER html %]">oturumunuzu normal şekilde başlatın</a>.

  [% ELSIF error == "sudo_protected" %]
    [% title = "Kullanıcı Korumalı" %]
    [% login FILTER html %] kullanıcısının yerine geçemezsiniz.

  [% ELSIF error == "too_many_votes_for_bug" %]
    [% title = "Geçersiz Oy" %]
    [% admindocslinks = {'voting.html' => 'Oy Özelliğini Ayarlamak'} %]
    <tt>[% product FILTER html %]</tt> ürününde tek [%+ terms.abug %] için en fazla [% max FILTER html %] oy kullanabilirsiniz ama siz [% votes FILTER html %] oy kullanmaya çalışıyorsunuz.

  [% ELSIF error == "too_many_votes_for_product" %]
    [% title = "Geçersiz Oy" %]
    [% admindocslinks = {'voting.html' => 'Oy Özelliğini Ayarlamak'} %]
    <tt>[% product FILTER html %]</tt> ürününde [% votes FILTER html %] oy kullanmaya çalıştınız fakat bu üründe en fazla [%+ max FILTER html %] oy kullanılabilir.

  [% ELSIF error == "token_does_not_exist" %]
    [% title = "Böyle Bir Jeton Yok" %]
    Gönderdiğiniz jeton mevcut değil, süresi dolmuş veya iptâl edilmiş.

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "Yeni Jeton İçin Fazla Erken" %]
    Başka bir jeton istemek için fazla kısa bir süre önce
    [% IF type == "password" %]
      bir parola
    [% ELSIF type == "account" %]
      bir hesap
    [% END %]
    isteğinde bulundunuz. Lütfen biraz bekleyip tekrar deneyin.

  [% ELSIF error == "unknown_keyword" %]
    [% title = "Bilinmeyen Anahtar" %]
    <code>[% keyword FILTER html %]</code> is not a known keyword.
    Geçerli anahtarlar <a href="describekeywords.cgi">burada listeleniyor</a>.

  [% ELSIF error == "unknown_tab" %]
    [% title = "Bilinmeyen Sekme" %]
    <code>[% current_tab_name FILTER html %]</code> geçerli bir sekme adı değil.

  [% ELSIF error == "version_already_exists" %]
    [% title = "Sürüm Zaten Mevcut" %]
    [% admindocslinks = {'versions.html' => 'Sürüm Yönetimi'} %]
    '[%- product FILTER html %]' ürününde zaten '[% name FILTER html %]' sürümü bulunuyor.

  [% ELSIF error == "version_blank_name" %]
    [% title = "Sürüm Adı Boş Olamaz" %]
    Bu sürüm için bir isim girmelisiniz.

  [% ELSIF error == "version_has_bugs" %]
    [% title = BLOCK %]Sürüme Kayıtlı [% terms.Bugs %] Var[% END %]
    Bu sürümle ilişkilendirilmiş [% nb FILTER html %] [%+ terms.bug %] bulunuyor! Bu sürümü silmeden önce o [% terms.bugsAcc %] başka bir sürüme atamalısınız.

  [% ELSIF error == "version_not_specified" %]
    [% title = "Sürüm Belirtilmedi" %]
    Sürümleri değiştirmeye çalışırken herhangi bir sürüm belirtmediniz.

  [% ELSIF error == "users_deletion_disabled" %]
    [% title = "Silme Etkinleştirilmedi" %]
    [% admindocslinks = {'useradmin.html' => 'Kullanıcı Yönetimi'} %]
    Kullanıcı hesaplarının silinmesine izin verilmiyor.

  [% ELSIF error == "user_has_responsibility" %]
    [% title = "Kullanıcı Hesabı Silinemez" %]
    [% admindocslinks = {'useradmin.html' => 'Kullanıcı Yönetimi'} %]
    Silmeye çalıştığınız kullanıcı The en az bir bileşenin öntanımlı [% terms.bug %] atanan kişisi
    [% IF Param('useqacontact') %]
      veya kalite kontrol kişisi
    [% END %]
    olarak atanmış durumda. Bu nedenle şu anda bu hesabı silemezsiniz.

  [% ELSIF error == "user_login_required" %]
    [% title = "Oturum Açma Adı Gerekli" %]
    [% admindocslinks = {'useradmin.html' => 'Kullanıcı Yönetimi'} %]
    Yeni kullanıcı için bir oturum açma adı girmelisiniz.

  [% ELSIF error == "user_match_failed" %]
    [% title = "Eşleştirme Başarısız" %]
    <tt>[% name FILTER html %]</tt> mevcut değil veya o kullanıcı görme izniniz yok.

  [% ELSIF error == "votes_must_be_nonnegative" %]
    [% title = "Oylar Negatif Olmamalı" %]
    [% admindocslinks = {'voting.html' => 'Oy Özelliğini Ayarlamak'} %]
    [% terms.Bug %] oylarınız için pozitif sayılar kullanın.

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Yanlış Jeton" %]
    Bu jeton eposta adresi değişikliğini iptal etmek için kullanılamaz.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Yanlış Jeton" %]
    Bu jeton parola değiştirmek için kullanılamaz.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Yanlış Jeton" %]
    Bu jetonu eposta adresinizi değiştirmek için kullanamazsınız.

  [% ELSIF error == "wrong_token_for_creating_account" %]
    [% title = "Yanlış Jeton" %]
    Bu jeton yeni bir kullanıcı hesabı oluşturmak için kullanılamaz.

  [% ELSIF error == "zero_length_file" %]
    [% title = "Dosya Boş" %]
    Eklemeye çalıştığınız dosya boş, öyle bir dosya yok ya da o dosyayı okuma izniniz yok.

  [% ELSIF error == "illegal_user_id" %]
    [% title = "Geçersiz Kullanıcı Kimliği" %]
    '[% userid FILTER html %]' kullanıcı kimliği geçerli bir tamsayı değil.

  [% ELSE %]

    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]

    [% IF not error_message %]
      [% title = "Hata Mesajı Bulunamadı" %]
      <code>[% error FILTER html %]</code> kullanıcı hata mesajı bulunamadı. Lütfen bu mesajı alana kadar yaptığınız son işlemleri [% Param("maintainer") %] adresine epostayla gönderin.
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<table cellpadding="20">
  <tr>
    <td id="error_msg" class="throw_error">
      [% error_message FILTER none %]
    </td>
  </tr>
</table>

<p>
  Lütfen <b>Geri</b> gidip tekrar deneyin.
</p>

[%# If a saved search fails, people want the ability to edit or delete it. 
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]

[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% sharer_id = Bugzilla.cgi.param("sharer_id") %]
[% IF namedcmd AND error != "missing_query" 
               AND error != "saved_search_used_by_whines"
               AND !sharer_id %]
  <p>  
    Alternatif olarak, '[% namedcmd FILTER html %]' kayıtlı aramasını
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER url_quote %]">unut</a>abilirsiniz
                  
    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        veya <a href="query.cgi?[% q.url FILTER html %]">değiştir</a>ebilirsiniz
      [% END %]
    [% END %]
  </p>
[% END %]            

[% PROCESS global/footer.html.tmpl %]

[% BLOCK object_name %]
  [% IF class == "Bugzilla::User" %]
    kullanıcı
  [% ELSIF class == "Bugzilla::Component" %]
    bileşen
  [% ELSIF class == "Bugzilla::Version" %]
    sürüm
  [% ELSIF class == "Bugzilla::Milestone" %]
    aşama
  [% ELSIF class == "Bugzilla::Status" %]
    durum
  [% END %]
[% END %]
