[Desktop Entry]
Name=Network Configuration
Name[en]=Network Configuration
Name[tr]=Ağ Yapılandırması
Comment=Network Configuration User Interface
Comment[tr]=Ağ Yapılandırması Arayüzü
Icon=network
X-KDE-ModuleType=Library
X-KDE-Library=net_kga
X-KDE-FactoryName=net_kga
X-KDE-RootOnly=false
Type=Application
Exec=kcmshell net_kga
Categories=Qt;KDE;X-KDE-settings-network;X-KDE-tasma-network
