[Desktop Entry]
Name=Firewall
Name[en]=Firewall
Name[tr]=Güvenlik Duvarı
Comment=Firewall User Interface
Comment[tr]=Güvenlik Duvarı Arabirimi
Icon=guvenlik_kga
X-KDE-ModuleType=Library
X-KDE-Library=guvenlik_kga
X-KDE-FactoryName=guvenlik_kga
X-KDE-RootOnly=false
Type=Application
Exec=kcmshell guvenlik_kga
Categories=QT;KDE;X-KDE-settings-network;X-KDE-tasma-network
