[Desktop Entry]
Name=Add and Remove User
Name[tr]=Kullanıcı Ekle ve Çıkart
Comment=Kullanıcı Yönetimi Arayüzü
Comment[tr]=Kullanıcı Yönetimi Arayüzü
X-KDE-ModuleType=Library
X-KDE-Library=users_kga
X-KDE-FactoryName=users_kga
X-KDE-RootOnly=true
Type=Application
Icon=kuser
Exec=kcmshell users_kga
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-system
