[Desktop Entry]
Encoding=UTF-8
Exec=tasma
Icon=tasma
Type=Application
DocPath=tasma/index.html
X-KDE-StartupNotify=true

Name=Tasma
Name[nl]=Tasma
Name[de]=Tasma
Name[pt_BR]=Tasma
Name[es]=Tasma
Name[sv]=Tasma
Name[tr]=Tasma
GenericName=Pardus Configuration Center
GenericName[de]=Pardus Konfigurationscenter
GenericName[fr]=Centre de Configuration de Pardus
GenericName[tr]=Pardus Yapılandırma Merkezi
GenericName[nl]=Pardus configuratie centrum
GenericName[pt_BR]=Centro de Configuração Pardus
GenericName[es]=Centro de Configuración de Pardus
GenericName[sv]=Pardus inställningscentral

Categories=Qt;KDE;Core;
