[%# 1.0@bugzilla.org %]
[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  # Translator		: Baris Ozyurt <baris@tuxworkshop.com>
  #%]

[%# INTERFACE:
  # This template has no interface.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
[% terms.Bugzilla %] Ana Sayfası
[% END %]
[% PROCESS global/header.html.tmpl %]


<script type="text/javascript" language="JavaScript">
<!--
function addSidebar() {
  if ((typeof window.sidebar == "object") && (typeof window.sidebar.addPanel == "function"))
  {
    var sidebarname=window.location.host;
    if (!/bug/i.test(sidebarname))
      sidebarname="[% terms.Bugzilla %] "+sidebarname;
    window.sidebar.addPanel (sidebarname, "[% Param('urlbase') %]sidebar.cgi", "");
  }
  else
  {
    var rv = window.confirm ("Tarayıcınız kenar çubuğunu desteklemiyor.  " + "Şimdi sürüm yükseltmek ister misiniz?");
    if (rv)
      document.location.href = "http://www.mozilla.org/binaries.html";
  }
}
//-->
</script>


<table width="100%"><tr>
 <td>
  <p>Pardus projesi servisleri, geliştirme araçları ve geliştirme
  ürünleri ile ilgili geliştirme istekleri (enhancements) ve hatalar
  (bugs) buradan takip edilebilir, güncellenebilir veya yenileri
  eklenerek geliştiriciler sorunlara dair haberdar edilebilir.</p>

  İşlem tercihinizi aşağıdan seçebilirsiniz:
  <p>
  <a href="query.cgi">Mevcut [% terms.bug %] raporları arasında arama</a><br>
  <a href="enter_bug.cgi">Yeni bir [% terms.bug %] raporu girişi</a><br>
  <a href="report.cgi">Özet raporları ve tablolar</a><br>
  </p><p>
[% IF user.id %]
  <a href="userprefs.cgi">Parola ya da kullanıcı tercihlerini değiştirme</a><br>
  <a href="relogin.cgi">Çıkış [% user.login FILTER html %]</a><br>
[% ELSE %]
  <a href="query.cgi?GoAheadAndLogIn=1">Mevcut hesaba giriş</a><br>
  [% IF Param('createemailregexp') %]
    <a href="createaccount.cgi">Yeni [% terms.Bugzilla %] hesabı kaydı</a><br>
  [% END %]
[% END %]
  </p><p>
  <a href="javascript:addSidebar()">Kenar Çubuğuna Ekle</a> (Mozilla ya da Netscape 6 gerektirir)<br>
  </p>
  <form name="f" action="show_bug.cgi" method="get"
      onsubmit="QuickSearch(f.id.value); return false;">
  <p>
  [% terms.abug %] numarası ya da diğer arama kriterlerinizi giriniz:<br>
  <input type="text" name="id">
  <input type="submit" value="Göster">
  <a href="quicksearch.html">[Yardım]</a>
  </p>
  </form>
 </td>
 <td align="center"><img src="[% webpath %]ant.jpg" width="194" height="220" border="0" alt="ant.jpg [8.5k]"></td>
</tr></table>

<script type="text/javascript" language="JavaScript" src="[% webpath %]localconfig.js"></script>
<script type="text/javascript" language="JavaScript" src="[% webpath %]quicksearch.js"></script>
<script type="text/javascript">
<!--
document.forms['f'].id.focus();
//-->
</script>

[% PROCESS global/footer.html.tmpl %]
