[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; The product
  #
  # (classification fields available if Param('useclassification') is enabled:)
  #
  # classification: Bugzilla::Classification object; The classification 
  #                                                  the product is in
  #
  #%]

[% title = BLOCK %]'[% product.name FILTER html %]' Ürününü Sil
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% IF classification %]
  [% classification_url_part = BLOCK %]&amp;classification=
    [%- classification.name FILTER url_quote %]
  [%- END %]
[% ELSE %]
  [% classification_url_part = "" %]
[% END %]

<table border="1" cellpadding="4" cellspacing="0">
  <tr bgcolor="#6666FF">
    <th valign="top" align="left">Alan</th>
    <th valign="top" align="left">Değer</th>
  </tr>

  [% IF Param('useclassification') %]
    <tr>
      <td>Tasnif:</td>
      <td>[% classification.name FILTER html %]</td>
    </tr>
    <tr>
      <td>Tasnif Açıklaması:</td>
      [%# descriptions are intentionally not filtered to allow html content %]
      <td>
        [% IF classification.description %]
          [% classification.description FILTER html_light %]
        [% ELSE %]
          <span style="color: red">kayıp</span>
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td valign="top">Ürün:</td>
    <td valign="top">
      <a href="editproducts.cgi?product=[% product.name FILTER url_quote %]
         [%- classification_url_part %]">
        [% product.name FILTER html %]
      </a>
    </td>
  </tr>
  <tr>
    <td valign="top">Açıklama:</td>
    [%# descriptions are intentionally not filtered to allow html content %]
    <td valign="top">
      [% IF product.description %]
        [% product.description FILTER html_light %]
      [% ELSE %]
        <span style="color: red">kayıp</span>
      [% END %]
    </td>
  </tr>

  [% IF Param('usetargetmilestone') %]
    <tr>
      <td>Aşama Adresi:</td>
      <td>
        [% IF product.milestone_url %]
          <a href="[% product.milestone_url FILTER html %]">
            [%- product.milestone_url FILTER html %]
          </a>
        [% ELSE %]
          none
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td>[% terms.BugsDat %] Kapalı:</td>
    <td>
      [% IF product.disallownew %]
        kapalı
      [% ELSE %]
        açık
      [% END %]
    </td>
  </tr>

  <tr>
    <td>
      [% IF product.components.size > 0 %]
        <a href="editcomponents.cgi?product=[% product.name FILTER url_quote %]
           [%- classification_url_part %]"
           title="Edit components for product '[% product.name FILTER html %]'">
          Bileşenler:
        </a>
      [% ELSE %]
        Bileşenler:
      [% END %]
    </td>
    <td>
      [% IF product.components.size > 0 %]
        <table>
          [% FOREACH c = product.components %]
            <tr>
              <th align="right">[% c.name FILTER html %]:</th>
              [%# descriptions are intentionally not filtered to allow html content %]
              <td>
                [% IF c.description %]
                  [% c.description FILTER html_light %]
                [% ELSE %]
                  <span style="color: red">kayıp</span>
                [% END %]
              </td>
            </tr>
          [% END %]
        </table>
      [% ELSE %]
        yok
      [% END %]
    </td>
  </tr>

  <tr>
    <td>
      [% IF product.versions.size > 0 %]
        <a href="editversions.cgi?product=[%- product.name FILTER url_quote %]
           [%- classification_url_part %]">
          Sürümler:
        </a>
      [% ELSE %]
        Sürümler:
      [% END %]
    </td>
    <td>
      [% IF product.versions.size > 0 %]
        [% FOREACH v = product.versions %]
          [% v.name FILTER html %]<br>
        [% END %]
      [% ELSE %]
        yok
      [% END %]
    </td>
  </tr>


  [% IF Param('usetargetmilestone') %]
    <tr>
      <td valign="top">
        [% IF product.milestones.size > 0 %]
          <a href="editmilestones.cgi?product=[%- product.name FILTER url_quote %]
             [%- classification_url_part -%]">
            Aşamalar:
          </a>
        [% ELSE %]
          Aşamalar:
        [% END %]
      </td>
      <td>
        [% IF product.milestones.size > 0 %]
          [% FOREACH m = product.milestones %]
            [% m.name FILTER html %]<br>
          [% END %]
        [% ELSE %]
          yok
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td>[% terms.Bugs %]:</td>
    <td>
      [% IF product.bug_count %]
        <a href="buglist.cgi?product=[%- product.name FILTER url_quote %]
           [%- classification_url_part %]"
           title="'[%- product.name FILTER html %]' ürün [% terms.bug %] listesi">
          [% product.bug_count FILTER html %]
        </a>
      [% ELSE %]
        yok
      [% END %]
    </td>
  </tr>
</table>

<h2>Onay</h2>

[% IF product.bug_count %]

  [% IF !Param("allowbugdeletion") %]

    <p>Bu üründe beklemede olan [% product.bug_count FILTER html %] [%+ terms.bug %] var. Bu ürünü silmeden önce o [% terms.bugsAcc %] başka bir ürüne atamalısınız.

  [% ELSE %]

    <table border="0" cellpadding="20" width="70%" bgcolor="red">
      <tr>
        <td>
          Bu ürüne kaydedilmiş [% product.bug_count FILTER html %] [%+ terms.bug %] var. Bu ürünü silerseniz, kayıtlı <b><blink>tüm</blink></b> [% terms.bugs %] ve tarihçeleri silinir.
        </td>
      </tr>
    </table>

  [% END %]

[% END %]

[% IF product.bug_count == 0 || Param('allowbugdeletion') %]

  <p>Gerçekten bu ürünü silmek istiyor musunuz?</p>

  <form method="post" action="editproducts.cgi">
    <input type="submit" id="delete" value="Evet, sil">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <input type="hidden" name="classification"
           value="[% classification.name FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
