[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  #
  # old_product : Bugzilla::Product Object; old product.
  # product : Bugzilla::Product Object; new product.
  #
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  #
  # checkvotes: boolean; is true if vote related fields have changed. If so, 
  #             then the following parameters will be specified:
  #
  # toomanyvotes: list of hashes, each one with an 'id' and a 'name' hash key
  #               detailing the bug id and the username of users who had too
  #               many votes for a bug
  #
  # toomanytotalvotes: list of hashes, each one with an 'id' and a 'name' hash key
  #                    detailing the bug id and the username of users who had
  #                    too many total votes
  #
  # confirmedbugs: list of bug ids, which were confirmed by votes
  #
  # changer: string; login of the user making the changes, used for mailing
  #          bug changes if necessary
  #
  #%]

[% IF classification %]
  [% classification_url_part = BLOCK %]&amp;classification=
     [%- classification.name FILTER url_quote %]
  [% END %]
  [% classification_text = BLOCK %] 
    '[% classification.name FILTER html %]' sınıfının
  [% END %]
[% END %]

[% title = BLOCK %]'[% product.name FILTER html %]' Ürünü
                   [% classification_text FILTER none %] Güncelleniyor[% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]
[% updated = 0 %]

[% IF product.name != old_product.name %]
  <p>
  Ürün adı '[% old_product.name FILTER html %]' iken
  <a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]
  [%- classification_url_part FILTER none %]">[% product.name FILTER html %]</a> olarak değiştirildi.
  </p>
  [% updated = 1 %]
[% END %]


[% IF product.description != old_product.description %]
  <p>
    Açıklama:
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
  <p>
    olarak değiştirildi.
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.disallow_new != old_product.disallow_new %]
  <p>
  Ürün artık yeni [% terms.bugsDat %] 
  [% IF product.disallow_new %]
    kapalı
  [% ELSE %]
    açık
  [% END %]
  .</p>
  [% updated = 1 %]
[% END %]

[% IF product.milestone_url != old_product.milestone_url %]
  <p>
  Aşama adresi güncellendi.
  [% IF old_product.milestone_url != '' %]
    Eskisi:<br> <a href="[%- old_product.milestone_url FILTER html %]">
    [%- old_product.milestone_url FILTER html %]</a>
  [% END %]
  Yenisi:
  [% IF product.milestone_url != '' %]
     <br><a href="[%- product.milestone_url FILTER html %]">
     [%- product.milestone_url FILTER html %]</a>.
  [% ELSE %]
    boş.
  [% END %]
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.default_milestone != old_product.default_milestone %]
  <p>
  Öntanımlı aşama '[% old_product.default_milestone FILTER html %]' idi, 
  '[% product.default_milestone FILTER html %]' olarak güncellendi.
  </p>
  [% updated = 1 %]
[% END %]
  
[% IF product.votes_per_user != old_product.votes_per_user %]
  <p>
  Kullanıcı başına oy sayısı 
  [%+ old_product.votes_per_user FILTER html %] idi, 
  [%+ product.votes_per_user FILTER html %] yapıldı.
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.max_votes_per_bug != old_product.max_votes_per_bug %]
  <p>
  [% terms.bug %] başına en fazla oy sayısı 
  [%+ old_product.max_votes_per_bug FILTER html %] idi, 
  [%+ product.max_votes_per_bug FILTER html %] olarak değiştirildi.
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.votes_to_confirm != old_product.votes_to_confirm %]
  <p>
  Bir [% terms.bugGen %] onaylanması için gereken oy sayısı
  [%+ old_product.votes_to_confirm FILTER html %] idi, 
  [%+ product.votes_to_confirm FILTER html %] olarak değiştirildi.
  </p>
  [% updated = 1 %]
[% END %]

[% UNLESS updated %]
  <p>'[% product.name FILTER html %]' ürününde herhangi bir değişiklik yapılmadı.</p>
[% END %]

[%# Note that this display of changed votes and/or confirmed bugs is
    not very scalable. We could have a _lot_, and we just list them all.
    One day we should limit this perhaps, or have a more scalable display %]


[% IF checkvotes %]
  <hr>

  <p>Artık [% terms.abug %] için gereğinden fazla oyu olanları tespit etmek için bu üründe varolan oylar taranıyor...<br>
  [% IF toomanyvotes.size > 0 %]
    [% FOREACH detail = toomanyvotes %]
      &rarr;[% detail.name FILTER html %] - <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> numaralı [% terms.bugAbl %] oylar temizlendi<br>
    [% END %]
  [% ELSE %]
    &rarr;hiç çıkmadı.
  [% END %]
  </p>

  <p>Artık toplamda gereğinden fazla oyu bulunanları tespit etmek için bu üründe varolan oylar taranıyor...<br>
  [% IF toomanytotalvotes.size > 0 %]
    [% FOREACH detail = toomanytotalvotes %]
      &rarr;[% detail.name FILTER html %] - <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> numaralı [% terms.bugAbl %] oyları temizlendi<br>
    [% END %]
  [% ELSE %]
    &rarr;hiç çıkmadı.
  [% END %]
  </p>

  <p>Bu üründe artık yeterli oya sahip fakat onaylanmamaış [% terms.bugs %] taranıyor...<br>
  [% IF confirmedbugs.size > 0 %]
    [% FOREACH id = confirmedbugs %]

      [%# This is INCLUDED instead of PROCESSED to avoid variables getting
          overwritten, which happens otherwise %]
      [% INCLUDE bug/process/results.html.tmpl
        type = 'votes'
        mailrecipients = { 'changer' => changer }
        header_done = 1
        id = id
      %]
    [% END %]
  [% ELSE %]
    &rarr;hiç çıkmadı.
  [% END %]
  </p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
