[Desktop Entry]
Name=Display Configuration
Name[tr]=Görüntü Yapılandırması
Name[de]=Hede Manager
Name[es]=Administrador Muestra
Name[nl]=Hedebeheer
Name[pt_BR]=Gerenciador do Hede
GenericName=Display Configuration
GenericName[tr]=Görüntü Yapılandırma
GenericName[de]=Muster Tasma-Modul
GenericName[pt_BR]=Módulo Tasma de Amostra
GenericName[es]=Módulo Tasma de Muestra
GenericName[nl]=Voorbeeld Tasma module
X-KDE-ModuleType=Library
X-KDE-Library=display-config
X-KDE-FactoryName=display_config
X-KDE-RootOnly=true
Type=Application
Icon=randr
Exec=display-config
Categories=QT;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
