body{
        /* cartman loves Tahoma */
	font-family: Tahoma, Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin:10px;
}

.ad{
	position:absolute;
	top:10px;
	right:10px;
}

/* Package Title Style .. */
.package_title, .package_title_disabled {
	font-size:12px;
	margin-top:2px;
	padding-left:2px;
	background-repeat:no-repeat;
	background-position:top right;	
	height:50px;
	overflow:hidden;
	cursor:pointer;
}

.package_title_disabled, .disabled{
    cursor:default;
}

.package_title img , .package_title_disabled img {
    border: 0px;
    vertical-align: top;
    float:left;
}

.version_info {
    float:right;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    vertical-align:top;
}

.checkboks {
    float:left;
    background-color:#3c8839;
    height:50px;
    width:25px;
}
/* Package info Style */
.package_info {
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}

/* Package info Content */
.package_info_content {
	padding:1px;
	font-size:12px;	
	position:relative;
}
