[Desktop Entry]
Encoding=UTF-8
Exec=tasma
Icon=tasma
Type=Application
DocPath=tasma/index.html
X-KDE-StartupNotify=true

Name=Tasma
Name[nl]=Tasma
Name[pt_BR]=Tasma
GenericName=Pardus Configuration Center
GenericName[de]=Pardus Konfigurationszentrum
GenericName[tr]=Pardus Yapılandırma Merkezi
GenericName[nl]=Pardus configuratie centrum
GenericName[pt_BR]=Centro de Configuração Pardus

Categories=Qt;KDE;Core
