<!DOCTYPE kpartgui>
<kpartgui name="tasma" version="2">
<MenuBar>
    <Menu name="help">
        <Action name="help_about_module" append="about_merge"/>
    </Menu>
    <Menu name="settings">
	<text>Settings</text> 
	<Action name="tasma-extra"/>
    </Menu>
</MenuBar>
</kpartgui>
