<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Pardus Staj Başvuru Formu</title>

        <style type="text/css">

*{ margin:0; padding:0;}
body{ font:100% normal sans-serif, Arial, Helvetica;background:url("") repeat-x fixed;}
form,input,select,textarea{margin:0; padding:0; color:#333333; font-size: 12pt;}

div.box {
padding: 0px;
margin:0 auto;
width:340px;
position:relative;
top:50px;
border:0px solid #262626;
}

div.box h1 {
font-family: sans-serif, Arial, Helvetica;
text-shadow: 1px 1px 1px #ffffff;
margin: 0px;
color:#334455;
font-size:24pt;
padding:5px 0 5px 0px;
letter-spacing: -2px;
}


</style>

    </head>
    <body>

        <div class="box">
           <h1>Kaydınız alınmıştır. Teşekkür ederiz.</h1>
        </div>
    </body>
</html>
