<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Pardus StajProjeleri</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>

    <body style="background-color:#f0f0f6">
        <form action="/internshop/" method="post">
            <table cellspacing="1" width="100%" >
                <tr>
                    <td width = "40"><a style="color:#222222" href="/internshop"><img src="img/mario.png" border="0" width="30" height="30"></a></td>
                    <td><h2 style="color:#222222">Pardus InternShop</h2></td>
                    <td width="200" align="right"><h6>Kullanıcı Adı</h6></td>
                    <td width="160">
                        <input name="username" type="text">
                    </td>
                    <td width="50" align="right"><h6>Parola</h6></td>
                    <td width="180">
                        <input name="password" type="password">
                    </td>
                    <td align="right" width="40">
                        <input value="Giriş" type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
