<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Proje Giriş Formu</title>
        <style type="text/css">
body
{
font-family: Verdana, sans-serif, Arial;
font-size: 11px;
margin:0px;
padding:0px;
background-image: url("http://cakirerk.org/artwork/bg.png");
background-position: center center;
background-attachment: fixed;
}

.title{
    margin-top: 50px;
    font-size: 45pt;
    color: #404067;
    text-align: center;
}

</style>

    </head>
    <body>

    <div class="title">Proje Kaydedildi.</div>

    </body>
</html>
