[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kosd
X-KDE-DBus-ModuleName=kosd

Name=KDE OSD Daemon
Name[tr]=KDE OSD Hizmeti
Comment=OSD Daemon for KDE which displays small informational OSD widget upon request
Comment[tr]=İstek üzerine ekrana bilgilendirici OSD parçacığı çizer
