[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Erik Stambaugh <erik@dasbistro.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # events: hash, keyed by event_id number.  Values are anonymous hashes of:
  #     schedule: array of hashes containing schedule info:
  #         day:    value in day column
  #         time:   value selected in time column
  #         mailto_type: 0=user 1=group
  #         mailto: recipient's id (profile or group)
  #     queries:  as with schedule, an anonymous array containing hashes of:
  #         name:  the named query's name
  #         title: title to be displayed on the results
  #         sort:  integer that sets execution order on named queries
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = "Alarmları ayarla" %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  doc_section = "whining.html"
%]

<p>
  Alarm, [% terms.BugzillaGen %] kayıtlı bir sorguyu belirli aralıklarla çalıştırıp sonuçta oluşan [% terms.bug %] listesini eposta yoluyla göndermesidir.
</p>

<p>
  Yeni bir alarm kurmak için, "Yeni olay ekle."ye tıklayın. Gönderilecek eposta için bir konu satırı ve epostanın gövdesinde [% terms.bug %] listesiyle birlikte yeralacak bir metin girin.
</p>

<p>
  Olaylara zamanlamalar "Yeni zamanlama ekle." ile eklenir. Zamanlama, bir gün, günün bir saati veya zaman dilimi (örneğin 15 dakikada bir) ve bir eposta adresinden oluşur. İzinlerinize bağlı olarak eposta adresini daha sonra değiştirebilirsiniz (veya değiştiremezsiniz). Olaylara, farklı kullanıcılar düşünülerek veya farklı zamanlarda çalıştırılmak üzere birden fazla zamanlama eklenebilir.
</p>

<p>
  Aramalar kayıtlı arama listesinden seçilir. Bir <a href="query.cgi">arama</a>, o aramaya bir isim verildiğinde kayıtlı arama listesine alınır. "Bir sorgu ekle"yin ve "Arama" altında bu aramaya bir isim verin, [% terms.bug %] tablosuna da bir başlık girin. "Sıralama" altında girilen (tercihe bağlı) numara, eğer birden fazla sorgu listeleniyorsa, çalıştırma sırasını (en düşükten en yükseğe olmak üzere) belirleyecektir. Eğer "Her [% terms.bug %] için ayrı mesaj"ı seçerseniz, sorguya uyan her [% terms.bug %] ayrı bir eposta olarak gönderilir.
</p>

<p>
  [% IF Param("timezone") %]
    Tüm saat ifadeleri sunucunun kendi yerel saatidir ([% Param("timezone") FILTER upper %]).
  [% ELSE %]
    Tüm saat ifadeleri sunucunun kendi yerel saatidir.
  [% END %]
</p>

<form method="post" action="editwhines.cgi">
[%# This hidden submit button must be here to set default behavior when
    the user presses return on a form input field #%]
<input type="submit" value="Güncelle / Gönder" name="commit"
       style="display: none;" id="commit">
<input type="hidden" name="update" value="1">
<input type="hidden" name="token" value="[% token FILTER html %]">

[% FOREACH event = events %]

<table cellspacing="2" cellpadding="2" style="border: 1px solid;">
  <tr>
    <th align="left">
      Olay:
    </th>
    <td align="right" colspan="2">
      <input type="submit" value="Olayı Sil"
             name="remove_event_[% event.key %]"
             id="remove_event_[% event.key %]">
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      Eposta konu satırı:
    </td>
    <td colspan="2">
      <input type="text" name="event_[% event.key %]_subject"
             size="60" maxlength="128" value="
             [%- event.value.subject FILTER html %]">
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      Alarm mesajı ile gönderilen açıklayıcı metin:
    </td>
    <td colspan="2">
      [% INCLUDE global/textarea.html.tmpl
         name           = "event_${event.key}_body"
         minrows        = 3
         maxrows        = 10
         defaultrows    = 5
         cols           = 80
         defaultcontent = event.value.body
       %]
    </td>
  </tr>

  [% IF event.value.schedule.size == 0 %]

    <tr>
      <td valign="top" align="right">
        Zamanlama:
      </td>
      <td class="unset" colspan="2">
        Zamanlanmamış<br>
        <input type="submit" value="Yeni zamanlama ekle"
               name="add_schedule_[% event.key %]"
               id="add_schedule_[% event.key %]">
      </td>
    </tr>

  [% ELSE %]

    <tr>
      <td valign="top" align="right">
        Zamanlama:
      </td>
      <td class="set" colspan="2">

        <table>
          <tr>
            <th>
              Tekrar
            </th>
            <th>
              [% IF mail_others %]
                Alıcı
              [% END %]
            </th>
            <th>
            </th>
          </tr>
          [% FOREACH schedule = event.value.schedule %]
            <tr>
              <td align="left">

                [%# these hidden fields allow us to compare old values instead
                    of reading the database to tell if a field has changed %]

                <input type="hidden" value="[% schedule.day FILTER html %]"
                       name="orig_day_[% schedule.id %]">
                <input type="hidden" value="[% schedule.time FILTER html %]"
                       name="orig_time_[% schedule.id %]">
                [% PROCESS day_field val=schedule.day %]
                [% PROCESS time_field val=schedule.time %]
              </td>
              <td align="left">
                [% IF mail_others %]
                  <input type="hidden" name="orig_mailto_type_[% schedule.id %]"
                         value="[% schedule.mailto_type FILTER html %]">
                  <select name="mailto_type_[% schedule.id %]">
                    <option value="0" [% IF schedule.mailto_type == 0 %]
                                        selected
                                      [% END %]>User</option>
                    <option value="1" [% IF schedule.mailto_type == 1 %]
                                        selected
                                      [% END %]>Group</option>
                  </select>
                  <input type="hidden" name="orig_mailto_[% schedule.id %]"
                         value="[% schedule.mailto FILTER html %]">
                  <input type="text" name="mailto_[% schedule.id %]"
                         value="[% schedule.mailto FILTER html %]" size="30">
                [% END %]
              </td>
              <td align="left">
                <input type="submit" value="Kaldır"
                       name="remove_schedule_[% schedule.id %]"
                       id="remove_schedule_[% schedule.id %]">
              </td>
            </tr>
          [% END %]

          <tr>
            <td colspan="3">
              <input type="submit" value="Yeni zamanlama ekle"
                     name="add_schedule_[% event.key %]"
                     id="add_schedule_[% event.key %]">
            </td>
          </tr>
        </table>

      </td>
    </tr>

  [% END %]

  [% IF event.value.queries.size == 0 %]

    <tr>
      <td valign="top" align="right">
        Aramalar:
      </td>
      <td align="left">
        Arama yok<br>
        <input type="submit" value="Yeni sorgu ekle"
               name="add_query_[% event.key %]"
               id="add_query_[% event.key %]">
      </td>
      <td align="right" valign="bottom">
        <input type="submit" value="Güncelle / Gönder" name="commit" id="update">
      </td>
    </tr>

  [% ELSE %]

    <tr>
      <td valign="top" align="right">
        Aramalar:
      </td>
      <td align="left" colspan="2">

        <table>
          <tr>
            <th>Sıralama</th>
            <th>Arama</th>
            <th>Başlık</th>
            <th></th>
            <th></th>
          </tr>

          [% FOREACH query = event.value.queries %]

            <tr>
              <td align="left">
                <input type="text" name="query_sort_[% query.id %]"
                       size="3" value="[% query.sort %]">
                <input type="hidden" value="[% query.sort %]"
                       name="orig_query_sort_[% query.id %]">
              </td>
              <td align="left">
                <input type="hidden" value="[% query.name FILTER html %]"
                       name="orig_query_name_[% query.id %]">
                [% PROCESS query_field thisquery=query.name %]
              </td>
              <td align="left">
                <input type="hidden" value="[% query.title FILTER html %]"
                       name="orig_query_title_[% query.id %]">
                <input type="text" name="query_title_[% query.id %]"
                       size="50" value="[% query.title FILTER html %]"
                       maxlength="64">
              </td>
              <td align="left">
                <input type="hidden" value="[% query.onemailperbug FILTER html %]"
                       name="orig_query_onemailperbug_[% query.id %]">
                <input type="checkbox" [% IF query.onemailperbug == 1 %] checked [% END %]
                       id="query_onemailperbug_[% query.id %]"
                       name="query_onemailperbug_[% query.id %]">
                <label for="query_onemailperbug_[% query.id %]">[% terms.bug %] hata için ayrı mesaj</label>
              </td>
              <td align="right">
                <input type="submit" value="Remove"
                       name="remove_query_[% query.id %]"
                       id="remove_query_[% query.id %]">
              </td>
            </tr>

          [% END %]

          <tr>
            <td colspan="3">
              <input type="submit" value="Yeni sorgu ekle"
                     name="add_query_[% event.key %]"
                     id="add_query_[% event.key %]">
            </td>
            <td align="right" colspan="2">
              <input type="submit" value="Güncelle / Gönder" name="commit" id="update">
            </td>
          </tr>
        </table>

      </td>
    </tr>

  [% END %]

</table>

[% END %]

<p align="left">
  <input type="submit" value="Yeni olay ekle" name="add_event" id="add_event">
</p>

</form>

[% PROCESS global/footer.html.tmpl %]

[% BLOCK query_field +%]

  [% IF available_queries.size > 0 %]

    <select name="query_name_[% query.id %]">
      [% FOREACH q = available_queries %]
        <option [% "selected" IF q == thisquery %] value="[% q FILTER html %]">
            [% q FILTER html %]
        </option>
      [% END %]
    </select>

  [% ELSE %]
    Lütfen <a href="query.cgi">Arama</a> sayfasına gidip bir sorgu kaydedin.
  [% END %]

[%+ END %]

[% BLOCK day_field +%]
  <select name="day_[% schedule.id %]">
      [%
        options = [
            ['Tümü', 'Her gün',                  ],
            ['P-C',  'Hafta içi',                ],
            ['Paz',  'Pazar',                    ],
            ['Pts',  'Pazartesi',                ],
            ['Sal',  'Salı',                     ],
            ['Çar',  'Çarşamba',                 ],
            ['Per',  'Perşembe',                 ],
            ['Cum',  'Cuma',                     ],
            ['Cts',  'Saturday',                 ],
            ['1',    'Ayın 1\'inde',             ],
            ['2',    'Ayın 2\'sinde',            ],
            ['3',    'Ayın 3\'ünde',             ],
            ['4',    'Ayın 4\'ünde',             ],
            ['5',    'Ayın 5\'inde',             ],
            ['6',    'Ayın 6\'sında',            ],
            ['7',    'Ayın 7\'sinde',            ],
            ['8',    'Ayın 8\'inde',             ],
            ['9',    'Ayın 9\'unda',             ],
            ['10',   'Ayın 10\'unda',            ],
            ['11',   'Ayın 11\'inde',            ],
            ['12',   'Ayın 12\'sinde',           ],
            ['13',   'Ayın 13\'ünde',            ],
            ['14',   'Ayın 14\'ünde',            ],
            ['15',   'Ayın 15\'inde',            ],
            ['16',   'Ayın 16\'sında',           ],
            ['17',   'Ayın 17\'sinde',           ],
            ['18',   'Ayın 18\'inde',            ],
            ['19',   'Ayın 19\'unda',            ],
            ['20',   'Ayın 20\'sinde',           ],
            ['21',   'Ayın 21\'inde',            ],
            ['22',   'Ayın 22\'sinde',           ],
            ['23',   'Ayın 23\'ünde',            ],
            ['24',   'Ayın 24\'ünde',            ],
            ['25',   'Ayın 25\'inde',            ],
            ['26',   'Ayın 26\'sında',           ],
            ['27',   'Ayın 27\'sinde',           ],
            ['28',   'Ayın 28\'inde',            ],
            ['29',   'Ayın 29\'unda',            ],
            ['30',   'Ayın 30\'unda',            ],
            ['31',   'Ayın 31\'inde',            ],
            ['son',  'Ayın son gününde',         ],
        ]
      %]

      [% FOREACH option = options %]
        <option value="[% option.0 %]" 
                [%- IF val == option.0 +%] selected[% END %]>
                [%- option.1 -%]
        </option>
      [% END %]

  </select>
[%+ END %]

[% BLOCK time_field +%]
<select name="time_[% schedule.id %]">

  [%
    options = [
        [ '0',    'geceyarısı',      ],
        [ '1',    '01:00\'da',       ],
        [ '2',    '02:00\'da',       ],
        [ '3',    '03:00\'da',       ],
        [ '4',    '04:00\'da',       ],
        [ '5',    '05:00\'da',       ],
        [ '6',    '06:00\'da',       ],
        [ '7',    '07:00\'da',       ],
        [ '8',    '08:00\'da',       ],
        [ '9',    '09:00\'da',       ],
        [ '10',   '10:00\'da',       ],
        [ '11',   '11:00\'da',       ],
        [ '12',   '12:00\'da',       ],
        [ '13',   '13:00\'da',       ],
        [ '14',   '14:00\'da',       ],
        [ '15',   '15:00\'da',       ],
        [ '16',   '16:00\'da',       ],
        [ '17',   '17:00\'da',       ],
        [ '18',   '18:00\'da',       ],
        [ '19',   '19:00\'da',       ],
        [ '20',   '20:00\'da',       ],
        [ '21',   '21:00\'da',       ],
        [ '22',   '22:00\'da',       ],
        [ '23',   '23:00\'da',       ],
        [ '60dk', 'saate bir',       ],
        [ '30dk', '30 dakikada bir', ],
        [ '15dk', '15 dakikada bir', ],
    ]
  %]

      [% FOREACH option = options %]
        <option value="[% option.0 %]" 
                [%- IF val == option.0 +%] selected[% END %]>
                [%- option.1 -%]
        </option>
      [% END %]

</select>

[%+ END %]

