{% extends "layout.html" %}
{% set title = 'Pardus Developer Base' %}
{% block body %}

<img class="logo" src="_static/icons/pardus_logo.png" />
<h2>Welcome to Pardus</h2>
<p>
Pardus is an open source, freely distributable, GPL (General Public License) licensed user-friendly GNU/Linux distribution with many usability, hardware compatibility, stability and security enhancements. It's named after the Anatolian Leopard.
</p>
<p>
Pardus officially supports 11 languages: Turkish, English, Dutch, French, German, Spanish, Catalan, Italian, Swedish, Polish and Brazilian Portuguese.
</p>
<p>The Pardus project is sponsored by the Turkish National Research Institute of Electronics and Cryptology (<a href="http://uekae.tubitak.gov.tr/home.do?ot=10&lang=en&sid=0&pid=0" target="_blank">UEKAE</a>), an affiliate of the Scientific and Technological Research Council of Turkey (<a href="http://www.tubitak.gov.tr/home.do?ot=10&lang=en" target="_blank">TÜBİTAK</a>).
</p>
<p>
This site is aims to help people who would like to help improve Pardus in various ways. For further information about Pardus, please visit <a href="http://www.pardus.org.tr/eng" target="_blank">http://www.pardus.org.tr/eng</a>
</p>

<h2>How To Contribute</h2>
<p>
<table class="contentstable" align="center" cellpadding="10px">
    <tr>
        <td width="20%" colspan=2>
           <img class="section" src="_static/icons/contrib-bugs.png" />
            <p class="biglink">
                <a class="biglink" href="{{ pathto("projects/index") }}">Bug Triage</a><br />
                <span class="linkdescr">If you say you don't have the time to spare for development or to look after packages, but you have technical skills and will to help us, then we will be glad if you help us with these despicable bugs.</span>
            </p>
        </td>
        <td width="20%" colspan=2>
           <img class="section" src="_static/icons/contrib-test.png" />
            <p class="biglink">
                <a class="biglink" href="{{ pathto("guides/index") }}">Testing</a><br />
                <span class="linkdescr">We are continuously improving Pardus, but we are still human. Maybe you can help us see our mistakes, by trying out our latest products, before we release them to the wild.</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width="20%" colspan=2>
           <img class="section" src="_static/icons/contrib-projects.png" />
           <p class="biglink">
                <a class="biglink" href="{{ pathto("releases/index") }}">Projects</a><br />
                <span class="linkdescr">If you are willing to help us improve Pardus and/or help with the packages, this is the place.</span>
            </p>
        </td>
        <td width="20%" colspan=2>
           <img class="section" src="_static/icons/contrib-packages.png" />
           <p class="biglink">
                <a class="biglink" href="{{ pathto("releases/index") }}">Packaging</a><br />
                <span class="linkdescr">Packaging is easy and a fun job to do. Especially if you are a new programmer. However, you should be aware that packages do need some love time to time :)</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width="20%" colspan=2>
           <img class="section" src="_static/icons/contrib-translate.png" />
            <p class="biglink">
                <a class="biglink" href="{{ pathto("events/index") }}">Translation</a><br />
                <span class="linkdescr">Pardus already speaks 11 different languages, but we always need help to maintain the support for these languages. Maybe you can help Pardus to speak one more language?</span>
            </p>
        </td>
        <td width="20%" colspan=2>
           <img class="section" src="_static/icons/contrib-documentation.png" />
            <p class="biglink">
                <a class="biglink" href="http://planet.pardus.org.tr">Documentation</a><br />
                <span class="linkdescr">!!!! Belgelendirme konusunda emin değilim :S</span>
            </p>
        </td>
    </tr>
    <tr>
	<td width="10%"></td>
        <td width="20%" colspan=2 align="center">
           <img class="section" src="_static/icons/contrib-art.png" />
            <p class="biglink">
                <a class="biglink" href="http://planet.pardus.org.tr">Graphics and Multimedia</a><br />
                <span class="linkdescr">Do you have special skills on graphical design or multimedia? We would like to see your ideas come true and become a part of Pardus experience.</span>
            </p>
        </td>
	<td width="10%"></td>
    </tr>
</table>
</p>
<img class="logo" src="_static/icons/browse.png" />
<h2>Browsing Pardus Repositories</h2>

<p>
You can browse our Subversion repository through <a href="http://websvn.pardus.org.tr/">Pardus SVN Web Interface</a> or you can use SVN to checkout it:
</p>

<b>Individual technologies</b>
<pre>
  svn co https://svn.pardus.org.tr/uludag/trunk/PROJECT_NAME
</pre>

<b>Source package repository</b>
<pre>
  svn co https://svn.pardus.org.tr/pardus/RELEASE_NAME
</pre>
{% endblock %}
