* {
    font-size:11px;
    font-family: Tahoma, Sans-Serif;
}
h1,h2,h3,h4,h5 { font-weight:bold; }
h1 { font-size:18px; color:#666; padding:0 6px 0 0; margin:0 0 .2em 0; }

body {
    margin: 0px;
    background-image: url(/media/HeadTile.png);
    background-repeat:repeat-x;
    background-color: #FFF;
}

#header {
    background-image: url(/media/HeadLogo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 119px;
}
#menu {
    font-weight:bold;
    font-size: 10px;
    padding-top: 100px;
    padding-left: 200px;
}

#content {
    margin: 10px;
}

li {
    list-style-image: url('/media/BulletCyan.png');
}

a {
    color: #F55400;
    text-decoration: none;
}

a:hover {
    color: #444;
    background-color:#EEE;
}

.row0 {
    background-color: #eee;
}
.row1 {
    background-color: #f3f3f3;
}
.row2 {
}

pre {
    margin: 20px;
}
code {
    border: 1px dashed #aaa;
    padding: 5px;
    font-family: Dejavu Mono, Monospace
}

.advisory_packages {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10px;
}
.advisory_packages strong {
    font-size: 10px;
}
