[Desktop Entry]
Name=Service Manager
Name[tr]=Servis Yöneticisi
Name[es]=Administrador de Servicios
Name[nl]=Dienstbeheer
Name[de]=Dienste-Manager
Name[pt_BR]=Gerenciador de Serviços
Name[fr]=Gestionnaire de Services
Name[it]=Gestore dei servizi
Name[sv]=Tjänstehanteraren
GenericName[en]=Service Management Interface
GenericName[tr]=Servis Yönetim Arabirimi
GenericName[es]=Interfaz de Administración de Servicios
GenericName[nl]=Dienstbeheer interface
GenericName[de]=Dienst-Management-Schnittstelle
GenericName[pt_BR]=Interface de Gerenciamento de Serviços
GenericName[it]=Interfaccia per la gestione dei servizi
GenericName[fr]=Interface de gestion des services
GenericName[sv]=Gränssnitt för tjänstehantering
Icon=service_manager
X-KDE-ModuleType=Library
X-KDE-Library=service-manager
X-KDE-FactoryName=service_manager
X-KDE-RootOnly=false
X-Tasma-Fork=false
Type=Application
Exec=service-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
Comment=Service Management Interface
Comment[tr]=Servis Yönetim Arabirimi
