[Desktop Entry]
Exec=migration
Icon=migration
Type=Application
Categories=Qt;KDE;System;

Name=Migration Tool
Name[de]=Migation Tool
Name[tr]=Göç Aracı
Name[pt_BR]=Migation Tool
Name[nl]=Migratie gereedschap
Name[sv]=Migreringsverktyget
Name[es]=Migation Tool
