[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Bradley Baetz <bbaetz@acm.org>
  # Translator		: Baris Ozyurt <baris@tuxworkshop.com>
  #%]

[%# INTERFACE:
  # auth_err_tag: string. The tag for the error
  # info: hash. Additional variables which may be used when printing details
  #   of the error.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% SWITCH auth_err_tag %]
  [% CASE "cannot_retreive_attr" %]
    [% info.attr FILTER html %] LDAP özelliği bulunamadı.

  [% CASE "connect_failed" %]
    LDAP sunucusuna bağlantı sırasında bir hata oluştu.
    [% IF info.errstr %]
      Sunucudan dönen hata mesajı: <tt>[% info.errstr FILTER html %]</tt>.
    [% END %]

  [% CASE "no_userid" %]
    [% terms.Bugzilla %] sizin için yeni bir hesap oluşturdu, ancak daha sonra yeni kullanıcı numarasını
    bulamadı.

  [% CASE "server_not_defined" %]
    Kimlik doğrulaması için LDAP sunucusu tanımlı değil.

  [% CASE %]
    Tanımlanmamış kimlik doğrulaması hatası: <tt>[% auth_err_tag FILTER html %]</tt>

[% END %]
