[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/icons/index.html
Icon=icons
Exec=kcmshell icons

X-KDE-ModuleType=Library
X-KDE-Library=icons
X-KDE-FactoryName=icons
X-KDE-ParentApp=tasma

Name=Icons
Name[tr]=Simgeler
Name[nl]=Iconen
Name[es]=Íconos
Name[de]=Ikons
Name[pt_BR]=Ícones
Name[fr]=Icônes
Name[it]=Icone
Name[sv]=Ikoner

Comment=Customize KDE Icons
Comment[tr]=KDE Simgelerini Özelleştirir
Comment[nl]=KDE-iconen aanpassen
Comment[de]=KDE-Ikons anpassen
Comment[pt_BR]=Customizar Ícones do KDE
Comment[es]=Personalizar Íconos de KDE
Comment[fr]=Personnaliser les icônes de KDE
Comment[it]=Personalizzare le icone di KDE
Comment[sv]=Anpassa KDE:s ikoner

Keywords=icons,effects,size,hicolor,locolor
Keywords[tr]=simgeler,efektler,boyut,yüksek renk,düşük renk
Keywords[nl]=iconen,pictogrammen,effecten,grootte,afmeting,formaat,kleuren
Keywords[es]=íconos,efectos,tamaño,hicolor,locolor
Keywords[de]=Symbole,Effekte,Grösse,hohe Farbtiefe,niedrige Farbtiefe
Keywords[pt_BR]=ícones,efeitos,tamanho,hicolor,locolor
Keywords[fr]=icônes,effets,taille,couleurs hautes,couleurs basses
Keywords[it]=icone,effetti,dimensioni,hicolor,locolor
Keywords[sv]=ikoner,effekter,storlek,många färger,få färger

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel;
