[Desktop Entry]
Encoding=UTF-8
Icon=kdmconfig

X-KDE-ParentApp=tasma
X-KDE-Library=useraccount
Type=Application
Exec=kcmshell kcm_useraccount
Name=Password & User Account
Name[tr]=Parola & Kullanıcı Hesabı
Name[nl]=Wachtwoord- en gebruikersbeheer
Name[es]=Contraseña de Usuario
Name[de]=Passwort & Benutzerkonto
Name[pt_BR]=Senha & Conta de Usuário
Name[fr]=Mots de passes & Comptes Utilisateur
Name[it]=Password e Account utente
Name[sv]=Lösenord och användarkonto

Comment=User information such as password, name and email
Comment[tr]=Parola, isim ve e-posta gibi kullanıcı bilgisi
Comment[nl]=Gebruikerinformatie zoals wachtwoord, naam en e-mailadres
Comment[es]=Información de usuario: contraseña, nombre, email, etc.
Comment[de]=Benutzerinformationen wie Passwort, Name und E-Mail
Comment[pt_BR]=Informações do usuário: senha, nome, email, etc.
Comment[fr]=Informations concernant l'utilisateur tel son mot de passe, son nom et son adresse mail
Comment[it]=Informazioni sull'utente come password, nome e indirizzo di posta elettronica
Comment[sv]=Användarinformation som lösenord, namn och e-post

Keywords=password;email;name;organization;realname;login image;face; echo mode;
Keywords[tr]=parola,e-posta,isim,gerçek isim,giriş resmi,yüz
Keywords[nl]=wachtwoord,e-mail,organisatie,naam,login,aanmelden,afbeelding,gezicht,echo,asterisk
Keywords[es]=contraseña,email,nombre,organización,nombre real,imagen de login,cara,modo de echo
Keywords[de]=Passwort;E-Mail;name;Organisation;Vollständiger name;Anmeldebild;Oberfläche;Echomodus;
Keywords[pt_BR]=senha,email,nome,organização,nome real,imagem do login,face,modo eco
Keywords[fr]=mot de passe,email,nom,organisation,nom réel,image de connection,face,mode d'affichage
Keywords[it]=password,posta elettronica,email,organizzazione,nome,nome reale,immagine di login,faccia,modalità eco
Keywords[sv]=lösenord;e-post;namn;organisation;verkligt namn;inloggningsbild;bild;ekoläge

Categories=QT;KDE;X-KDE-settings-security;X-KDE-tasma-useraccount;
