[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell colors
Icon=colors
Type=Application
DocPath=kcontrol/colors/index.html

X-KDE-ModuleType=Library
X-KDE-Library=colors
X-KDE-FactoryName=colors
X-KDE-ParentApp=tasma

Name=Colors
Name[tr]=Renkler
Name[nl]=Kleuren
Name[es]=Colores
Name[de]=Farben
Name[pt_BR]=Cores
Name[fr]=Couleurs
Name[it]=Colori
Name[sv]=Färger

Comment=Color settings
Comment[tr]=Renk ayarları
Comment[nl]=Kleuren instellen
Comment[es]=Configuración de Colores
Comment[de]=Farbeinstellungen
Comment[pt_BR]=Configurações de cor
Comment[fr]=Configuration des couleurs
Comment[it]=Configurazione dei colori
Comment[sv]=Anpassa färger

Keywords=colors,colours,scheme,contrast,Widget colors,Color Scheme
Keywords[tr]=renkler,şema,kontrast,Renk Tablosu
Keywords[nl]=kleuren,kleur,schema,contrast,widgetkleuren,kleurenschema
Keywords[es]=colores,esquema,contraste,Widget colors,Esquema de colores
Keywords[de]=Farben,Farben,Schema,Kontrast,Widget Farben,Farbschema
Keywords[pt_BR]=cor,cores,esquema,contraste,cores dos Widgets,Esquema de Cores
Keywords[fr]=couleurs,coloris,schema,contrast,couleurs des Widgets, schéma de couleur
Keywords[it]=colori,schemi,contrasto,colori dei Widget,schema di colori
Keywords[sv]=färger,schema,kontrast,Komponentfärger,Färgschema

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel;
