[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmkded
Icon=services
Type=Application


X-KDE-Library=kded
X-KDE-Factoryname=kded
X-KDE-ParentApp=kcontrol

Name=KDE Service Manager
Name[af]=KDE Diens Bestuurder
Name[ar]=مدبر الخدمات
Name[az]=KDE Xidmət İdarəçisi
Name[be]=Кіраўнік сервісаў
Name[bg]=Системни услуги
Name[bn]=সার্ভিস ম্যানেজার
Name[br]=KDE Merour ar servijoù
Name[bs]=KDE Upravljač servisa
Name[ca]=KDE Gestor del servei
Name[cs]=KDE Správce služeb
Name[csb]=KDE Menedżer ùsłëżnotów
Name[cy]=KDE Rheolydd Gwasanaethau
Name[da]=KDE Service-håndtering
Name[de]=KDE Dienst-Manager
Name[el]=Διαχειριστής υπηρεσιών
Name[eo]=KDE Servo-Administrilo
Name[es]=KDE Gestor de servicios
Name[et]=KDE Teenuste haldur
Name[eu]=KDE Zerbitzu kudeatzailea
Name[fa]=مدیر خدمت
Name[fi]=KDE Palvelunhallinta
Name[fr]=KDE Gestionnaire de services
Name[fy]=KDE-systeemtsjinsten
Name[ga]=KDE Bainisteoir Seirbhíse
Name[gl]=KDE Xestor de Servizos
Name[he]=מנהל השירותים
Name[hi]=सेवा प्रबंधक
Name[hr]=KDE Upravljanje uslugama
Name[hu]=KDE Szolgáltatások
Name[is]=KDE Þjónustustjóri
Name[it]=KDE Gestione servizi
Name[ja]=サービスマネージャ
Name[kk]=Қызметтерді басқару
Name[km]=កម្មវិធី​គ្រប់គ្រង​សេវា
Name[lo]=ຕົວຈັດການ Dhcp
Name[lt]=KDE Tarnybų tvarkyklė
Name[lv]=KDE Servisu Menedžeris
Name[mk]=KDE Менаџер на сервиси
Name[mn]=KDE Үйлчилгээ удирдагч
Name[ms]=KDE Pengurus Servis
Name[mt]=KDE Manager tas-servizzi
Name[nb]=KDE Tjenestebehandler
Name[nds]=KDE Deenstpleger
Name[ne]=सेवा प्रबन्धक
Name[nl]=KDE-systeemdiensten
Name[nn]=KDE Tenestehandsamar
Name[nso]=KDE Molaodi wa Tirelo
Name[pa]=ਸੇਵਾਵਾਂ ਮੈਨੇਜਰ
Name[pl]=KDE Menedżer usług
Name[pt]=KDE Gestor de Serviços
Name[pt_BR]=KDE Gerenciador de Serviços
Name[ro]=KDE Managerul de servicii
Name[ru]=KDE Управление службами
Name[rw]=KDE MugengaSerivise
Name[se]=KDE Bálvalusgieđahalli
Name[sk]=KDE Správca služieb
Name[sl]=KDE Upravitelj storitev
Name[sr]=Менаџер сервиса
Name[sr@Latn]=KDE Menadžer servisa
Name[sv]=KDE Tjänsthanterare
Name[ta]=சேவை மேலாளர்
Name[tg]=KDE Мудири хидмат
Name[th]=ตัวจัดการรบริการ
Name[tr]=KDE Servisleri Yöneticisi
Name[tt]=KDE Xezmät İdäräçe
Name[uk]=KDE Менеджер служб
Name[uz]=Хизмат бошқарувчиси
Name[ven]=KDE Mulanguli wa tshumelo
Name[vi]=Trình quản lý Dịch vụ
Name[wa]=KDE Manaedjeu di siervices
Name[xh]=KDE Umphathi Wenkonzo
Name[zh_CN]=服务管理器
Name[zh_TW]=服務管理程式
Name[zu]=KDE Imenenja Yomsebenzi
Comment=KDE System Services Configuration
Comment[af]=KDE Stelsel Dienste Opstelling
Comment[ar]=تهيئة خدمات النظام
Comment[az]=KDE Sistem Xidmətləri Qurğuları
Comment[be]=Настаўленні сістэмных сервісаў
Comment[bg]=Настройване на системните услуги
Comment[bn]=সিস্টেম সার্ভিস কনফিগারেশন
Comment[br]=KDE Kefluniadur servijerien ar reiziad
Comment[bs]=KDE Postavke sistemskih servisa
Comment[ca]=KDE Configura els serveis del sistema
Comment[cs]=KDE Nastavení systémových služeb
Comment[csb]=KDE Kònfigùracëjô systemòwëch ùsłëżnotów
Comment[cy]=KDE Ffurfweddu Gwasanaethau Cysawd
Comment[da]=KDE Opsætning af systemtjenester
Comment[de]=KDE Einrichtung von Systemdiensten
Comment[el]=Ρύθμιση των υπηρεσιών συστήματος
Comment[eo]=KDE Agordo de la sistemservoj
Comment[es]=KDE Configuración de los servicios del sistema
Comment[et]=KDE Süsteemsete teenuste seadistamine
Comment[eu]=KDE Sistemaren zerbitzuen konfigurazioa
Comment[fa]=پیکربندی خدمات سیستم
Comment[fi]=KDE Järjestelmän palveluiden asetus
Comment[fr]=KDE Configuration des services du système
Comment[fy]=KDE-systeemtsjinsten ynstelle
Comment[ga]=KDE Cumraíocht seirbhísí an chórais
Comment[gl]=KDE Configuración dos Servizos do Sistema
Comment[he]=שינוי הגדרות שירותי המערכת
Comment[hi]=तंत्र सेवा कॉन्फ़िगरेशन
Comment[hr]=KDE Konfiguracija usluga sustava
Comment[hu]=KDE A rendszerszolgáltatások beállításai
Comment[is]=KDE Stillingar kerfisþjónusta
Comment[it]=KDE Configurazione dei servizi di sistema
Comment[ja]=システムサービスの設定
Comment[kk]=Жүйелік қызметтерді баптау
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​សេវា​ប្រព័ន្ធ
Comment[lo]=ປັບແຕ່ງອອດລະບົບ
Comment[lt]=KDE Sistemos tarnybų konfigūravimas
Comment[lv]=KDE Sistēmas Servisu Konfigurācija
Comment[mk]=Конфигурација на системските сервиси
Comment[mn]=Системийн үйлчилгээний тохируулга
Comment[ms]=KDE Konfigurasi Servis Sistem
Comment[mt]=KDE Konfigurazzjoni tas-servizzi tas-sistema
Comment[nb]=KDE Systemtjenesteinstillinger
Comment[nds]=KDE Systeemdeensten instellen
Comment[ne]=प्रणाली सेवा कन्फिगरेसन
Comment[nl]=KDE-systeemdiensten instellen
Comment[nn]=KDE Oppsett av systemtenester
Comment[nso]=KDE Peakanyo ya Ditirelo tsa System
Comment[pa]=ਸਿਸਟਮ ਸੇਵਾਵਾਂ ਸੰਰਚਨਾ
Comment[pl]=KDE Konfiguracja usług systemowych
Comment[pt]=KDE Configuração dos Serviços do Sistema
Comment[pt_BR]=KDE Configuração de Serviços do Sistema
Comment[ro]=KDE Configurează serviciile de sistem
Comment[ru]=Настройка системных служб
Comment[rw]=KDE Iboneza rya Serivise Sisitemu
Comment[se]=KDE Vuogádatbálvalusaid heiveheapmi
Comment[sk]=KDE Nastavenie systémových služieb
Comment[sl]=KDE Nastavitve sistemskih storitev
Comment[sr]=Подешавање системских сервиса
Comment[sr@Latn]=KDE Podešavanje sistemskih servisa
Comment[sv]=KDE Anpassa systemets tjänster
Comment[ta]=சாதன சேவை அமைப்பு
Comment[tg]=Танзими хидматҳои система 
Comment[th]=ปรับแต่งบริการของระบบ
Comment[tr]=KDE Sistem Servisleri Yapılandırması
Comment[tt]=KDE Sistem Xezmätlären Caylawçı
Comment[uk]=Конфігурація служб систем
Comment[uz]=Тизимнинг хизматларини мослаш
Comment[ven]=KDE Bzudzanyo ya tshumelo ya sisitemu
Comment[vi]=Cấu hình Dịch vụ Hệ thống
Comment[wa]=KDE Apontiaedje des siervices do sistinme
Comment[xh]=KDE Uqwalaselo Lweenkonzo Zendlela zokuseneza
Comment[zh_CN]=系统服务配置
Comment[zh_TW]=系統服務組態
Comment[zu]=KDE Inhlanganisela Yemisebenzi Yesistimu
Keywords=KDED,Daemon,Services
Keywords[ar]=KDED,Daemon,Services,مراقب,خدمات
Keywords[az]=KDED,Demon,Xidmətlər
Keywords[be]=Дэман,Сервісы,KDED,Daemon,Services
Keywords[bg]=услуга, обслужване, сървър, демон, KDED, Daemon, Services
Keywords[br]=KDED,Diaoul,Servijoù
Keywords[ca]=KDED,Dimoni,Serveis
Keywords[cs]=KDED,démon,služby
Keywords[csb]=KDED,demóna,ùsłëżnotë
Keywords[cy]=KDED,Daemon,Gwasanaethau
Keywords[da]=KDED,Dæmon,Tjenester
Keywords[de]=KDED,Dämon,Dienst,Daemon,Services,Dienste
Keywords[el]=KDED,Δαίμονας,Υπηρεσίες
Keywords[eo]=KDED,demono,servoj
Keywords[es]=KDED,Demonio,servicios
Keywords[et]=KDED,deemon,teenused
Keywords[eu]=KDED,Daemon-a,Zerbitzuak
Keywords[fa]=KDED،شبح، خدمات
Keywords[fi]=KDED,Palvelin,Palvelut
Keywords[fr]=KDED,Daemon,Démon,Services
Keywords[fy]=KDED,Daemon,services,tsjinsten,systeemtsjinsten,systeem
Keywords[ga]=KDED,Deamhan,Seirbhísí
Keywords[gl]=KDED,Demo,Servizos
Keywords[he]=KDED,תהליך רקע,שירותים,Daemon,Services
Keywords[hi]=केडीईडी,डेमन,सेवाएँ
Keywords[hr]=KDED,Daemon,Services,Demon,Usluge
Keywords[hu]=KDED,démon,szolgáltatás
Keywords[is]=KDED,þjónn,Þjónustur,púki,þræll
Keywords[it]=KDED,demone,servizi
Keywords[ja]=KDED,デーモン,サービス
Keywords[km]=KDED,Daemon,សេវា
Keywords[lt]=KDED,Daemon,Services, demonas,tarnybos
Keywords[lv]=KDED,Dēmoni,Servisi
Keywords[mn]=КДЭХ,Хэвтүүл,Services,Үйлчилгээ
Keywords[ms]=KDED,Daemon,Servis
Keywords[mt]=KDED,Daemon,Services,servizzi
Keywords[nb]=KDED,nisse,tjenester,daemon
Keywords[nds]=KDED,Daemon,Services,Dämoon,Deenst,Deensten
Keywords[ne]=KDED, डेइमन, सेवा
Keywords[nl]=KDED,Daemon,services,diensten,systeemdiensten,systeem
Keywords[nn]=KDED,daemon,nisse,tenester
Keywords[nso]=KDED,Daemon,Ditirelo
Keywords[pa]=KDED,Daemon,Services,ਸੇਵਾਵਾਂ
Keywords[pl]=KDED,demon,usługi
Keywords[pt]=KDED,Servidor,Serviços
Keywords[pt_BR]=KDED,Servidor,Serviços
Keywords[ro]=KDED,demon,servicii
Keywords[ru]=KDED,Daemon,Services,службы,служба
Keywords[rw]=KDED, Dayimoni,Serivise
Keywords[se]=KDED,daemon,bálvalusat
Keywords[sk]=KDED,Daemon,služby
Keywords[sl]=KDED,demon,storitve
Keywords[sr]=KDED, Демон, Сервиси
Keywords[sr@Latn]=KDED, Demon, Servisi
Keywords[sv]=KDED,Demon,Tjänster
Keywords[ta]=KDED,டேமான்,சேவைகள்
Keywords[th]=KDED,เดมอน,บริการ
Keywords[tr]=KDED,program,servisler
Keywords[uk]=KDED,демон,служби
Keywords[uz]=KDED,хизмат,хизматлар
Keywords[ven]=KDED,Daemon,Dzitshumelo
Keywords[vi]=KDED,Trình nền,Dịch vụ
Keywords[xh]=KDED,Daemon,Iinkonzo
Keywords[zh_CN]=KDED,Daemon,Services,守护程序,服务
Keywords[zh_TW]=KDED,Daemon,Services,伺服程式,服務
Keywords[zu]=KDED,Daemon,Imisebenzi

Categories=Qt;KDE;X-KDE-settings-components;X-KDE-tasma-desktop;X-KDE-tasma-extra;
