<?xml version="1.0" encoding="utf-8"?><config>
   <entry>
      <attribute>autolisten_voiceclips</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>recentmsg</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>blockinter3</attribute>
      <value>5</value>
   </entry>
   <entry>
      <attribute>adverts</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>animatedsmileys</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>proxypass</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>leftdelimiter</attribute>
      <value>[</value>
   </entry>
   <entry>
      <attribute>notifystate</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>autoconnect</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>showcwmenus</attribute>
      <value>-1</value>
   </entry>
   <entry>
      <attribute>showmainmenu</attribute>
      <value>-1</value>
   </entry>
   <entry>
      <attribute>checkonfln</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>filemanager</attribute>
      <value>konqueror $location</value>
   </entry>
   <entry>
      <attribute>notifyoffline</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>use_tray</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>snackMixerDevice</attribute>
      <value>hw:0</value>
   </entry>
   <entry>
      <attribute>soundactive</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>orderusersbystatus</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>connectas</attribute>
      <value>NLN</value>
   </entry>
   <entry>
      <attribute>leavejoinsinchat</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>backgroundcolor</attribute>
      <value>#D8D8E0</value>
   </entry>
   <entry>
      <attribute>display_event_state</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>soundcommand</attribute>
      <value>play $sound</value>
   </entry>
   <entry>
      <attribute>globaloverride</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>charscounter</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>wanttosharecam</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>newchatwinstate</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>dock</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>awaytime</attribute>
      <value>10</value>
   </entry>
   <entry>
      <attribute>emailsincontactlist</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>tabbedchat</attribute>
      <value>2</value>
   </entry>
   <entry>
      <attribute>ShowButtonBar</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>log_event_disconnect</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>disableuserfonts</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>truncatenicks</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>receiveddir</attribute>
      <value>/home/bertan/amsn_received</value>
   </entry>
   <entry>
      <attribute>manualip</attribute>
      <value>127.0.0.1</value>
   </entry>
   <entry>
      <attribute>myip</attribute>
      <value>127.0.0.1</value>
   </entry>
   <entry>
      <attribute>notifymsg</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>customsmileys</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>initialftport</attribute>
      <value>6891</value>
   </entry>
   <entry>
      <attribute>chatstyle</attribute>
      <value>msn</value>
   </entry>
   <entry>
      <attribute>notifyYoffset</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>emotisounds</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>clientid</attribute>
      <value>1074036772</value>
   </entry>
   <entry>
      <attribute>getdisppic</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>log_event_connect</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>proxytype</attribute>
      <value>http</value>
   </entry>
   <entry>
      <attribute>notifytyping</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>browser</attribute>
      <value>firefox $url</value>
   </entry>
   <entry>
      <attribute>enablebanner</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>lowrescam</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>http_proxy_use_gateway</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>globalnick</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>showpicnotify</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>displayp4context</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>snackInputDevice</attribute>
      <value>default</value>
   </entry>
   <entry>
      <attribute>winchatsize</attribute>
      <value>350x320</value>
   </entry>
   <entry>
      <attribute>proxyauthenticate</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>displaypic</attribute>
      <value>amsn.png</value>
   </entry>
   <entry>
      <attribute>lazypicretrieval</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>listsmileys</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>spacesinfo</attribute>
      <value>inline</value>
   </entry>
   <entry>
      <attribute>enableremote</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>notifyemailother</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>lineflushlog</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>idletime</attribute>
      <value>5</value>
   </entry>
   <entry>
      <attribute>expanded_group_offline</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>ContainerCloseAction</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>nossl</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>notifytimeout</attribute>
      <value>8000</value>
   </entry>
   <entry>
      <attribute>showtimestamps</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>animatenotify</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>flicker</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>display_event_connect</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>notifyXoffset</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>ordergroupsbynormal</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>ftautoclose</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>startoffline</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>log_event_email</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>proxy</attribute>
      <value>212.21.212.121 3223</value>
   </entry>
   <entry>
      <attribute>strictfonts</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>closingdocks</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>autoaway</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>start_ns_server</attribute>
      <value>messenger.hotmail.com:1863</value>
   </entry>
   <entry>
      <attribute>blockusers</attribute>
      <value>2</value>
   </entry>
   <entry>
      <attribute>mychatfont</attribute>
      <value>{Helvetica} {} 000000</value>
   </entry>
   <entry>
      <attribute>usesnack</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>logsbydate</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>chatsmileys</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>p4c_name</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>sngdblclick</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>ShowTopPicture</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>playbackspeed</attribute>
      <value>100</value>
   </entry>
   <entry>
      <attribute>noftpreview</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>notifyemail</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>keep_logs</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>showblockedgroup</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>wingeometry</attribute>
      <value>275x400-639+0</value>
   </entry>
   <entry>
      <attribute>startontray</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>ftautoaccept</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>showdisplaypic</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>webcamlogs</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>autocheckver</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>autoftip</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>orderbygroup</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>withnotebook</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>removeempty</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>checkemail</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>tabtitlenick</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>showMobileGroup</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>clientcaps</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>display_event_email</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>nudgepluginpath</attribute>
      <value>/usr/share/amsn/plugins/Nudge</value>
   </entry>
   <entry>
      <attribute>dateformat</attribute>
      <value>MDY</value>
   </entry>
   <entry>
      <attribute>show_contactdps_in_cl</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>show_login_screen_links</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>activeautoupdate</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>snackOutputDevice</attribute>
      <value>default</value>
   </entry>
   <entry>
      <attribute>save_password</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>proxyuser</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>sound</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>openfilecommand</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>orderusersincreasing</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>use_new_cl</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>psmplace</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>nogap</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>allowbadwords</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>rightdelimiter</attribute>
      <value>]</value>
   </entry>
   <entry>
      <attribute>storename</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>tooltips</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>notifyonline</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>libtls_temp</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>winchatoutheight</attribute>
      <value>200</value>
   </entry>
   <entry>
      <attribute>encoding</attribute>
      <value>auto</value>
   </entry>
   <entry>
      <attribute>autoidle</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>newmsgwinstate</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>savechatwinsize</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>textsize</attribute>
      <value>2</value>
   </entry>
   <entry>
      <attribute>display_event_disconnect</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>expanded_group_online</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>login</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>reconnect</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>protocol</attribute>
      <value>11</value>
   </entry>
   <entry>
      <attribute>truncatenames</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>shownotify</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>connectiontype</attribute>
      <value>proxy</value>
   </entry>
   <entry>
      <attribute>mailcommand</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>default_ns_server</attribute>
      <value>messenger.hotmail.com:1863</value>
   </entry>
   <entry>
      <attribute>log_event_state</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>expanded_group_mobile</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>autochangenick</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>notifyonlysound</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>old_dpframe</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>showmailicon</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>keepalive</attribute>
      <value>1</value>
   </entry>
   <entry>
      <attribute>blockinter1</attribute>
      <value>60</value>
   </entry>
   <entry>
      <attribute>p4contextprefix</attribute>
      <value/>
   </entry>
   <entry>
      <attribute>blockinter2</attribute>
      <value>300</value>
   </entry>
   <entry>
      <attribute>checkblocking</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>autoresizedp</attribute>
      <value>0</value>
   </entry>
   <entry>
      <attribute>remotepassword</attribute>
      <value>391c82e372253eda</value>
   </entry>

</config>