[Desktop Entry]
Encoding=UTF-8
Icon=kscreensaver
Type=Application
Exec=kcmshell display
DocPath=kcontrol/kcmdisplay/index.html
X-KDE-ModuleType=Library
X-KDE-Library=display
X-KDE-FactoryName=display
X-KDE-ParentApp=tasma

Name=Display
Name[tr]=Görüntü
Name[nl]=Beeldscherm
Name[es]=Monitor
Name[de]=Anzeige
Name[pt_BR]=Monitor

Comment=Display Settings
Comment[tr]=Görüntü Ayarları
Comment[nl]=Beeldscherminstellingen
Comment[es]=Configuración de Pantalla
Comment[de]=Anzeigeeinstellungen
Comment[pt_BR]=Configurações do Monitor

Categories=Qt;KDE;X-KDE-settings-peripherals;X-KDE-tasma-peripherals
