[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell componentchooser
Icon=misc
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=componentchooser
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=tasma

Name=Component Chooser
Name[tr]=Bileşen Seçici
Name[nl]=Componentenkiezer
Name[es]=Selector de Componentes
Name[de]=Komponentwähler
Name[pt_BR]=Seletor de Componentes

Comment=Choose the default components for various services
Comment[tr]=Çeşitli servisler için öntanımlı bileşenleri seçin
Comment[nl]=Kies de standaardcomponenten voor diverse services
Comment[es]=Eliga los componentes por defecto para varios servicios
Comment[de]=Standardkomponente für verschiedene Dienste auswählen
Comment[pt_BR]=Selecionar os componentes padrões para vários serviços

Keywords=components,component chooser,resources, email client, terminal emulator
Keywords[tr]=bileşenler,bileşen seçici,kaynaklar,e-posta istemcisi,terminal emülasyonu
Keywords[nl]=componentenkiezer,gegevensbronnen,e-mailprogramma,terminal
Keywords[es]=componentes,Selector de componentes,recursos,cliente email,emulador de terminal
Keywords[de]=Komponente,Komponentwähler,Quellen,E-Mail-Programm,Terminal-Emulator
Keywords[pt_BR]=componentes,seletor de componente,recursos,cliente de email,emulador de terminal

Categories=Qt;KDE;X-KDE-settings-components;X-KDE-tasma-desktop
