[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell mouse
Icon=mouse
Type=Application
DocPath=kcontrol/mouse/index.html

X-KDE-ModuleType=Library
X-KDE-Library=input
X-KDE-FactoryName=mouse
X-KDE-Init=mouse
X-KDE-ParentApp=tasma

Name=Mouse
Name[tr]=Fare
Name[nl]=Muis
Name[es]=Ratón
Name[de]=Maus
Name[pt_BR]=Mouse

Comment=Mouse settings
Comment[tr]=Fare ayarları
Comment[nl]=Muisinstellingen
Comment[es]=Configuración de Ratón
Comment[de]=Mauseinstellungen
Comment[pt_BR]=Configurações do mouse

Keywords=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed
Keywords[tr]=fare,Fare Hızlandırma,Fare eşiği,Fare Tuşları,Seçim,imleç şekli,girdi aygıtları,Tuş Haritası,Tıklama,simgeler,geri besleme,İşaretçiler,Taşı,Çift Tıkla,haritalama,sağ elli,sol elli
Keywords[nl]=muis,muissnelheid,muisknoppen,selectie,cursor-uiterlijk,input devices,invoerapparaten,knopindeling,klikken,iconen,pictogrammen,icons,aanwijzers,pointers,drag,verslepen,dubbelklikken,linkshandig,rechtshandig.randapparaten
Keywords[es]=Ratón,aceleración de ratón,Mouse threshold,botones de ratón,Selección,Forma de cursor,Dispositivo de entrada,Mapo de botones,Clic,iconos,retroalimentación,Punteros,Drag,DobleClic,mapeo,diestro,zurdo
Keywords[de]=Maus,Mausbeschleinigung,Mausschwelle,Maustasten,Auswahl,Cursorform,Eingabegeräte,Tasten-Abbild,Klick,icons,Feedback,Zeiger,Zerren,Doppelklick,Abbild,rechtshändig,linkshändig
Keywords[pt_BR]=Mouse,Aceleração do mouse,Limiar do mouse,Botões do mouse,Seleção,Forma do Cursos,Dispositivos de Entrada,Mapeamento dos botões,Clique,ícones,retorno,Ponteiros,Arrastar,Clique duplo,mapeamento,destro,canhoto

Categories=Qt;KDE;X-KDE-settings-peripherals;X-KDE-tasma-peripherals
