[Desktop Entry]
Encoding=UTF-8
Name=Drag & Drop Pisi Installer
Name[tr]=Sürükle & Bırak Pisi Yükleme Aracı
Name[sv]=Dra och släpp Pisi-installerare
Name[x-test]=xxDrag & Drop Pisi Installerxx
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=package-x-generic

X-KDE-PluginInfo-Author=Gökmen GÖKSEL
X-KDE-PluginInfo-Email=gokmen@pardus.org.tr
X-KDE-PluginInfo-Name=pm-drag
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://pardus.org.tr/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
