[Desktop Entry]
Name=Pisi Package Installer
Name[tr]=Pisi Paket Yükleyici
Comment=Installs the pisi package containing the matched command
Comment[tr]=Aranan komutu sağlayan paketi kurar
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=application-x-pisi
X-KDE-Library=krunner_pisi
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Ozan Çağlayan
X-KDE-PluginInfo-Email=ozan@pardus.org.tr
X-KDE-PluginInfo-Name=pisi
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
