[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/js-products.html.tmpl" %]

[% PROCESS global/header.html.tmpl
  title = 'Bayrak Türlerini Yönet'
  style = "
    table#flag_types_bugs tr th,
    table#flag_types_attachments tr th { text-align: left; }
    .inactive { color: #787878; }
    .multiplicable { display: block; }
  "
  onload="var f = document.forms[0]; selectProduct(f.product, f.component, null, null, '__Tümü__');"
  javascript_urls=["js/productform.js"]
  doc_section = "flags-overview.html#flag-types"
%]

<p>
  Bayraklar [% terms.bug %] veya ekin belirli bir durumda olmasına izin verilip verilmediğini gösteren işaretçilerdir. Bayraklar kullanıcı arayüzünde bir isim ve bir durum simgesi (onaylandı için "+", reddedildi için "-", onay veya reddedilmeyi bekleyenler için "?") olarak görünür.
</p>

<p>
  Örneğin bir "gözdengeçir" bayrağı oluşturarak, bir yama gönderen kullanıcı yamanın gözden geçirilmesi için bu bayrağı isteyebilir. Bir yama yazarı gözden geçirme istediğinde, eklentide "gözden geçir?" dizgesi görünür. Yamaları gözden geçirmekle görevli birisi bu işlemi gerçekleştirdiğinde, yamanın değerlendirmeden geçip geçmediğine göre yamada "gözden geçir+" veya "gözden geçir-" dizgesi görünür.
</p>

<p>
  Bayrak türlerinin listesini belirli ürün ve bileşene sınırlandırabilirsiniz. Eğer ürün seçilmiş ama bileşen seçilmemişse, ürünün tüm bileşenlerindeki bayrak türleri listelenir.
</p>

<form action="editflagtypes.cgi" method="get">
  <table>
    <tr>
      <th><label for="product">Ürün:</label></th>
      <td>
        <select name="product" onchange="selectProduct(this, this.form.component, null, null, '__Herhangi biri__');">
          <option value="">__Herhangi biri__</option>
          [% FOREACH prod = products %]
            <option value="[% prod.name FILTER html %]"
                    [% " selected" IF selected_product == prod.name %]>
                    [% prod.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <th><label for="component">Bileşen:</label></th>
      <td>
        <select name="component">
          <option value="">__Herhangi biri__</option>
          [% FOREACH comp = components %]
            <option value="[% comp FILTER html %]"
                    [% " selected" IF selected_component == comp %]>
                    [% comp FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <td><input type="submit" id="submit" value="Süz"></td>
    </tr>
  </table>
</form>

<h3>[% terms.BugsGen %] Bayrak Türleri</h3>

[% PROCESS display_flag_types types=bug_types types_id='bugs' %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=bug">[% terms.BugsDat %] Yönelik Bayrak Türü Oluştur</a>
</p>

<h3>Eklere Yönelik Bayrak Türleri</h3>

[% PROCESS display_flag_types types=attachment_types types_id='attachments' %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=attachment">Eklere Yönelik Bayrak Türü Oluştur</a>
</p>

[% PROCESS global/footer.html.tmpl %]


[% BLOCK display_flag_types %]
  <table id="flag_types_[% types_id FILTER html %]" cellspacing="0" cellpadding="4" border="1">

    <tr>
      <th>İsmini değiştir</th>
      <th>Açıklama</th>
      <th>Sıralama anahtarı</th>
      <th>Özellikler</th>
      <th>Onay grubu</th>
      <th>İstek grubu</th>
      <th>Eylemler</th>
    </tr>

    [% FOREACH type = types %]

      <tr class="[% IF type.is_active %]active[% ELSE %]inactive[% END %]">
        <td><a href="editflagtypes.cgi?action=edit&amp;id=[% type.id %]">[% type.name FILTER html FILTER no_break %]</a></td>
        <td>[% type.description FILTER html %]</td>
        <td align="right">[% type.sortkey FILTER html %]</td>
        <td>
          [% IF type.is_requestable %]
            <span class="requestable">istenebilir</span>
          [% END %]
          [% IF type.is_requestable && type.is_requesteeble %]
            <span class="requesteeble">(özel olarak)</span>
          [% END %]
          [% IF type.is_multiplicable %]
            <span class="multiplicable">çoklanabilir</span>
          [% END %]
        </td>
        <td>[% IF type.grant_group %][% type.grant_group.name FILTER html %][% END %]</td>
        <td>[% IF type.request_group %][% type.request_group.name FILTER html %][% END %]</td>
        <td>
          <a href="editflagtypes.cgi?action=copy&amp;id=[% type.id %]">Kopyala</a>
          | <a href="editflagtypes.cgi?action=confirmdelete&amp;id=[% type.id %]">Sil</a>
        </td>
      </tr>

    [% END %]

  </table>
[% END %]
