{% extends "base.html" %}

{% block content %}
    {% if pisi_list %}
    <script type="text/javascript">
        function checkDependencies()
        {
        }
    </script>
    <h3>Listing the differences of the repositories :</h3>
    <ul>
        <li>Source repository : <strong>{{ source_repo.repo_name }}</strong>&nbsp;&nbsp;&nbsp;<em>{{ source_repo.repo_path }}</em></li>
        <li>Destination repository : <strong>{{ dest_repo.repo_name }}</strong>&nbsp;&nbsp;&nbsp;<em>{{ dest_repo.repo_path }}</em></li>
    </ul>
    <h4>Here you can move the packages(with their dependencies) to the destination repository.</h4>
    <hr />
    <form name="transferForm" action="/ciftci/transfer/" method="POST">
        <input type="hidden" name="source_repo" value="{{ source_repo.repo_name }}" />
        <input type="hidden" name="dest_repo" value="{{ dest_repo.repo_name }}" />
        <table class="transferTable" cellspacing="0" cellpadding="0" border="0">
        <tr class="title">
            <td></td>
            <td>Package Name</td>
            <td>Package Dependencies</td>
        </tr>
            {% for p in pisi_list %}
            <tr class="{% cycle row1,row2 %}">
                <td>
                    <input type="checkbox" class="cbox" id="{{ p.name }}_checkbox"
                        onclick="checkDependencies()" />
                </td>
                <td>{{ p.name }}</td>
                <td>
                    {% if p.deplist %}
                        {% for d in p.deplist %}
                        <input type="checkbox"{% if not d.exists %}disabled="disabled"{% endif %}
                                id="{{ d.name }}_checkbox" />
                        <span style="{% if not d.exists %}color:#FF0000;{% endif %}">
                            {{ d.name }} {% if d.versionFrom %} (version from: {{ d.versionFrom }}) {% endif %}
                        </span><br />
                        {% endfor %}
                    {% else %}
                        This package doesn't have runtime dependencies.
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    <br />
    <input type="submit" value="Transfer" name="submit" />
    </form>
    {% else %}
        <p>The destination repository {{ dest_repo.repo_name }} contains all of the source repository {{ source_repo.repo_name }}.</p>
    {% endif %}
{% endblock %}

