{% extends "base.html" %}

{% block content %}
    <h3>Please choose the repositories that you want to synchronise : </h3>
    <h4>The packages belonging to the source repository but which aren't in the destination repository will be listed.</h4>
    <form name="chooseRepository" action="/ciftci/sync/" method="post">
        <table cellpadding="3" border="0">
            <tr>
                <td>Select source repository : </td>
                <td>
                    <select name="selectRepoSource">
                        {% for repo in repo_list %}
                            <option name="{{ repo }}">{{ repo }}</option>
                        {% endfor %}
                    </select>
                </td></tr>
            <tr>
                <td>Select destination repository : </td>
                <td>
                    <select name="selectDestSource">
                        {% for repo in repo_list %}
                            <option name="{{ repo }}">{{ repo }}</option>
                        {% endfor %}
                    </select>
                </td></tr>
        </table>
        <br />
        <input type="submit" value="Submit" />
    </form>
{% endblock %}

