{% extends "base.html" %} 
{% load i18n %}

{% block title %}{% blocktrans %}Results for {{ package_name }}{% endblocktrans %}{% endblock %}
{% block content %}
	{% if entries %}
		<!-- Results of search for packages -->
		<div class="pagination">
		    <p>{% blocktrans with entries.start_index as si and entries.end_index as ei%} {{ result_count }} results<br/>Showing results between {{ si }} and {{ ei }}{% endblocktrans %}</p>
		</div>
		<table>
		{% for pkg in entries.object_list %}
			<tr>
				<td><a href="/search/{{current_version}}/package/{{ pkg }}/">{{ pkg }}</a></td>
			</tr>
		{% endfor %}
        
		</table>
		<p>
		<div class="pagination">
		    <span class="step-links">
			{% if entries.has_previous %}
			    <a href="?page=1">{% trans 'First' %}</a> | 
			    <a href="?page={{ entries.previous_page_number }}">{% trans 'Previous' %}</a> | 
			{% endif %}

			<span class="current">
			    {% blocktrans with entries.number as pn and entries.paginator.num_pages as np%}Page {{ pn }} / {{ np }}{% endblocktrans %}
			</span>

			{% if entries.has_next %}
			    | <a href="?page={{ entries.next_page_number }}">{% trans 'Next' %}</a> | 
			    <a href="?page={{ entries.paginator.num_pages }}">{% trans 'Last' %}</a>
			{% endif %}
			
		    </span>
		</div>
		</p>
	{% endif %}
{% endblock %}