<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %} :: Pardus :: TÜBİTAK/UEKAE ::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="shortcut icon" href="/media/img/fav.png" />
    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        {% include "header.html" %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</div>
</body>
</html>
