[Style]
Name = Gokmen'in super temasi
Description = Sample Description
Style = Crystal
Applets = sample-applet
ColorScheme = sample-scheme
WindowDecoration = sample-window-decoration
Thumbnail = sample1.png

