body {
    background-image: url(resim/zemin.gif);
    background-repeat: repeat-x;
    margin-top: 10px;
    background-color: white;
}

#container {
    width: 900px;
    background-color: #FFF;
    margin: 0px auto;
    padding: 1px;
    border: 2px solid #DDD;
}

#head_grey {
    height: 163px;
    margin: 0px;
}

#blue {
    width: 900px;
    height: 163px;
}

.metin, .jmetin {
    font-size: 11px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
}

.jmetin {
   text-align: justify
}

h2,.baslik {
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-size: 18px;
    font-weight: bold;
    color: #156FA5;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #156FA5;
}

#footnote {
    clear: both;
    width: 100%;
    height: 80px;
    margin-top:20px;
    padding-top:10px;
    border-top:1px dotted #DDD;
}

#footnote img {
    padding-right:15px;
    margin-right:15px;
    padding-left:10px;
    border-right:1px solid #DDD;
}

#footnote p {
    padding-top: 4px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-size: 70%;
}

#page {
    clear: both;
    position: relative;
}

#fullpage{
    width: 93%;
    padding-top: 0px;
    padding-left:14px;
}

#mainpage{
    width: 99%;
    padding-top: -25px;
}

/*IE*/
li {
     list-style-image: url('images/bullet-blue.png');
     margin-right: 5px;
}

/*Others*/
html>body li {
    background-image: url('images/bullet-blue.png');
    background-repeat: no-repeat;
    background-position: 0px 2px;
    vertical-align: top;
    padding-left: 20px;
    list-style: none;
}


#navi {
    clear: both;
    padding-left: 10px;
    z-index: 100;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    margin-bottom: 10px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-size: 12px;
}

/* Yeni CSS */

#mansetler {
    float:left;
    min-height:300px;
    margin:0;
    width:574px;
}

#manset {
    padding-left:7px;
}

#manset h2 {
    margin:0;
    font-size: 20px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-weight: bold;
    color: #156FA5;
}

#manset p {
    font-size: 14px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    text-align: left;
    padding-right: 8px;
    line-height: 24px;
}


#haberler {
    float:right;
    background-image: url('resim/sagsutun_zemin.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: #E0E0E0;
    margin:0;
    width:306px;
    position:relative;
}

.haber {
    float:left;
    padding:5px;
    margin:0;
}

.haber h2 {
    padding-left:15px;
    background-image: url('resim/isaret-mavi.png');
    background-repeat: no-repeat;
    background-position: 0px 7px;
    vertical-align: bottom;
    margin:0;
}

.haber ul {
    padding-left:10px;
    margin-bottom:0;
}

.haber li {
    padding-left:15px;
    margin-top:3px;
    background-image: url('resim/isaret5.png');
    background-repeat: no-repeat;
    background-position: 0px 2px;
    vertical-align: top;
}
