body {
    background-image:url(images/body_back.gif);
    background-repeat:repeat-x;
    margin-top:10px;
}

#container {
    width:742px;
    background-color:#FFF;
    margin:0 auto;
    padding:1px;
    border:2px solid #DDD;
}

#head_grey {
    height: 230px;
    margin: 0px;
}

html>body #head_grey {
    height: 230px;
}

#head_grey2 {
    height: 163px;
    margin: 0px;
}

html>body #head_grey2 {
    height: 163px;
}

#blue {
    height:230px;
    width:740px;
}

#blue2 {
    height:82px;
    width:772px;
}

.metin {
    font-size:11px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
}

.caption {
    font-size:11px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    text-align: center;
}

h2,.baslik {
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-size:18px;
    font-weight:bold;
    color:#156FA5;
}

a {
    text-decoration:none;
    font-weight:bold;
    color:#156FA5;
}

#footnote {
    clear: both;
    width:99%;
    background-image: url('images/tubitak-powered.png');
    background-position: 65px 4px;
    background-repeat: no-repeat;
    padding:5px;
    padding-top:0px;
    padding-left:10px;
}

#footnote p {
    padding-left:5px;
    padding-top:15px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-size: 70%;
}

#page {
    clear: both;
    position: relative;
}

#fullpage{
    padding-left:14px;
    margin-right:8px;
    padding-top:0px;
}

#mainpage{
    width:99%;
    padding-top:-25px;
}

.blue p,#modules ul {
    margin-top:2px;
    padding-top:2px;
}

/*IE*/
li {
     list-style-image:url('images/bullet-blue.png');
     margin-right:5px;
}

/*Others*/
html>body li {
    background-image:url('images/bullet-blue.png');
    background-repeat:no-repeat;
    background-position:0px 2px;
    vertical-align:top;
    padding-left:20px;
    list-style:none;
}


.blue #modules li {
    border-bottom:1px solid #98C2DC;
    padding-bottom:4px;
    margin-top:6px;
    font-size: 11px;
}

#modules ul {
    padding-left:0px;
}

#modules {
    float:right;
    width:260px;
    padding-right:10px;
    padding-left:10px;
    background-color: #EEE
}

#navi {
    clear:both;
    padding-left:10px;
    z-index:100;
    position:relative;
    padding-top:3px;
    padding-bottom:3px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    margin-bottom:10px;
    font-family: Tahoma, "DejaVu Sans Condensed", Arial, Sans, Helvetica;
    font-size:12px;
}
