[Desktop Entry]
Exec=kcmshell4 display-settings
Icon=preferences-desktop-display-randr
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=display-settings/display-settings.py

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=10

Name=Screens
Name[tr]=Ekranlar
Name[sv]=Skärmar
Name[nl]=Beeldschermen
Comment=Resize and rotate displays
Comment[tr]=Ekranları boyutlandır ve döndür
Comment[sv]=Roterar och ändrar storlek
Comment[nl]=Grootte en rotatie van beeldscherm
X-KDE-Keywords=python display screen video monitor manager
X-KDE-Keywords[tr]=python görüntü ekran video monitör yönetici
X-KDE-Keywords[sv]=python bildskärm skärm monitor inställningar
X-KDE-Keywords[nl]=python beeldschermbeheer