[Desktop Entry]
Exec=kcmshell4 kcm_displaydevices
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=display-settings/display-devices.py

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=20

Name=Devices
Name[tr]=Aygıtlar
Name[sv]=Enheter
Name[nl]=Kaart
Comment=Configure display devices
Comment[tr]=Görüntü aygıtlarını yapılandır
Comment[sv]=Anpassar bildskärmsenheter
Comment[nl]=Videokaart instellen
X-KDE-Keywords=python display screen video monitor manager
X-KDE-Keywords[tr]=python görüntü ekran video monitör yönetici
X-KDE-Keywords[sv]=python bildskärm skärmar monitor inställningar
X-KDE-Keywords[nl]=python beeldschermbeheer
