/*
	Fasafiso CSS
*/

body {
	font-size:82.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background-color: #EFEFEF;
	color: #333;
	text-align: left;
	background:#fff url("images/bg_table.jpg") repeat-x 0px -40px;
	}

.header {
	color: #06c;
	font: 20px  bolder "Verdana" , serif ;
	border-bottom: 1px solid #06c;
	}

.content {
	text-align: left;
	background: #e2e2e2;
	width: 50%;
	padding: 5px;
	border: 1px solid #999;
	-moz-border-radius : 4px;
}

.posts {
	font-family: sans-serif;
	font-size: 11px;
	color: #06c;
	background-color: #FFFFFF;
	border: 1px solid #999;
	-moz-border-radius : 4px;
	padding: 5px;
	text-align:left;
	background:#fff url("images/bg_table.jpg") repeat-x 0px -40px;
	}

.warn {
	background-color: #aaaFFF;
	color:#000;
	height: 40px;
  	border: 1px solid #999;
  	-moz-border-radius : 10px;
	text-align: center;
	}

 #tooCool {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    height: 80px;
    width: 80px;
    background: url(images/too_cool_corner.png) bottom right no-repeat;
    text-indent: -999em;
    text-decoration: none;
}

img {
	vertical-align: middle;
	padding-right: 4px;
	}

.help {
	display: none;
	background-color: #aaaFFF;
	height: 40px;
	width: 200px;
  	border: 1px solid #999;
  	-moz-border-radius : 10px;
	text-align: center;
	}

input, select, textarea {
	background-color: #EFEFEF;
	border: 1px solid #BBB;
  	-moz-border-radius : 5px;
	height: 18px;
	}

input.buton {
	background-color: #06c;
	border: 1px solid #555;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bolder;
	color: #FFF;
	height: 25px;
	margin-right: 10px;
  	}

input.search {
	padding-left:18px;
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	}

#table {
	border: 1px solid #fff;
	padding-right: 3px;
	background-color: #303030;
	}

#content {
	font-size: 0.8em
	}

.yazi {
  padding : 10px;
  margin: 10px;
  background-color : #FFFFFF;
  font-family: sans-serif;
  font-size: 11px;
  border-top : 1px solid #AAAAAA;
  border-left : 1px solid #AAAAAA;
  border-right : 1px solid #AAAAAA;
  border-bottom : 1px solid #AAAAAA;
  margin-top : 5px;
  margin-bottom : 5px;
  -moz-border-radius : 8px;
}

.yazik {
  padding : 10px;
  margin: 10px;
  background-color : #FFFFFF;
  font-family: "Arial" , serif ;
  line-height:  22px;
  font-size: 12px;
  border : 1px solid #AAAAAA;
  margin-top : 5px;
  margin-bottom : 5px;
  -moz-border-radius : 8px;
}
.icerik {
  padding : 10px;
  margin: 10px;
  background-color : #FFFFFF;
  font-family: sans-serif;
  font-size: 11px;
  border : 1px solid #AAAAAA;
  margin-top : 5px;
  margin-bottom : 5px;
  -moz-border-radius : 8px;
}

.saf {
	text-align: right;
	}

.konsol {
  background-color : #fff;
  color : #06c;
  padding : 0px;
	}

.menuu {
	background-color: #FFFFFF;
	text-align: center;
	}

#tion {
	font-size: 0.9em;
	text-align: right;
	}

.form {
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: grey;
	}

a, h2 a:hover, h3 a:hover {
	color: #06c;
	text-decoration: none;
	}

a:hover {
	color: #147;
	text-decoration: underline;
	}
	
body {
	margin: 0;
	padding: 0; 
	}

#warn {
	padding: 0;
	margin: 0 auto;
	height: 20px;
	width: 100%;
	background-color: #ddd;
	}

.table {
	height: 400px;
	width: 400px;
	font-size: 2px;
	background: #5e5e5e;
  	border : 2px solid #999;
  	-moz-border-radius : 14px;
	}

.form_login {
	font-style:oblique;
	font: 12px  bold "Verdana";
	color: #fff;
	width: 300px;
	}
	
pre {

  background-color : #ECECEC;
  color : #000000;
  font-size: 12px;
  font-family: monospace;
  margin-top : 3px;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-bottom : 5px;
  border-left-width: 0px;
	border-right-width: 0px;

}

hr {
	display: none;
	}

a img {
	border: none;
	}


.sari {
	background: #EFF29F;
	margin: 0px;
}

