[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Christine Begle <cbegle@mozilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # This template has the same interface as create.html.tmpl
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/header.html.tmpl
   title = "$terms.ABug Girin"
   onload = "PutDescription()"
   style = "#somebugs { width: 100%; height: 500px }"
 %]

<p>
  <font color="red">
    Bu, mozilla.org'da kullanılan şablondur. Bu şanlon ve bu şablondaki form tarafından gönderilen veriyi biçimlendiren comment-guided.txt-tmpl şablonu genel hatlarıyla kişiselleştirilmiş şablonlarla yapılabilecekleri ve özel olarak da kişiselleştirilmiş [% terms.bug %] giriş şablonlarıyla yapılabilecekleri göstermek için eklenmiştir. Metnin büyük bir kısmı size uymayacağı için, bu formu kendi [% terms.Bugzilla %] kurulumunuzda kullanmak istiyorsanız değiştirmeniz gerekir.
  </font>
</p>

[% tablecolour = "#FFFFCC" %]

[%# This script displays the descriptions for selected components. %]
<script type="text/javascript">
var descriptions = [
[% FOREACH c = product.components %]
  '[% c.description FILTER js %]',
[% END %]
];

function PutDescription() {
    if ((document.getElementById) && (document.body.innerHTML)) {
        var componentIndex = document.getElementById('component').selectedIndex;
        if (componentIndex != -1) {
            var description = document.getElementById('description');
            description.innerHTML = descriptions[componentIndex];
        }
    }
}
</script>

[%# Browser sniff to try and reduce the incidence of Netscape 6/7 bugs %]

[% IF cgi.user_agent('Netscape(\d)') %]
  [% matches = cgi.user_agent().match('Netscape(\d)') %]
  <div style="background-color: lightgrey;
              border: 1px solid black;
              padding: 2px">
    <font color="#990000">
      <b>
        Netscape [% matches.0 %] kullanıyorsunuz.
        Bu tarayıcıyla yaşadığınız sorunları 
        <a href="http://home.netscape.com/browsers/[% matches.0 %]/feedback/index.html">
         Netscape [% matches.0 %] Geribildirim Merkezi</a>'ne raporlayabilirsiniz.
      </b>
    </font>
    Bu form sadece Mozilla web tarayıcısı ve mozilla.org'un diğer ürünleri hakkında [% terms.bug %] raporlamak içindir.
    Netscape [% matches.0 %] sürümünde karşılaştığınız [% terms.abugAcc %] bildirmek için önce bu hatayı 
    <a href="http://ftp.mozilla.org/pub/mozilla.org/mozilla/nightly/latest/">Mozilla</a>,
    <a href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/">Firefox</a>,
<a href="http://ftp.mozilla.org/pub/mozilla.org/thunderbird/nightly/latest-trunk/">Thunderbird</a> veya
    <a href="http://ftp.mozilla.org/pub/mozilla.org/camino/nightly/latest/">Camino</a>
    'nun güncel bir sürümünde tekrar edebilmeniz gerekir.
  </div>
[% END %]

[% IF cgi.user_agent('Gecko/') %]
  [% matches = cgi.user_agent().match('Gecko/(\d+)') %]
  
[% END %]

<!-- @@@ Need UA checking here -->

<a name="step1"></a>
<h3>Adım 1 / 3 - [% terms.bug %] zaten raporlanmış olabilir mi?</h3>

<p>
  <font color="red">
  Lütfen bu aşamayı geçmeyin - genelde bildirilen [% terms.bugsGen %] yarısı zaten bildirilmiş hatalar oluyor.
  </font>
  Sık sık bildirilen [% terms.bugsGen %] listelerini kontrol edin:
</p>

[%# Include other products if sensible %]
[% IF product.name == "Firefox" %]
  [% productstring = "product=Mozilla%20Application%20Suite&amp;product=Firefox" %]
[% ELSIF product.name == "Thunderbird" %]
  [% productstring = "product=Mozilla%20Application%20Suite&amp;product=Thunderbird" %]
[% ELSE %]
  [% productstring = BLOCK %]product=[% product.name FILTER url_quote %][% END %]
[% END %]

<p>
    <a href="duplicates.cgi?[% productstring %]&amp;format=simple" target="somebugs">Tüm Zamanların En çok Bildirilen 100 Hatası</a> (ilk gösterilir) |
    <a href="duplicates.cgi?[% productstring %]&amp;format=simple&sortby=delta&reverse=1&maxrows=100&changedsince=14" target="somebugs">Son iki hafta içinde en çok bildirilenler</a>  
</p>

<iframe name="somebugs" id="somebugs"
  style="border: 2px black solid"
  src="duplicates.cgi?[% productstring %]&amp;format=simple">
</iframe>

<p>
    Eğer [% terms.bug %] yukarıda listelenmemişse, bu kutuya [% terms.bug %] ile ilgili birkaç anahtar kelime girerek bir arama yapın. Örneğin: <tt><b>pop3 eposta</b></tt>
    veya <tt><b>kopyala yapıştır</b></tt>.
    Sonuçlar yukarıda listelenecektir.
  </p>

[%# All bugs opened inside the past six months %]
  <form action="buglist.cgi" method="get" target="somebugs">
    <input type="hidden" name="format" value="simple">
    <input type="hidden" name="order" value="relevance desc">
    <input type="hidden" name="bug_status" value="__all__">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    [% IF product.name == "Firefox" OR 
          product.name == "Thunderbird" OR 
          product.name == "Mozilla Application Suite" OR
          product.name == "Camino" %]
      <input type="hidden" name="product" value="Core">
      <input type="hidden" name="product" value="Toolkit">
      <input type="hidden" name="product" value="PSM">
      <input type="hidden" name="product" value="NSPR">
      <input type="hidden" name="product" value="NSS">
    [% END %]      
    <input type="hidden" name="chfieldfrom" value="-6m">
    <input type="hidden" name="chfieldto" value="Now">
    <input type="hidden" name="chfield" value="[Bug creation]">
    <input type="text" name="content" size="40">
    <input type="submit" id="search" value="Search">
  </form>

<p>
  Arama sonuçlarına göz gezdirin. Eğer <tt><b>[% terms.zeroSearchResults %]</b></tt>
  yanıtı alırsanız, [% terms.Bugzilla %] uyuşan bir hata bulamamış demektir.
  Yazım hatası yapıp yapmadığınızı kontrol edin veya daha az sayıda ya da farklı anahtar kelimelerle tekrar deneyin. Sizinkiyle aynı [% terms.abug %] bulursanız, lütfen yeni bir [% terms.bug %] açmak yerine elinizdeki bilgileri o [% terms.bugDat %] ekleyin.
</p>


<a name="step2"></a>
<h3>Adım 2 / 3 - bilgi verin</h3>

<p>
  Birkaç arama denediyseniz fakat aradığınız [% terms.bugDat %] ulaşamadıysanız, bize [% terms.bug %] hakkında bilgi verin.
</p>

<form method="post" action="post_bug.cgi">
  <input type="hidden" name="format" value="guided">
  <input type="hidden" name="assigned_to" value="">
  <input type="hidden" name="priority"
         value="[% default.priority FILTER html %]">
  <input type="hidden" name="version"
         value="[% default.version FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">

<table valign="top" cellpadding="5" cellspacing="5" border="0">

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Ürün</b>
    </td>
    <td valign="top">
      <input type="hidden" name="product" value="[% product.name FILTER html %]">
      [% product.name FILTER html %]
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Bileşen</b>
    </td>
    <td valign="top">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">
            <select name="component" id="component"
                    size="5" onchange="PutDescription()">
              [% IF NOT default.component_ %]
                [%# Various b.m.o. products have a "General" component,
                    which is a useful default. %]
                [% default.component_ = "General" %]
              [% END %]
              [% FOREACH c = product.components %]
                <option value="[% c.name FILTER html %]"
                  [% " selected=\"selected\"" IF c.name == default.component_ %]>
                  [% c.name FILTER html %]
                </option>
              [% END %]
            </select>
          </td>
          <td valign="top" width="100%">
              <div id="description" style="color: green; margin-left: 10px;
                                           height: 5em; overflow: auto;">
                <script type="text/javascript">
                  if ((document.getElementById) && (document.body.innerHTML)) {
                    document.write("\
                    Bir bileşen seçerseniz açıklamasını burada görebilirsiniz.");
                  }
                </script>
              </div>
          </td>
        </tr>
      </table>
      
      <p>
        Problemin yaşandığı yer. Doğru bileşeni seçmek için, aramanızda bulduğunuz [% terms.bugsDat %] benzer olanlarla aynı bileşeni seçebilirsiniz veya daha fazla yardım gerekirse 
        <a target="_blank" href="describecomponents.cgi?product=
            [% product.name FILTER url_quote %]">bileşen açıklamaları</a>na
        (yeni pencerede açılır) bakabilirsiniz.
      </p>
    </td>
  </tr>

  [%# We override rep_platform and op_sys for simplicity. The values chosen
      are based on which are most common in the b.m.o database %]
  [% rep_platform = [ "PC", "Macintosh", "All", "Other" ] %]

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Hardware Platform</b>
    </td>
    <td valign="top">
      [% PROCESS select sel = 'rep_platform' %]
    </td>
  </tr>

  [% op_sys = [ "Windows 2000", "Windows XP", "Windows Vista", "Windows 7",
                "Mac OS X", "Linux", "Tümü", "Diğerleri" ] %]

  <tr>
    <td align="right" valign="top">
      <b>İşletim Sistemi</b>
    </td>
    <td valign="top">
      [% PROCESS select sel = 'op_sys' %]
    </td>
  </tr>

  [% IF product.name.match("Firefox|Camino|Mozilla Application Suite") %]
    [% matches = cgi.user_agent('Gecko/(\d+)') %]
    [% buildid = cgi.user_agent() IF matches %]
  [% END %]
  
  [%# Accept URL parameter build ID for non-browser products %]
  [% IF cgi.param("buildid") %]
    [% buildid = cgi.param("buildid") %]
  [% END %]

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>İnşa Tanımlayıcısı</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="buildid" value="[% buildid FILTER html %]">
      <p>
        Bu değer, kullandığınız uygulamanın sürümünü tam olarak yansıtmalıdır. Eğer yukarıdaki alan boşsa veya hatalı olduğunu biliyorsanız, ürünün Yardım menüsünden Hakkında seçeneğini kopyalayabilirsiniz (tarayıcılarda bu değer "Mozilla/5.0..." diye başlar). Eğer ürün başlamıyorsa (açılmıyorsa), indirdiğiniz tam adresi yapıştırın.
      </p>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Adres</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="bug_file_loc" value="http://">
      <p>
        URL that demonstrates the problem you are seeing (optional).<br>
        <b>ÖNEMLİ</b>: 
        Eğer problem düzgün çalışmayan bir web sayfası ile,
        <a href="https://bugzilla.mozilla.org/page.cgi?id=broken-website.html">farklı bir şekilde</a>
        raporlamanız gerekir.
      </p>
   </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Özet</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="short_desc" id="short_desc" 
             maxlength="255" spellcheck="true">
      <p>
        Problemi özetleyen bir cümle. Lütfen açıklayıcı olun ve çok sayıda anahtar kelime kullanın.
      </p>
      <p>
        <tt>
          <font color="#990000">Kötü örnek</font>: eposta çöktü
        </tt>
        <br>
        <tt>
          <font color="#009900">İyi bir örnek</font>:
          yeni POP eposta kontrolü yapılırken eposta penceresini kapatınca çakılma
        </tt>
      </p>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Detaylar</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'comment'
        minrows = 6
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Özetinizi genişletin. Lütfen problemin ne olduğu hakkında mümkün olduğunca detaylı yazın.
      </p>
      <p>
        <tt>
          <font color="#990000">Kötü örnek</font>: Mozilla çöktü.
          Yapma ya!
        </tt>
        <br>
        <tt>
          <font color="#009900">İyi bir örnek</font>: Ben Yer İmleri Yöneticisi'nde sıralama yaparken oluşan bir çakılmadan sonra,<br> en üst seviyedeki yer imlerimden V'den Z'ye kadar bir harfle başlayanlar yok oldu.
        </tt>
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Tekrarlanabilir olma</b>
    </td>
    <td valign="top">
      <select name="reproducible">
        <option name="AlwaysReproducible" value="Always">
          Her seferinde oluyor.
        </option>
        <option name="Sometimes" value="Sometimes">
          Her zaman değil, bazen oluyor.
        </option>
        <option name="DidntTry" value="Didn't try">
          Tekrarlamaya çalışmadım.
        </option>
        <option name="NotReproducible" value="Couldn't Reproduce">
          Tekrarlamaya çalıştım ama tekrar olmadı.
        </option>
      </select>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Tekrarlama Adımları</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name           = 'reproduce_steps'
        minrows        = 4
        cols           = constants.COMMENT_COLS
        defaultcontent = "1.\n2.\n3."
      %]
      <p>
        Oluşan durumu tekrarlamak için ne yapmak gerektiğini adım adım yazın. Özel adımları da açıklayın.
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td valign="top" align="right">
      <b>Sonuçlar</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'actual_results'
        minrows = 4
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Yukarıdaki adımları tekrarlayınca ne oldu?
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      <b>Beklenen Sonuçlar</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'expected_results'
        minrows = 4
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Yazılımın yukarıda yazdığınız sonuçlar yerine ne yapması gerekiyordu?
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td valign="top" align="right">
      <b>Ek Bilgi</b>
    </td>
    <td valign="top">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'additional_info'
        minrows = 8
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Bu [%terms.bugDat%] ilgili olabileceğini düşündüğünüz ek detayları (örn. kullandığınız <b>tema</b> (Öntanımlı temada da hata tekrarlanıyor mu?), <b><a href="http://kb.mozillazine.org/Quality_Feedback_Agent">Geribildirim çakılma kimliği</a></b>, veya <b>bilgisayarınızın yapılandırması</b> hakkında ek bilgiler) buraya yazın.
        <b>Yığıt geri izlemesi</b> veya <b>HTML test vakası</b> gibi, birkaç satırdan uzun olan bilgiler
        [% terms.bug %] girildikten sonra, [% terms.bugDat %] "Yeni Ek Oluştur" ile eklenmelidir. Ayrıca, ilgili olduğunu düşünüyorsanız, adres satırına <tt>about:buildconfig</tt>
        yazarak elde edebileceğiniz inşa yapılandırmasını da girdiğiniz detaylara dahil edin.
        <br>
        <br>
        Eğer bir çakılma bildiriyorsanız, yazılımın çakıldığı bileşeni de (örn. <tt>Application Violation in gkhtml.dll</tt>) yazın.
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      <b>Ciddiyet</b>
    </td>
    <td valign="top">
      <select name="bug_severity">
        <option name="critical" value="critical">
          Kritik: Yazılım çakılıyor, kilitleniyor veya veri kaybına neden oluyor.
        </option>
        <option name="major" value="major">
          Büyük: Önemli bir özellik çalışmıyor.
        </option>
        <option name="normal" value="normal" selected="selected">
          Normal: Düzeltilmesi gereken [% terms.abug %].
        </option>
        <option name="minor" value="minor">
          Küçük: Küçük bir işlev kaybı (ve kolay bir çözümü var).
        </option>
        <option name="trivial" value="trivial">
          Makyaj: Kozmetik bir problem (yanlış yazılan bir kelime, yanlış yöne yaslanmış bir metin,..).
        </option>
        <option name="enhancement" value="enhancement">
          İyileştirme: Yeni özellik veya geliştirme isteği.
        </option>
      </select>
      <p>
        Problemin ne kadar ciddi olduğunu belirtin.
      </p>
    </td>
  </tr>
</table>


<a name="step3"></a>
<h3>Adım 3 / 3 - [% terms.bug %] raporunu gönderin</h3>

<p>
  <input type="submit" id="report" value="    [% terms.Bug %] Raporunu Gönder    "
   onclick="if (this.form.comment.value == '')
   { alert('Lütfen bu [% terms.bug %] hakkında biraz bilgi girin.');
     this.form.comment.focus();
     return false; } return true;">
</p>

<p>
  Bu kadar! Çok teşekkürler. Girdiğiniz [% terms.bugGen%] düzeltilmesi konusundaki ilerlemeden eposta yoluyla haberdar edileceksiniz.

<p>  
  Lütfen çok sayıda [% terms.bug %] raporlandığını unutmayın - sizinkine sıra gelmesi uzun zaman bile alabilir. Sürece [%+ terms.bug %] kaydınızın eksiksiz ve kolay anlaşılır olmasını sağlayarak ve konuyla ilgili olarak eposta yoluyla ulaşabilecek sorulara kısa sürede cevap vererek katkıda bulunabilirsiniz.
</p>

    </form>

[% PROCESS global/footer.html.tmpl %]

[%############################################################################%]
[%# Block for SELECT fields                                                  #%]
[%############################################################################%]

[% BLOCK select %]
  <select name="[% sel %]">
    [%- IF default.$sel %]
      <option value="[% default.$sel FILTER html %]" selected="selected">
        [% default.$sel FILTER html -%]
      </option>
    [% END %]
    [%- FOREACH x = $sel %]
      [% NEXT IF x == default.$sel %]
      <option value="[% x FILTER html %]">
        [% x FILTER html -%]
      </option>
    [%- END %]
  </select>
[% END %]
