[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Ekler"
   desc = "Eklerle ilgili seçenekleri belirle"
%]

[% param_descs = {
  allow_attachment_deletion => "Eğer bu seçenek açıksa, yöneticiler eklerin içeriklerini " _
                               "silebilir.",

  allow_attach_url => "Eğer bu seçenek açıksa, bir ek oluştururken bir adres belirtmek ve " _
                      "o adresi bir ekmiş gibi işlemek mümkün olur.",

  maxpatchsize => "Yamaların kilobayt cinsinden en fazla boyutu. $terms.Bugzilla bu boyuttan " _
                  "büyük yamaları kabul etmeyecektir. Boyut sınırlamasını kaldırmak " _
                  "(sunucunuzun sınırlamasıyla eşitlemek) için, bu değeri 0 (sıfır) girin.",

  maxattachmentsize => "Yama olmayan eklerin kilobayt cinsinden en fazla boyutu. $terms.Bugzilla " _
                       "bu boyuttan büyük ekleri kabul etmeyecektir. Boyut sınırlamasını " _
                       "kaldırmak (sunucunuzun sınırlamasıyla eşitlemek) için, bu değeri 0 (sıfır) " _
                       "girin.",

  maxlocalattachment => "Web sunucusunda yerel olarak depolanacak ve kullanıcı tarafından 'büyük " _
                        "dosya' olarak işaretlenen eklerin megabayt cinsinden en fazla boyutu. " _
                        "Eğer 0 (sıfır) girerseniz, ekler hiçbir zaman sunucunun yerel dosya " _
                        "sisteminde depolanmaz.",

  convert_uncompressed_images => "Eğer bu seçenek açıksa, BMP biçimindeki resimler PNG'ye " _
                                 "dönüştürülür ve disk alanından kazanmak için veritabanına yüklenmeden " _
                                 "önce sıkıştırılır." }
%]
