[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "$terms.Bug Change Policies"
   desc = "Set up $terms.bug change policies"
%]

[% param_descs = {
  duplicate_or_move_bug_status => "$terms.Abug başka bir $terms.bugGen aynısı olarak " _
                                  "işaretlendiğinde veya başka bir kuruluma taşındığında, " _
                                  "bu $terms.bug durumunu kullan."

  letsubmitterchoosepriority => "Eğer bu açıksa, $terms.bug gönderen kişiler o $terms.bug " _
                                "için bir öncelik belirtebilirler. Kapalıysa, tüm $terms.bugsDat " _
                                "başlangıçta aşağıda belirtilen öntanımlı öncelik atanır.",

  letsubmitterchoosemilestone => "Açıksa, $terms.bug gönderen kişiler o $terms.bug için Hedef " _
                                 "Aşama seçebilirler. Kapalıysa, tüm $terms.bugsDat ilgili " _
                                 "ürünün öntanımlı aşaması atanır.",

  musthavemilestoneonaccept => "Eğer Hedef Aşama kullanıyorsanız, bir kullanıcının bir $terms.bugAcc " _
                               "KABUL edebilmesi için bir aşama belirtilmesini zorunlu hale getirmek " _
                               "istiyor musunuz??",

  commentonclearresolution => "Açıksa, kullanıcı $terms.abugGen işlemini temizlediğinde kısa bir " _
                              "yorum girmesi gerekir.",

  commentonchange_resolution => "Eğer bu seçenek açıksa, $terms.abugGen işlemi değiştiğinde " _
                                "kullanıcının kısa bir yorum girmesi gerekir.",

  commentonreassignbycomponent => "Seçenek açıksa, kullanıcının $terms.bug bileşene göre yeniden " _
                                  "atandığında kullanıcının kısa bir yorum girmesi gerekir.",

  commentonduplicate => "Bu seçenek açık olduğu taktirde $terms.bug başka bir $terms.bugGen " _
                        "aynısı olarak işaretlendiğinde kullanıcının kısa bir yorum girmesi gerekir.",

  noresolveonopenblockers => "Eğer bir $terms.bugGen çözümlenmemiş bağımlılıkları varsa çözüldü " _
                             "olarak işaretlenmesine izin verme." }
%]
