[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "$terms.Bug Alanları"
   desc = "Görüntülenmesini istediğiniz alanları seçin"
%]

[% param_descs = {
  useclassification => "Eğer bu açıksa, $terms.Bugzilla her ürünü belirli bir sınıf ile ilişkilendirir. Ama sınıfları düzenleyebilmek için 'sınıfları düzenle' izinlerinin açık olması gerekir",

  showallproducts => "Eğer bu ve 'sınıflandırma kullan' açıksa, $terms.Bugzilla 'Yeni $terms.Bug' sayfasında tüm kullanılabilir ürünleri listelemek için bir 'Tümü' bağlantısı ekler.",

  usetargetmilestone => "Hedef Aşama alanını kullanmak istiyor musunuz?",

  useqacontact => "Kalite Kontrol Kişisi alanını kullanmak istiyor musunuz?",

  usestatuswhiteboard => "Durum Tahtası alanını kullanmak istiyor musunuz?",

  usevotes => "Kullanıcıların ${terms.bugsLoc} oy kullanmasına izin vermek istiyor musunuz? Bu seçeneğin etki sahibi olması için, <a href=\"editproducts.cgi\">ürün düzenleme sayfası</a>nda bir üründe kullanılmasına izin verilen en fazla oy sayısının sıfır dışında bir değer olması gerekir.",

  usebugaliases => "$terms.BugsDat hatırlaması kolay bir isim atayabilmek istiyor musunuz?",

  defaultpriority => "Bu, yeni girilen $terms.bugsGen öntanımlı önceliğidir.",

  defaultseverity => "Bu, yeni girilen $terms.bugsGen öntanımlı önem derecesidir.",

  defaultplatform => "Bu, $terms.bug girme sayfasında öntanımlı olarak seçilen platformdur.<br> Bunu boş bırakabilirsiniz: Bu durumda $terms.Bugzilla istemci web tarayıcısının raporladığı platformu kullanır.",

  defaultopsys => "Bu, $terms.bug girme sayfasında öntanımlı olarak seçilen işletim sistemidir.<br> Bunu boş bırakabilirsiniz: Bu durumda $terms.Bugzilla istemci web tarayıcısının raporladığı işletim sistemini kullanır." }
%]