[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% 
   title = "Zorunlu Ayarlar"
   desc = "$terms.BugzillaGen düzgün çalışması için zorunlu olan ayarlar" 
%]

[% param_descs = {
  maintainer => "Bu $terms.Bugzilla kurulumunun sağlıklı işlemesinden ve bakımından sorumlu kişinin eposta adresi.",

  urlbase => "Tüm $terms.Bugzilla adreslerinin başlangıcındaki ortak kısım.",

  docs_urlbase => "Tüm $terms.Bugzilla belgelendirme adreslerinin başlangıcındaki ortak kısım. Tam bir adres olabileceği gibi, yukarıdaki urlbase parametresine görece bir adres de olabilir. Belgelendirmeye yapılan bağlantıları ortadan kaldırmak için bu alanı boş bırakın. '%lang%' ifadesi kullanıcının kendi tercihlerinde belirttiği dil ile değiştirilir.",

  sslbase => "Tüm HTTPS (SSL) $terms.Bugzilla adreslerinin başlangıcındaki ortak kısım.",

  ssl => "$terms.BugzillaGen ne zaman oturumların <tt>sslbase</tt> vasıtasıyla HTTPS'yi zorunlu kılacağını belirler.",

  cookiedomain => "$terms.Bugzilla çerezlerinin alanı. Normalde boştur. Örneğin siteniz 'www.foo.com' ise, bu alanı '.foo.com' olarak ayarlamak $terms.Bugzilla çerezlerinin tüm 'foo.com' alt alanlarından erişilebilir olmasını sağlar. Bu şekilde ayarlamak aynı sunucuya bağlı birden fazla alan adınız varsa ve o alan adlarının $terms.Bugzilla çerezlerini ortak kullanabilmesini istiyorsanız kullanışlıdır.",
 
  cookiepath => "$terms.Bugzilla çerezlerinin kısıtlanacağı yol. Belge kök konumuna bağıl olarak yazılmalıdır. Normalde taban adresinizin URI kısmıdır. / (bölü) ile başlamalıdır. Örneğin, eğer $terms.Bugzilla 'http://www.siteadresi.com/bugzilla/' adresindeyse, bu parametreyi '/bugzilla/' olarak ayarlayın. Bu alanı / olarak vermek, bu sunucu altından yayınlanan tüm içeriğin $terms.Bugzilla çerezlerine ulaşabilmesini sağlar.",

  timezone => "Veritabanı sunucunuzun bulunduğu zaman dilimi: UTC, PDT veya JST ve benzeri. Eğer '' olarak ayarlarsanız, zaman etiketlerinde zaman dilimi gösterilmez.",

  utf8 => "Tüm $terms.Bugzilla metinlerinde UTF-8 (Unicode) kodlama kullan. Yeni kurulumlar karakter kodlarıyla problem yaşamamak için bunu açmalıdır. <strong>Varolan veritabanlarında da sadece <kbd>contrib/recode.pl</kdb> betiği kullanılıp veri eski karakter kodlamalarından UTF-8'e dönüştürüldükten sonra açılmalıdır</strong>. <br><br> Eğer bu parametreyi &quot;kapalı&quot;dan &quot;açık&quot;a çevirirseniz, hemen arkasından checksetup.pl'yi yeniden çalıştırmanız gerektiğini unutmayınız.",

  shutdownhtml => "Eğer bu alan boş değilse, $terms.Bugzilla tamamen kapatılır ve tüm $terms.Bugzilla sayfalarının yerine o metin gösterilir.",

  announcehtml => "Eğer bu alan boş değilse, $terms.Bugzilla tüm HTML sayfalarının üstünde buradaki metni gösterir. Buraya yazacağınız HTML kodları herhangi başka bir etiketin altına yerleştirilmez. O yüzden bir <tt>&lt;div&gt;</tt> içine koymanızı tavsiye ederiz. Kırmızı bir kutu üzerine yeşil metin olarak göstermek için <em>id=message</em> kullanın, veya kırmızı zemin üzerine koyu kırmızı metin için <em>class=bz_private</em> kullanın. Metni ortalatmak içinse <em>style=\"text-align: center;\"</em> kullanın. <tt>skins/standard/global.css</tt> ve_<tt>skins/custom/global.css</tt> içerisinde tanımlı sınıf ve kimlikleri kullanabilirsiniz.",

  proxy_url => "Yeni sürümler için $terms.BugzillaGen internete erişmesi gerekebilir, bununla ilgili olarak <tt>upgrade_notification</tt> parametresine bakabilirsiniz. Eğer bir vekil sunucu arkasındaysanız, sunucu HTTP_PROXY çevre değişkenine erişemezse adresini girmeniz gerekebilir. Eğer internete erişmek için kimlik doğrulaması gerekiyorsa, <code>http://kullanıcıadı:parola@vekil_adresi</code> yapısını kullanın.",

  upgrade_notification => "<p>Yeni bir sürüm çıktığında $terms.Bugzilla size haber verebilir. İlgili bildirim yöneticilerin $terms.Bugzilla ana sayfasında çıkar.</p>" _
                          "<ul><li>'geliştirme sürümü' trunk'daki son sürümü ifade eder.</li>" _
                          "<li>'son kararlı sürüm' en son kararlı daldan çıkan sürümden haberdar eder. Bu dal kurulumuzda kullanılan daldan farklı olabilir.</li>" _
                          "<li>'kararlı dal sürümü' sizi sadece kendi kurulumunuzun bulunduğu dalı temel alan yeni sürümlerden haberdar eder. Eğer bir sürüm adayı kullanıyorsanız, yeni sürüm adaylarından da haberdar edilirsiniz.</li>" _
                          "<li>'kapalı' sizi yeni sürümlerden haberdar etmez ve herhangi bir uzak sunucuya bağlantı kurulmaz.</li></ul>" }
%]
