[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "LDAP"
   desc = "LDAP'yi bir kimlik denetimi mekanizması olarak seçmeden önce bu bölümü yapılandırın"
%]

[% param_descs = {
  LDAPserver => "LDAP sunucunuzun adı (ve varsa port numarası) " _
                "(örn. ldap.sirket.com, or ldap.sirket.com:portno). " _
                "URI cümle yapısı da kullanılabilir: "_
                "ldaps://ldap.company.com (güvenli bağlantı için) veya " _
                "ldapi://%2fvar%2flib%2fldap_sock (soket tabanlı yerel bağlantı " _
                "icin). Birden fazla sunucu adı veya URI girecekseniz, virgülle ayırın; bu durumda bir bağlantı sağlanana kadar hepsi sırayla denenir.",

  LDAPstarttls => "Sunucuyla LDAP bağlantısı sağlandığında şifreli iletişim istenip istenmeyeceği.",

  LDAPbinddn => "Eğer LDAP sunucunuz adsız şekilde bağlanmaya izin vermiyorsa ve binddn ve parola kullanmanızı gerektiriyorsa, buraya girin (örn. cn=default,cn=kullanıcı:parola). Adsız bağlantı kullanmak için boş bırakın",

  LDAPBaseDN => "Kimlik denetiminde kullanılacak BaseDN" _
                "(örn. ou=Kisiler,o=Sirket).",

  LDAPuidattribute => "Kullanıcının oturum açma adını içeren niteliğin adı.",

  LDAPmailattribute => "Dizininizde $terms.Bugzilla kullanıcı adı olarak kullanılacak olan eposta adresini içeren bir kullanıcı niteliğinin adı. Eğer bu parametre boş bırakılırsa $terms.Bugzilla, kullanıcı adı olarak LDAP kullanıcı adını kullanır. Bu durumda, büyük ihtimalle, \"emailsuffix\" parametresini de yazmanız gerekir.",

  LDAPfilter => "'Geçerli kullanıcılar' listesini süzmek için <tt>LDAPuidattribute</tt> ile birlikte kullanılacak LDAP süzgeci" }
%]
