[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Eposta"
   desc = "Epostalar nasıl gönderilecek?"
%]

[% param_descs = {
  mail_delivery_method => "Epostanın gönderilip gönderilmeyeceğini ve gönderilecekse nasıl gönderileceğini belirler.<br>
                           <ul>
                             <li>
                               'Sendmail', 'SMTP' and 'Qmail' birer MTA'dır (Mail Transfer Agent - Posta Aktarım Aracısı).
                               Eğer Windows'da sendmail kullanmak istiyorsanız, üçüncü parti bir sendmail uygulaması yüklemeniz gerekir.
                             </li>
                             <li>
                               'Test' hata ayıklama konusunda faydalıdır: tüm epostalar, gönderilmek yerine 'data/mailer.testfile' dosyasına depolanır.
                             </li>
                             <li>
                               'yok' eposta işlemlerini tamamen kapatır. $terms.Bugzilla eposta gönderiyormuş gibi davranmaya devam edecektir, fakat hiçbirşey gönderilmez ve herhangi bir yerde depolanmaz.
                             </li>
                           </ul>",

  mailfrom => "$terms.Bugzilla eposta aracının eposta adresi. Bazı eposta sistemleri bunun geçerli bir eposta adresi olmasını zorunlu kılar.",

  sendmailnow => "'sendmail'in 8,12 sürümünden öncesini kullanan siteler, bu parametreyi kapatırlarsa epostanın gönderilmesini geciktirerek arayüzde gözle görülür bir başarım artışı elde edebilirler. 'sendmail' 8,12 veya daha üstü bir sürüm kullananlar bu parametreyi açık bırakmalıdır, çünkü kapatmak herhangi bir başarım artışı sağlamaz. 'sendmail' dışında bir posta aktarım aracısı kullanan siteler ise bu parametreyi <b>açık</b> bırakmalıdır, aksi taktirde eposta gönderilemez.",

  smtpserver => "Eğer eposta göndermek için SMTP kullanılıyorsa, SMTP sunucu adresi.",

  smtp_username => "Kimlik doğrulaması için SMTP sunucuya gönderilecek kullanıcı adı. Eğer SMTP sunucunuz kimlik doğrulama gerektirmiyorsa boş bırakın.",

  smtp_password => "Kimlik doğrulaması için SMTP sunucuya gönderilecek parola. Eğer smtp_username parametresi boş ise bu alan gözardı edilir.",

  smtp_debug => "Açıksa, web sunucunuzun hata günlüğünde $terms.Bugzilla ile SMTP sunucunuz arasındaki iletişim hakkında detaylı rapor tutulur. Eposta problemlerinin kaynağını bulmak için kullanabilirsiniz.",

  whinedays => "YENİ durumundaki bir hata hakkında kullanıcı uyarılmadan önce geçmesi gereken gün sayısı.<br>Uyarıyı kapatmak için 0 kullanın.",

  globalwatchers => "Sistemin gönderdiği her bilgilendirme epostasının bir kopyasını alması gereken kullanıcıların listesi. Liste öğeleri birbirlerinden virgülle ayrılmalıdır." }

%]
