[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Marc Schumann.
  # Portions created by Marc Schumann are Copyright (c) 2007 Marc Schumann.
  # All rights reserved.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "RADIUS"
   desc = "Kimlik doğrulama yöntemi olarak RADIUS seçmeden önce bunu yapılandırın"
%]

[% param_descs = {
  RADIUS_server => "RADIUS sunucunuzun adı (ve varsa port numarası) " _
                   "(örn. <code>radius.sirket.com</code>, veya " _
                   "<code>radius.sirket.com:portno</code>).<br>" _
                   "Sadece " _
                   "<a href=\"?section=auth#user_verify_class\">" _
                   "<code>user_verify_class</code> parametresi</a> " _
                   "<code>RADIUS</code> içeriyorsa gereklidir.",

  RADIUS_secret => "RADIUS sunucunuzun sırrı.<br>" _
                   "Sadece " _
                   "<a href=\"?section=auth#user_verify_class\">" _
                   "<code>user_verify_class</code> parametresi</a> " _
                   "<code>RADIUS</code> içeriyorsa gereklidir.",

  RADIUS_NAS_IP => "RADIUS sunucuyla veri alışverişinde bulunurken kullanılacak NAS-IP-Address değeri" _
                   "Eğer belirtilmezse, <code>127.0.0.1</code> kullanılır.<br>" _
                   "Sadece " _
                   "<a href=\"?section=auth#user_verify_class\">" _
                   "<code>user_verify_class</code> parametresi</a> " _
                   "<code>RADIUS</code> içeriyorsa anlamlıdır.",

  RADIUS_email_suffix => "RADIUS kullanıcı adından eposta adresi oluşturmak için kullanılacak ek.<br>" _
                         "Sadece " _
                         "<a href=\"?section=auth#user_verify_class\">" _
                         "<code>user_verify_class</code> parametresi</a> " _
                         "<code>RADIUS</code> içeriyorsa anlamlıdır.",
  }
%]
