[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "$terms.Bug Yazma Kılavuzu" %]

  <p>Çözülme ihtimali en yüksek [% terms.bugs %], etkin şekilde yazılmış [% terms.bug %] raporlarında olur.
  Bu kılavuzlar etkin bir raporun nasıl yazıldığını açıklar.

<h3>Prensipler</h3>

  <ul>
    <li>Kesin bilgi verin</li>
    <li>Açık olun - açıklamanızı okuyan, [% terms.bugAcc %] tekrarlayabilsin</li>
    <li>Her raporda sadece bir [% terms.bug %] girin</li>
    <li>Hiçbir [% terms.bug %] bildirilmeyecek kadar önemsiz değildir - 
    küçük [% terms.bugs %] büyük [% terms.bugsAcc %] gizleyebilir</li>
    <li>Gerçekleri ve tahminlerinizi birbirinden net şekilde ayırın</li>
  </ul>

<h3>Ön hazırlıklar</h3>

<ol>
  <li>[% terms.BugAcc %] yazılımın güncel sürümünde tekrarlayın, tekrarlayamıyorsanız düzeltilmiş olabilir.
  </li>

  <li>[% terms.BugzillaLoc %] <a href="query.cgi?format=specific">Ara</a>ma yapın, belki [% terms.bug %] zaten bildirilmiştir.</li>
</ol>

<h3>Yeni [% terms.Bug %] Raporlamak</h3>

<p>Eğer [% terms.bugAcc %] uygulamanın güncel sürümünde tekrarlayabiliyorsanız ve başka kimse raporlamadıysa:</p>

<ol>
 <li>"<a href="enter_bug.cgi">Yeni bir [% terms.bug %] gir</a>"i seçin</li>
 <li>[% terms.BugAcc %] bulduğunuz ürünü seçin</li>
 <li>Formu doldurun. Formu anlama konusunda birkaç ipucu:</li>
</ol>

  <blockquote>
    <p><b>Bileşen:</b> [% terms.Bug %] yazılımın hangi bölümünde?<br>
    Bu alan zorunludur.
    Her bileşenle ilgili bir açıklama görmek için "Bileşen" kelimesine tıklayın. Eğer mevcut bileşen seçenekleri uygun gelmediyse, "Genel" bileşenini seçin.</p>

    <p><b>İşletim Sistemi:</b> Bu problemi hangi işletim sisteminde yaşıyorsunuz? (örn. Linux, Windows XP, Mac OS X.)<br>
    Eğer [% terms.bugGen %] birden fazla işletim sisteminde yaşandığını biliyorsanız "Tümü"nü seçin. 
    If your OS isn't listed, choose Other.</p>

    <p><b>Özet:</b> [% terms.BugAcc %] en fazla 60 karakterde nasıl açıklarsınız?<br>
     İyi bir özet <b>[% terms.abug %] raporunu hızlı ve benzersiz şekilde açıklar</b>. Önerdiğiniz çözümü değil, problemi açıklamalıdır.<br>
    <ul>
     <li>Güzel: "<tt>Bir dosya kopyalama diyaloğunda iptâl Dosya Yöneticisi'nin çakılmasına neden oluyor</tt>"</li>
     <li>Kötü: "<tt>Yazılım çakılıyor</tt>"</li>
     <li>Kötü: "<tt>Tarayıcı benim sitemi düzgün görüntülemeli</tt>"</li>
    </ul>
    
    <b>Açıklama:</b>
    Problemin detayları:</p>

    <blockquote>
      <p><b>Genel Bakış:</b> Özetin daha kapsamlı şekilde yazılmış hali.</p>

      <blockquote>
<pre>
Bir sayfayı sürükleyerek seçmek Mac'lerde NSGetFactory fonksiyonunun çakılmasına neden oluyor.
</pre>
      </blockquote>

      <p><b>Tekrarlama Aşamaları:</b> [% terms.BugGen %] tekrar edilebilmesi için yapılması gerekenler, mümkün olduğunca kısa olarak. Özel kurulum adımlarını da burada belirtmelisiniz.</p>

      <blockquote>
<pre>
1) Herhangi bir sayfa açılır. (Ben varsayılan test sayfasını 
kullandım - resource:/res/samples/test0.html)

2) Sayfayı sürükleyerek seçin. (Fareyle tıklayıp, tuşu 
bırakmadan tarayıcının içerik alanında herhangi bir yerden 
içerik alanının alt kısmına doğru sürükleyin.)
</pre>
      </blockquote>

      <p><b>Oluşan Sonuçlar:</b> Uygulama yukarıda verdiğiniz adımlar tamamlandığında ne yaptı?</p>

      <blockquote>
<pre>
Uygulama çakıldı.
</pre>
      </blockquote>

      <p><b>Beklenen Sonuçlar:</b> [% terms.Bug %] olmasaydı uygulamanın ne yapması gerekiyordu?</p>

      <blockquote>
<pre>
Pencere aşağıya doğru kaymalıydı. 
Kayan içerik seçilmeliydi. 
(Ya da en azından, uygulama çakılmamalıydı.)
</pre>
      </blockquote>

      <p><b>İnşa Tarihi ve Platform:</b> Bu [% terms.bug %] ile ilk karşılaştığınız inşanın tarihi ve platformu</p>

      <blockquote>
<pre>
Mac OS 10.4.3 üzerinde inşa 2006-08-10.
</pre>
      </blockquote>

      <p><b>Ek İnşalar ve Platformlar:</b> [% terms.BugGen %] diğer platformlarda (veya ortama göre, tarayıcılarda) tekrarlanıp tekrarlanmadığı.</p>

      <blockquote>
<pre>
Pardus 2008.2 üzerinde tekrarlanmıyor.
</pre>
      </blockquote>

      <p><b>Ek Bilgi:</b> Diğer faydalı bilgi.
      <br><br>Çakılma [% terms.bugsAcc %] ile ilgili olarak:</p>

      <ul>
        <li><b>Windows:</b> Çakılmanın türünü ve uygulamanın çakıldığı bileşenin adını verin (örn. "access violation in apprunner.exe").</li>

        <li><b>Mac OS X:</b> Çakılmalarda çıkan "Çakılma Raporu"nu ekleyin.
        Sadece çakılma metninin altında bulunan ve "Thread 0 Crashed" başlıklı olan bölümü ekleyin. Tüm raporu buraya yapıştırmayın!</li>
      </ul>
    </blockquote>

  <p>Raporunuzu hatalara ve eksik kalan noktalara karşı iki kez kontrol edin, sonra "Gönder"e basın.
  Artık [% terms.bug %] raporunuz [% terms.Bugzilla %] veritabanına eklenmiş durumdadır.<br>
  </p>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
