[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
  Kurulumu Yönet ([% terms.Bugzilla %]
  [%+ constants.BUGZILLA_VERSION FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl title = title
                                   style_urls = ['skins/standard/admin.css']
                                   doc_section = "administration.html"
%]

<div>
  Bu sayfa sadece yetkili kullanıcılara açıktır. Yetkilerinize bağlı olarak, buradan kurulumun farklı ayarlarını yapabileceğiniz yönetim sayfalarına ulaşabilirsiniz. Not: Bazı bölümler erişiminize açık olmayabilir. O bölümler daha açık bir renkler yazılmıştır.
</div>

<table>
  <tr>
    <td class="admin_links">
      <dl>
        [% class = user.groups.tweakparams ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editparams.cgi">Parametreler</a></dt>
        <dd class="[% class %]">Kurulumun çekirdek parametrelerini belirlemede kullanılır. Kurulumun erişim adresi, kullanıcıların nasıl oturum açtığı, hangi [% terms.bug %] alanlarının görüntüleneceği, eposta bildirimleri için kullanılacak eposta aktarım aracı, hangi kullanıcı gruplarının çizelgeleri kullanabildiği ve sorguları paylaşabildiği gibi çok sayıda ayar bu bölümden yapılır.</dd>

        <dt class="[% class %]"><a href="editsettings.cgi">Öntanımlı Tercihler</a></dt>
        <dd class="[% class %]">Kullanıcılara yüklenen öntanımlı tercihleri belirlemede kullanılır. Bunlar tüm kullanıcılar için öntanımlı olacak olan değerlerdir. Kullanıcılar kendi tercihlerini <a href="userprefs.cgi?tab=settings">Tercihler</a> sayfasından yapılandırabilirler.</dd>

        [% class = user.groups.editcomponents ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="sanitycheck.cgi">Doğruluk Kontrolleri</a></dt>
        <dd class="[% class %]">Veritabanınızdaki problemleri teşhis etmek için doğruluk kontrollerini yapmada kullanılır. Bu işlem yüklemenizin boyutuna göre 30-40 dakikaya kadar sürebilir. Bu süreci <tt>sanitycheck.pl</tt>'yi cron işi şeklinde zamanlayarak da yapabilirsiniz. Eğer hata bulunursa, belirtilen kullanıcıya eposta gönderilir.</dd>

        [% class = (user.groups.editusers || user.can_bless) ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editusers.cgi">Kullanıcılar</a></dt>
        <dd class="[% class %]">Yeni kullanıcı hesapları oluştur veya varolanlarda değişiklikler yap. Ayrıca kullanıcıları gruplara ekleyebilir veya gruplardan çıkarabilirsiniz ("ayrıcalıklar" olarak bilinir).</dd>

        [% class = (Param('useclassification') && user.groups.editclassifications) ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editclassifications.cgi">Tasnifler</a></dt>
        <dd class="[% class %]">Eğer kurulumunuz çok sayıda ürünün [% terms.bug %] yönetimi için kullanılıyorsa, bu ürünleri kategorilere ayırmak işleri kolaylaştıracaktır. Bu işlem kullanıcıların yeni [% terms.bug %] girerken ve arama yaparken bilgi bulmasını kolaylaştırır.</dd>

        [% class = (user.groups.editcomponents
                    || user.get_products_by_permission("editcomponents").size) ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editproducts.cgi">Ürünler</a></dt>
        <dd class="[% class %]">Ürünlerin, erişimi olan kullanıcı grupları dahil tüm detaylarını yapılandırmak için kullanılır. Ayrıca ürünlerin <a href="editcomponents.cgi">bileşenlerini</a>, <a href="editversions.cgi">sürümlerini</a> ve <a href="editmilestones.cgi">aşamalarını</a> da doğrudan buradan yönetebilirsiniz.</dd>

        [% class = user.groups.editcomponents ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editflagtypes.cgi">Bayraklar</a></dt>
        <dd class="[% class %]">Bayraklar, [% terms.bugsDat %] ve eklera atanabilen dört durumlu (onaylanmış, reddedilmiş, istenmiş ve atanmamış) niteliklerdir. Her [% terms.bug %] için istediğiniz sayıda bayrak belirtebilirsiniz ve hangi kullanıcıların bayraklarda değişiklik yapabileceğini belirleyebilirsiniz.</dd>
      </dl>
    </td>

    <td class="admin_links">
      <dl>
        [% class = user.groups.admin ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editfields.cgi">Özel Alanlar</a></dt>
        <dd class="[% class %]">[% terms.Bugzilla %] ile normalde kurulu olmayan alanlar oluşturmak mümkündür. İhtiyacınıza göre oluşturabileceğiniz bu alanları daha sonra tüm diğer alanlar gibi aramalarda ve [% terms.bugsLoc%] kullanabilirsiniz.<br>
        Fakat unutulmamalıdır ki, çok sayıda alan kullanıcı arayüzünü daha karmaşık hale getirir ve kullanmayı zorlaştırır. O yüzden yeni alanlar oluşturmaya başlamadan önce bu ihtiyacı karşılamak için başka yollar olup olmadığını araştırmalısınız.</dd>

        <dt class="[% class %]"><a href="editvalues.cgi">Alan Değerleri</a></dt>
        <dd class="[% class %]">Alanlar için değerlerin belirli bir listede bulunması gerekir. Özel alanların değerleri burada belirlenir.</dd>

        <dt class="[% class %]"><a href="editworkflow.cgi">[%terms.Bug %] Durum Akışı</a></dt>
        <dd class="[% class %]">İş akışınızı kişiselleştirin ve başlangıç [% terms.bug %] oluştururken atanacak [% terms.bug %] durumlarını ve varolan [% terms.bugs %] değiştirilirken izin verilen [% terms.bug %] durum değişimlerini belirleyin.</dd>

        [% class = user.groups.creategroups ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editgroups.cgi">Gruplar</a></dt>
        <dd class="[% class %]">Kurulum sırasında kullanılacak grupları belirleyin. Yeni kullanıcı yetkileri tanımlamada ve belirli [% terms.bugsDat %] erişimi kısıtlamada kullanılabilirler.</dd>

        [% class = user.groups.editkeywords ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editkeywords.cgi">Anahtarlar</a></dt>
        <dd class="[% class %]">[% terms.BugsLoc %] kullanılacak anahtar ifadeleri atayın. Anahtar ifadeler (anahtarlar) [% terms.bugsAcc %] daha sonra daha kolay bulmak için "etiket"lemeyi kolaylaştırır.</dd>

        [% class = user.groups.bz_canusewhines ? "" : "forbidden" %]
        <dt class="[% class %]"><a href="editwhines.cgi">Alarmlar</a></dt>
        <dd class="[% class %]">Belirli zamanlarda çalıştırılacak ve sonuçları eposta ile gönderilecek sorguları atayın. Bu hatırlatıcılar oluşturmayı ve kurulumunuzdaki hareketleri izlemeyi kolaylaştırır.</dd>
      </dl>
    </td>
  </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
