[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/desktop/index.html#desktop-number
Icon=desktop
Exec=kcmshell desktop

X-KDE-ModuleType=Library
X-KDE-Library=konq
X-KDE-FactoryName=ddesktop
X-KDE-ParentApp=tasma

Name=Multiple Desktops
Name[tr]=Çoklu Masaüstü
Name[nl]=Virtuele bureaubladen
Name[es]=Escritorios múltiples
Name[de]=Mehrere Arbeitsflächen
Name[pt_BR]=Áreas de Trabalho Múltiplas
Name[fr]=Bureaux multiples
Name[it]=Desktop multipli

Comment=You can configure how many virtual desktops there are.
Comment[tr]=Kaç görsel masaüstüne sahip olacağınızı buradan yapılandırabilirsiniz.
Comment[nl]=U kunt hier bepalen hoeveel virtuele bureaubladen u wilt gebruiken.
Comment[es]=Puede configurar la cantidad de escritorios virtuales.
Comment[de]=Sie können die Anzahl der virtuellen Arbetsflächen festlegen.
Comment[pt_BR]=Você pode configurar a quantidade existente de áreas de trabalho virtuais.
Comment[fr]=Vous pouvez configurer le nombre de bureaux virtuels.
Comment[it]=Potete configurare il numero di desktop virtuali.

Keywords=desktop,desktops,number,virtual desktop
Keywords[tr]=masaüstü,isim,masaüstü sayısı,sanal masaüstü
Keywords[nl]=desktop,bureaublad,bureaubladen,naam van bureaublad,nummer,bureaubladtelling,virtuele bureaubladen
Keywords[es]=escritorio,escritorios,número,escritorio virtual
Keywords[de]=Arbeitsfläche,Arbeitsflächen,Anzahl,virtuelle Arbeitsfläche
Keywords[pt_BR]=área de trabalho,áreas de trabalho,número,área de trabalho virtual
Keywords[fr]=bureau,bureaux,nombre,bureau virtuel
Keywords[it]=desktop,numero,desktop virtuale

Categories=Qt;KDE;X-KDE-settings-desktop;X-KDE-tasma-desktop
