[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmnotify
Icon=knotify
Type=Application
DocPath=kcontrol/kcmnotify/index.html

X-KDE-ModuleType=Library
X-KDE-Library=knotify
X-KDE-ParentApp=tasma

Name=System Notifications
Name[tr]=Sistem Bildirimleri
Name[nl]=Systeem-notificaties
Name[es]=Notificaciones del Sistema
Name[de]=Systemmeldungen
Name[pt_BR]=Notificações do Sistema
Name[fr]=Notifications système
Name[it]=Notifiche di sistema

Comment=System Notification Configuration
Comment[tr]=Sistem Bildirimi Yapılandırması
Comment[nl]=Instellingen van de systeemnotificatie
Comment[es]=Configuración de notificaciones del sistema
Comment[de]=Systemmeldung Konfiguration
Comment[pt_BR]=Configuração das Notificações do Sistema
Comment[fr]=Configuration des notifications système
Comment[it]=Configurazione delle notifiche di sistema

Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification
Keywords[tr]=Sistem sesleri,Ses,Bildir,Alarmlar,Bildirme
Keywords[nl]=systeemgeluiden,audio,geluid,waarschuwingen,geluidssignaal,notificatie
Keywords[es]=Sonidos del sistema,Audio,Sonido,Notificación,Alertas,Notificar
Keywords[de]=System-Sounds,Audio,Sound,Melden,Alarmsignale,Meldung,
Keywords[pt_BR]=Sons do sistema,Áudio,Som,Notificar,Alertas,Notificação
Keywords[fr]=Sons système,Audio,Son,Notifier,Alertes,Notification
Keywords[it]=Sistema sonoro,Audio,Suono,Notificare,Avvisi,Notifica

Categories=Qt;KDE;X-KDE-settings-sound;X-KDE-tasma-sound
