[Desktop Entry]
Encoding=UTF-8
Icon=ktalkd
Type=Application
DocPath=kcontrol/kcmtalkd/index.html
Exec=kcmshell kcmktalkd

X-KDE-ModuleType=Library
X-KDE-Library=ktalkd
X-KDE-FactoryName=ktalkd

Name=Local Network Chat
Name[af]=Plaaslike Netwerk Gesels
Name[ar]=تحادث عبر الشبكة المحلية
Name[be]=Гутарка па мясцовай сетцы
Name[bg]=Разговор в локална мрежа
Name[bn]=স্থানীয় নেটওয়ার্ক চ্যাট
Name[br]=Flapañ rouedad lec'hel
Name[bs]=Chat u lokalnoj mreži
Name[ca]=Xat de la xarxa local
Name[cs]=Rozhovor v lokální síti
Name[cy]=Sgwrs Rhwydwaith Lleol
Name[da]=Lokalt netværk-chat
Name[de]=Lokaler Netzwerk-Chat
Name[el]=Συνομιλία στο τοπικό δίκτυο
Name[eo]=Loka reta Babilejo
Name[es]= Charla red local
Name[et]=Kohtvõrgu chat
Name[eu]=Sare lokaleko elkarrizketa
Name[fa]=گپ شبکۀ محلی
Name[fi]=Paikallinen verkkokeskustelu
Name[fr]=Discussion sur Réseau local
Name[gl]=Chat na rede local
Name[he]=שיחות ברשת המקומית
Name[hi]=स्थानीय नेटवर्क गपशप
Name[hr]=Razgovor u lokalnoj mreži
Name[hu]=Csevegés a helyi hálózaton
Name[is]=Staðarnetsspjall
Name[it]=Chat rete locale
Name[ja]=ローカルネットワークチャット
Name[kk]=Жергілікті желідегі әңгіме дүкені
Name[km]=ជជែក​កំសាន្ដ​ក្នុង​បណ្ដាញ​មូលដ្ឋាន
Name[lt]=Vietinio tinklo pokalbiai
Name[mk]=Разговор на локална мрежа
Name[mn]=Дотоод сүлжээнд чалчих
Name[ms]=Borak Jaringan Setempat
Name[nb]=Lokalt nettverksprat
Name[nds]=Lokaalnettwark-Klönen
Name[ne]=स्थानिय सञ्जाल च्याट
Name[nl]=Gesprek over lokaal netwerk
Name[nn]=Lokal nettverksprat
Name[nso]=Poledisano ya Kgokagano ya Selegae
Name[pa]=ਲੋਕਲ ਨੈੱਟਵਰਕ ਗੱਲਬਾਤ
Name[pl]=Pogawędka w sieci lokalnej
Name[pt]=Conversação na Rede Local
Name[pt_BR]=Bate-papo de Rede Local
Name[ru]=Чат в локальной сети
Name[se]=Báikkalaš fierpmádatbuillardeapmi
Name[sk]=Rozhovor na lokálnej sieti
Name[sl]=Klepet prek lokalnega omrežja
Name[sr]=Ћаскање у локалној мрежи
Name[sr@Latn]=Ćaskanje u lokalnoj mreži
Name[sv]=Chatt via lokalt nätverk
Name[ta]=உள்ளக பிணைய அரட்டை
Name[tg]=Чати Шабакаи Маҳаллӣ
Name[th]=การสนทนาบนเครือข่ายท้องถิ่น
Name[tr]=Yerel Ağ Sohbeti
Name[uk]=Балачка в локальній мережі
Name[ven]=U davhidzana ha vhukwamani ha tsini
Name[xh]=Umsebenzi womnatha Wobulali Wokuncokola
Name[zh_CN]=局域网聊天
Name[zh_HK]=區域網路聊天
Name[zh_TW]=區域網路聊天室
Name[zu]=Oluseduze Uxhumaniso olusakazekile

Comment=Talk daemon configuration
Comment[af]=Praat bediener opstelling
Comment[ar]=اعدادات مراقب Talh
Comment[az]=Talk quraşdırması
Comment[be]=Настаўленне сервіса гутаркі
Comment[bg]=Настройване на демона за разговор в локална мрежа
Comment[bn]=টক(Talk) ডিমন কনফিগারেশন
Comment[br]=Kefluniadur an diaoul Talk
Comment[bs]=Podešavanje Talk demona
Comment[ca]=Configuració del dimoni talk
Comment[cs]=Nastavení talk démona
Comment[cy]=Ffurfweddiad daemon sgwrs
Comment[da]=Talkdæmon-indstilling
Comment[de]=Einrichtung des Talk-Dienstes
Comment[el]=Ρύθμιση του δαίμονα talk
Comment[eo]=Agordo de la "Talk"-demono
Comment[es]=Configuración del demonio Talk
Comment[et]=Talk deemoni seadistamine
Comment[eu]=Elkarrizketa deabruaren konfigurazioa
Comment[fa]=پیکربندی شبح گفتگو
Comment[fi]=Talk-palvelimen asetukset
Comment[fr]=Configuration du démon Talk
Comment[ga]=Cumraíocht deamhan comhrá
Comment[gl]=Configuración do demo talk
Comment[he]=שינוי הגדרות תהליך הרקע Talk
Comment[hi]=टाक डेमन कॉन्फ़िगरेशन
Comment[hr]=Postava talk daemona
Comment[hu]=A Talk szolgáltatás beállításai
Comment[id]=Konfigurasi daemon Talk
Comment[is]=Stillingar samtalsþjóns
Comment[it]=Configurazione demone talk
Comment[ja]=Talk デーモンの設定
Comment[kk]=Talk қызметінің параметрлері
Comment[km]=ការ​កំណត់​រចនា​សម្ព័ន្ធ​ដេមិន​សន្ទនា
Comment[ko]=이야기 데몬 설정
Comment[lt]=Pokalbių tarnybos derinimas
Comment[mk]=Конфигурација на даемонот за разговарање
Comment[mn]=Talk демон тохируулга
Comment[ms]=Penyelarasan daemon Talk
Comment[mt]=Konfigurazzjoni tad-daemon Talk
Comment[nb]=Oppsett av Talk-nissen
Comment[nds]=Talkdämoon instellen
Comment[ne]=डेइमन कन्फिगरेसन बोल्नुहोस्
Comment[nl]=Talk-daemon instellen
Comment[nn]=Oppsett av Talk-nissen
Comment[nso]=Peakanyo ya daemon ya polelo
Comment[pa]=ਗੱਲਬਾਤ ਡੈਮਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja demona talk
Comment[pt]=Configuração do servidor do talk
Comment[pt_BR]=Configuração do servidor talk
Comment[ro]=Configurează demonul "talk"
Comment[ru]=Параметры службы Talk
Comment[se]=Heivet talk-duogášprográmma
Comment[sk]=Nastavenie talk démona
Comment[sl]=Nastavitev strežnika za talk
Comment[sr]=Подешавање „Talk“ демона
Comment[sr@Latn]=Podešavanje „Talk“ demona
Comment[sv]=Anpassa talk-demon
Comment[ta]=Talk daemon வடிவமைப்பு
Comment[tg]=Батанзимдарории азозили Talk
Comment[th]=ปรับแต่งเซิร์ฟเวอร์ Talk
Comment[tr]=Talk sunucu programı yapılandırması
Comment[uk]=Налаштування демону Talk
Comment[ven]=Nzudzanyo ya daemon yau amba
Comment[xh]=Uqwalaselo lwenkcoko ye daemon
Comment[zh_CN]=Talk 守护进程配置
Comment[zh_HK]=Talk 系統程式設定
Comment[zh_TW]=Talk 伺服程式組態
Comment[zu]=Inhlanganiselo lwedaemon yenkulumo

Keywords=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[af]=talk,announcement,client,sound,answering,mail,caller,banner,forward,bestemming
Keywords[ar]=تحدث,اعلان,عميل,صوت,استجابة,بريد,متصل,شعار,ارسال,اتجاه
Keywords[az]=talk,e'lan,alıcı,Səs,cavablama,poçt,çağıran,bayraq,yolla,hədəf
Keywords[be]=гутарка,кліент,гук,адказ,прызначэнне,talk,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[bg]=разговор, локална, мрежа, чат, клиент, колега, talk, announcement, client, sound, answering, mail, caller, banner, forward, destination
Keywords[bs]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,zvuk,klijent,odgovor,odredište
Keywords[ca]=parlar,notificació,client,so,contestar,correu,qui truca,rètol,enviar,destí
Keywords[cs]=Talk,Rozhovor,Oznámení,Klient,Zvuk,Odpovídání,Pošta,Volající,Banner,Předání,Určení
Keywords[cy]=siarad,cyhoeddiad,dibynnydd,swn,ateb,ebost,ymwelwr,baner,ymlaen,cyrchfan
Keywords[da]=talk,annoncering,klient,lyd,svar,post,opringer,banner,fremad,destination
Keywords[de]=Talk,Ankündigung,Client,Sound,Antwort,Mail,Banner,Forward,Weiterleitung
Keywords[el]=ομιλία,ανακοίνωση,πελάτης,ήχος,απάντηση,mail,καλών,banner,προώθηση,προορισμός
Keywords[eo]=parolo,anonco,babilo,kliento,sonoro,respondo,retpoŝto,alvokanto,flago,plusendo,celo
Keywords[es]=hablar,notificación,cliente,sonido,contestar,correo,llamador,rótulo,enviar,destino
Keywords[et]=talk,teadaanne,klient,heli,vastamine,meil,helistaja,bänner,edasisuunamine, adressaat
Keywords[eu]=elkarrizketa,berri-ematea,bezeroa,soinua,erantzungailu automatikoa,posta,deitzailea,titularra,birbidali,helburua
Keywords[fa]=گفتگو، اعلان، کارخواه، صوت، پاسخ، نامه، شمارۀ گیرنده، عنوان‌سازی، پیش‌سو، مقصد
Keywords[fi]=talk,julkistus,asiakas,ääni,vastaus,sähköposti,soittaja,mainos,uudelleenohjaa,kohde
Keywords[fr]=talk,discussion,annonce,bavardage,client,son,réponse,mail,courrier électronique,message,appel,bannière,envoi,destination
Keywords[gl]=talk,anuncio,cliente,son,resposta,correo
Keywords[he]=שיחות,הכרזה,לקוח,צליל,תשובה,דואר,מתקשר,כתובית,העברה,יעד,talk,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[hi]=टाक,घोषणा,क्लाएंट,ध्वनि,उत्तर,मेल,कालर,ध्वज,फारवर्ड,गंतव्य
Keywords[hu]=talk,bejelentés,kliens,hang,válasz,e-mail,hívó,üdvözlő szöveg,továbbítás,cél
Keywords[is]=talk,tilkynningar,biðlari,hljóð,svörun,svara,póstur,mail,client,sound,answering,mail,caller,banner,forward,destination
Keywords[it]=talk,annuncio,client,suono,risposte,posta,chiamante,messaggio,inoltra,destinazione
Keywords[ja]=トーク,アナウンス,クライアント,音,answering,メール,呼出側,バナー,前へ,行き先
Keywords[km]=ជជែក​គ្នា,ប្រកាស,ភ្ញៀវ,សម្លេង,ឆ្លើយឆ្លង,សំបុត្រ,អ្នកហៅ,បដា,ទៅ​មុខ,ទិសដៅ
Keywords[ko]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,이야기,토크,톡,알림,알려줌,클라이언트,소리,답신,댓거리,답신,편지,부른이,콜,깃발,기,배너,전달,포워드
Keywords[lt]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,kalbėti,kalbėtis,pokalbis,anonsas,pranešimas,paskelbimas,panešti,paskelbti,klientas,garsas,atsakyti,atsakymas,atsiliepti,paštas,laiškas,skambintojas,skydelis,persiųsti,persiuntimas,gavėjas
Keywords[lv]=runa,paziņojums,klients,skaņa,atbildēšana,pasts,saucējs,banners,pārsūtīt,adresāts
Keywords[mk]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,разговарање,објавување,клиент,звук,одговор,пошта,повикувач,банер,препрати,одредиште
Keywords[ms]=cakap,pengumuman,klien,bunyi,jawapan,mel,pemanggil,pemidang,destinasi,talk,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[mt]=talk,annunzja,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[nb]=talk,kunngjøring,klient,lyd,svar,post,oppringing,fane,videresend,mål
Keywords[nds]=talk,Mellen,client,Klang,antern,Antermaschien,Nettpost,Anroper,Startnaricht,wiederledden,Teel
Keywords[ne]=बोलचाल,घोषणा,क्लाइन्ट,ध्वनि,जवाफ,मेल,कलर,ब्यानर,अगाडि,गन्तब्य
Keywords[nl]=talk,aankondiging,client,sound,geluid,beantwoorden,mail,caller,banner,banier,bestemming,forward,doorsturen,destination,antwoordapparaat
Keywords[nn]=talk,kunngjering,klient,lyd,svar,post,oppringing,vidaresend,mål
Keywords[nso]=polelo,tsebiso,moreki,lesata,araba,poso,mmitsi,banner,pele,mafelelo a leeto
Keywords[pl]=rozmowa,ogłoszenie,klient,dźwięk,odpowiadanie,mail,dzwoniący,banner,podaj dalej,cel
Keywords[pt]=talk,anúncio,cliente,som,resposta,correio,chamador,mensagem,reenviar,destino
Keywords[pt_BR]=talk,anúncio,cliente,som,resposta,e-mail,correio,chamador,banner,repassar, destino
Keywords[ro]=convorbire,talk,anunţ,client,sunet,răspuns,apel,mail,apelant,apelat,înaintare,destinatar
Keywords[se]=talk,almmuheapmi,klienta,jietna,vástideapmi,boasta,sádde viidáset,ulbmil
Keywords[sk]=talk,oznámenie, klient,zvuk,odpoveď,mail,pošta,volajúci,cieľ,predať ďalej
Keywords[sl]=talk,govor,objava,odjemalec,zvok,odgovarjanje,pošta,klicatelj,reklama,posredovanje,cilj
Keywords[sr]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,разговор,објава,клијент,звук,одговор,одговарање,пошта,позивалац,прослеђивање,одредиште
Keywords[sr@Latn]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,razgovor,objava,klijent,zvuk,odgovor,odgovaranje,pošta,pozivalac,prosleđivanje,odredište
Keywords[sv]=talk,annonsering,klient,ljud,svar,e-post,uppringare,rubrik,vidarebefordran,destination
Keywords[ta]=பேச்சு, அறிவிப்பு, கிளையன், ஒலி, பதிலளித்தல், மின்னஞ்சல், அழைப்பு, பேனர், முன்னனுப்பு, சேருமிடம்
Keywords[tr]=talk,duyuru,istemci,Ses,cevaplama,posta,çağıran,bayrak,gönder,hedef
Keywords[uk]=розмова,оголошення,клієнт,звук,відповідь,пошта,заставка,переслати,talk,призначення
Keywords[ven]=amba,divhadza,mushumisani,mubvumo,phindulo,zwamarifhi,muvhidzi,mupandeli,phanda, vhuyo
Keywords[xh]=ncokola,isaziso,umxhasi,isandi,iyaphendula,iposi,umbizi,iceba lelaphu elinomyalezo,phambili,indawo ephelela kuyo
Keywords[zh_CN]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,交谈,通知,客户程序,声音,应答,邮件,提示,呼叫者,转发,目标
Keywords[zh_HK]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,聊天,公佈,客戶端,聲音,答覆,郵件,呼叫者,目的地
Keywords[zh_TW]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,聊天,公佈,客戶端,聲音,答覆,郵件,呼叫者,目的地
Keywords[zu]=khuluma,isaziso,umthengi,umsindo,iyaphendula,iposi,umbizi,ibhodi elinomyalezo,phambili,indawo ophikekelekuyo

Categories=Qt;KDE;X-KDE-settings-network;X-KDE-tasma-network;X-KDE-tasma-extra
