[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell printmgr
Icon=printmgr
Type=Application
DocPath=kdeprint/index.html
MimeType=print/manager

X-KDE-ModuleType=Library
X-KDE-Library=printmgr
X-KDE-HasReadOnlyMode=true

Name=Printers
Name[tr]=Yazıcılar
Name[nl]=Printers
Name[es]=Impresoras
Name[de]=Drucker
Name[pt_BR]=Impressoras
Name[fr]=Imprimantes
Name[it]=Stampanti

Comment=Printing system configuration (printers, jobs, classes, ...)
Comment[tr]=Yazdırma sistemi kurulumu (yazıcılar, işler, sınıflar, ...)
Comment[nl]=Configuratie van het afdruksysteem (printers, taken, klassen, ...)
Comment[es]=Configuración del sistema de impresión (impresorasa, tareas de impresión, clases, ...)
Comment[de]=Drucksystemkonfiguration (Drucker, Aufträge, Klassen, ...)
Comment[pt_BR]=Configuração do sitema de impressão (impressoras, trabalhos, classes, ...)
Comment[fr]=Configuration du système d'impression (imprimantes, travaux, classes, ...)
Comment[it]=Configurazione del sistema di stamap (stampanti, lavori, classi...)

Keywords=print,printer,printing management
Keywords[tr]=yazdır,yazıcı,yazıcı yönetimi
Keywords[nl]=print,printer,printing management,afdrukbeheer,afdrukken
Keywords[es]=imprimir,impresora,administración de impresión
Keywords[de]=Drucker,drucken,Druckermanagement,Druckerverwaltung
Keywords[pt_BR]=imprimir,impressora,gerenciamento de impressão
Keywords[fr]=imprimer,imprimante,gestion d'impression
Keywords[it]=stampare,stampante,gestione della stampa

Categories=Qt;KDE;X-KDE-settings-peripherals;X-KDE-tasma-peripherals
