[Desktop Entry]
Encoding=UTF-8
Icon=kdmconfig

X-KDE-ParentApp=tasma
X-KDE-Library=useraccount
Type=Application
Exec=kcmshell kcm_useraccount
Name=Password & User Account
Name[tr]=Parola & Kullanıcı Hesabı

Keywords=password;email;name;organization;realname;login image;face; echo mode;
Keywords[tr]=parola,e-posta,isim,gerçek isim,giriş resmi,yüz

Comment=User information such as password, name and email
Comment[tr]=Parola, isim ve e-posta gibi kullanıcı bilgisi

Categories=QT;KDE;X-KDE-settings-security;X-KDE-tasma-useraccount
