[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED COMAR Network Status Module
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=comarnetworkstatus
X-KDE-FactoryName=comarnetworkstatus
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=true
