{% extends 'base.html' %}
{% load library %}

{% block content %}
    <table class="package_list">
        <tr>
            <th>Package</th>
            <th>Updated By</th>
            <th>Distribution</th>
        </tr>
        {% for binary in binary_package_list %}
        <tr class="test_{{ binary.get_result }}">
            <td><a href="{{ binary.get_url }}">{{ binary }}</a></td>
            <td>{{ binary.update.updated_by.get_full_name }}</td>
            <td>{{ binary.package.source.distribution }}</td>
        </tr>
        {% endfor %}
    </table>

    <p></p>

    {% if is_paginated %} {% paginator %} {% endif %}

{% endblock %}
