[Desktop Entry]
Name=Disk Manager
Name[tr]=Disk Yönetim Arayüzü
Name[de]=Festplatten-Manager
Name[fr]=Gestionnaire de Disque
Name[pt_BR]=Gerenciador de Discos
Name[es]=Administrador de Discos
Name[it]=Gestore dei dischi
GenericName=Disk Management Interface
GenericName[tr]=Disk Yönetim Arayüzü
GenericName[de]=Festplatten-Manager-Schnittstelle
GenericName[fr]=Interface de Gestion de Disque
GenericName[es]=Interfaz de Gestión de Discos
GenericName[pt_BR]=Interface de Gerenciamento de Discos
GenericName[it]=Interfaccia di gestione dei dischi
Icon=disk_manager
X-KDE-ModuleType=Library
X-KDE-Library=disk-manager
X-KDE-FactoryName=disk_manager
X-KDE-RootOnly=true
Type=Application
Exec=disk-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
