[Desktop Entry]
Encoding=UTF-8
Name=Network Manager Applet
Name[tr]=Ağ Yöneticisi Programcığı
Name[sv]=Miniprogram för Nätverkshanteraren
Name[x-test]=xxNetwork Manager Appletxx
Comment=Manage and track your network connections
Comment[tr]=Ağ bağlantılarınızı yönetin ve izleyin
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=applications-internet

X-KDE-PluginInfo-Author=Gökmen GÖKSEL
X-KDE-PluginInfo-Email=gokmen@pardus.org.tr
X-KDE-PluginInfo-Name=nm-applet
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://pardus.org.tr/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
