[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
  
[% help_html = [ 
{ id => "short_desc_type", 
  html => "İstediğiniz özet aramanın türü" },   
{ id => "short_desc", 
  html => "$terms.Bug özeti, $terms.bugGen ne hakkında olduğunu <br>
           kısaca açıklayan bir cümledir." },   
{ id => "classification", 
  html => "$terms.Bugs Sınıflar, Ürün ve Bileşen cinsinden tasnif <br>
          edilmiştir. Sınıflar, bu tasnifin en üst noktasıdır." },   
{ id => "product", 
  html => Param('useclassification') ?
    "$terms.Bugs Ürün ve Bileşen cinsinden tasnif edilmiştir. <br>
    Bu listeyi küçültmek için bir Sınıf seçin" :
    "$terms.Bugs Ürün ve Bileşen cinsinden tasnif edilmiştir. <br>
    Ürünler bu tasnifin en üst noktasıdır." },
{ id => "component", 
  html => "Bileşenler ikinci seviye sınıflandırmadır; her biri belirli <br>
           bir Ürün'e aittir. Bu listeyi küçültmek için bir Ürün seçin." },   
{ id => "version", 
  html => "Sürüm (version) alanı, $terms.bugGen bulunduğu yazılımın <br>
             sürümünü belirtir." },   
{ id => "target_milestone", 
  html => "Hedef aşama (target_milestone) alanı $terms.bugGen atandığı <br>
             mühendisin problemi ne zaman düzelteceği yönündeki beklentiyi <br>
             belirtir." },   
{ id => "longdesc",
  html => "$terms.BugsGen onlara $terms.Bugzilla kullanıcıları tarafından <br>
             eklenen yorumları bulunur. Bu yorumlarda metin arayabilirsiniz.." },   
{ id => "longdesc_type",
  html => "İstediğiniz yorum aramasının türü" },   
{ id => "bug_file_loc", 
  html => "$terms.Bugs can have a URL associated with them - for example, a 
           pointer<br>to a web site where the problem is seen." },   
{ id => "bug_file_loc_type", 
  html => "İstediğiniz bir URL tipi araması" },   
{ id => "status_whiteboard", 
  html => "Each $terms.bug has a free-form single line text entry box for 
           adding<br>tags and status information." },   
{ id => "status_whiteboard_type", 
  html => "İstediğiniz durum notları alanı arama yöntemi" },   
{ id => "keywords", 
  html => "$terms.BugsDat, onları gruplara ayırmak ve takılarla sınıflandırmak <br>
             için önceden tanımlanmış bir listeden anahtarlar ekleyebilirsiniz." },   
{ id => "keywords_type", 
  html => "İstediğiniz anahtar aramasının türü" },   
{ id => "bug_status", 
  html => "$terms.Abug çok sayıda durumda bulunabilir." },
{ id => "resolution", 
  html => "Eğer $terms.abug karara bağlanmışsa, karar olarak bu nedenlerden <br>
             birisi verilir." },   
{ id => "bug_severity", 
  html => "$terms.BugGen ne kadar ciddi olduğu (ya da bir iyileştirme olup <br>
             olmadığı)." },   
{ id => "priority", 
  html => "Mühendisler üzerlerindeki $terms.bugsAcc bu alanı kullanarak <br>
             sıralarlar." },   
{ id => "rep_platform", 
  html => "$terms.BugGen hangi donanım platformunda yaşandığı." },   
{ id => "op_sys", 
  html => "$terms.BugGen yaşandığı işletim sistemi." },   
{ id => "email1", 
  html => "Her $terms.bugLoc onunla çeşitli nedenle ilişkilendirili kişiler <br>
             olur. Burayı kullanarak, hangi kişinin hangi nedenle ilişkili olduğunu <br>
             öğrenebilirsiniz." },
{ id => "email2", 
  html => "Her $terms.bugLoc onunla çeşitli nedenle ilişkilendirili kişiler <br>
             olur. Burayı kullanarak, hangi kişinin hangi nedenle ilişkili olduğunu <br>
             öğrenebilirsiniz.." },
{ id => "bug_id", 
  html => "Aramanızı belirli bir $terms.bug kümesiyle sınırlandırabilirsiniz." },   
{ id => "votes", 
  html => "Bazı $terms.bugs için oy kullanılabilir ve aramanızı belirli sayıdaki <br>
             oya sahip $terms.bugs ile sınırlandırabilirsiniz." },   
{ id => "chfield", 
  html => "Belirli türde değişiklikler için arama yapabilirsiniz - bu alan hangi <br>
             alandaki değişikliklerle ilgilendiğinizi belirler." },   
{ id => "chfieldfrom", 
  html => "Başlangıç ve bitiş tarihlerini YYYY-AA-GG biçiminde (isterseniz bu <br>
             değere 24 saatlik biçiminde olmak koşuluyorla SS:DD da ekleyebilirsiniz), <br>
             ya da bağıl tarih - saat biçiminde girin. Bağıl biçim kullandığınızda <br>
             sayı+harf biçiminde belirtmelisiniz. Harf olarak, saatler için h, günler <br>
             için d, haftalar için w, yıllar için y kullanabilirsiniz (Örneğin <br>
             1h=1 saat, 2d=2 gün, 3w=3 hafta, 4m=4 ay, 5y=5 yıl). 0d son geceyarısını, <br>
             0h bu saat başını belirtir. Benzer şekilde, 0w bu haftanın başını, 0m bu <br>
             ayın başını, 0y ise bu yılın başını ifade eder." },
{ id => "chfieldto", 
  html => "Başlangıç ve bitiş tarihlerini YYYY-AA-GG biçiminde (isterseniz bu <br>
             değere 24 saatlik biçiminde olmak koşuluyorla SS:DD da ekleyebilirsiniz), <br>
             ya da bağıl tarih - saat biçiminde girin. Bağıl biçim kullandığınızda <br>
             sayı+harf biçiminde belirtmelisiniz. Harf olarak, saatler için h, günler <br>
             için d, haftalar için w, yıllar için y kullanabilirsiniz (Örneğin <br>
             1h=1 saat, 2d=2 gün, 3w=3 hafta, 4m=4 ay, 5y=5 yıl). 0d son geceyarısını, <br>
             0h bu saat başını belirtir. Benzer şekilde, 0w bu haftanın başını, 0m bu <br>
             ayın başını, 0y ise bu yılın başını ifade eder." },
{ id => "chfieldvalue", 
  html => "Belirtilen süre içerisinde yukarıda belirtilen alanının aldığı değer." },   
] %]
