[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell keyboard_layout
Icon=keyboard
Type=Application
DocPath=kxkb/index.html

X-KDE-ModuleType=Library
X-KDE-Library=keyboard
X-KDE-FactoryName=keyboard_layout
X-KDE-Init=keyboard_layout
X-KDE-ParentApp=tasma

Name=Keyboard Layout
Name[tr]=Klavye Düzeni

Comment=Keyboard Layout
Comment[tr]=Klavye Düzeni

Keywords=Keyboard,Layout,International
Keywords[tr]=Klavye,Yerleşim,Düzen,Uluslararası

Categories=Qt;KDE;X-KDE-settings-accessibility;X-KDE-tasma-peripherals
