[Desktop Entry]
Exec=kcmshell khotkeys
Icon=khotkeys
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=khotkeys
X-KDE-Init-Library=khotkeys_init
X-KDE-Init=khotkeys

Name=Input Actions
Name[af]=Inset Aksies
Name[bg]=Действия
Name[ca]=Accions d'entrada
Name[cs]=Vstupní činnosti
Name[da]=Indgiv handlinger
Name[de]=Tastenkombinationen
Name[el]=Ενέργειες εισόδου
Name[es]=Introducir acciones
Name[et]=Sisestustoimingud
Name[eu]=Sarrerako ekintzak
Name[fi]=Syöttötoiminnot
Name[fr]=Actions d'entrées
Name[fy]=Ynfieraksjes
Name[ga]=Gníomhartha Ionchurtha
Name[gl]=Aczóns de Entrada
Name[he]=פעולות קלט
Name[hu]=Beviteli műveletek
Name[is]=Inntaks aðgerðir
Name[it]=Azioni di immissione
Name[ja]=入力アクション
Name[km]=អំពើបញ្ចូល
Name[lt]=Įvesties veiksmai
Name[mk]=Влезни дејства
Name[nb]=Input-handlinger
Name[nds]=Tastkombinatschonen
Name[nl]=Invoeracties
Name[nn]=Innhandlingar
Name[pa]=ਇੰਪੁੱਟ ਕਾਰਵਾਈਆਂ
Name[pl]=Akcje klawiszowe
Name[pt]=Acções de Entrada
Name[pt_BR]=Ações de Entrada
Name[ru]=Ввод
Name[rw]=Kwinjiza Ibikorwa
Name[sl]=Vhodna dejanja
Name[sr]=Акције улаза
Name[sr@Latn]=Akcije ulaza
Name[sv]=Inmatningsåtgärder
Name[ta]=உள்ளீட்டு செயல்கள்
Name[th]=การกระทำเพื่อใส่ข้อมูล
Name[tr]=Girdi Eylemleri
Name[tt]=Kertü Ğämälläre
Name[uk]=Ввід
Name[uz]=Киритиш амаллари
Name[zh_CN]=输入动作
Name[zh_TW]=輸入動作

Comment=Configure Hotkey settings
Comment[af]=Stel kortpad sleutels op
Comment[bg]=Настройки на жестове с мишката
Comment[bn]=হট-কী সেটিংস কনফিগার করুন
Comment[br]=Kefluniañ dibarzhoù Hotkey
Comment[bs]=Podesite opcije kratica tastature
Comment[ca]=Configura l'arranjament de les tecles ràpides
Comment[cs]=Nastavení horkých kláves
Comment[cy]=Ffurfweddu gosodiadau BysyllBrys
Comment[da]=Opsætning af genvejstast
Comment[de]=Tastenkombinationen festlegen
Comment[el]=Ρυθμίσεις HotKeys
Comment[eo]=Agordo de klavkomando
Comment[es]=Configuración de las preferencias de Hotkey
Comment[et]=Kiirklahvide seadistused
Comment[eu]=Konfiguratu Hotkey-ren ezarpenak
Comment[fi]=Muokkaa pikanäppäinten asetuksia
Comment[fr]=Configurer les réglages des raccourcis-clavier
Comment[fy]=Snelkaaien ynstelle
Comment[gl]=Configurar opzóns de HotKeys
Comment[he]=שינוי הגדרות מקשי הקיצור
Comment[hi]=हॉट-की विन्यास कॉन्फ़िगर करें 
Comment[hu]=A használható parancsok beállítása
Comment[is]=Stillingar flýtilykla
Comment[it]=Configura impostazioni di Hotkey
Comment[ja]=ホットキーの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​គ្រាប់ចុច​បន្ទាន់
Comment[lt]=Konfigūruoti klavišų kombinacijų nustatymus
Comment[lv]=Konfigurē karsto taustiņu parametrus
Comment[mk]=Конфигурирајте ги поставувањата за брзите копчиња
Comment[mt]=Konfigurazzjoni tal-hotkeys
Comment[nb]=Sett opp hurtigtaster
Comment[nds]=Tastkombinatschonen instellen
Comment[nl]=Sneltoetsen instellen
Comment[nn]=Set opp snøggtastar
Comment[pa]=ਹਾਟਕੀ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja skrótów klawiszowych
Comment[pt]=Configurar as opções de teclas
Comment[pt_BR]=Configura definições de teclas de atalho
Comment[ro]=Configurează setările Hotkey
Comment[ru]=Настройка комбинаций клавиш и росчерков мышью
Comment[rw]=Kuboneza amagenamiterere Butozihuta
Comment[se]=Heivet jođánisboaluid
Comment[sk]=Nastavenia klávesových skratiek
Comment[sl]=Nastavitve vročih tipk
Comment[sr]=Подешавање поставки пречица
Comment[sr@Latn]=Podešavanje postavki prečica
Comment[sv]=Anpassa Hotkey-inställningar
Comment[ta]=ÍÕìÌÅ¢¨º «¨ÁôÒ¸¨Ç ¯ûÇ¨Á
Comment[th]=ตั้งค่าปุ่มลัด
Comment[tr]=Kısayol ayarlarını yapılandır
Comment[tt]=Qaynar töymälärne caylaw
Comment[uk]=Налаштування швидких клавіш
Comment[zh_CN]=配置热键设置
Comment[zh_TW]=設定熱鍵設定值

Keywords=Keys,Global key bindings,Key bindings,Gestures,Mouse gestures
Keywords[af]=Keys,Globale sleutel bindings,sleutel scheme,sleutel bindings,kortpaaie,application kortpaaie
Keywords[bg]=бърз, клавиш, бързи, достъп, клавишна, комбинация, жестове, мишка, жест, операция, Keys, Global key bindings, Key bindings, Gestures, Mouse gestures
Keywords[bs]=Keys,Global key bindings,Key bindings,Gestures,Mouse gestures,tipke,kratice tastature,globalne kratice tastature,geste,geste miša
Keywords[ca]=Tecles,lligams de tecles globals,Lligams de tecles,gestos,gestos de ratolí
Keywords[cs]=Klávesy,Globální klávesové zkratky,Schéma kláves,Klávesové zkratky,Zkratky,Gesta
Keywords[cy]=Bysyll,Bysellau,Rhwymiadau bysell eang,Ystumiau,Ystumiau llygoden
Keywords[da]=Taster,Globale tastebindinger,Tastebindinger,Gester,Muse-gester
Keywords[de]=Tasten,Tastenzuordnung,Tastenkürzel,Kurzbefehle,Tastenschema,Tastaturlayout,Gesten,Mausgesten
Keywords[el]=Πλήκτρα,Καθολικοί συνδυασμοί πλήκτρων,Συνδυασμοί πλήκτρων,Gestures,Mouse gestures
Keywords[eo]=klavoj,malloka,signifoj,asocioj,kombinoj,klavkombinoj,muzo
Keywords[es]=Teclas,Asociaciones de teclas globales,Asociaciones de teclas,Gestos,Gestos del ratón
Keywords[et]=Klahvid,Globaalsed kiirklahvid,Klahviskeem,Kiirklahvid,Klahvide seosed,Žestid,Hiirežestid
Keywords[eu]=Teklak,Tekla elkarketa orokorrak,Tekla elkarketak,Keinuak,Saguaren keinuak
Keywords[fi]=Näppäimet,Yleiset näppäinsidokset,Näppäinteema,Näppäinsidokset,pikavalinnat,sovellusten pikavalinnat,hiirieleet
Keywords[fr]=touches,raccourcis clavier globaux,raccourcis clavier,gestes,gestes de la souris
Keywords[fy]=keys,toetsen,kaaien,toetsenbindingen,key bindings,kaaibiningen,sneltoetsen,fluchtoetsen,snelkaaien,globale toetsenbindingen,algemiene kaaibiningen,mouse gestures,muisgebaren,mûsstjoeringen,stjoeringen,gestures,gebaren
Keywords[ga]=Eochracha,Ceangail chomhchoiteanna eochracha,Ceangail chomhchoiteanna,Gothaí,Gothaí luiche
Keywords[gl]=Teclas,Atallos de teclado globais,Atallos de teclado,Xestos,Xestos co rato
Keywords[he]=מקשים,תפקידי מקשים גלובליים,תצורת מקשים,תפקידי מקשים,קיצורים,קיצורים של יישומים, Keys,Global key bindings,Key bindings,Gestures,Mouse gestures
Keywords[hi]=कुंजियाँ,ग्लोबल की-बाइंडिंग्स,की-बाइंडिंग्स,गेस्चर्स,माउस गेस्चर्स
Keywords[hr]=Keys,Global key bindings,Key sheme,Key bindings,tipke, globalne tipke
Keywords[hu]=billentyűk,globális billentyűparancs,billentyűparancs,műveletek,egérmozgatás-kezelés
Keywords[is]=Lyklar,Hnappar,Flýtihnappar,Flýtilyklar,Lyklabindingar
Keywords[it]=tasti,associazioni globali di tasti,schema di tasti,associazioni di tasti,scorciatoie,gesti,gesti mouse,mouse gesti
Keywords[ja]=キー,グローバルキー,キーバインド,ジェスチャー,マウスジェスチャー
Keywords[km]=គ្រាប់ចុច,ការ​ចង​គ្រាប់ចុច​សកល,ការ​ចង​គ្រាប់ចុច,កាយវិការ,កាយវិការ​កណ្ដុរ
Keywords[lt]=Keys,Global key bindings,Key bindings,Gestures,Mouse gestures,klavišai,klavišų sietis,klavišų schema,klavišų išdėstymas,spartieji klavišai,programų spartieji klavišai,pelės veiksmai
Keywords[lv]=Taustiņi,Globālās taustiņu sasaistes,Taustiņu shēma,Taustiņu sasaistes,mouse gestures
Keywords[mk]=Keys,Global key bindings,Key bindings,Gestures,Mouse gestures, Копчиња,Глобални врски на копчиња,врски на копчиња,гестови,гестови со глушец
Keywords[nb]=Taster,generelle hurtigtaster,hurtigtaster,bevegelser,musebevegelser
Keywords[nds]=Tasten,Globale Tastkombinatschonen,Tastschema,Tastkombinatschonen,Muusteken
Keywords[nl]=keys,toetsen,toetsenbindingen,key bindings,sneltoetsen,globale toetsenbindingen,mouse gestures,muisgebaren,gestures,gebaren
Keywords[nn]=tastar,globale snøggtastar,tasteoppsett,snøggtastar,snarvegar,programsnarvegar,rørsler,muserørsler
Keywords[pa]=Keys,Global key bindings,Key bindings,Gestures,ਮਾਊਸ gestures, ਸਵਿੱਚਾਂ
Keywords[pl]=klawisze,globalne skróty klawiszowe,schematy skrótów,gesty,mysz
Keywords[pt]=teclas,teclas globais,esquema de teclas,atribuições de teclas,gestos,gestos com rato
Keywords[pt_BR]=Teclas,Teclas de atalho globais,esquema de teclado,gestos, gestos do mouse
Keywords[ro]=taste,asocieri globale de taste,schemă taste,asocieri taste,acceleratori,acceleratori aplicaţii,scurtături,gesturi
Keywords[rw]=Buto,Ibyafataranyijwe urufunguzo rusange,Ibyafatanyijwe by'urufunguzo,Ibimenyetso,Ibimenyetso by'imbeba 
Keywords[se]=boalut,oppalaš jođánisboalut,boalločoahkádusat,boalločatnasat,njuolgobálgát,prográmmanjuolgabálgát,lihkádusat,sáhpánlihkádusat
Keywords[sk]=Klávesy,Globálne klávesové skratky,schéma kláves,klávesové skratky,gestá,gestá myšou
Keywords[sl]=tipke,globalne vezi tipk,vezi tipk,tipkovne vezi,gibi,miškini gibi
Keywords[sr]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,тастери,глобални тастери,пречица,шема тастера,пречице,програмске пречице
Keywords[sr@Latn]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,tasteri,globalni tasteri,prečica,šema tastera,prečice,programske prečice
Keywords[sv]=tangenter,globala tangentbindningar,tangentbindningar,gester,musgester
Keywords[ta]=விசைகள்,உலகலாவிய விசை பிணைப்புகள்,விசை திட்டம்,விசை பிணைப்புகள்,குறுக்குவழிகள்,பயன்பாட்டுக் குறுக்குவழிகள்
Keywords[th]=ปุ่มพิมพ์,ปุ่มพิมพ์ส่วนกลาง,ชุดปุ่มพิมพ์,การจับคู่ปุ่มพิมพ์,ปุ่มพิมพ์ลัด,แป้นพิมพ์ลัด,ปุ่มพิมพ์ลัดแอพพลิเคชัน,การลากเมาส์
Keywords[tr]=Tuşlar,Küresel tuş bağlantıları,Tuş bağlantıları,Kısayollar,Uygulama kısayolları,Fare hareketleri
Keywords[uk]=клавіші,глобальні прив'язки клавіш,схема клавіш,прив'язка клавіш, жести, жести мишки
Keywords[uz]=Gestures,Mouse gestures,Тугмалар,Умумий тугмалар бирикмаси,Тугмалар бирикмаси
Keywords[zh_CN]=Keys,Global key bindings,Key bindings,Gestures,Mouse gestures,键,全局键绑定,手势,鼠标手势
Keywords[zh_TW]=Keys,Global key bindings,Key bindings,Gestures,Mouse gestures,按鍵,全域按建連結,按鍵連結,手勢,滑鼠手勢

Categories=Qt;KDE;X-KDE-settings-accessibility;X-KDE-tasma-localization
Encoding=UTF-8
