[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Joel Peshkin <bugreport@peshkin.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
    [% product.name FILTER html %] Ürününün Grup Kontrollerini Değiştir
[% END %]
[% PROCESS global/header.html.tmpl 
   title = title 
%]

<form method="post" action="editproducts.cgi">
  <input type="hidden" name="action" value="updategroupcontrols">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="hidden" name="classification" 
         value="[% classification.name FILTER html %]">

  <table id="form" cellspacing="0" cellpadding="4" border="1">
    <tr bgcolor="#6666ff">
      <th>Grup</th>
      <th>Girdi</th>
      <th>Üye Kontrol</th>
      <th>Diğer Kontrol</th>
      <th>Değiştirebilir</th>
      <th>Bileşenlerini Değiştirebilir</th>
      <th>Onaylayabilir</th>
      <th>Hata Değiştirebilir</th>
      <th>[% terms.Bugs %]</th>
    </tr>
    [% FOREACH group = groups %]
      [% IF group.isactive == 0 AND group.bugcount > 0 %]
        <tr bgcolor="#bbbbbb">
          <td>
            [% group.name FILTER html %]
          </td>
          <td align="center" colspan=7>
            Kapalı
          </td>
          <td>
            [% group.bugcount %]
          </td>
        <tr>
      [% ELSIF group.isactive != 0 %]
        <tr>
          <td>
            [% group.name FILTER html %]
          </td>
          <td>
            <input type=checkbox value=1 name=entry_[% group.id %]
            [% " checked=\"checked\"" IF group.entry %]>
          </td>
          <td>
            <select name="membercontrol_[% group.id %]">
              <option value=[% const.CONTROLMAPNA %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPNA %]
                >Uygulanamaz
              </option>
              <option value=[% const.CONTROLMAPSHOWN %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPSHOWN %]
                >Gösteriliyor
              </option>
              <option value=[% const.CONTROLMAPDEFAULT %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPDEFAULT %]
                >Öntanımlı
              </option>
              <option value=[% const.CONTROLMAPMANDATORY %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPMANDATORY %]
                >Zorunlu
              </option>
            </select>
          </td>
          <td>
            <select name="othercontrol_[% group.id %]">
              <option value=[% const.CONTROLMAPNA %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPNA %]
                >Uygulanamaz
              </option>
              <option value=[% const.CONTROLMAPSHOWN %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPSHOWN %]
                >Gösteriliyor
              </option>
              <option value=[% const.CONTROLMAPDEFAULT %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPDEFAULT %]
                >Öntanımlı
              </option>
              <option value=[% const.CONTROLMAPMANDATORY %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPMANDATORY %]
                >Zorunlu
              </option>
            </select>
          </td>
          <td>
            <input type=checkbox value=1 name=canedit_[% group.id %]
            [% " checked=\"checked\"" IF group.canedit %]>
          </td>
          <td>
            <input type=checkbox value=1 name=editcomponents_[% group.id %]
            [% " checked=\"checked\"" IF group.editcomponents %]>
          </td>
          <td>
            <input type=checkbox value=1 name=canconfirm_[% group.id %]
            [% " checked=\"checked\"" IF group.canconfirm %]>
          </td>
          <td>
            <input type=checkbox value=1 name=editbugs_[% group.id %]
            [% " checked=\"checked\"" IF group.editbugs %]>
          </td>
          <td>
            [% group.bugcount %]
          </td>
        </tr>
      [% END %]
    [% END %]

  </table>
  <br>
  <input type=submit name="submit" value="Gönder">
  <br>
</form>


<p>
Bu ayarlar grupların bu ürünle olan ilişkisini yönetir.
</p>
<p>
Bir grupta <b>Girdi</b> seçiliyse, bu ürüne [% terms.bug %] girme izni girdi seçili olan grupların tümüne üye olanlara verilir.
</p>
<p>
Bir grupta <b>Değiştirebilir</b> seçiliyse, bu üründe değişiklik yapabilmek için Değiştirebilir seçili olan tüm grupların üyesi olmak gerekir, diğer kullanıcılar açısından bu ürün salt-okunur olacaktır. Bu ayar bir kullanıcının neleri değiştirebileceği ile ilgili ek bir kısıtlama getirir.
</p>
<p>
Aşağıdaki ayarlar <b>ürün bazında</b> ayrıcalık belirlemeye yarar. Bu ayarlar bazı kullanıcılara tüm ürünleri etkileyecek yetkiler vermeden onlara bazı ürünlerde öncelik vermek için uygun bir yoldur:
</p>
<p>
<b>Bileşenlerini değiştirebilir</b> seçili olan gruplarda, bu gruptaki kullanıcılar ürünün bileşenlerini, aşamalarını ve sürümlerini değiştirebilir.
</p>
<p>
<b>Onaylayabilir</b> özelliği açık gruplar bu gruptaki kullanıcılara bu üründeki [% terms.bugsAcc %] izni verir.
</p>
<p>
<b>Hata Değiştirebilir</b> özelliği açık gruplar bu gruptaki kullanıcılara bu üründeki [% terms.bugsGen %] tüm alanlarını değiştirme olanağı sağlar.
</p>
<p>
<b>Üye Kontrol</b> ve <b>Diğer Kontrol</b> alanları aşağıdaki tanımlara göre hangi [% terms.bugsGen %] bu gruba yerleştirileceğini belirler.
</p>

<table border=1>
  <tr>
    <th>
      Üye Kontrol
    </th>
    <th>
      Diğer Kontrol
    </th>
    <th>
      Yorumlama
    </th>
  </tr>
  <tr>
    <td>
      Uygulanamaz
    </td>
    <td>
      Uygulanamaz
    </td>
    <td>
      Bu üründeki [% terms.bugs %] bu grupla asla ilişkilendirilmez.
    </td>
  </tr>
  <tr>
    <td>
      Gösteriliyor
    </td>
    <td>
      Uygulanamaz
    </td>
    <td>
      Bu üründeki [% terms.bugs %] bu gruba sınırlandırılabilir. Bu grubun üyesi olan kullanıcılar [% terms.bugsAcc %] bu gruba yerleştirebilir.
      this group.
    </td>
  </tr>
  <tr>
    <td>
      Gösteriliyor
    </td>
    <td>
      Gösteriliyor
    </td>
    <td>
      Bu üründeki [% terms.bugs %], [% terms.bugAcc %] değiştirme izni olan herkes tarafından, bu grubun üyesi olmasalar bile, bu gruba yerleştirilebilir.
    </td>
  </tr>
  <tr>
    <td>
      Gösteriliyor
    </td>
    <td>
      Öntanımlı
    </td>
    <td>
      Bu üründeki [% terms.bugs %], [% terms.bugAcc %] değiştirme izni olan herkes tarafından, bu grubun üyesi olmasalar bile, bu gruba yerleştirilebilir. Gruba üye olmayanlar [% terms.bugsAcc %] öntanımlı olarak bu gruba yerleştirir.
    </td>
  </tr>
  <tr>
    <td>
      Gösteriliyor
    </td>
    <td>
      Zorunlu
    </td>
    <td>
      Bu üründeki [% terms.bugsAcc %] bu grupla sınırlandırılmasına izin verir. Bu grubun üyesi olan kullanıcılar [% terms.bugsAcc %] bu gruba yerleştirebilir. Gruba üye olmayanlar ise bu ürüne [% terms.abug %] girerken [% terms.bugAcc %] bu grupla sınırlandırmak zorunda kalırlar.
    </td>
  </tr>
  <tr>
    <td>
      Öntanımlı
    </td>
    <td>
      Uygulanamaz
    </td>
    <td>
      Bu üründeki [% terms.bugsAcc %] bu grupla sınırlandırılmasına izin verilir ve öntanımlı olarak bu gruba yerleştirilirler. Bu grubun üyesi olan kullanıcılar [% terms.bugsAcc %] bu gruba yerleştirebilir.
    </td>
  </tr>
  <tr>
    <td>
      Öntanımlı
    </td>
    <td>
      Öntanımlı
    </td>
    <td>
      Bu üründeki [% terms.bugsAcc %] bu grupla sınırlandırılması mümkündür ve öntanımlı olarak da bu gruba yerleştirilirler. Bu grubun üyesi kullanıcılar [% terms.bugsAcc %] bu gruba yerleştirebilir. Grup üyesi olmayanlar [% terms.bug %] girerken bu gruba kısıtlayabilecekler ve öntanımlı davranış da bu şekilde olacak.
    </td>
  </tr>
  <tr>
    <td>
      Öntanımlı
    </td>
    <td>
      Zorunlu
    </td>
    <td>
      Bu üründeki [% terms.bugsAcc %] bu grupla sınırlandırılmasına olanak verir ve öntanımlı davranış bu şekildedir. Bu grubun üyesi olan kullanıcılar [% terms.bugsAcc %] bu gruba yerleştirebilir. Grup üyesi olmayan kullanıcılar [% terms.bug %] girerken [% terms.bugsAcc %] bu gruba yerleştirmek zorundadır.
    </td>
  </tr>
  <tr>
    <td>
      Zorunlu
    </td>
    <td>
      Zorunlu
    </td>
    <td>
      Bu üründeki [% terms.bugs %] bu grupla sınırlandırılır. Kullanıcılara herhangi bir seçenek verilmez.
    </td>
  </tr>
</table>
<p>
Yukarıdaki seçenekler <b>Üye Kontrol</b> ve <b>Diğer Kontrol</b> alanlarına yönelik seçenekleri gösterir. Burada listelenmeyen seçenekler (örneğin Zorunlu/Uygulanamaz, Öntanımlı/Gösteriliyor vd) hata mesajıyla sonlanır.
</p>
[% PROCESS global/footer.html.tmpl %]

