[Desktop Entry]
Name=PUMA
Name[tr]=PUMA
GenericName=PUMA
GenericName[tr]=PUMA
Comment=Usb Adsl modem connection tool for Pardus Linux.
Comment[tr]=Usb Adsl modeminiz ile internete çıkmanızı sağlayan uygulama.
Exec=puma
Icon=puma
Type=Application
Categories=Qt;KDE;System;

