[Desktop Entry]
Name=Network Manager
Name[tr]=Ağ Yöneticisi
Name[es]=Configuración de Red
Name[de]=Netzwerk-Manager
Icon=network
X-KDE-ModuleType=Library
X-KDE-Library=network-manager
X-KDE-FactoryName=network_manager
X-KDE-RootOnly=false
X-Tasma-Fork=true
Type=Application
Exec=network-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-network;
