[Desktop Entry]
Exec=kcmshell ksynaptics
Icon=ksynaptics
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=ksynaptics
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kcontrol
X-KDE-Init=UserSettings

Encoding=UTF-8
Comment=Configure your synaptics touch pad
Comment[br]=Kefluniañ ho tablezenn synaptics
Comment[da]=Indstil din Synaptics styreplade
Comment[es]=Configure su puntero táctil de synaptics
Comment[et]=Synaptics puutepadja seadistamine
Comment[fr]=Configurer votre tablette synaptique
Comment[ga]=Cumraigh do cheap tadhaill synaptics
Comment[it]=Configura il tuo touch pad synaptics
Comment[mt]=Ikkonfigure Synaptics Touch Pad
Comment[nb]=Konfigurer din synaptics styreplate
Comment[nl]=Synaptics touchpad instellen
Comment[pa]=ਆਪਣੇ ਟੱਚ ਪੈਚ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pt]=Configurar o seu rato por toque Synaptics
Comment[sr]=Подесите вашу synaptic додирну таблу
Comment[sr@Latn]=Podesite vašu synaptic dodirnu tablu
Comment[sv]=Anpassa Synaptics styrplatta
Comment[xx]=xxConfigure your synaptics touch padxx
Keywords=synaptics,ksynaptics,touch pad
Keywords[br]=synaptics,ksynaptics,tablezenn
Keywords[da]=synaptics,ksynaptics,styreplade
Keywords[es]=synaptics,ksynaptics, touch pad
Keywords[et]=synaptics,ksynaptics,puutepadi
Keywords[fr]=synaptique,ksynaptics,touch pad,tablette
Keywords[ga]=synaptics,ksynaptics,ceap tadhaill
Keywords[nb]=synaptics,ksynaptics,styreplate
Keywords[nl]=synaptics,ksynaptics,touchpad
Keywords[pt]=synaptics,ksynaptics,rato por toque
Keywords[sr]=synaptics,ksynaptics,touch pad,додирна табла
Keywords[sr@Latn]=synaptics,ksynaptics,touch pad,dodirna tabla
Keywords[sv]=synaptics,ksynaptics,styrplatta
Keywords[xx]=xxsynaptics,ksynaptics,touch padxx
Name=Touch Pad
Name[br]=Tablezenn
Name[da]=Styreplade
Name[et]=Puutepadi
Name[fr]=Tablette
Name[ga]=Ceap Tadhaill
Name[nb]=Styreplate
Name[nl]=Touchpad
Name[pa]=ਟੱਚ ਪੈਡ
Name[pt]=Rato por Toque
Name[sr]=Додирна табла
Name[sr@Latn]=Dodirna tabla
Name[sv]=Styrplatta
Name[xx]=xxTouch Padxx

Categories=Qt;KDE;X-KDE-settings-peripherals;X-KDE-tasma-peripherals
