[Desktop Entry]
Name=Network KGA
Name[en]=Network KGA
Name[tr]=Network KGA
Comment=Network Configuration User Interface
Comment[tr]=Ağ Yapılandırması Arayüzü
Icon=daemons.png
X-KDE-ModuleType=Library
X-KDE-Library=net_kga
X-KDE-FactoryName=net_kga
X-KDE-RootOnly=false
Type=Application
Exec=kcmshell net_kga
Categories=Qt;KDE;X-KDE-settings-network;X-KDE-tasma-network
