[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #                     Tobias Burnus <burnus@net-b.de>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% PROCESS subject %]
X-Bugzilla-Type: admin

[% remoteaddress %] adresinden bir istek iptal edildi.

Eğer bunu isteyen siz değilseniz, ya birisi [% terms.Bugzilla %] hesabınızı kırmaya çalışıyor, ya da yanlışlıkla sizin eposta adresinizi yazdı.

Eğer hesabınızı kırmaya çalıştıklarını düşünüyorsanız, aşağıdaki bilgiyi gözden geçirin ve [% Param('maintainer') %] ile paylaşın.

          Anahtar: [% token %]
       İşlem türü: [% tokentype %]
        Kullanıcı: [% emailaddress %]
            Tarih: [% issuedate %]
      Olay verisi: [% eventdata %]
     İptal nedeni: [% PROCESS cancelactionmessage %]

[% BLOCK subject %]
  [% IF tokentype == 'new_account' %]
    Kullanıcı hesabı oluşturma isteği iptal edildi
  [% ELSIF tokentype == 'password' %]
    Parola değiştirme isteği iptal edildi
  [% ELSIF tokentype == 'emailnew' OR tokentype == 'emailold' %]
    Eposta adresi değiştirme isteği iptal edildi
  [% ELSE %]
    [% tokentype %] işlemi iptal edildi
  [% END %]
[% END %]

[% BLOCK cancelactionmessage %]
  [% IF    cancelaction == 'account_exists' %]
    [% email %] hesabı zaten var.

  [% ELSIF cancelaction == 'email_change_canceled' %]
    [% old_email %] hesabının eposta adresini [% new_email %] olarak değiştirme isteği iptal edildi.

  [% ELSIF cancelaction == 'email_change_canceled_reinstated' %]
    Hesabınızın eposta adresini [% new_email %] olarak değiştirme isteği iptal edildi. Eski hesap ayarlarınız kullanılacak.

  [% ELSIF cancelaction == 'emailold_change_canceled' %]
    Hesabınızın eposta adresini [% new_email %] olarak değiştirme isteği iptal edildi.

  [% ELSIF cancelaction == 'password_change_canceled' %]
    İptal istediniz.

  [% ELSIF cancelaction == 'account_creation_canceled' %]
    [% emailaddress %] kullanıcı hesabının oluşturulması iptal edildi.

  [% ELSIF cancelaction == 'user_logged_in' %]
    Oturum açtınız.

  [% ELSIF cancelaction == 'wrong_token_for_changing_passwd' %]
    Anahtarı parolayı değiştirmek için kullanmaya kalktınız.

  [% ELSIF cancelaction == 'wrong_token_for_cancelling_email_change' %]
    Anahtarı eposta adresi değiştirme isteğini iptal etmek için kullanmaya kalktınız.

  [% ELSIF cancelaction == 'wrong_token_for_confirming_email_change' %]
    Anahtarı eposta adresi değiştirme işlemini onaylamak için kullanmaya kalktınız.

  [% ELSIF cancelaction == 'wrong_token_for_creating_account' %]
    Anahtarı bir kullanıcı hesabı oluşturmak için kullanmaya kalktınız.

  [% ELSE %]
    [%# Give sensible error if the cancel-token function is used incorrectly.
      #%]
    [% terms.BugzillaGen %] anahtar iptali işlevini yanlış kullanıyorsunuz. '[% cancelaction %]' dizgesini gönderdiniz ama doğru kullanım bir takı göndermek ve o takıyı cancel-token.txt.tmpl dosyasında tanımlamaktır.

    Eğer [% terms.Bugzilla %] yönetiminde değilseniz, lütfen bu epostayı [% Param('maintainer') %] ile paylaşın.
  [% END %]
[% END %]
