[Desktop Entry]
Name=Add and Remove User
Name[tr]=Kullanıcı Ekle ve Çıkart
Comment=User Management Interface
Comment[tr]=Kullanıcı Yönetimi Arayüzü
Icon=user.png
X-KDE-ModuleType=Library
X-KDE-Library=user-manager
X-KDE-FactoryName=user_manager
Type=Application
Icon=kuser
Exec=kcmshell user-manager
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-system
