# This is an example config used in buildfarm's

[build]
buildno = True
buildhelper = ccache
compressionlevel = 9

host = i686-pc-linux-gnu

# for 2009
cflags = -mtune=generic -march=i686 -O2 -pipe -fomit-frame-pointer -fstack-protector -D_FORTIFY_SOURCE=2
cxxflags = -mtune=generic -march=i686 -O2 -pipe -fomit-frame-pointer -fstack-protector -D_FORTIFY_SOURCE=2
enableSandbox = True
ldflags = -Wl,-O1 -Wl,-z,relro -Wl,--hash-style=gnu -Wl,--as-needed -Wl,--sort-common

# for 2008
# LDFLAGS = -Wl,-O1 -Wl,--hash-style=gnu -Wl,-z,relro
# CFLAGS = -march=i686 -mtune=generic -O2 -pipe -fomit-frame-pointer
# CXXFLAGS = -march=i686 -mtune=generic -O2 -pipe -fomit-frame-pointer

# for 2007
# CFLAGS = -mtune=i686 -O2 -pipe -fomit-frame-pointer -g3 -ggdb
# CXXFLAGS = -mtune=i686 -O2 -pipe -fomit-frame-pointer -g3 -ggdb
# LDFLAGS = -Wl,-Bdirect -Wl,-hashvals -Wl,-zdynsort

