[Desktop Entry]
Encoding=UTF-8
Name=Hello World
Name[tr]=Merhaba Dünya
Name[x-test]=xxHello Worldxx
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=applications-toys

X-KDE-PluginInfo-Author=Panthera Pardus
X-KDE-PluginInfo-Email=info@pardus.org.tr
X-KDE-PluginInfo-Name=hello-world
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.pardus.org.tr
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
