[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # expiration_ts: expiration date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: hesap oluşturmayı onayla
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] sizin e-posta adresinizle ([% email %]) bir hesap oluşturulması yönünde bir istek aldı.

Bu e-posta adresini kullanarak bir hesap oluşturma işlemine devam etmek için, [% expiration_ts FILTER time("%B %e, %Y saat %H:%M %Z") %] olana kadar aşağıdaki bağlantıya giriniz:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=request_new_account

Eğer bu e-postayı [% expiration_ts FILTER time("%B %e, %Y saat %H:%M %Z") %] geçtikten sonra aldıysanız veya farklı bir e-posta adresi kullanarak hesap oluşturmak istiyorsanız, şu adresi kullanarak hesap oluşturma işlemine yeniden başlayabilirsiniz:

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
+GİZLİLİK BİLDİRİMİ: [% terms.Bugzilla %] açık bir [% terms.bug %] takip sistemidir. Çoğu [% terms.bugs %] kaydındaki etkinlik ve bilgiler (e-posta adresleri dahil) halkın erişimine açık olacaktır. Ana e-posta hesabınıza spam e-posta gelmesini engellemek adına ikinci bir e-posta hesabı veya Gmail, Yahoo, Hotmail vb ücretsiz bir web e-posta servisi kullanmanızı tavsiye ederiz.
[% END %]

Eğer bir hesap oluşturmak istemiyorsanız veya bu istek yanlışlıkla yapıldıysa aşağıdaki bağlantıya girin (veya hiçbirşey yapmayın, zaman dolunca istek otomatik olarak geçerliliğini yitirecektir):

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cancel_new_account

Eğer yukarıdaki bağlantılar çalışmıyorsa veya hesabınızla ilgili başka problemler yaşıyorsanız, yönetimle [% Param('maintainer') %] e-posta adresinden iletişime geçebilirsiniz.
