[Desktop Entry]
Encoding=UTF-8
Icon=ksplash
Exec=kcmshell ksplashthememgr
DocPath=ksplashml/themes.html

X-KDE-ModuleType=Library
X-KDE-Library=ksplashthemes
X-KDE-FactoryName=ksplashthemes
X-KDE-ParentApp=tasma

Name=Splash Screen
Name[tr]=Açılış ekranı
Name[nl]=Opstartscherm

Type=Application

Comment=Manager for Splash Screen Themes
Comment[tr]=Açılış Ekran Teması Yöneticisi
Comment[nl]=Themabeheer voor opstartschermen

Keywords=splash screen,splash theme,startup
Keywords[tr]=açılış ekranı, açılış teması, başlangıç
Keywords[nl]=opstartscherm,splash screen

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
