[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell printmgr
Icon=printmgr
Type=Application
DocPath=kdeprint/index.html
MimeType=print/manager

X-KDE-ModuleType=Library
X-KDE-Library=printmgr
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true

Name=Printers
Name[tr]=Yazıcılar

Comment=Printing system configuration (printers, jobs, classes, ...)
Comment[tr]=Yazdırma sistemi kurulumu (yazıcılar, işler, sınıflar, ...)
Comment[nl]=Configuratie van het afdruksysteem (printers, taken, klassen, ...)

Keywords=print,printer,printing management
Keywords[tr]=yazdır,yazıcı,yazıcı yönetimi
Keywords[nl]=print,printer,printing management,afdrukbeheer,afdrukken

Categories=Qt;KDE;X-KDE-settings-peripherals;X-KDE-tasma-peripherals
