[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
Name[nl]=Pakketmanager
Name[es]=Administrador de Paquetes
Icon=package-manager
Type=Application
StartupNotify=False
MimeType=application/x-pisi;
Exec=pm-install %u

