[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell screensaver
Icon=kscreensaver
Type=Application
DocPath=kcontrol/screensaver/index.html

X-KDE-ModuleType=Library
X-KDE-Library=screensaver
X-KDE-FactoryName=screensaver
X-KDE-ParentApp=tasma

Name=Screen Saver
Name[tr]=Ekran Koruyucusu
Name[nl]=Schermbeveiliging
Name[es]=Protector de Pantalla
Name[de]=Bildschirmschoner
Name[pt_BR]=Protetor de Tela
Name[fr]=Économiseur d'écran
Name[it]=Salvaschermo

Comment=Screen Saver Settings
Comment[tr]=Ekran Koruyucusu Ayarları
Comment[nl]=Schermbeveiliging instellen
Comment[es]=Configuración de Protector de Pantalla
Comment[de]=Bildschirmschoner Einstellungen
Comment[pt_BR]=Configurações do Protetor de Tela
Comment[fr]=Configuration de l'économiseur d'écran
Comment[it]=Configurazione del salvaschermo

Keywords=screensavers,Priority
Keywords[tr]=ekran koruyucular,Öncelik,ekran koruyucusu,ekran koruyucuları
Keywords[nl]=screensavers,schermbeveiliging,prioriteit,schermvergrendeling
Keywords[es]=protectores de pantalla,Prioridad
Keywords[de]=Bildschirmschoner,Priorität
Keywords[pt_BR]=protetores de tela,Prioridade
Keywords[fr]=économiseurs d'écran,Priorité
Keywords[it]=salvaschermo,screensaver,Priorità

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
