[Desktop Entry]
Encoding=UTF-8
Icon=ksplash
Exec=kcmshell ksplashthememgr
DocPath=ksplashml/themes.html

X-KDE-ModuleType=Library
X-KDE-Library=ksplashthemes
X-KDE-FactoryName=ksplashthemes
X-KDE-ParentApp=tasma

Name=Splash Screen
Name[tr]=Açılış ekranı
Name[nl]=Opstartscherm
Name[es]=Pantalla de Inicio
Name[de]=Startbildschirm
Name[pt_BR]=Tela de Entrada
Name[fr]=Page de garde
Name[it]=Schermata di avvio

Type=Application

Comment=Manager for Splash Screen Themes
Comment[tr]=Açılış Ekran Teması Yöneticisi
Comment[nl]=Themabeheer voor opstartschermen
Comment[es]=Administrador de temas para pantalla inicial
Comment[de]=Start-Themen-Manager
Comment[pt_BR]=Gerenciador para Temas de Tela de Entrada
Comment[fr]=Gestionnaire pour thèmes de pages de garde
Comment[it]=Gestore dei temi per la schermata di avvio

Keywords=splash screen,splash theme,startup
Keywords[tr]=açılış ekranı, açılış teması, başlangıç
Keywords[nl]=opstartscherm,splash screen
Keywords[es]=splash screen,pantalla de inicio,tema de inicio,inicio
Keywords[de]=Startbildschirm,Start-Thema,Start
Keywords[pt_BR]=tela de entrada,tema da tela de entrada,inicialização
Keywords[fr]=page de garde,thème de page de garde,démarrage
Keywords[it]=splash screen,schermata di avvio,avvio,tema di avvio

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
