[Desktop Entry]
Encoding=UTF-8
Icon=kcmkicker
Type=Application
DocPath=kcontrol/panel/index.html
Exec=kcmshell panel

X-KDE-ModuleType=Library
X-KDE-Library=kicker
X-KDE-ParentApp=tasma

Name=Panels
Name[tr]=Paneller
Name[nl]=Panelen
Name[es]=Paneles
Name[de]=Leisten
Name[pt_BR]=Painéis
Name[fr]=Panneaux
Name[it]=Pannelli

Comment=Configure the arrangement of the panel
Comment[tr]=Panelin konumunu buradan yapılandırabilirsiniz
Comment[nl]=U kunt hier de opmaak van het paneel instellen
Comment[es]=Configuración del panes
Comment[de]=Platzierung der Leiste konfigurieren
Comment[pt_BR]=Configurar o ajuste do painel
Comment[fr]=Configurer l'arrangement du panneau
Comment[it]=Configurazione del posizionamento dei pannelli

Keywords=kicker,panel,kpanel,taskbar,startbar,launchbar,location,size,auto hide,hide,buttons,animation,background,themes,menu cache,cache,hidden,K-Menu,bookmarks,recent documents,quickbrowser,browser menu,menu,icons,tiles,applets,startup,highlight,handles,zooming icons
Keywords[tr]=kicker,panel,kpanel,görev çubuğu,başlangıç çubuğu,başlat çubuğu,konum,boyut,Uç birim uygulaması,otomatik gizle,gizle,tuşlar,animasyon,artalan,temalar,menü ön belleği,ön bellek,gizli,K-Menu,yer imleri,en son kullanılan belgeler,hızlı gözatıcı,göz atıcı menüsü,menü,simgeler,karo,programcıklar,Başlangıç,belirt,tutamaçlar,büyüyen simgeler,güvenilen programcıklar,güvenlik düzeyi
Keywords[nl]=kicker,paneel,kpanel,taakbalk,takenbalk,startbalk,startmenu,applicatie starter,locatie,afmeting,terminaltoepassing,auto hide,automatisch verbergen,verbergen,invouwen,knoppen,animatie,achtergrond,thema's,menu cache,cache,verborgen,K-Menu,bookmarks,bladwijzers,recente documenten,quickbrowser,browser menu,menu,icons,icoon,iconen,pictogrammen,tegels,tiles,applets,opstarten,highlight,accentuering,handles,zoomen,knoppen,handvatten,betrouwbare applets,security level,beveiligingsniveau
Keywords[es]=kicker,panel,kpanel,barra de tareas,barra de inicio,barra de accesos,ubicación,tamaño,ocultar automaticamente,ocultar,botónes,animación,fondo,temas,cache de menu,cache,oculto,K-Menu,marcadores,documentos recientes,navegador rápido,menu de navegador,menu,iconos,tiles,applets,inicio,highlight,handles,aumentar iconos
Keywords[de]=Kicker,Leiste,KPanel,Taskleiste,Startleiste,Lage,Grösse,automatisch ausblenden,ausblenden,Tasten,Animation,Hintergrund,Themen,Menü-Cache,ausgeblendet,versteckt,K-Menü,Lesezeichen,zuletzt verwendete Dokumente,Quickbrowser,Browsermenü,Menü,Icons,Kacheln,Applets,Autostart,Highlight,Verwaltungen,Icons zoomen
Keywords[pt_BR]=kicker,painel,kpanel,barra de tarefas,barra de início,barra de lançamento,local,tamanho,auto-esconder,esconder,botões,animação,fundo,temas,cache do menu,cache,escondido,K-Menu,marcadores,documentos recentes,navegador rápido,menu de navegação,menu,ícones,telhas,applets,inicialização,highlight,handles,aumentar ícones
Keywords[fr]=kicker,panneau,kpanel,barre des tâches,barre de démarrage,barre de lancement,localisation,taille,masquer automatiquement,masquer,bouttons,animation,fond,thèmes,cache du menu,cache,masqué,K-Menu,signets,documents récents,navigateur rapide,navigateur de menu,menu,icônes,titres,applets,démarrage,higlight,handles,zoom sur icônes
Keywords[it]=kicker,panello,kpanel,barra delle applicazioni,barra di avvio,launchbar,posizione,dimensioni,nascondi automaticamente,nascondi,pulsanti,animazione,sfondo,temi,cache dei menu,cache,nascosto,K-Menu,segnalibiri,documenti recenti,browser del menu,menu,icone,titoli,applets,avvio,evidenzia,maniglie,zoom sulle icone

Categories=Qt;KDE;X-KDE-settings-desktop;X-KDE-tasma-desktop
