[Desktop Entry]
Name=Pide
Name[tr]=Pide
GenericName=PIDE
GenericName[tr]=PIDE
Comment=Quick file sending tool..
Comment[tr]=Kolay dosya gönderme aracı..
Exec=pide
Icon=pide
Type=Application
Categories=Qt;KDE;System;

