[Desktop Entry]
Name=Boot Manager
Name[tr]=Açılış Yöneticisi
Name[es]=Administrador del Cargador de Arranque
Name[nl]=Opstartbeheer
GenericName[en]=Boot Management Interface
GenericName[es]=Interfaz de Administración de Arranque
GenericName[nl]=Opstartbeheer interface
GenericName[tr]=Açılış Yönetim Arabirimi
Icon=boot_manager
X-KDE-ModuleType=Library
X-KDE-Library=boot-manager
X-KDE-FactoryName=boot_manager
X-KDE-RootOnly=false
X-Tasma-Fork=true
Type=Application
Exec=boot-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
