[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl
           title = "Yeni Değiştirilebilir Alan Ekle"
           onload = "document.getElementById('new_bugmail').disabled = true;" %]

<script type="text/javascript">
  <!--
  // Disable a checkbox based on the state of another one.
  function toggleCheckbox(this_checkbox, other_checkbox_id) {
    var other_checkbox = document.getElementById(other_checkbox_id);
    other_checkbox.disabled = !this_checkbox.checked;
  }
  //-->
</script>

<p>
  Değiştirilebilir  alanlar eklenmesi [% terms.Bugzilla %]'nın kullanıcı arayüzünü çok
  karmaşık hale getirebilir. [% terms.Bugzilla %]'ya alışık olmayan pek çok yönetici
  çok sayıda değiştirilebilir alan ekleyerek başlar ve kullanıcıları da, kullanıcı
  arayüzünün “çok karmaşık” olduğundan şikayet ederler. Lütfen herhangi bir
  değiştirilebilir alan eklemeden önce dikkatle düşünün. [% terms.Bugzilla %] zaten
  sizin istediğinizi yapıyor olabilir ve siz bu özelliği henüz etkinleştirmemiş olabilirsiniz.
</p>

<ul>
  <li>Değiştirilebilir alan isimleri, onların standart alanlardan ayırdedilebilmesi için 
      "cf_"ile başlamalıdır. İsmin başındaki "cf_"'yi siz ihmal etseniz bile
      eklenecektir.</li>
  <li>Tanım, alanı tanımlayan çok kısa bir karakter dizisidir ve kullanıcı
      arayüzünde bu alan için etiket olarak kullanılacaktır..</li>
</ul>

<form id="add_field" action="editfields.cgi" method="GET">
  <table border="0" cellspacing="0" cellpadding="5">
    <tr>
      <th align="right"><label for="name">Adı:</label></th>
      <td>
        <input type="text" id="name" name="name" value="cf_" size="40" maxlength="64">
      </td>

      <th align="right">
        <label for="enter_bug">[% terms.Bug %] oluşturulurken ayarlanabilir:</label>
      </th>
      <td>
        <input type="checkbox" id="enter_bug" name="enter_bug" value="1"
               onchange="toggleCheckbox(this, 'new_bugmail');">
      </td>
    </tr>
    <tr>
      <th align="right"><label for="desc">Tanımı:</label></th>
      <td><input type="text" id="desc" name="desc" value="" size="40"></td>

      <th align="right">
        <label for="new_bugmail">Yeni [% terms.bugs %] için [% terms.bug %] e-postasında gösterilir:</label>
      </th>
      <td><input type="checkbox" id="new_bugmail" name="new_bugmail" value="1"></td>
    </tr>
    <tr>
      <th align="right"><label for="type">Tipi:</label></th>
      <td>
        <select id="type" name="type">
          [% FOREACH type = field_types.keys %]
            [% NEXT IF type == constants.FIELD_TYPE_UNKNOWN %]
            <option value="[% type FILTER html %]">[% field_types.$type FILTER html %]</option>
          [% END %]
        </select>
      </td>

      <th align="right"><label for="obsolete">Eski/Geçersiz:</label></th>
      <td><input type="checkbox" id="obsolete" name="obsolete" value="1"></td>
    </tr>
    <tr>
      <th align="right"><label for="sortkey">Sıralama anahtarı:</label></th>
      <td>
        <input type="text" id="sortkey" name="sortkey" size="6" maxlength="6">
      </td>

      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>
    <input type="hidden" name="action" value="new">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <input type="submit" id="create" value="Oluştur">
  </p>
</form>

<p>
  <a href="editfields.cgi">Mevcut değiştirilebilir alanlar listesine geri dön</a>
</p>

[% PROCESS global/footer.html.tmpl %]
