[Desktop Entry]
Name=PiSi KGA
Name[en]=Add,Update or Remove Programs
Name[tr]=Program Ekle,Güncelle veya Kaldır
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Icon=pisi_kga
X-KDE-ModuleType=Library
X-KDE-Library=pisi_kga
X-KDE-FactoryName=pisi_kga
X-KDE-RootOnly=true
Type=Application
Exec=kcmshell pisi-kga-kcm
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-system
