[Desktop Entry]
Name=Font Installer
Name[tr]=Yazıtipi Kurucusu
Name[nl]=Lettertype-installatie

Comment=Install & preview fonts
Comment[tr]=Yazıtiplerini kur ve önizle
Comment[nl]=Lettertypen installeren en bekijken

X-KDE-ModuleType=Library
X-KDE-Library=fontinst
X-KDE-FactoryName=fontinst
X-KDE-RootOnly=true
Type=Application
Icon=fonts
Exec=kcmshell kcmfontinst

Categories=Qt;KDE;X-KDE-settings-system;X-KDE-tasma-looknfeel

