[Desktop Entry]
Name=Hede Manager
Name[tr]=Hede Yöneticisi
Name[de]=Hede Manager
Name[es]=Administrador Muestra
Name[nl]=Hedebeheer
Name[pt_BR]=Gerenciador do Hede
GenericName=Sample Tasma Module
GenericName[tr]=Örnek Tasma Modülü
GenericName[de]=Muster Tasma-Modul
GenericName[pt_BR]=Módulo Tasma de Amostra
GenericName[es]=Módulo Tasma de Muestra
GenericName[nl]=Voorbeeld Tasma module
X-KDE-ModuleType=Library
X-KDE-Library=hede-manager
X-KDE-FactoryName=hede_manager
Type=Application
Icon=hede_manager
Exec=kcmshell hede-manager
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-system;
