{% load i18n %}

<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>paketler.pardus.org.tr</title>
        <link rel="stylesheet" href="/media/stil.css" type="text/css">
        </head>
        <body>
            <div id="header-bugzilla"></div>
            <div class='menu'>
                <a href='{{ base_url }}pijama/'>Genel Bilgiler</a>
                |<a href='{{ base_url }}sources/'>Kaynak Paketler</a>
                |<a href='{{ base_url }}binaries/'>İkili Paketler</a>
                |<a href='{{ base_url }}packagers/'>Paketçiler</a>
                |<a href='{{ base_url }}search/'>Arama</a>
            </div>

            <h1 align="center">{% block title %}{% endblock %}</h1>
            <div class="content">

                {% block content %}{% endblock %}


            </div>
        </body>

    </head>

</body></html>

