{% extends "base.html" %}

{% block title %}{{pkg}}{% endblock %}

{% block content %}

<p>
<h3>{{name}}</h3>
    <table>
        <tr>
            <td>Paket:</td><td>{{pkg}}</td>
        </tr>
        <tr>
            <td>Kaynak Paket:</td> <td>{{sourcename}}</td>
        </tr>
        <tr>
            <td>Paket:</td><td>{{version}}</td>
        </tr>
        <tr>
            <td>Paket boyutu:</td><td>{{packagesize|filesizeformat}}</td>
        </tr>
        <tr>
            <td>Yüklenmiş boyutu:</td><td>{{installedsize|filesizeformat}}</td>
        </tr>
    </table>
</p>


<p>
<h3>İnşa Bağımlılıkları</h3>
    <table>
        <tr>
            <td>
            {% for dep in builddeps %}
            <a href="{{ base_url }}binary/{{ dep.pktname }}">{{ dep.pktname }}</a>,&nbsp;
            {% endfor %}
            </td>
        </tr>
    </table>
</p>

<p>
<h3>Çalışma Bağımlılıkları</h3>
    <table>
        <tr>
            <td>
            {% for dep in runtimedeps %}
            <a href="http://localhost/pijama/binary/{{ dep.package }}">{{ dep.package }}</a>,&nbsp;
            {% endfor %}
            </td>
        </tr>
    </table>
</p>

<p>
<h3>İsteyenler (çalışmak için)</h3>
    <table>
        <tr>
            <td>
            {% for dep in revdeps %}
            <a href="{{ base_url }}binary/{{ dep }}">{{ dep }}</a>,&nbsp;
            {% endfor %}
            </td>
        </tr>
    </table>
</p>

<p>
<h3>İsteyenler (derlenmek için)</h3>
    <table>
        <tr>
            <td>
            {% for dep in reqfortobebuild %}
            <a href="{{ base_url }}binary/{{ dep }}">{{ dep }}</a>,&nbsp;
            {% endfor %}
            </td>
        </tr>
    </table>
</p>

<p></p>

{% endblock %}

