{% extends "base.html" %}

{% block title %}İkilik Paketler{% endblock %}

{% block content %}

<p>
<table>
        <tr>
            <th>Paket Adı</th>
            <th>Versiyon</th>
            <th>Özet</th>
        </tr>
            {% for binary in binaries %}
        <tr>
            <td><a href="{{ base_url }}binary/{{ binary.binarypkt_name }}">{{ binary.binarypkt_name }}</a></td>
            <td>{{ binary.version  }}</td>
            <td>{{ binary.summary  }}</td>
        </tr>
            {% endfor %}
    </table>
</p>

<p></p>

{% endblock %}

