{% extends "base.html" %}

{% block title %}Genel Bilgiler{% endblock %}

{% block content %}

<p>
    <table>
            {% for info in general_information %}
        <tr>
            <td>{{ info.explanation }} </td>
            <td>{{ info.detail  }}</td>
        </tr>
            {% endfor %}
    </table>
</p>

<p>
    <h3>En fazla yamalanan</h3>
    
    <table>
            {% for patch in most_patched %}
        <tr>
            <td><a href="{{ base_url }}source/{{ patch.pktname }}">{{ patch.pktname }}</a></td>
            <td>{{ patch.patchcount }}</td>
        </tr>
            {% endfor %}
    </table>

</p>

<p>
    <h3>En son eklenenler</h3>

    <table>
            {% for ladded in last_added %}
        <tr>
            <td><a href="{{ base_url }}source/{{ ladded.pktname }}">{{ ladded.pktname }}</a></td>
            <td>{{ ladded.added_date }}</td>
        </tr>
            {% endfor %}
    </table>

</p>


<p></p>

{% endblock %}

