{% extends "base.html" %}

{% block title %}Kaynak Paketler{% endblock %}

{% block content %}

<p>
<h3>İkilik Paket Sonuçları</h3>
<table>
    <tr>
        {% for p in binresult %}
        <td><a href="{{ base_url }}binary/{{ p }}">{{ p }}</a>,&nbsp;</td>
        {% endfor %}
    </tr>
</table>
</p>

<p>
<h3>Kaynak Paket Sonuçları</h3>
<table>
    <tr>
        {% for p in sourceresult %}
        <td><a href="{{ base_url }}source/{{ p }}">{{ p }}</a>,&nbsp;</td>
        {% endfor %}
    </tr>
</table>
</p>

<p>
<h3>Yama Sonuçları</h3>
<table>
    <tr>
        {% for p in patchresult %}
        <td><a href="{{ base_url }}source/{{ p }}">{{ p }}</a>,&nbsp;</td>
        {% endfor %}
    </tr>
</table>
</p>

<p>
<h3>Dosya Sonuçları</h3>
<table>
        {% for p in fileresult %}
    <tr>
        <td><a href="{{ base_url }}binary/{{ p.0 }}">{{ p.0 }}</a>,&nbsp;</td>
        <td>
            <table>
                {% for path in p.1 %}
                <tr>
                    <td>{{path}}&nbsp;&nbsp;</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
        {% endfor %}
</table>
</p>

<p></p>

{% endblock %}

