{% extends "base.html" %}

{% block title %}{{pkg.pktname}} {{pkg.version}}{% endblock %}

{% block content %}

<p>
<h3>{{pkg.pktname}}{{pkg.version}}</h3>
    <table>
        <tr>
            <td>{{pkg.summary}}</td>
        </tr>
        <tr>
            <td><a href="{{pkg.homepage}}">{{pkg.homepage}}</a></td>
        </tr>
        <tr>
            <td>Paketçi: {{packager}}</td>
        </tr>
        <tr>
            <td>Lisans: {{pkg.license}}</td>
        </tr>
    </table>
</p>


<p>
<h3>İkilik Paketler</h3>
    <table>
            {% for binary in binaries %}
        <tr>
            <td><a href="{{ base_url }}binary/{{ binary.binarypkt_name }}">{{ binary.binarypkt_name }}</a></td>
        </tr>
            {% endfor %}
    </table>
</p>

<p>
<h3>Sürüm Tarihçesi</h3>
    <table cellpadding="10" cellspacing="1">
        
        <tr>
            <th>Sürüm</th>
            <th>Sürüm Tarihi</th>
            <th>Versiyon</th>
            <th>Güncelleyen</th>
            <th>Açıklama</th>
        </tr>

        {% for history in histories %}
        <tr>
            <td>{{ history.update }}</td>
            <td>{{ history.update_date }}</td>
            <td>{{ history.update_version }}</td>
            <td>{{ history.updater }}</td>
            <td>{{ history.comment }}</td>
        </tr>
        {% endfor %}

    </table>
</p>


<p></p>

{% endblock %}

