{% extends "base.html" %}

{% block title %}Kaynak Paketler{% endblock %}

{% block content %}

<p>
<table>
        <tr>
            <th>Paket Adı</th>
            <th>Versiyon</th>
            <th>Özet</th>
        </tr>
            {% for source in sources %}
        <tr>
            <td><a href="{{ base_url }}source/{{ source.pktname }}">{{ source.pktname }}</a></td>
            <td>{{ source.version  }}</td>
            <td>{{ source.summary  }}</td>
        </tr>
            {% endfor %}
    </table>
</p>

<p></p>

{% endblock %}

