[Desktop Entry]
Type=Application
Name=YALI Live Installer
GenericName=Pardus Live OS installer
Comment=Install Live pardus to hard drive
Exec=/home/pars/.yali-live
Icon=yali-live
Categories=System;Filesystem;KDE;Qt;
X-KDE-StartupNotify=true

