# translation of kconfigeditor.po to
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Serdar Soytetir <tulliana@gmail.com>, 2009.
# Serhat Demirkol <serhat_demirkol@yahoo.com>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kconfigeditor\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2010-05-03 05:05+0200\n"
"PO-Revision-Date: 2009-06-30 16:21+0300\n"
"Last-Translator: Serdar Soytetir <tulliana@gmail.com>\n"
"Language-Team: Turkish <yerellestirme@kde.org.tr>\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 0.3\n"
"Plural-Forms: nplurals=1; plural=0;\n"

#: subsystems/kde/kdesubsystem.cpp:171
msgid "Parsing KDE files..."
msgstr "KDE dosyaları ayrıştırılıyor..."

#: subsystems/kde/kdesubsystem.cpp:172
msgid "Parsing..."
msgstr "Ayrıştırılıyor..."

#: subsystems/kde/kdesubsystem.cpp:501
msgid "Done"
msgstr "Tamamlandı"

#: interfaces/subsystem.cpp:42
msgid "Subsystem Progress"
msgstr "Alt-sistem Süreci"

#: propertyeditor/ppixmapedit.cpp:52 propertyeditor/pfontbutton.cpp:41
msgid "..."
msgstr "..."

#: propertyeditor/propertymachinefactory.cpp:113
#: propertyeditor/propertymachinefactory.cpp:127
msgid "Width"
msgstr "Genişlik"

#: propertyeditor/propertymachinefactory.cpp:114
#: propertyeditor/propertymachinefactory.cpp:128
msgid "Height"
msgstr "Yükseklik"

#: propertyeditor/propertymachinefactory.cpp:119
#: propertyeditor/propertymachinefactory.cpp:125
msgid "x"
msgstr "x"

#: propertyeditor/propertymachinefactory.cpp:120
#: propertyeditor/propertymachinefactory.cpp:126
msgid "y"
msgstr "y"

#: propertyeditor/propertymachinefactory.cpp:133
msgid "Fixed"
msgstr "Sabit"

#: propertyeditor/propertymachinefactory.cpp:134
msgid "Minimum"
msgstr "En düşük"

#: propertyeditor/propertymachinefactory.cpp:135
msgid "Maximum"
msgstr "En yüksek"

#: propertyeditor/propertymachinefactory.cpp:136
msgid "Preferred"
msgstr "Öncelikli"

#: propertyeditor/propertymachinefactory.cpp:137
msgid "Expanding"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:138
msgid "Minimum Expanding"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:139
msgid "Ignored"
msgstr "Yoksayılan"

#: propertyeditor/propertymachinefactory.cpp:142
msgid "hSizeType"
msgstr "Yatay Boyut Tipi"

#: propertyeditor/propertymachinefactory.cpp:142
msgid "Horizontal Size Type"
msgstr "Yatay Boyut Tipi"

#: propertyeditor/propertymachinefactory.cpp:143
msgid "vSizeType"
msgstr "Dikey Boyut Tipi"

#: propertyeditor/propertymachinefactory.cpp:143
msgid "Vertical Size Type"
msgstr "Dikey Boyut Tipi"

#: propertyeditor/propertymachinefactory.cpp:144
msgid "hStretch"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:144
msgid "Horizontal Stretch"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:145
msgid "vStretch"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:145
msgid "Vertical Stretch"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:150
msgid "Arrow"
msgstr "Ok"

#: propertyeditor/propertymachinefactory.cpp:151
msgid "Up Arrow"
msgstr "Yukarı Oku"

#: propertyeditor/propertymachinefactory.cpp:152
msgid "Cross"
msgstr "Çapraz"

#: propertyeditor/propertymachinefactory.cpp:153
msgid "Waiting"
msgstr "Bekliyor"

#: propertyeditor/propertymachinefactory.cpp:154
msgid "iBeam"
msgstr "iBeam"

#: propertyeditor/propertymachinefactory.cpp:155
msgid "Size Vertical"
msgstr "Boyut Dikey"

#: propertyeditor/propertymachinefactory.cpp:156
msgid "Size Horizontal"
msgstr "Boyut Yatay"

#: propertyeditor/propertymachinefactory.cpp:157
msgid "Size Slash"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:158
msgid "Size Backslash"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:159
msgid "Size All"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:160
msgid "Blank"
msgstr "Boş"

#: propertyeditor/propertymachinefactory.cpp:161
msgid "Split Vertical"
msgstr "Dikey Olarak Böl"

#: propertyeditor/propertymachinefactory.cpp:162
msgid "Split Horizontal"
msgstr "Yatay Olarak Böl"

#: propertyeditor/propertymachinefactory.cpp:163
msgid "Pointing Hand"
msgstr ""

#: propertyeditor/propertymachinefactory.cpp:164
msgid "Forbidden"
msgstr "Yasaklanmış"

#: propertyeditor/propertymachinefactory.cpp:165
msgid "What's this"
msgstr "Bu nedir"

#: propertyeditor/pyesnobutton.cpp:53 propertyeditor/pyesnobutton.cpp:60
#: propertyeditor/pyesnobutton.cpp:68 changesview.cpp:66
msgid "Yes"
msgstr "Evet"

#: propertyeditor/pyesnobutton.cpp:53 propertyeditor/pyesnobutton.cpp:60
#: propertyeditor/pyesnobutton.cpp:68 changesview.cpp:66
msgid "No"
msgstr "Hayır"

#: propertyeditor/propertyeditormodel.cpp:79
msgid "Name"
msgstr "İsim"

#: propertyeditor/propertyeditormodel.cpp:81
msgid "Value"
msgstr "Değer"

#: propertyeditor/pfontbutton.cpp:59
msgid " Bold"
msgstr " Kalın"

#: propertyeditor/pfontbutton.cpp:60
msgid " Italic"
msgstr " Yatık"

#: propertyeditor/pcheckbox.cpp:68
msgid "true"
msgstr "doğru"

#: propertyeditor/pcheckbox.cpp:68
msgid "false"
msgstr "yanlış"

#: progressmanager.cpp:103
msgid "Aborting..."
msgstr "İptal ediliyor..."

#: statusbarprogresswidget.cpp:75
msgid "Open detailed progress dialog"
msgstr "Ayrıntılı süreç penceresini göster"

#: statusbarprogresswidget.cpp:248 progressdialog.cpp:242
msgid "Hide detailed progress window"
msgstr "Ayrıntılı süreç penceresini gizle"

#: statusbarprogresswidget.cpp:252
msgid "Show detailed progress window"
msgstr "Ayrıntılı işlem penceresini göster"

#: changesview.cpp:75
msgid "You have to select an item which you want to remove first."
msgstr "Öncelikle kaldırmak istediğiniz bir ögeyi seçmek zorundasınız."

#: changesview.cpp:76
msgid "No Item Selected"
msgstr "Hiçbir Öge Seçilmedi"

#: changesview.cpp:87
#, kde-format
msgid "Token %1 has been restored"
msgstr "Jeton %1 geri yüklendi"

#: changesview.cpp:89
#, kde-format
msgid "Token %1 does not exist"
msgstr ""

#: changesview.cpp:117
#, kde-format
msgid "File %1 exists. Do you want to overwrite it?"
msgstr "%1 dosyası var. Üzerine yazmak istiyor musunuz?"

#: changesview.cpp:119
msgid "File Exists"
msgstr "Dosya Var"

#: confwindow.cpp:75
msgid "Parsing configuration files..."
msgstr "Yapılandırma dosyaları ayrıştırılıyor..."

#: confwindow.cpp:86
msgid "Show Changes"
msgstr "Değişiklikleri Göster"

#: confwindow.cpp:100
msgid "Initializing..."
msgstr "Başlatılıyor..."

#: confwindow.cpp:135
msgid "Application ready"
msgstr "Uygulama hazır"

#: main.cpp:41
msgid "Config Editor"
msgstr "Yapılandırma Düzenleyici"

#: main.cpp:42
msgid "Desktop Configuration Editor"
msgstr "Masaüstü Yapılandırması Düzenleyici"

#: main.cpp:44
msgid ""
"(C) 2008 The KConfigEditor-Developers\n"
"(C) 2004 Zack Rusin"
msgstr ""
"(C) 2008 KConfigEditor-Geliştiricileri\n"
"(C) 2004 Zack Rusin"

#: main.cpp:45
msgid "<a href=\"mailto:kconfigeditor@kde.org\">kconfigeditor@kde.org</a>"
msgstr "<a href=\"mailto:kconfigeditor@kde.org\">kconfigeditor@kde.org</a>"

#: main.cpp:46
msgid "Alessandro Diaferia"
msgstr "Alessandro Diaferia"

#: main.cpp:46 main.cpp:47
msgid "Maintainer"
msgstr "Projeyi yürüten"

#: main.cpp:47
msgid "Lukas Appelhans"
msgstr "Lukas Appelhans"

#: main.cpp:48
msgid "Zack Rusin"
msgstr "Zack Rusin"

#: main.cpp:48
msgid "Original Author"
msgstr "Asıl yazar"

#: progressdialog.cpp:166
msgid "Cancel this operation."
msgstr "Bu işlemi iptal et."

#: descriptionwidget.cpp:44
msgid "Short description:"
msgstr "Kısa açıklama:"

#: descriptionwidget.cpp:47
msgid "(None)"
msgstr "(Hiçbiri)"

#: descriptionwidget.cpp:55
msgid "Long description:"
msgstr "Uzun açıklama:"

#: descriptionwidget.cpp:92 descriptionwidget.cpp:94
msgid "Not available"
msgstr "Kullanılabilir değil"

#: changesdialog.cpp:34
msgid "Configuration Changes"
msgstr "Yapılandırma Değişiklikleri"

#: configmanager.cpp:104
msgid "Configuration has been saved."
msgstr "Yapılandırma kaydedildi."

#: configmanager.cpp:105
msgid "Configuration Saved"
msgstr "Yapılandırma Kaydedildi"

#: configmanager.cpp:107
msgid "No changes to save."
msgstr "Kaydedilecek değişiklik yok."

#: configmanager.cpp:108
msgid "Nothing to Save"
msgstr "Kaydedilecek birşey yok"

#: configmanager.cpp:143
msgid "There are no changes to display."
msgstr "Gösterilecek bir değişiklik yok."

#: configmanager.cpp:144
msgid "No Changes"
msgstr "Değişiklik Yok"

#: configurationview.cpp:36
msgid "Option"
msgstr "Seçenek"

#: kernel.cpp:75
msgid "Total Progress"
msgstr "Toplam Süreç"

#: kconfigeditorsearchline.cpp:212
msgid "Search Columns"
msgstr "Arama Sütunları"

#: kconfigeditorsearchline.cpp:218
msgid "All Columns"
msgstr "Tüm Sütunlar"

#. i18n: file: changesviewui.ui:20
#. i18n: ectx: property (text), widget (QTreeWidget, m_changesView)
#: rc.cpp:3 rc.cpp:36
msgid "Entry"
msgstr "Girdi"

#. i18n: file: changesviewui.ui:25
#. i18n: ectx: property (text), widget (QTreeWidget, m_changesView)
#: rc.cpp:6 rc.cpp:39
msgid "New"
msgstr "Yeni"

#. i18n: file: changesviewui.ui:30
#. i18n: ectx: property (text), widget (QTreeWidget, m_changesView)
#: rc.cpp:9 rc.cpp:42
msgid "Old"
msgstr "Eski"

#. i18n: file: changesviewui.ui:35
#. i18n: ectx: property (text), widget (QTreeWidget, m_changesView)
#: rc.cpp:12 rc.cpp:45
msgid "Saved"
msgstr "Kaydedilmiş"

#. i18n: file: changesviewui.ui:52
#. i18n: ectx: property (text), widget (KPushButton, m_removeButton)
#: rc.cpp:16 rc.cpp:49
msgid "Restore Token"
msgstr "Jetonu Geri Yükle"

#. i18n: file: changesviewui.ui:61
#. i18n: ectx: property (title), widget (QGroupBox, groupBox)
#: rc.cpp:19 rc.cpp:52
msgid "Script Generation"
msgstr "Betik Oluşturma"

#. i18n: file: changesviewui.ui:69
#. i18n: ectx: property (text), widget (KPushButton, m_backupButton)
#: rc.cpp:22 rc.cpp:55
msgid "Backup Script"
msgstr "Yedekleme Betiği"

#. i18n: file: changesviewui.ui:92
#. i18n: ectx: property (text), widget (KPushButton, m_propagationButton)
#: rc.cpp:25 rc.cpp:58
msgid "Propagation Script"
msgstr "Çoğaltma Betiği"

#. i18n: file: kconfigeditorui.rc:4
#. i18n: ectx: Menu (file)
#: rc.cpp:28 rc.cpp:61
msgid "&File"
msgstr " &Dosya"

#. i18n: file: kconfigeditorui.rc:10
#. i18n: ectx: Menu (tools)
#: rc.cpp:31 rc.cpp:64
msgid "&Tools"
msgstr "A&raçlar"

#: rc.cpp:32
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Serdar Soytetir"

#: rc.cpp:33
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "tulliana@gmail.com"

#~ msgid "KSqueezedTextLabel"
#~ msgstr "KSıkışıkMetinEtiketi"
