[Desktop Entry]
Name=PiSi KGA
Name[en]=PiSi KGA
Name[tr]=PiSi KGA
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Icon=daemons.png
X-KDE-ModuleType=Library
X-KDE-Library=pisi_kga
X-KDE-FactoryName=pisi_kga
X-KDE-RootOnly=false
Type=Application
Exec=kcmshell pisi_kga
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-desktop
