[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  #
  # listselectionvalues:      selection values to recreate the current user
  #                           list.
  # editusers:                is viewing user member of editusers?
  # otheruser:                Bugzilla::User object of the viewed user.
  # reporter:                 number of bugs reported by the user
  # assignee_or_qa:           number of bugs the user is either the assignee
  #                           or the QA contact
  # bugs_activity:            number of bugs the viewed user has activity
  #                           entries on
  # cc                        number of bugs the viewed user is cc list member
  #                           of
  # flags.requestee:          number of flags the viewed user is being asked for
  # flags.setter:             number of flags the viewed user has set
  # longdescs:                number of bug comments the viewed user has written
  # namedqueries:             number of named queries the user has created
  # namedquery_group_map:     number of named queries the user has shared
  # profiles_activity:        number of changes made to other users' profiles
  # series:                   number of series the viewed user has created
  # votes:                    number of bugs the viewed user has voted on
  # watch.watched:            number of users the viewed user is being watched
  #                           by
  # watch.watcher:            number of users the viewed user is watching
  # whine_events:             number of whine events the viewed user has created
  # whine_schedules:          number of whine schedules the viewed user has
  #                           created
  #%]

[% title = BLOCK %][% otheruser.login FILTER html %] kullanıcısının silinmesini onayla[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css',
                'skins/standard/editusers.css']
  doc_section = "useradmin.html#user-account-deletion"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<table class="main">
  <tr>
    <th>Oturum açma adı:</th>
    <td>[% otheruser.login FILTER html %]</td>
  </tr>
  <tr>
    <th>Gerçek adı:</th>
    <td>[% otheruser.name FILTER html %]</td>
  </tr>
  <tr>
    <th>Grup kümesi:</th>
    <td>
      [% IF otheruser.groups.size %]
        <ul>
          [% FOREACH group = otheruser.groups.keys %]
            <li>[% group FILTER html %]</li>
          [% END %]
        </ul>
      [% ELSE %]
        Yok
      [% END %]
    </td>
  </tr>
  [% IF otheruser.product_responsibilities.size %]
    <tr>
      <th>Ürün sorumlulukları:</th>
      <td>
        [% PROCESS admin/users/responsibilities.html.tmpl otheruser = otheruser %]
      </td>
    </tr>
  [% END %]
</table>

[% IF otheruser.product_responsibilities.size %]
  <p>
    [%+ otheruser.login FILTER html %] kullanıcısının en az bir ürünle ilgili sorumlulukları var, o yüzden bu kullanıcıyı silemezsiniz.
  </p>
  <p>
    [% IF user.in_group("editcomponents", component.product_id) %]
      Bunu yukarıdaki ürün düzenleme bağlantılarını kullanarak değiştirin,
    [% ELSE %]
      Şimdilik yapabilirsiniz
    [% END %]
[% ELSE %]
  [% accept_deletion = 1 %]

  [% IF attachments || reporter || bugs_activity || flags.setter || longdescs || profiles_activity %]
    <div class="criticalmessages">
      <p>Aşağıdaki silme işlemleri <b>güvenli değil</b> ve referans bütünlüğünde bozulmalara neden olur!</p>

      <ul>
        [% IF attachments %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?field0-0-0=attachments.submitter&type0-0-0=equals&value0-0-0=
               [%- otheruser.login FILTER url_quote %]">
              [%+ attachments %] ek
            [% END %]</a> göndermiş.
            Eğer bu kullanıcı hesabını silerseniz, veritabanındaki kayıtlarda uyuşmazlıklar oluşur ve bu
            [% IF attachments == 1 %]
              ek
            [% ELSE %]
              ekler
            [% END %]
            [% terms.bug %] kayıtlarında görüntülenemez.
          </li>
        [% END %]
        [% IF reporter %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailreporter1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">
               [%+ reporter %] [% terms.bug %]
               </a> bildirmiş.
            Eğer bu kullanıcı hesabını silerseniz, veritabnındaki kayıtlarda uyuşmazlıklar oluşur ve bu
            [% IF reporter == 1 %]
              [% terms.bug %]
            [% ELSE %]
              [% terms.bugs %]
            [% END %]
            [% terms.bug %] listelerinde görüntülenemez.
          </li>
        [% END %]
        [% IF bugs_activity %]
          <li>
            [% otheruser.login FILTER html %]
            [% bugs_activity %]
            [% terms.bugLoc %]
            değişiklik yapmış.
            Eğer bu kullanıcı hesabını silerseniz, veritabanındaki [% terms.bug %] hareketleri tablosunda uyuşmazlıklar oluşur ve bu
            [% IF bugs_activity == 1 %]
              değişiklik
            [% ELSE %]
              değişiklikler
            [% END %]
            [% terms.bug %] hareket günlüklerinde görüntülenemez hale gelir.
          </li>
        [% END %]
        [% IF flags.setter %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?field0-0-0=setters.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">
               [% flags.setter %]
               bayrak değiştirmiş veya istemiş
            </a>.
            Eğer bu kullanıcı hesabını silerseniz, veritabanındaki bayrak tablosunda uyuşmazlıklar oluşur ve bu
            [% IF flags.setter == 1 %]
              bayrak
            [% ELSE %]
              bayraklar
            [% END %]
            düzgün şekilde görüntülenemez hale gelir.
          </li>
        [% END %]
        [% IF longdescs %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emaillongdesc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">
               [% terms.bugsLoc %]
               [%+ longdescs %] kez yorum yapmış
               </a>.
            Eğer bu kullanıcı hesabını silerseniz, veritabanındaki yorum tablosunda uyuşmazlıklar oluşur ve bu
            [% IF longdescs == 1 %]
              yorum
            [% ELSE %]
              yorumlar
            [% END %]
            görüntülenemez hale gelir.
          </li>
        [% END %]
        [% IF profiles_activity %]
          <li>
            [% otheruser.login FILTER html %]
            [% IF bugs_activity == 1 %]
              bir kulllanıcının profilinde değişiklik
            [% ELSE %]
              kullanıcıların profillerinde değişiklikler
            [% END %] yapmış.
            Eğer bu kullanıcı hesabını silerseniz, veritabanındaki kullanıcı profil hareketleri tablosunda uyuşmazlıklar oluşur.
          </li>
        [% END %]
      </ul>
    </div>
    [% accept_deletion = 0 %]
  [% END %]

  [% IF assignee_or_qa || cc || component_cc || email_setting || flags.requestee ||
        namedqueries || profile_setting || quips || series || votes || watch.watched ||
        watch.watcher || whine_events || whine_schedules %]
    <div class="warningmessages">
      <p>Aşağıdaki silme işlemleri <b>güvenli</b> ve referans bütünlüğünde bozulmalara neden olmaz.</p>

      <ul>
        [% IF assignee_or_qa %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailassigned_to1=1&amp;emailqa_contact1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">
               [% assignee_or_qa %] [% terms.bugGen %]
            </a> sorumlusu ya da kalite güvence görevlisi olarak atanmış.
            Eğer bu kullanıcı hesabını silerseniz, bu görevler öntanımlı atanması gereken kişiye yüklenir.
          </li>
        [% END %]
        [% IF cc %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailcc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">
               [%+ cc %] [%+ terms.bugGen %] haber verilecekler listesinde
               </a>.
            Eğer bu kullanıcı hesabını silerseniz, haber verilecekler listesinden de silinir.
          </li>
        [% END %]
        [% IF component_cc %]
          <li>
            [% otheruser.login FILTER html %]
               [%+ component_cc %] bileşenin öntanımlı haber verilecekler listesinde.
            Eğer bu kullanıcı hesabını silerseniz, bu haber verilecekler listelerinden silinir.
          </li>
        [% END %]
        [% IF email_setting %]
          <li>
            Kullanıcının eposta ayarları kullanıcı hesabı ile birlikte silinir.
          </li>
        [% END %]
        [% IF flags.requestee %]
          <li>
            [% otheruser.login FILTER html %] kullanıcısından
            <a href="buglist.cgi?field0-0-0=requestees.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">
               [% flags.requestee %] bayrağı ataması
               istenmiş</a>.
            Eğer bu kullanıcı hesabını silerseniz, bu bayrak[% IF flags.requestee > 1 %]lar[% END %] sadece "istenmiş" olarak değiştirilir.
          </li>
        [% END %]
        [% IF namedqueries %]
          <li>
            [% otheruser.login FILTER html %] kullanıcısının
            [%+ namedqueries FILTER html %] [% 'paylaşılan' IF namedquery_group_map %] adlandırılmış araması var.
            Bu adlandırılmış arama[% IF namedqueries > 1 %]lar[% END %] kullanıcı hesabıyla birlikte silinir.
            [% IF namedquery_group_map %]
              [% IF namedqueries > 1 %]
                Bunlardan,
                [% IF namedquery_group_map > 1 %]
                  [%+ namedquery_group_map FILTER html %] tanesi
                [% ELSE %]
                  biri
                [% END %]
                paylaşılıyor.
              [% END %]
              Bu kullanıcı hesabı silindiğinde, diğer kullanıcılar bu paylaşılan adlandırılmış arama
              [% IF namedquery_group_map > 1 %]
                ları
              [% ELSE %]
                yı
              [% END %]
              kullanamayacak.
            [% END %]
          </li>
        [% END %]
        [% IF profile_setting %]
          <li>
            Kullanıcının tercihleri hesabıyla birlikte silinir.
          </li>
        [% END %]
        [% IF series %]
          <li>
            [% otheruser.login FILTER html %] 
            [%+ series %] seri
            oluşturmuş. Bu seri[% IF series > 1 %]ler[% END %] kullanıcı hesabıyla birlikte silinir.
          </li>
        [% END %]
        [% IF quips %]
          <li>
            [% otheruser.login FILTER html %] [%+ quips %] espri göndermiş. Eğer bu kullanıcı hesabını silerseniz, bu espri[% 'ler' IF votes > 1 %] sahipsiz olacak (fakat silinmeyecek).
          </li>
        [% END %]
        [% IF votes %]
          <li>
            [% otheruser.login FILTER html %] [%+ votes %] [%+ terms.bugLoc %] oy kullanmış. Eğer bu kullanıcı hesabını silerseniz, bu oy[% 'lar' IF votes > 1 %] kullanıcı hesabıyla birlikte silinir.
          </li>
        [% END %]
        [% IF watch.watched || watch.watcher %]
          <li>
            [% otheruser.login FILTER html %]
            [% IF watch.watched %]
              [%+ watch.watched %] kullanıcı tarafından izleniyor
            [% END %]
            [% IF watch.watcher %]
              [%+ 've' IF watch.watched %]
              [%+ watch.watcher %] kullanıcıyı izliyor
              [% END %]
            . Bu izleme[% 'ler' IF watch.watched + watch.watcher > 1 %] kullanıcı hesabının silinmesiyle kaldırılacak.
          </li>
        [% END %]
        [% IF whine_events %]
          <li>
            [% otheruser.login FILTER html %]
            [%+ whine_events %] alarm kurmuş. Bu alarm[% 'lar' IF whine_events > 1 %] kullanıcı hesabıyla birlikte silinecek.
          </li>
        [% END %]
        [% IF whine_schedules %]
          <li>
            [% otheruser.login FILTER html %] [%+ whine_schedules %] alarmın alıcısı olarak ayarlı.
            Alarmlar silinmeyecek fakat kullanıcı alıcılar listesinden silinecek.
          </li>
        [% END %]
      </ul>
    </div>

    [% IF accept_deletion %]
      <p class="areyoureallyreallysure">
        Devam etmeden önce yapılacak değişiklikleri tekrar gözden geçirmenizi tavsiye ederiz.
      </p>
      <p>Gerçekten bu kullanıcı hesabını silmek istiyor musunuz?</p>

      <form method="post" action="editusers.cgi">
        <p>
          <input type="submit" id="delete" value="Evet, sil"/>
          <input type="hidden" name="action" value="delete" />
          <input type="hidden" name="userid" value="[% otheruser.id %]" />
          <input type="hidden" name="token" value="[% token FILTER html %]">
          [% INCLUDE listselectionhiddenfields %]
        </p>
      </form>
      <p>Eğer bu kullanıcı hesabını silmek istemiyorsanız,
    [% ELSE %]
      <p>Yukarıda belirtilen nedenlerden dolayı <b>bu kullanıcı hesabını silemezsiniz</b>. Onun yerine,
    [% END %]

[% END %]

  <a href="editusers.cgi?action=edit&amp;userid=[% otheruser.id %]
           [% INCLUDE listselectionurlparams %]">kullanıcı kaydını değiştir</a>in,
 <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">kullanıcı listesine geri dön</a>ün,
  [% IF editusers %]
    <a href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">kullanıcı ekle</a>yin,
  [% END %]
  veya <a href="editusers.cgi">başka kullanıcı ara</a>yın.
</p>

[% PROCESS global/footer.html.tmpl %]
