<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

    <!-- Access Labels -->
    <action id="tr.org.pardus.comar.net.share.set">
        <description>Set internet sharing</description>
        <description xml:lang="tr">İnternet paylaşımını ayarlama</description>
        <message>System policy prevents setting internet connection sharing</message>
        <message xml:lang="tr">Sistem politikası internet bağlantı paylaşımını engelliyor.</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

</policyconfig>
