[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Translator		: Baris Ozyurt <baris@tuxworkshop.com>
  #%]

[%# INTERFACE:
  # This template has no interface. It's a list of the available report
  # types in Bugzilla.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Rapor ve Grafik Mutfağı"
%]

<p>
  [% terms.Bugzilla %] ile mevcut [% terms.bug %] veritabanını son derece güçlü biçimde 
  görüntüleyebilir ve izleyebilirsiniz.
</p>

<h2>Mevcut Durum</h2>

<ul>
  <li>
    <strong><a href="query.cgi">Arama</a></strong> -
    [% terms.bugs %] raporları içinde tarama.
  </li>
  <li>
    <strong>
      <a href="query.cgi?format=report-table">Tablo görünümlü raporlar</a>
    </strong> -
    HTML ya da CSV dosya biçiminde; 1, 2 ya da 3 boyutlu [% terms.bug %] sayı tabloları.
  </li>
  <li>
    <strong>
      <a href="query.cgi?format=report-graph">Grafiksel raporlar</a>
    </strong> -
    çizgi, çubuk ve pasta grafikleri.
  </li>
</ul>

<h2>Gerçekleşen Değişiklikler</h2>

<ul>
  <li>
    <strong><a href="reports.cgi">Eski Grafikler</a></strong> - 
    Veritabanındaki her bir ürün için süreç içerisinde girilmiş 
    [% terms.bugs %] durum ve/veya çözümlerinin çizimi.
  </li>
  [% IF UserInGroup(Param("chartgroup")) %]
    <li>
      <strong><a href="chart.cgi">Yeni Grafikler</a></strong> - 
      Sürecin grafiğinin belirlediğiniz arama ile çizdirilmesi.
    </li>
  [% END %]
</ul>

[% PROCESS global/footer.html.tmpl %]
