[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # token_ts: creation date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% expiration_ts = token_ts + (constants.MAX_TOKEN_AGE * 86400) %]
From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: hesap oluşturmayı onayla
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] sizin eposta adresinizle ([% email %]) bir hesap oluşturulması yönünde bir istek aldı.

Bu eposta adresini kullanarak bir hesap oluşturma işlemine devam etmek için, [%+ time2str("%B %o %Y saat %H:%M %Z", expiration_ts) %] olana kadar aşağıdaki bağlantıya girin:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=request_new_account

Eğer bu epostayı [%+ time2str("%B %o %Y saat %H:%M %Z", expiration_ts) %] geçtikten sonra aldıysanız veya farklı bir eposta adresi kullanarak hesap oluşturmak istiyorsanız, şu adresi kullanarak hesap oluşturma işlemine yeniden başlayabilirsiniz:

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
GİZLİLİK BİLDİRİMİ: [% terms.Bugzilla %] açık bir [% terms.bug %] takip sistemidir. Çoğu [% terms.bugsSin %] kaydındaki etkinlik ve bilgiler (eposta adresleri dahil) halkın erişimine açık olacaktır. Ana eposta hesabınıza spam eposta gelmesini engellemek adına ikinci bir eposta hesabı veya Gmail, Yahoo, Hotmail vb ücretsiz bir web eposta servisi kullanmanızı tavsiye ederiz.
[% END %]

Eğer bir hesap oluşturmak istemiyorsanız veya bu istek yanlışlıkla yapıldıysa aşağıdaki bağlantıya girin (veya hiçbirşey yapmayın, zaman dolunca istek otomatik olarak geçerliliğini yitirecektir):

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cancel_new_account

Eğer yukarıdaki bağlantılar çalışmıyorsa veya hesabınızla ilgili başka problemler yaşıyorsanız, yönetimle [% Param('maintainer') %] eposta adresinden iletişime geçebilirsiniz.
