[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %][% terms.Bugzilla %]'ya hoşgeldiniz[% END %]

[% PROCESS global/header.html.tmpl
   title = title
   header_addl_info = "sürüm $constants.BUGZILLA_VERSION"
   style_urls = [ 'skins/standard/index.css' ]
%]

<div id="welcome-admin">
  <p>Hoşgeldin [% user.identity FILTER html %].</p>

  <p>Bu sayfayı çekirdek parametrelerden bazıları henüz belirtilmemiş olduğu için 
  görüyorsunuz. Bu sayfa kurulumunuzu tamamlamak için yapmanız gereken son işler hakkında
  bilgilendirmeyi amaçlıyor.</p>

  <p>Bir yönetici olarak, bu sayfanın altında bazı yönetim bağlantıları göreceksiniz.
  Bu bağlantılar tüm sayfalarda her zaman görüntülenecek. Bu bağlantılardan en azından 
  bu kurulumun bütün önemli parametrelerini değiştirebileceğiniz 
  <a href="editparams.cgi">Parametreler</a> sayfasına girmelisiniz.
  Bu bağlantıya tıklayarak, şunları (ve daha fazlasını) ayarlayabilirsiniz:</p>

  <ul>
    <li><a href="editparams.cgi?section=core#maintainer">maintainer</a> (bakımcı), birşeyler yanlış 
    çalışıyorsa bu kurulumu düzeltmekten sorumlu kişi.</li>

    <li><a href="editparams.cgi?section=core#urlbase">urlbase</a> (URLtabanı), bu kuruluma 
    işaret eden ve e-postalarda kullanılacak olan URL (ki bu sayfayı da o nedenle 
    görüyorsunuz: bu parametreyi ayarlamadığınız sürece bu sayfayı her seferinde 
    göreceksiniz).</li>

    <li><a href="editparams.cgi?section=core#cookiepath">cookiepath</a> (çerez yolu) tarayıcınızın 
    çerezleri doğru şekilde yönetebilmesi için önemli.</li>

    <li><a href="editparams.cgi?section=core#utf8">utf8</a> tüm metinleri isteğinize 
    bağlı olarak UTF-8'e dönüştürmenizi sağlar. Bu parametreyi açık tutmanızı tavsiye ederiz.</li>
  </ul>

  <p>Şu parametreler de önemlidir:</p>

  <ul>
    <li><a href="editparams.cgi?section=auth#requirelogin">requirelogin</a> (oturumgerektir), 
    açıksa, kurulumunuzu oturum açmamış kullanıcılardan korur. Diğer bir deyişle, geçerli 
    bir oturumla doğrulanmamış kullanıcılar veri göremez. Eğer verilerinizi gizli tutmak istiyorsanız bunu açmalısınız.</li>

    <li><a href="editparams.cgi?section=auth#createemailregexp">createemailregexp</a>
    (e-postaoluşturDE) bu kurulumda kimlerin hesap oluşturmasına izin verildiğini belirtir. 
    Eğer ".*" olarak ayarlanmışsa (öntanımlıdır) herkes kendine bir hesap açabilir. Eğer 
    "@sirketim.com$" ise, sadece @sirketim.com'da hesap sahibi olan kullanıcıların hesap 
    oluşturmasına izin verilir. Eğer boş bırakılırsa, kullanıcılar kendileri hesap 
    oluşturamazlar, sadece bir yönetici onlar için bir hesap oluşturabilir. Eğer gizli 
    bir kurulum istiyorsanız, bu parametreyi öntanımlı değeri dışında birşeye ayarlamalısınız.</li>

    <li><a href="editparams.cgi?section=mta#mail_delivery_method">mail_delivery_method</a>
    (posta_gönderme_yöntemi) e-posta göndermek için kullanılan yöntemi (SMTP veya sendmail 
    gibi) belirler. Eposta göndermek için bu ayarı doğru şekilde yapmalısınız.</li>
  </ul>

  <p>
    Tüm bunları ayarladıktan sonra, uygun bir zamanda ne yaptıklarını anlamak ve kendi kurulumunuz için onları değiştirmek isteyip istemediğinize karar vermek için [% terms.BugzillaGen %] diğer parametrelerine de bakmanızı tavsiye ederiz.
  </p>
</div>

[% PROCESS global/footer.html.tmpl %]
