[Desktop Entry]
Name=Firewall Config
Name[tr]=Güvenlik Duvarı Ayarları
Name[de]=Firewall-Konfiguration
Name[es]=Configurar Cortafuegos
Name[nl]=Firewall configuratie
Name[pt_BR]=Configuração de Firewall
Name[sv]=Brandväggskonfiguration
GenericName=Firewall Configuration
GenericName[en]=Firewall Configuration
GenericName[es]=Configurar Cortafuegos
GenericName[nl]=Firewall configuratie
GenericName[tr]=Güvenlik Duvarı Ayarları
GenericName[de]=Firewall-Konfiguration
GenericName[pt_BR]=Configuração de Firewall
GenericName[sv]=Brandväggskonfiguration
Comment=Firewall Configuration Interface
Comment[tr]=Güvenlik Duvarı Ayarları
Comment[de]=Firewall-Konfigurations-Schnittstelle
Comment[es]=Interfaz para configurar el cortafuegos
Comment[nl]=Firewall configuratie interface
Comment[pt_BR]=Interface de Configuração de Firewall
Comment[sv]=Gränssnitt för brandväggskonfiguration
Icon=firewall_config
X-KDE-ModuleType=Library
X-KDE-Library=firewall-config
X-KDE-FactoryName=firewall_config
X-KDE-RootOnly=false
X-Tasma-Fork=false
Type=Application
Exec=firewall-config
Categories=Qt;KDE;System;X-KDE-settings-network;X-KDE-tasma-network;
