[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  # Translator		: Baris Ozyurt <baris@tuxworkshop.com>
  #%]

[%# INTERFACE:
  # bugid: integer. ID of the bug we just attached an attachment to.
  # attachid: integer. ID of the attachment just created.
  # description: string. Description of the attachment just created.
  # contenttype: string. The Content Type we attached it as.
  # contenttypemethod: string. How we got the content type of the attachment.
  #  Possible values: autodetect, list, manual.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Değişiklikler Gönderildi"
  style = "th { text-align: left; }"
%]

<table border="1">
  <tr>
    <td>
      <h2>
        <a href="show_bug.cgi?id=[% bugid %]">[% bugid %] Numaralı [% terms.Bug %]</a> için 
        <a title="[% description FILTER html %]" href="attachment.cgi?id=[% attachid %]&amp;action=edit">[% attachid %] Numaralı Eklenti</a>
        Oluşturuldu
      </h2>

      [% PROCESS "bug/process/bugmail.html.tmpl" mailing_bugid = bugid %]

      [% IF contenttypemethod == 'autodetect' %]
        <p>
          <b>Not:</b> [% terms.Bugzilla %] bu eklentinin içerik türünü
          <em>[% contenttype %]</em> olarak algıladı.  Eğer içerik türü hatalıysa, 
          <a href="attachment.cgi?id=[% attachid %]&amp;action=edit">eklentiyi değiştirerek</a> değeri düzeltebilirsiniz.
        </p>
      [% END %]
    </td>
    <td>
      <a href="show_bug.cgi?id=[% bugid %]">[% bugid %] numaralı [% terms.bug %] raporuna dönüş</a>
    </td>
  </tr>
</table>

<p>
<a href="attachment.cgi?bugid=[% bugid %]&amp;action=enter">
 [% bugid %] Numaralı [% terms.Bug %] Raporu İçin Başka Bir Dosya Eklentisi Oluşturma</a>
</p>

[% PROCESS global/footer.html.tmpl %]
