[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell fonts
Icon=fonts
Type=Application
DocPath=kcontrol/fonts/index.html

X-KDE-ModuleType=Library
X-KDE-Library=fonts
X-KDE-FactoryName=fonts
X-KDE-ParentApp=tasma

Name=Fonts
Name[tr]=Yazıtipleri
Name[nl]=Lettertypes
Name[es]=Fuentes del Sistema
Name[de]=Schriftarten
Name[pt_BR]=Fontes
Name[fr]=Fontes
Name[it]=Caratteri
Name[sv]=Teckensnitt

Comment=Font settings
Comment[tr]=Yazıtipi ayarları
Comment[nl]=Lettertypes instellingen
Comment[es]=Fuentes del Sistema
Comment[de]=Schriftarteinstellungen
Comment[pt_BR]=Configurações de fontes
Comment[fr]=Configuration des Fontes
Comment[it]=Configurazione dei caratteri
Comment[sv]=Anpassa teckensnitt

Keywords=fonts,font size,styles,charsets,character sets,panel,kicker,control panel,desktops,FileManager,Toolbars,Menu,Window Title,Title
Keywords[tr]=yazıtipleri,yazı boyutu,stil,karakter kümesi,panel,kicker,denetim masası,masaüstü,masaüstleri,Araç Çubuğu,Menü,Pencere Başlığı,Başlık
Keywords[nl]=fonts,font,letters,lettertypen,lettertypes,tekenset,tekenverzamelingen,paneel,kicker,configuratiecentrum,stijl,bestandsbeheerder,werkbalk,menu,venster,titel,venstertitel,desktops,bureaubladen
Keywords[es]=fuentes,tamaño de fuentes,estilos,juegos de caracteres,panel,kicker,panel de control,escritorios,Administrador de Archivos,Barras de Herramientas,Menu,Título de Ventana,Título
Keywords[de]=Schriftarten,Schriftgrad,Stile,Zeichenkodierung,Leiste,Kicker,Kontrollleiste,Arbeitsflächen,DateiManager,Symbolleiste,Menü,Fenstertitel,Titel
Keywords[pt_BR]=fontes,tamanho de fontes,estilos,conjunto de caracteres,painel,kicker,painel de controle,áreas de trabalho,Gerenciador de Arquivos,Barras de Ferramentas,Menu,Título da Janela,Título
Keywords[fr]=fontes,taille de fonte,styles,jeux de caractères,panneau,kicker,panneau de configuration,bureaux,Gestionnaire de fichier,Barre d'outils,Menu,Titre de fenêtre,Titre
Keywords[it]=caratteri,dimensione dei caratteri,stili,set di caratteri,pannello,kicker,pannello di controllo,desktop,File manager,Barre degli strumenti,Menu,Titolo della finestra,Titolo
Keywords[sv]=typsnitt,teckensnitt,typsnittstorlek,teckensnittstorlek,stil,teckenkodning,panel,kicker,kontrollpanel,inställningscentral,Filhanterare,Verktygsrader,Meny,Fönstertitel,Titel

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel;
