[Desktop Entry]
Icon=trashcan_empty
Encoding=UTF-8

Comment=Privacy - a kcontrol module to clean unwanted traces the user leaves on the system
Comment[tr]=Gizlilik - kullanıcının sistemde bıraktığı iztenilmeyen izlemeleri temizleyen kcontrol modülü
Comment[nl]=Privacy - een configuratiemodule waarmee u ongewenste sporen kunt wissen.
Comment[de]=Privatsphäre - ein KControl Modul zum säubern der unerwünschten Spuren auf dem System
Comment[pt_BR]=Privacidade - um módulo do kcontrol para limpar rastros indesejáveis que o usuário deixa no sistema
Comment[fr]=Vie privée - un module kcontrol permettant de nettoyer toutes les traces indésirables lorsque l'utilisateur quitte le système
Comment[it]=Privacy - un modulo kcontrol che permette di pulire le tracce indesiderate che un utente lascia sul sistema
Comment[sv]=Integritet - en modul i Inställningscentralen för att ta bort oönskade spår användaren lämnat i systemet

Exec=kcmshell privacy

Keywords=Privacy,privacy
Keywords[tr]=gizlilik
Keywords[nl]=Privacy,privacy
Keywords[es]=Privacidad
Keywords[de]=Privatsphäre
Keywords[pt_BR]=Privacidade,privacidade
Keywords[fr]=Vie privée, vie privée
Keywords[it]=Privacy,privacy
Keywords[sv]=Integritet,privatliv

Name=Privacy
Name[tr]=Gizlilik
Name[nl]=Privacy
Name[es]=Privacidad
Name[de]=Privatsphäre
Name[pt_BR]=Privacidade
Name[fr]=Vie privée
Name[it]=Privacy
Name[sv]=Integritet

Terminal=false
Type=Application
X-KDE-FactoryName=privacy
X-KDE-Library=privacy
X-KDE-ModuleType=Library
Categories=Qt;KDE;X-KDE-settings-security;X-KDE-tasma-useraccount;
