[Desktop Entry]
Encoding=UTF-8
Icon=encrypted
Type=Application
Exec=kcmshell crypto
DocPath=kcontrol/crypto/index.html
X-KDE-ModuleType=Library
X-KDE-Library=crypto
X-KDE-ParentApp=tasma

Name=Crypto
Name[tr]=Şifreleme
Name[nl]=Cryptografie
Name[es]=Encriptación
Name[de]=Verschlüsselung
Name[pt_BR]=Criptografia
Name[fr]=Cryptographie
Name[it]=Crittografia
Name[sv]=Krypto

Comment=Configure SSL, manage certificates, and other cryptography settings
Comment[tr]=SSL,sertifika,sertifika ayarları,diğer şifreleme ayarları
Comment[nl]=Hier kunt u SSL, certificatenbeheer en andere cryptografische instellingen wijzigen
Comment[es]=Configurar SSL, administrar certificados y otros parámetros de criptografía
Comment[de]=SSL konfigurieren, Zertifikate verwalten, und andere Kryptografie-Einstellungen
Comment[pt_BR]=Configurar SSL, gerenciar certificados e outras configurações de criptografia
Comment[fr]=Configurer SSL, Gérer les certificats et autres configurations liées à la cryptographie
Comment[it]=Configutare SSL, gestire i certificati e altre impostazioni di crittografia
Comment[sv]=Anpassa SSL, hantera certifikat, samt andra kryptografiska inställningar

Keywords=Crypto,Krypto,Cryptography,encryption,SSL,https,certificates,ciphers,TLS,secure,security
Keywords[tr]=Şifre,şifreleme,şifrebilim,SSL,https,sertifika,TLS,güvenlik,güvenli
Keywords[nl]=crypto,krypto,cryptografie,encryptie,ssl,https,certificaten,ciphers,tls,beveiliging,veilig,codering,gecodeerd,versleuteling
Keywords[es]=crypto,krypto,criptografía,encriptación,ssl,https,certificados,ciphers,tls,seguro,seguridad
Keywords[de]=Verschlüsselung,Verschlüsselung,Kryptografie,Versclüsselung,SSL,https,Zertifikate,verschlüsseln,TLS,sicher,Sicherheit
Keywords[pt_BR]=crypto,krypto,criptografia,encriptação,SSL,https,certificados,cifras,TLS,segure,segurança
Keywords[fr]=crypto,krypto,cryptographie,encryption,SSL,https,certificats,chiffreurs,TLS,sécuriser,sécurité
Keywords[it]==crypto,critto,crittografia,ciframento,SSL,https,certificati,cifre,TLS,sicuro,sicurezza
Keywords[sv]=Crypto,Krypto,Kryptografi,kryptering,SSL,https,certifikat,krypton,TLS,säkra,säkerhet

Categories=Qt;KDE;X-KDE-settings-security;X-KDE-tasma-useraccount;
