[Desktop Entry]
Name=Font Installer
Name[tr]=Yazıtipi Kurucusu
Name[nl]=Lettertype installatie
Name[es]=Instalar Fuentes
Name[de]=Schriftart-Installation
Name[pt_BR]=Instalador de Fontes
Name[fr]=Installeur de Fontes
Name[it]=Installatore di caratteri
Name[sv]=Installation av teckensnitt

Comment=Install & preview fonts
Comment[tr]=Yazıtiplerini kur ve önizle
Comment[nl]=Lettertypen installeren en bekijken
Comment[es]=Instalar & Previsuallizar Fuentes
Comment[de]=Schriftarten installieren & Vorschau anzeigen
Comment[pt_BR]=Instalar & pré-visualizar fontes
Comment[fr]=Installer & prévisualiser des fontes
Comment[it]=Installa e vedi un'anteprima dei caratteri
Comment[sv]=Installera och förhandsgranska teckensnitt

X-KDE-ModuleType=Library
X-KDE-Library=fontinst
X-KDE-FactoryName=fontinst
X-KDE-RootOnly=true
Type=Application
Icon=fonts
Exec=kcmshell kcmfontinst

Categories=Qt;KDE;X-KDE-settings-system;X-KDE-tasma-looknfeel;

