[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell keyboard_layout
Icon=kxkb
Type=Application
DocPath=kxkb/index.html

X-KDE-ModuleType=Library
X-KDE-Library=keyboard
X-KDE-FactoryName=keyboard_layout
X-KDE-Init=keyboard_layout
X-KDE-ParentApp=tasma

Name=Keyboard Layout
Name[tr]=Klavye Düzeni
Name[nl]=Toetsenbord-indeling
Name[es]=Distribución de Teclado
Name[de]=Tastaturbelegung
Name[pt_BR]=Layout do Teclado
Name[fr]=Disposition des touches du clavier
Name[it]=Layout della tastiera
Name[sv]=Tangentbordslayout

Comment=Keyboard Layout
Comment[tr]=Klavye Düzeni
Comment[nl]=Toetsenbordindeling
Comment[es]=Distribución de Teclado
Comment[de]=Tastaturbelegung
Comment[pt_BR]=Layout do Teclado
Comment[fr]=Disposition des touches du clavier
Comment[it]=Disposizione della tastiera
Comment[sv]=Anpassa tangentbordets layout

Keywords=Keyboard,Layout,International
Keywords[tr]=Klavye,Yerleşim,Düzen,Uluslararası
Keywords[nl]=keyboard,toetsenbord,keyboard layout,toetsenbordindeling,input devices,invoerapparaten,randapparaten
Keywords[es]=Teclado,Layout,Internacional
Keywords[de]=Tastatur,Belegung,International
Keywords[pt_BR]=Teclado,Layout,Internacional
Keywords[fr]=Clavier,Disposition,International
Keywords[it]=Tastiera,Layout,Internazionale
Keywords[sv]=Tangentbord,Layout,Internationell

Categories=Qt;KDE;X-KDE-settings-accessibility;X-KDE-tasma-peripherals;
