[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
Icon=packagemanager
Type=Application
MimeType=application/x-pisi;
Exec="package-manager --install %u"
