[Wallpaper]
Encoding=UTF-8
File=circus-bw_clubs_w.jpg
Name= Circus - Clubs (bw) [Wide Screen]
Name[de]= Circus - Clubs (bw) [Widescreen]
Name[tr]= Sirk - Lobutlar (sb) [Geniş Ekran]
Name[nl]= Circus - Clubs (bw) [Breedbeeld]
Name[pt_BR]= Circus - Clubs (bw) [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide
