[Wallpaper]
Encoding=UTF-8
File=circus-bw_ball_w.jpg
Name= Circus - Ball (bw) [Wide Screen]
Name[de]= Circus - Ball (bw) [Widescreen]
Name[tr]= Sirk - Top (sb) [Geniş Ekran]
Name[nl]= Circus - Ball (bw) [Breedbeeld]
Name[pt_BR]= Circus - Ball (bw) [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide
