[Wallpaper]
Encoding=UTF-8
File=circus-bw_hats.jpg
Name= Circus - Hats (bw)
Name[de]= Circus - Hats (bw)
Name[tr]= Sirk - Şapkalar (sb)
Name[nl]= Circus - Hats (bw)
Name[pt_BR]= Circus - Hats (bw)
ImageType=pixmap
Author=Emrah
