[Wallpaper]
Encoding=UTF-8
File=circus_flyinghats.jpg
Name= Circus - Flying Hats
Name[de]= Circus - Flying Hats
Name[tr]= Sirk - Uçan Şapkalar
Name[nl]= Circus - Flying Hats
Name[pt_BR]= Circus - Flying Hats
ImageType=pixmap
Author=Emrah
