[Wallpaper]
Encoding=UTF-8
File=circus-bw_ball.jpg
Name= Circus - Ball (bw)
Name[de]= Circus - Ball (bw)
Name[tr]= Sirk - Top (sb)
Name[nl]= Circus - Ball (bw)
Name[pt_BR]= Circus - Ball (bw)
ImageType=pixmap
Author=Emrah
