[Wallpaper]
Encoding=UTF-8
File=circus-bw_cycle.jpg
Name= Circus - Unicycle (bw)
Name[de]= Circus - Unicycle (bw)
Name[tr]= Sirk - Mono (sb)
Name[nl]= Circus - Unicycle (bw)
Name[pt_BR]= Circus - Unicycle (bw)
ImageType=pixmap
Author=Emrah
