[Wallpaper]
Encoding=UTF-8
File=circus_flyingboxes.jpg
Name= Circus - Flying Boxes
Name[de]= Circus - Flying Boxes
Name[tr]= Sirk - Uçan Kutular
Name[nl]= Circus - Flying Boxes
Name[pt_BR]= Circus - Flying Boxes
ImageType=pixmap
Author=Emrah
