[Wallpaper]
Encoding=UTF-8
File=circus-bw_cycle_w.jpg
Name= Circus - Unicycle (bw) [Wide Screen]
Name[de]= Circus - Unicycle (bw) [Widescreen]
Name[tr]= Sirk - Mono (sb) [Geniş Ekran]
Name[nl]= Circus - Unicycle (bw) [Breedbeeld]
Name[pt_BR]= Circus - Unicycle (bw) [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide
