[Wallpaper]
Encoding=UTF-8
File=circus_flyinghats_w.jpg
Name= Circus - Flying Hats [Wide Screen]
Name[de]= Circus - Flying Hats [Widescreen]
Name[tr]= Sirk - Uçan Şapkalar [Geniş Ekran]
Name[nl]= Circus - Flying Hats [Breedbeeld]
Name[pt_BR]= Circus - Flying Hats [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide

