[Wallpaper]
Encoding=UTF-8
File=circus_flyingballs.jpg
Name= Circus - Flying Balls
Name[de]= Circus - Flying Balls
Name[tr]= Sirk - Uçan Toplar
Name[nl]= Circus - Flying Balls
Name[pt_BR]= Circus - Flying Balls
ImageType=pixmap
Author=Emrah
