[Wallpaper]
Encoding=UTF-8
File=circus-bw_clubs.jpg
Name= Circus - Clubs (bw)
Name[de]= Circus - Clubs (bw)
Name[tr]= Sirk - Lobutlar (sb)
Name[nl]= Circus - Clubs (bw)
Name[pt_BR]= Circus - Clubs (bw)
ImageType=pixmap
Author=Emrah
