[Wallpaper]
Encoding=UTF-8
File=circus_flyingballs_w.jpg
Name= Circus - Flying Balls [Wide Screen]
Name[de]= Circus - Flying Balls [Widescreen]
Name[tr]= Sirk - Uçan Toplar [Geniş Ekran]
Name[nl]= Circus - Flying Balls [Breedbeeld]
Name[pt_BR]= Circus - Flying Balls [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide
