[Wallpaper]
Encoding=UTF-8
File=circus_flyingclubs_w.jpg
Name= Circus - Flying Clubs [Wide Screen]
Name[de]= Circus - Flying Clubs [Widescreen]
Name[tr]= Sirk - Uçan Lobutlar [Geniş Ekran]
Name[nl]= Circus - Flying Clubs [Breedbeeld]
Name[pt_BR]= Circus - Flying Clubs [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide
