[Wallpaper]
Encoding=UTF-8
File=circus_flyingboxes_w.jpg
Name= Circus - Flying Boxes [Wide Screen]
Name[de]= Circus - Flying Boxes [Widescreen]
Name[tr]= Sirk - Uçan Kutular [Geniş Ekran]
Name[nl]= Circus - Flying Boxes [Breedbeeld]
Name[pt_BR]= Circus - Flying Boxes [Tela larga]
ImageType=pixmap
Author=Emrah
Resolution=Wide
