[Wallpaper]
Encoding=UTF-8
File=pardus_mood_w.png
Name=Pardus Mood [Wide Screen]
Name[tr]=Pardus Halet-i Ruhiye [Geniş Ekran]
ImageType=pixmap
Author=Gökmen Göksel
