[Wallpaper]
Encoding=UTF-8
File=tepecik_03.png
Name= Tepecik - 03
Name[de]= Tepecik - 03
Name[tr]= Tepecik - 03
Name[nl]= Tepecik - 03
Name[pt_BR]= Tepecik - 03
ImageType=pixmap
Author=Gokhan
