[Wallpaper]
Encoding=UTF-8
File=tepecik_03_w.png
Name= Tepecik - 03 [Wide Screen]
Name[de]= Tepecik - 03 [Widescreen]
Name[tr]= Tepecik - 03 [Geniş Ekran]
Name[nl]= Tepecik - 03 [Breedbeeld]
Name[pt_BR]= Tepecik - 03 [Tela larga]
ImageType=pixmap
Author=Gokhan
Resolution=Wide
