[Wallpaper]
Encoding=UTF-8
File=tepecik_01_w.png
Name= Tepecik - 01 [Wide Screen]
Name[de]= Tepecik - 01 [Widescreen]
Name[tr]= Tepecik - 01 [Geniş Ekran]
Name[nl]= Tepecik - 01 [Breedbeeld]
Name[pt_BR]= Tepecik - 01 [Tela larga]
ImageType=pixmap
Author=Gokhan
Resolution=Wide
