[Wallpaper]
Encoding=UTF-8
File=tepecik_02.png
Name= Tepecik - 02
Name[de]= Tepecik - 02
Name[tr]= Tepecik - 02
Name[nl]= Tepecik - 02
Name[pt_BR]= Tepecik - 02
ImageType=pixmap
Author=Gokhan
