[Wallpaper]
Encoding=UTF-8
File=tepecik_01.png
Name= Tepecik - 01
Name[de]= Tepecik - 01
Name[tr]= Tepecik - 01
Name[nl]= Tepecik - 01
Name[pt_BR]= Tepecik - 01
ImageType=pixmap
Author=Gokhan
