[Wallpaper]
Encoding=UTF-8
File=tepecik_02_w.jpg
Name= Tepecik - 02 [Wide Screen]
Name[de]= Tepecik - 02 [Widescreen]
Name[tr]= Tepecik - 02 [Geniş Ekran]
Name[nl]= Tepecik - 02 [Breedbeeld]
Name[pt_BR]= Tepecik - 02 [Tela larga]
ImageType=pixmap
Author=Gokhan
Resolution=Wide
