[Desktop Entry]
Encoding=UTF-8
Icon=access
Type=Application
Exec=kcmshell kcmaccess
DocPath=kcontrol/kcmaccess/index.html

X-KDE-ModuleType=Library
X-KDE-Library=access
X-KDE-Init=access
X-KDE-ParentApp=tasma

Name=Accessibility
Name[tr]=Erişilebilirlik
Name[nl]=Toegankelijkheid
Name[es]=Accesabilidad
Name[de]=Zugänglichkeit

Comment=Improve accessibility for disabled persons
Comment[tr]=Görme sorunu olanlar için erişilebilirlik seçenekleri
Comment[nl]=Verbeterde toegankelijkheid voor gebruikers met een handicap
Comment[es]=Mejora acceso para personas con disapacidades
Comment[de]=Zugänglichkeit für Personen mit Behinderungen verbessern

Keywords=access,accessibility,deaf,impaired,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad
Keywords[tr]=erişim,erişilebilirlik,sağır,özürlü,zil,duyulabilir zil,görünür zil,Klavye,tuşlar,yapışkan tuşlar,zıplayan tuşlar,yavaş tuşlar,fare yönlendirmesi,num pad
Keywords[nl]=toegang,toegankelijkheid,doof,handicap,gehandicapt,bel,signalering,zichtbare meldingen,Keyboard,toetsenbord,keys,toetsen,vastgeplakte toetsen,toetsenaanslag,muisnavigatie,num pad,numerieke klavier
Keywords[es]=acceso,accesibilidad,sordo,discapacidado,campana,campana audible,campana visible,Teclado,teclas,teclas pegajosas,bounce keys,teclas lentas,navegación de ratón,teclas numéricas
Keywords[de]=Zugang, Erreichbarkeit,taub,beeinträchtigt,Klingel,akustische Klingel,sichtbare Klingel,Tastatur,Tasten,Sticky-Keys,Bounce-Keys,langsame Tasten, Maus-Navigation,Nummernblock

Categories=Qt;KDE;X-KDE-settings-accessibility;X-KDE-tasma-localization
