[Desktop Entry]
Encoding=UTF-8
Icon=go
Type=Application
DocPath=kcontrol/kcmtaskbar/index.html
Exec=kcmshell kcmtaskbar

X-KDE-ModuleType=Library
X-KDE-Library=taskbar
X-KDE-FactoryName=taskbar
X-KDE-ParentApp=tasma

Name=Taskbar
Name[tr]=Görev Çubuğu
Name[nl]=Taakbalk
Name[es]=Barra de Tareas
Name[de]=Taskleiste

Comment=Configure the panel taskbar
Comment[tr]=Panel görev çubuğunu yapılandır
Comment[nl]=Hier kunt u de taakbalk van het paneel instellen
Comment[es]=Configuración de barra de tareas del panel
Comment[de]=Taskleiste konfigurieren

Keywords=kicker,panel,kpanel,taskbar,startbar,launchbar,windows
Keywords[tr]=kicker,panel,kpanel,görev çubuğu,başlangıç çubuğu,yükleme çubuğu,pencere,pencereler
Keywords[nl]=kicker,panel,paneel,kpanel,takenbalk,startbalk,launchbar,startmenu,vensters,taakbalk
Keywords[es]=kicker,panel,kpanel,barra de tareas,barra de inicio,launchbar,ventanas
Keywords[de]=Kicker,Leiste,KPanel,Taskleiste,Startleiste,Startleiste,Fenster

Categories=Qt;KDE;X-KDE-settings-desktop;X-KDE-tasma-desktop
