[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell tasmatv
Icon=tv
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=tasmatv
X-KDE-RootOnly=true
X-KDE-ParentApp=tasma
X-KDE-SubstituteUID=true

Name=Tv Card Configuration
Name[tr]=Tv Kartı Yapılandırması
Name[nl]=TV-kaart configuratie
Name[es]=Configurar Tarjeta de TV
Name[de]=Konfiguration der TV-Karte
Name[pt_BR]=Configuração da Placa de TV
Name[sv]=TV-kortsinställning

Categories=Qt;KDE;X-KDE-settings-system;X-KDE-tasma-sound;

Comment=Tv Card Configuration
Comment[tr]=Tv Kartı Yapılandırması
Comment[sv]=TV-kortsinställning
