[Desktop Entry]
Name=Proxy-manager
Name[tr]=Vekil Sunucu Ayarları
Name[es]=Administrador de Proxy
Encoding=UTF-8
Type=Application

Exec=proxy-manager
X-KDE-ModuleType=Library
X-KDE-Library=proxy-manager
X-KDE-FactoryName=proxy_manager
X-KDE-RootOnly=false
X-Tasma-Fork=true
Icon=proxy
Comment=Configure proxy settings
Comment[tr]=Vekil sunucularını yapılandırın
Comment[es]=Configuración del servidor proxy

Categories=Qt;KDE;X-KDE-settings-system;X-KDE-tasma-network
