[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=ibus
Name[tr]=ibus
GenericName=ibus
GenericName[tr]=ibus
Icon=ibus
Exec=ibus
Terminal=false
StartupNotify=false
Categories=Application;Game;
