[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Elliotte Martin <elliotte_martin@yahoo.com>
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% PROCESS global/variables.none.tmpl %]

[% field_descs = { "[Bug creation]"          => "[$terms.Bug oluşturma]",
                   "actual_time"             => "Güncel Saatler"
                   "alias"                   => "Sembolik Ad",
                   "assigned_to"             => "Atanan",
                   "attach_data.thedata"     => "Eklenti verisi",
                   "attachments.description" => "Eklenti açıklaması",
                   "attachments.filename"    => "Eklenti dosya adı",
                   "attachments.mimetype"    => "Eklenti MIME türü",
                   "attachments.ispatch"     => "Eklenti bir yama",
                   "attachments.isobsolete"  => "Eklenti geçersiz olarak işaretlendi",
                   "attachments.isprivate"   => "Eklenti gizli olarak işaretlendi",
                   "attachments.isurl"       => "Eklenti bir URL",
                   "attachments.submitter"   => "Eklentiyi gönderen",
                   "blocked"                 => "Engelleyen",
                   "bug_file_loc"            => "URL",
                   "bug_group"               => "Grup",
                   "bug_id"                  => "$terms.Bug Numarası",
                   "bug_severity"            => "Önem",
                   "bug_status"              => "Durum",
                   "changeddate"             => "Değişti",
                   "cc"                      => "CC",
                   "classification"          => "Sınıflandırma",
                   "cclist_accessible"       => "CC listesi erişilebilir",
                   "commenter"               => "Yorum Yapan",
                   "component_id"            => "Bileşen ID",
                   "component"               => "Bileşen",
                   "content"                 => "İçerik",
                   "creation_ts"             => "Oluşturma zamanı",
                   "deadline"                => "Son teslim zamanı",
                   "delta_ts"                => "Değişim aralığı",
                   "dependson"               => "Bağımlı olduğu",
                   "dup_id"                  => "Aynısı olduğu",
                   "estimated_time"          => "Öngörülen zaman",
                   "everconfirmed"           => "Onaylandı mı?",
                   "flagtypes.name"          => "Bayrak",
                   "keywords"                => "Anahtarlar",
                   "longdesc"                => "Yorum",
                   "longdescs.isprivate"     => "Yorum gizli",
                   "newcc"                   => "CC",
                   "op_sys"                  => "İşletim Sistemi",
                   "opendate"                => "Açılma Tarihi",
                   "owner_idle_time"         => "Atanan hata ilgilenmeye başladığından beri",
                   "percentage_complete"     => "Tamamlanma %",
                   "priority"                => "Öncelik",
                   "product_id"              => "Ürün Numarası",
                   "product"                 => "Ürün",
                   "qa_contact"              => "Kalite Kontrol Sorumlusu",
                   "remaining_time"          => "Kalan Zaman",
                   "rep_platform"            => "Mimari",
                   "reporter"                => "Raporlayıcı",
                   "reporter_accessible"     => "Raporlayıcı erişilebilir",
                   "requestees.login_name"   => "Bayrak isteyen",
                   "resolution"              => "Çözüm",
                   "see_also"                => "Ayrıca gör",
                   "setters.login_name"      => "Bayrak atayan",
                   "setting"                 => "Tercih",
                   "settings"                => "Tercihler",
                   "short_desc"              => "Özet",
                   "status_whiteboard"       => "Beyaz Tahta",
                   "target_milestone"        => "Hedef Mihenk Taşı",
                   "version"                 => "Sürüm",
                   "votes"                   => "Oylar",
                   "work_time"               => "Çalışılan Saatler"} %]

[%# Also include any custom fields or fields which don't have a
    Description here, by copying their Description from the
    database. If you want to override this for your language
    or your installation, just use a hook. %]
[% UNLESS Param('shutdownhtml') %]
  [% FOREACH bz_field = bug_fields.values %]
    [% SET field_descs.${bz_field.name} = bz_field.description
       IF !field_descs.${bz_field.name}.defined %]
  [% END %]
[% END %]

[% SET search_descs = {
  "noop"           => "---",
  "equals"         => "eşittir",
  "notequals"      => "eşit değildir",
  "anyexact"       => "dizgelerin herhangi birine eşit",
  "substring"      => "dizgeyi içerir",
  "casesubstring"  => "dizgeyi içerir (büyük-küçük harf ayrımı yapar)",
  "notsubstring"   => "dizgeyi içermez",
  "anywordssubstr" => "dizgelerin herhangi birini içerir",
  "allwordssubstr" => "dizgelerin tümünü içerir",
  "nowordssubstr"  => "dizgelerin hiçbirini içermez",
  "regexp"         => "düzenli ifadeyle eşleşir",
  "notregexp"      => "düzenli ifadeyle eşleşmez",
  "lessthan"       => "küçüktür",
  "lessthaneq"     => "küçük veya eşittir",
  "greaterthan"    => "büyüktür",
  "greaterthaneq"  => "büyük veya eşittir",
  "anywords"       => "kelimelerin herhangi birini içerir",
  "allwords"       => "kelimelerin tümünü içerir",
  "nowords"        => "kelimelerin hiçbirini içermez",
  "changedbefore"  => "öncesinde değiştirilmiş",
  "changedafter"   => "sonrasında değiştirilmiş",
  "changedfrom"    => "tarihinden itibaren değiştirilmiş",
  "changedto"      => "sonraki değeri",
  "changedby"      => "tarafından değiştirildi",
  "matches"        => "eşleşir",
} %]

[% field_types = { ${constants.FIELD_TYPE_UNKNOWN}       => "Bilinmeyen Tür",
                   ${constants.FIELD_TYPE_FREETEXT}      => "Belirsiz Metin",
                   ${constants.FIELD_TYPE_SINGLE_SELECT} => "Düşen Kutular",
                   ${constants.FIELD_TYPE_MULTI_SELECT}  => "Çoklu Seçim Kutusu",
                   ${constants.FIELD_TYPE_TEXTAREA}      => "Büyük Metin Kutusu",
                   ${constants.FIELD_TYPE_DATETIME}      => "Tarih/Saat",
                   ${constants.FIELD_TYPE_BUG_ID}        => "$terms.Bug Numarası",
                } %]

[% status_descs = { "UNCONFIRMED" => "ONAYLANMADI",
                    "NEW"         => "YENİ",
                    "ASSIGNED"    => "ATANDI",
                    "REOPENED"    => "TEKRAR AÇILDI",
                    "RESOLVED"    => "KARAR VERİLDİ",
                    "VERIFIED"    => "ONAYLANDI",
                    "CLOSED"      => "KAPATILDI" } %]

[% MACRO get_status(status) GET status_descs.$status || status %]

[% resolution_descs = { "FIXED"      => "ÇÖZÜLDÜ",
                        "INVALID"    => "GEÇERSİZ",
                        "WONTFIX"    => "DÜZELTİLMEYECEK",
                        "DUPLICATE"  => "AYNISI",
                        "WORKSFORME" => "BENDEÇALIŞIYOR",
                        "MOVED"      => "TAŞINDI",
                        "LATER"      => "DAHASONRA",
                        "REMIND"     => "HATIRLAT",
                        "---"        => "---",
                        " "          => " " } %]

[% MACRO get_resolution(res) GET resolution_descs.$res || res %]

[% Hook.process("end") %]
