[Wallpaper]
Encoding=UTF-8
File=caracalge.jpg
Name=Caracal [Wide Screen]
Name[de]=Caracal [Widescreen]
Name[tr]=Caracal [Geniş Ekran]
Name[nl]=Caracal [Breedbeeld]
Name[pt_BR]=Caracal [Tela larga]
ImageType=pixmap
Author=Umut
Resolution=Wide
