[Wallpaper]
Encoding=UTF-8
File=felisge.jpg
Name=Felis chaus [Wide Screen]
Name[tr]=Felis chaus [Geniş Ekran]
Name[nl]=Felis chaus [Breedbeeld]
ImageType=pixmap
Author=Umut
Resolution=Wide
