[Wallpaper]
Encoding=UTF-8
File=lynxge.jpg
Name= Lynx [Wide Screen]
Name[de]= Lynx [Widescreen]
Name[tr]= Lynx [Geniş Ekran]
Name[nl]= Lynx [Breedbeeld]
Name[pt_BR]= Lynx [Tela larga]
ImageType=pixmap
Author=Umut
Resolution=Wide
