[Wallpaper]
Encoding=UTF-8
File=prds_gokyz03.jpg
Name=Pardus Sky [Green]
Name[tr]=Pardus Gökyüzü [Yeşil]
Name[pt_BR]=Céu Pardus [Verde]
Name[nl]=Pardus lucht [Groen]
ImageType=pixmap
Author=Umut
