[Wallpaper]
Encoding=UTF-8
File=prds_kus03.jpg
Name=Pardus Bird [Blue]
Name[tr]=Pardus Kuş [Mavi]
Name[pt_BR]=Pássaro Pardus [Azul]
Name[nl]=Pardus vogel [Blauw]
ImageType=pixmap
Author=Umut
