[Wallpaper]
Encoding=UTF-8
File=prds_kus01.jpg
Name=Pardus Bird [Gray]
Name[tr]=Pardus Kuş [Gri]
Name[pt_BR]=Céu Pardus [Cinza]
Name[nl]=Pardus vogel [Grijs]
ImageType=pixmap
Author=Umut
