[Wallpaper]
Encoding=UTF-8
File=prds_gokyz01.jpg
Name=Pardus Sky [Gray]
Name[tr]=Pardus Gökyüzü [Gri]
Name[pt_BR]=Céu Pardus [Cinza]
Name[pt_BR]=Pardus lucht [Grijs]
ImageType=pixmap
Author=Umut
