[Wallpaper]
Encoding=UTF-8
File=prds_gokyz02.jpg
Name=Pardus Sky [Blue]
Name[tr]=Pardus Gökyüzü [Mavi]
Name[pt_BR]=Céu Pardus [Azul]
Name[nl]=Pardus lucht [Blauw]
ImageType=pixmap
Author=Umut
