[Wallpaper]
Encoding=UTF-8
File=prds_gokyz04.jpg
Name=Pardus Sky [Yellow]
Name[tr]=Pardus Gökyüzü [Sarı]
Name[pt_BR]=Céu Pardus [Amarelo]
Name[nl]=Pardus lucht [Geel]
ImageType=pixmap
Author=Umut
