[Wallpaper]
Encoding=UTF-8
File=tullwall01.jpg
Name=Tulliana Wallpaper [Blue-1]
Name[tr]=Tulliana Arkaplan [Mavi-1]
Name[pt_BR]=Papel de Parede Tulliana [Azul-1]
Name[nl]=Tulliana achtergrond [Blauw-1]
ImageType=pixmap
Author=Umut
