[Wallpaper]
Encoding=UTF-8
File=tullwall05.jpg
Name=Tulliana Wallpaper [Yellow]
Name[tr]=Tulliana Arkaplan [Sarı]
Name[pt_BR]=Papel de Parede Tulliana [Amarelo]
Name[nl]=Tulliana achtergrond [Geel]
ImageType=pixmap
Author=Umut
