[Wallpaper]
Encoding=UTF-8
File=tullwall03.jpg
Name=Tulliana Wallpaper [Red]
Name[tr]=Tulliana Arkaplan [Kırmızı]
Name[pt_BR]=Papel de Parede Tulliana [Vermelho]
Name[nl]=Tulliana achtergrond [Rood]
ImageType=pixmap
Author=Umut
