[Wallpaper]
Encoding=UTF-8
File=tullwall04.jpg
Name=Tulliana Wallpaper [Green]
Name[tr]=Tulliana Arkaplan [Yeşil]
Name[pt_BR]=Papel de Parede Tulliana [Verde]
Name[nl]=Tulliana achtergrond [Groen]
ImageType=pixmap
Author=Umut
