[Wallpaper]
Encoding=UTF-8
File=tullwall06.jpg
Name=Tulliana Wallpaper [Gray]
Name[tr]=Tulliana Arkaplan [Gri]
Name[pt_BR]=Papel de Parede Tulliana [Cinza]
Name[nl]=Tulliana achtergrond [Grijs]
ImageType=pixmap
Author=Umut
