[Wallpaper]
Encoding=UTF-8
File=tullwall02.jpg
Name=Tulliana Wallpaper [Blue-2]
Name[tr]=Tulliana Arkaplan [Mavi-2]
Name[pt_BR]=Papel de Parede Tulliana [Azul-2]
Name[nl]=Tulliana achtergrond [Blauw-2]
ImageType=pixmap
Author=Umut
