{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr" xml:lang="tr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{{ language }}/rss/"/>
        <link rel="stylesheet" href="/media/security.css" type="text/css"/>
        <title>{% block title %}{% endblock %} Pardus Security Information</title>
    </head>
    <body>
        <div id="header">
            <div id="menu">
                {% block menu %}
                {% endblock %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
