[Desktop Entry]
Encoding=UTF-8
Name=System Services
Name[tr]=Sistem Servisleri
Name[sv]=Systemtjänster
Name[de]=Systemdienste
Name[x-test]=xxSystem Servicesxx
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=services

X-KDE-PluginInfo-Author=Gökmen GÖKSEL
X-KDE-PluginInfo-Email=gokmen@pardus.org.tr
X-KDE-PluginInfo-Name=systemservices
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://pardus.org.tr/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
