<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="1" name="pisix" >
 <MenuBar>
  <Menu noMerge="1" name="file" >
   <text>&amp;File</text>
   <Action name="show_action" />
   <Action name="operate_action" />
   <Action name="upgrade_packages" />
   <Action name="file_quit" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" >
  <Action name="show_action" />
  <Action name="remove_packages" />
  <Action name="operate_action" />
  <Action name="upgrade_packages" />
  <Action name="show_basket" />
 </ToolBar>
 <StatusBar/>
</kpartgui>
