[Desktop Entry]
Name=PiSi X
Name[en]=Add,Remove or Update Programs 
Name[tr]=Program Ekle, Güncelle veya Kaldır 
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Icon=pisix
Type=Application
Exec=kdesu pisix
Categories=Qt;KDE;System;
