[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell background
Icon=background
Type=Application
DocPath=kcontrol/background/index.html

X-KDE-ModuleType=Library
X-KDE-Library=background
X-KDE-FactoryName=background
X-KDE-ParentApp=tasma

Name=Background
Name[tr]=Arkaplan

Comment=Change the background settings
Comment[tr]=Arkaplan ayarlarını değiştirir

Keywords=background,desktops,colors,colours,images,wallpapers,blending,balance,cache,multiple wallpapers,pixmap
Keywords[tr]=artalan,masaüstü,renkler,renkler,resimler,duvar kağıtları,karıştırma,denge,ön bellek,çoklu duvar kağıtları,pixmap

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
