[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell fonts
Icon=font
Type=Application
DocPath=kcontrol/fonts/index.html

X-KDE-ModuleType=Library
X-KDE-Library=fonts
X-KDE-FactoryName=fonts
X-KDE-ParentApp=tasma

Name=Fonts
Name[tr]=Yazıtipleri

Comment=Font settings
Comment[tr]=Yazıtipi ayarları

Keywords=fonts,font size,styles,charsets,character sets,panel,kicker,control panel,desktops,FileManager,Toolbars,Menu,Window Title,Title
Keywords[tr]=yazıtipleri,yazı boyutu,stil,karakter kümesi,panel,kicker,denetim masası,masaüstü,masaüstleri,Araç Çubuğu,Menü,Pencere Başlığı,Başlık

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
