Package Name: cfitsio
---------------------

Pardus 2009
-----------

Packager        : Gokhan Ozbulak <gokhan@pardus.org.tr>
Version         : 3.2.0
Release         : 45
# of patches    : 32
Sub-packages    : cfitsio,cfitsio-devel

Pardus Corporate 2
------------------

Packager        : Onur Küçük <ozan@pardus.org.tr>
Version         : 3.1.0
Release         : 46
# of patches    : 0
Sub-packages    : cfitsio

