[Desktop Entry]
Name=Disk Manager
Name[tr]=Disk Yönetim Arayüzü
Name[de]=Festplatten-Manager
Name[fr]=Gestionnaire de Disque
Name[pt_BR]=Gerenciador de Discos
Name[es]=Puntos de Montaje
Name[nl]=Schijfbeheer
Name[it]=Gestore dei dischi
Name[sv]=Hårddiskhanteraren
GenericName=Disk Management Interface
GenericName[tr]=Disk Yönetim Arayüzü
GenericName[de]=Festplatten-Management-Schnittstelle
GenericName[fr]=Interface de Gestion de Disque
GenericName[es]=Gestión de Puntos de Montaje - FSTAB
GenericName[nl]=Schijfbeheer interface
GenericName[pt_BR]=Interface de Gerenciamento de Discos
GenericName[it]=Interfaccia di gestione dei dischi
GenericName[sv]=Gränssnitt till Hårddiskhanteraren
Icon=disk_manager
X-KDE-ModuleType=Library
X-KDE-Library=disk-manager
X-KDE-FactoryName=disk_manager
X-KDE-RootOnly=true
Type=Application
Exec=disk-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
Comment=Disk Manager
Comment[tr]=Disk Yönetim Arayüzü
Comment[sv]=Hårddiskhanteraren
