{% extends 'base.html' %}
{% block content %}
{% if error %}
Get some Error :<br/> {{error}}
{% endif %}
<h1>Ack/Nack</h1>
{% if stateBinarys  or stateBinarysOfUpdate %}
<div style="float:left;padding-left:10px">
    <form action="." method="post">
        <table class="altrowstable">
            {% for distro in distributions %}

            <tr>
                <th colspan="6">
                    <u><strong>{{distro}}</strong></u>
                </th>
            </tr>
            <tr><th>Maintained<br/>or Updated</th><th>Package Name</th><th>Ack</th><th>Nack</th><th>Null</th><th>Comment</th></tr>
        {% if stateBinarys %}
        {% for stateBinary in stateBinarys.object_list %}
            {% ifequal stateBinary.package.source.distribution distro %}
            <tr onmouseover="this.style.backgroundColor='#d4e3e5';" onmouseout="this.style.backgroundColor='#ffffff';" >
                <td>
                    {% ifequal stateBinary.package.source.maintained_by user%}
                    Maintained
                    {% else %}
                    Updated
                    {% endifequal %}
                </td>
                <td>
                    <div class="test_{{stateBinary.is_Ack}}" >
                        {{stateBinary}}
                    </div>
                </td>
                <td>
                    <input type="radio" name="{{stateBinary.id}}-radio" value="yes"/>
                </td>
                <td>
                    <input type="radio" name="{{stateBinary.id}}-radio" value="no"/>
                </td>
                <td>
                    <input type="radio" name="{{stateBinary.id}}-radio" value=""/>
                 </td>
                 <td><input type="text" name="{{stateBinary.id}}-comment" /></td>
            </tr>
            {% endifequal %}
        {% endfor %}
        {% endif %}
{% endfor %}
<tr><td colspan="5"><input type="submit"/></tr>
        </table>
    </form>
   <div class="pagination">
        <span class="step-links">
            {% if stateBinarys.has_previous %}
                <a href="?page={{ stateBinarys.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ stateBinarys.number }} of {{ stateBinarys.paginator.num_pages }}.
            </span>

            {% if stateBinarys.has_next %}
                <a href="?page={{ stateBinarys.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div> 
{% endif %}
</div>
{% endblock %}
