{% extends 'base.html' %}
{% block content %}
<h1>Ack/Nack</h1>
<div style="float:left;padding-left:10px">
    <table class="altrowstable">
        {% for distro in distributions %}
            <tr>
                <th colspan="5">
                    <u><strong>{{distro}}</strong></u>
                </th>
            </tr>
            <tr><th>Package Name</th><th>State</th><th>Comment</th></tr>
            {% for list in AckNackList %}
                {% ifequal list.binary.package.source.distribution distro %}
                    <tr onmouseover="this.style.backgroundColor='#d4e3e5';" onmouseout="this.style.backgroundColor='#ffffff';" >
                        <td>
                            {% ifequal list.result "no" %}
                                <div style="color:#ba0000" >
                                    {{ list.binary }}
                                </div>
                            {% else %}
                            <div style="color:#007f00">
                                {{ list.binary }}
                                </div>
                            {% endifequal %}
                        </td>
                        <td>
                            {{list.result}}
                        </td>
                        <td>
                            {{list.comment}}
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        {% endfor %}
        <tr>
    </table>
</div>
{% endblock %}
