{% extends 'base.html' %}
{% block content %}
    <h1>{{ binary }}</h1>
    <ul>
        <li><strong>Distribution:</strong> <a href="{{ binary.package.source.distribution.get_url }}">{{ binary.package.source.distribution }}</a></li>
        <li><strong>Source:</strong> <a href="{{ binary.package.source.get_url }}">{{ binary.package.source.name }}</a></li>
        <li><strong>Package:</strong> <a href="{{ binary.package.get_url }}">{{ binary.package.name }}</a></li>
        <li><strong>Updated By:</strong> <a href="/repository/users/{{ binary.update.updated_by.username }}/">{{ binary.update.updated_by.get_full_name }}</a></li>
        <li><strong>Status:</strong> {{ binary.resolution }}</li>
    </ul>

    {% ifequal binary.resolution "pending" %}
    <h2>Pending Dependencies</h2>
    <ul>
        {% for dep in binary.get_pending_dependencies %}
        <li><a href="{{ dep.get_url }}">{{ dep }}</a> [Test Result: {{ dep.get_result_str }}]</li>
        {% endfor %}
    </ul>

    <h2>Test Result</h2>
    <p>
        Current result: {{ binary.get_result_str }}
        </p>
    {% if binary.testresult_set.all  %}
    <h2>Results</h2>
    <table>
        <tr><th>User</th><th>Result</th><th>Time</th></tr>
        {% for results in binary.testresult_set.all %}

        <form action="." method="post"  >
            <input type="hidden" name="tested_by" value="{{results.created_by}}">
            <tr><td>{{results.created_by}}</td><td>{{results.result}}</td><td>{{results.created_on}}</td>
                {% if perms.repository.can_submit %}
                <td><button {% ifequal results.result "yes" %}style="background-color: #0b0;"{% endifequal %} type="submit" name="RepoAdminResult" value="yes" >Yes</button></td>
                <td><button {% ifequal results.result "no" %}style="background-color: #b00;"{% endifequal %} type="submit" name="RepoAdminResult" value="no" >No</button></td>
                <td><button {% ifequal results.result "unknown" %}style="background-color: #bbb;"{% endifequal %} type="submit" name="RepoAdminResult" value="unknown" >Delete</button></td>
                {% endif %}
            </tr>
        </form>
        {% endfor %}
    </table>
    {% endif %}
    <h2>Your Report</h2>
        {{ test }}
        {% if user.is_authenticated %}
        <form action="" method="post">
            <button {% ifequal user_result "yes" %}style="background-color: #0b0;"{% endifequal %} type="submit" name="result" value="yes" >Yes</button>
            <button {% ifequal user_result "no" %}style="background-color: #b00;"{% endifequal %} type="submit" name="result" value="no" >No</button>
            <button {% ifequal user_result "unknown" %}style="background-color: #bbb;"{% endifequal %} type="submit" name="result" value="unknown" >Not Tested</button>
        </form>
        {% endif %}
    {% endifequal %}

    <h2>Difference</h2>
    <ul>
        {% for update in binary.get_difference %}
        <li>
            <p>{{ update }}</p>
            <p>{{ update.comment|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
