{% extends 'base.html' %}
{% block content %}
    <h1>Distributions</h1>
    <ul>
        {% for dist in distributions %}
        <a href="{{ dist.get_url }}">{{ dist }}</a>
        <ul>
            <li>Sources: {{ dist.source_set.count }}</li>
            <li>updates:</li><table>
        <tr>
            <th>Package name</th>
            <th>Version no</th>
            <th>Update time</th>
            <th>M. name</th>
            <th>M. last name</th>
        </tr>
        {%for repo , packages in updates%}
            {%ifequal repo dist %}
                {%for package in packages%}
                    <tr>
                    <td>{{ package.source.name }}</td>
                    <td>{{package.version_no}}</td>
                    <td>{{package.updated_on }}</td>
                    <td><a href="/repository/users/{{package.source.maintained_by.username}}">{{package.source.maintained_by.first_name}}</td></a>
                    <td>{{package.source.maintained_by.last_name}}</td>
                    </tr>
                {%endfor%}
            {%endifequal%}
        {% endfor %}
            </table>
        </ul>
        {% endfor %}
    </ul>
{% endblock %}
