{% extends 'base.html' %}
{% block content %}
    <h1>{{ package.name }}</h1>
    <ul>
        <li><strong>Distribution:</strong> <a href="{{ package.source.distribution.get_url }}">{{ package.source.distribution }}</a></li>
        <li><strong>Source:</strong> <a href="{{ package.source.get_url }}">{{ package.source.name }}</a></li>
        <li><strong>Maintained By:</strong> <a href="/repository/users/{{ package.source.maintained_by.username }}/">{{ package.source.maintained_by.get_full_name }}</a></li>
    </ul>

    <h2>Checklist</h2>
    <ul>
        {% for task in package.task_set.all %}
        <li>{{ task.get_description }}</li>
        {% endfor %}
    </ul>

    <h2>Runtime Dependencies</h2>
    <ul>
        {% for dep in package.runtimedependency_set.all %}
        <li>{{ dep }}</li>
        {% endfor %}
    </ul>

    <h2>Binaries</h2>
    <ul>
        {% for binary in package.binary_set.all %}
        <li><a href="{{ binary.get_url }}">{{ binary.get_filename }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
