{% extends 'base.html' %}
{% block content %}
    <table class="package_list">
        <tr>
            <th>Package</th>
            <th>Updated By</th>
            <th>Distribution</th>
            <th>Time</th>
        </tr>
        {% for binary in binaries.object_list %}
        <tr class="test_{{ binary.get_result }}">
            <td><a href="{{ binary.get_url }}">{{ binary }}</a></td>
            <td>{{ binary.update.updated_by.get_full_name }}</td>
            <td>{{ binary.package.source.distribution }}</td>
            <td>{{binary.created_on}}</td>
        </tr>
        {% endfor %}
    </table>

    <p></p>

    <div class="pagination">
        <span class="step-links">
            {% if binaries.has_previous %}
                <a href="?page={{ binaries.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ binaries.number }} of {{ binaries.paginator.num_pages }}.
            </span>

            {% if binaries.has_next %}
                <a href="?page={{ binaries.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
