{% extends 'base.html'%}
{% block content %}
{%ifequal  results [] %}
<h1>Searching</h1>
<form action="" method="post">
    <table>
        <tr>
            <td>Keyword</td>
            <td>:<input type="text" name="question"/></td>
        </tr>
        <tr>
            <td>Search on</td>
            <td>:<input type="radio" name="search_area" value="package" checked="checked"/>Package Name
                <input type="radio" name="search_area" value="source"/>Source name
            </td>
        </tr>
        <tr>
            <td>
                Distributions
            </td>
            <td>
                :<select name="distro">
                    <option value="null" selected="selected">any</option>
                    {% for distro in distributions  %}
                    <option value="{{distro.id}}">{{distro}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Search"/></td>
            <td><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
{%else%}<table>
    <ul>{%for distro in distributions  %}{{post}}
    <tr><td></td><td><h2> {{distro}} </h2><td></td><td></td></tr>
        <tr><td><b>Name </b></td><td><b>Resolution </b></td><td><b>Update time</b></td><td><b>Maintainer </b></td></tr>
    {%for result in results %}
    {%ifequal result.source.distribution distro%}
{%for binary in result.binary_set.all%}
<tr>
    <td><a href="{{ binary.get_url }}">{{ binary }}</a></td>
    <td>{{ binary.resolution }}</td>
    <td>{{ binary.update.updated_on }}</td>
    <td><a href="/repository/users/{{ result.source.maintained_by }}">{{ result.source.maintained_by }}</a></td>
</tr>{%endfor%}
{%endifequal%}
{%endfor%}
{%endfor%}</table>
</ul>
{% endifequal %}
{%endblock%}
