{% extends 'base.html' %}
{% block content %}
    <h1>{{ source.name }}</h1>
    <ul>
        <li><strong>Distribution:</strong> <a href="{{ source.distribution.get_url }}">{{ source.distribution }}</a></li>
        <li><strong>Maintained By:</strong> <a href="/repository/users/{{ source.maintained_by.username }}/">{{ source.maintained_by.get_full_name }}</a></li>
    </ul>

    <h2>Packages</h2>
    <ul>
        {% for package in source.package_set.all %}
        <li><a href="{{ package.get_url }}">{{ package.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Build Dependencies</h2>
    <ul>
        {% for dep in source.builddependency_set.all %}
        <li>{{ dep }}</li>
        {% endfor %}
    </ul>

    <h2>Updates</h2>
    <ul>
        {% for update in source.update_set.all %}
        <li>
            <p>{{ update }}</p>
            <p>{{ update.comment|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
