{% extends 'base.html' %}
{% block content %}
    <table class="package_list">
        <tr>
            <th>Package</th>
            <th>Maintainer</th>
            <th>Distribution</th>
        </tr>
        {% for source in sources.object_list %}
        <tr>
            <td><a href="{{ source.get_url }}">{{ source.name }}</a></td>
            <td>{{ source.maintained_by.get_full_name }}</td>
            <td>{{ source.distribution }}</td>
        </tr>
        {% endfor %}
    </table>

    <p></p>

    <div class="pagination">
        <span class="step-links">
            {% if sources.has_previous %}
                <a href="?page={{ sources.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ sources.number }} of {{ sources.paginator.num_pages }}.
            </span>

            {% if sources.has_next %}
                <a href="?page={{ sources.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
