{% extends 'base.html' %}
{% block content %}
    <h1>{{ developer.get_full_name }}</h1>

    <h2>Pending Binaries</h2>
    <ul>
        {% for distro in distros %}
        <li>
            {{ distro }}
            <ul>
                {% for binary in pending %}
                <li><a href="{{ binary.get_url }}">{{ binary.get_filename }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <h2>Sources</h2>
    <ul>
        {% for distro in distros %}
        <li>
            {{ distro }}
            <ul>
                {% for source in developer.source_set.all %}
                    {% ifequal source.distribution distro %}
                    <li><a href="{{ source.get_url }}">{{ source.name }}</a></li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <h2>Updates</h2>
    <ul>
        {% for distro in distros %}
        <li>
            {{ distro }}
            <ul>
                {% for update in developer.update_set.all %}
                    {% ifequal update.source.distribution distro %}
                    <li>{{ update.source.name }} - release {{ update.no }}</li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
