{% extends 'base.html' %}
{% block content %}
    <table class="package_list">
        <tr>
            <th>Developer</th>
        </tr>
        {% for dev in developers.object_list %}
        <tr>
            <td><a href="/repository/users/{{ dev.username }}">{{ dev.get_full_name }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <p></p>

    <div class="pagination">
        <span class="step-links">
            {% if developers.has_previous %}
                <a href="?page={{ developers.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ developers.number }} of {{ developers.paginator.num_pages }}.
            </span>

            {% if developers.has_next %}
                <a href="?page={{ developers.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
