{% extends "layout.html" %}
{% set title = 'Pardus Developer Base' %}
{% block body %}
<h1>Welcome to Pardus Developer Base !</h1>
<p>
Pardus is a GNU/Linux distribution developed in Turkey, as a product of the Pardus Project. It was named after the Anatolian Leopard.
</p>
<p>
Pardus is an easy-to-install and use operating system, with many enhancements to desktop usability, compatibility and security. Through the versions from Pardus 1.0 to Pardus 2008 (current version), users can connect to Internet, read e-mails, securely communicate with others and exploit the computer's multimedia capabilities by listening to music and watching movies.
</p>
<p>
Pardus is open source and freely distributed as a GPL (General Public License) product. It can be installed in Turkish, English, Spanish, German, Dutch, Swedish or Brazilian Portuguese.
</p>

<h2>Documentation</h2>
<table class="contentstable" align="center" style="margin-left: 30px">
 <tr>
  <td width="25%">
    <p class="biglink"><a class="biglink" href="{{ pathto("comar/index") }}">Comar</a><br/>
    <span class="linkdescr">Configuration Manager</span></p>
    <p class="biglink"><a class="biglink" href="{{ pathto("pisi/index") }}">Pisi</a><br/>
    <span class="linkdescr">Package management</span></p>
  </td>
  <td width="25%">
    <p class="biglink"><a class="biglink" href="{{ pathto("yali/index") }}">Yalı</a><br/>
    <span class="linkdescr">Yet Another Linux Installer</span></p>
    <p class="biglink"><a class="biglink" href="{{ pathto("pardusman/index") }}">Pardusman</a><br/>
    <span class="linkdescr">Make your Pardus ISOs</span></p>
  </td>
  <td width="25%">
    <p class="biglink"><a class="biglink" href="{{ pathto("managers/index") }}">Managers</a><br/>
    <span class="linkdescr">Network, Package, Service ...</span></p>
    <p class="biglink"><a class="biglink" href="{{ pathto("kaptan/index") }}">Kaptan</a><br/>
    <span class="linkdescr">Desktop greeting application</span></p>
  </td>
  <td width="25%">
    <p class="biglink"><a class="biglink" href="{{ pathto("bugs/index") }}">Bugs</a><br/>
    <span class="linkdescr">Howto report a bug</span></p>
    <p class="biglink"><a class="biglink" href="{{ pathto("contents") }}">Full Content</a><br/>
    <span class="linkdescr">All of the documentation</span></p>
  </td>
</tr>
</table>

<h2>Get Pardus Codes</h2>
<p>
You can browse codes from <a href="http://svn.pardus.org.tr/viewcvs">Pardus SVN Web Interface</a>
or directly checkout from the repository using
</p>

<b>For Projects</b>
<pre>
  svn co https://svn.pardus.org.tr/uludag/trunk/PROJECT_NAME
</pre>

<b>For Packages</b>
<pre>
  svn co https://svn.pardus.org.tr/pardus/devel/PACKAGE_PATH
</pre>

{% endblock %}
