[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Joel Peshkin <bugreport@peshkin.net>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #
  #%]

[% PROCESS global/variables.none.tmpl %]
[% title = BLOCK %]
  '[%- product.name FILTER html %]' Ürününün Grup Kontrol Değişikliğini Onaylayın
[% END %]

[% PROCESS global/header.html.tmpl title = title %]
[% FOREACH group = mandatory_groups %]
<P>
'[% group.name FILTER html %]' grubu [% group.count %] 
[%+ terms.bugAcc %] etkiliyor ve bu hatalara grup zorunlu olarak eklenecek.
[% END %]

[% FOREACH group = na_groups %]
<P>
'[% group.name FILTER html %]' grubu [% group.count %]&nbsp;
[% terms.bugDat %] artık uygulanamaz ve o hatalardan silinecek.[% END %]
<form action="editproducts.cgi" method="post" >

  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

  <br>
     Yapacağınız değişiklik yukarıdaki değişikliklere de neden olacak. Tümünü uygulamak için "Devam et"e tıklayın. Eğer bu değişikliklerin yapılmasını istemiyorsanız, önceki sayfaya dönmek için "geri" düğmesini kullanın.
  <p>
    <input type="hidden" name="confirmed" value="confirmed">
    <input type="submit" id="update" value="Devam et">
  </p>

</form>


[% PROCESS global/footer.html.tmpl %]


