[KCM Locale]
Name=Turkish
Name[af]=Turkse
Name[ar]=تركية
Name[az]=Türkcə
Name[be]=Турэцкая
Name[bg]=Турски
Name[bn]=তুর্কী
Name[br]=Turkeg
Name[bs]=Turski
Name[ca]=Turc
Name[cs]=Turecký
Name[csb]=Tërecczi
Name[cy]=Twrceg
Name[da]=Tyrkisk
Name[de]=Türkisch
Name[el]=Τουρκικά
Name[eo]=Turka
Name[es]=Turco
Name[et]=Türgi
Name[eu]=Turkiera
Name[fa]=ترکی
Name[fi]=Turkki
Name[fo]=Turkiskt 
Name[fr]=Turc
Name[fy]=Turks
Name[ga]=Tuircis
Name[gl]=Turco
Name[he]=טורקית
Name[hi]=तुर्की
Name[hr]=Turski
Name[hsb]=Turkowsce
Name[hu]=Török
Name[id]=Turki
Name[is]=Tyrkneska
Name[it]=Turco
Name[ja]=トルコ語
Name[ka]=თურქული
Name[kk]=Түрікше
Name[km]=ទួរគី
Name[ko]=터키어
Name[ku]=Tirkî
Name[lb]=Türkesch
Name[lt]=Turkų
Name[lv]=Turku
Name[mk]=Турски
Name[mn]=Турк
Name[ms]=Turki
Name[mt]=Tork
Name[nb]=Tyrkisk
Name[nds]=Törksch
Name[ne]=तुर्किस
Name[nl]=Turks
Name[nn]=Tyrkisk
Name[nso]=Se-Turkish
Name[oc]=Turc
Name[pa]=ਤੁਰਕੀ
Name[pl]=Turecki
Name[pt]=Turco
Name[pt_BR]=Turco
Name[ro]=Turcă
Name[ru]=Турецкий
Name[rw]=Ikinyaturukiya
Name[se]=Turkkagiella
Name[sk]=turečtina
Name[sl]=turško
Name[sq]=Turqisht
Name[sr]=Турски
Name[sr@Latn]=Turski
Name[ss]=Si-Turkish
Name[sv]=Turkiska
Name[ta]=துருக்கியம்
Name[te]=టర్కిష్
Name[tg]=Туркӣ
Name[th]=ภาษาตุรกี
Name[tr]=Türkçe
Name[tt]=Törekçä
Name[uk]=Турецька
Name[uz]=Turkcha
Name[uz@cyrillic]=Туркча
Name[ven]=Muthekishi
Name[vi]=Thổ-nhĩ-kỳ
Name[wa]=Turk
Name[zh_CN]=土耳其语
Name[zh_HK]=土耳其語
Name[zh_TW]=土耳其語
Name[zu]=Isi-Thekishi
