[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #                     Tobias Burnus <burnus@net-b.de>
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% PROCESS subject %]
X-Bugzilla-Type: admin

Yapılan istek [% remoteaddress %] tarafından kabul edilmedi.

Eğer bu isteği siz yapmadıysanız büyük ihtimal ile [% terms.Bugzilla %] hesabınızı 
izinsiz olarak kullanmak için yapılmış beyhude bir girişimdi.

Lütfen aşağıdaki bilgileri kontrol edin, bu isteğin başkası tarafından 
yapıldığına emin olduktan sonra bu e-postayı [% maintainer %] adresine gönderin.

            İstek: [% token %]
       İstek Tipi: [% tokentype %]
        Kullanıcı: [% emailaddress %]
   Hareket Tarihi: [% issuedate %]
             Veri: [% eventdata %]
Vazgeçilme Sebebi: [% PROCESS cancelactionmessage %]

[% BLOCK subject %]
  [% IF tokentype == 'new_account' %]
    Kullanıcı hesabı yaratma isteğinden vazgeçildi
  [% ELSIF tokentype == 'password' %]
    Parola değiştirme isteğinden vazgeçildi
  [% ELSIF tokentype == 'emailnew' OR tokentype == 'emailold' %]
    E-posta değiştirme isteğinden vazgeçildi
  [% ELSE %]
    [% tokentype %] isteğinden vazgeçildi
  [% END %]
[% END %]

[% BLOCK cancelactionmessage %]
  [% IF    cancelaction == 'account_exists' %]
    [% email %] isimli hesap zaten mevcut.

  [% ELSIF cancelaction == 'email_change_cancelled' %]
    Hesabınıza ilişik durumda olan eski e-posta adresinizi
    [% old_email %] yeni e-posta adresiniz [% new_email %] ile 
    değiştirme isteğinden vazgeçildi.

  [% ELSIF cancelaction == 'email_change_cancelled_reinstated' %]
    Hesabınıza ilişik durumda olan e-posta adresinizi 
    [% new_email %] ile değiştirme isteğinden vazgeçildi. Eski 
    hesap tercihleriniz korunuyor.

  [% ELSIF cancelaction == 'emailold_change_cancelled' %]
    Hesabınıza ilişik durumda olan e-posta adresinizi 
    [% new_email %] ile değiştirme isteğinden vazgeçildi.

  [% ELSIF cancelaction == 'password_change_cancelled' %]
    İsteğinizden vazgeçmeyi istediniz.

  [% ELSIF cancelaction == 'account_creation_cancelled' %]
    [% emailaddress %] isimli hesabı oluşturmaktan vazgeçildi.

  [% ELSIF cancelaction == 'user_logged_in' %]
    Giriş yaptınız.

  [% ELSIF cancelaction == 'wrong_token_for_changing_passwd' %]
    Parola değiştirmeyi istediniz.

  [% ELSIF cancelaction == 'wrong_token_for_cancelling_email_change' %]
    E-posta adresi değişikliğini iptal etmek istediniz.

  [% ELSIF cancelaction == 'wrong_token_for_confirming_email_change' %]
    E-posta adresi değişikliğini onaylamak istediniz.

  [% ELSIF cancelaction == 'wrong_token_for_creating_account' %]
    Yeni bir kullanıcı hesabı oluşturmak istediniz.

  [% ELSE %]
    [%# Give sensible error if the cancel-token function is used incorrectly.
      #%]
    [% terms.Bugzilla %]'nın iptal fonksiyonunu yanlış kullanıyorsunuz.
    '[% cancelaction %]' metnini verdiniz. Doğru kullanım bir etiket vermek ve 
    o etiketi cancel-token.txt.tmpl dosyasında tanımlamaktır.

    Eğer 'normal' bir kullanıcı iseniz lütfen bu mesajı [% Param('maintainer') %]
    adresine gönderin.
  [% END %]
[% END %]
