[Desktop Entry]
Name=Sinerji
Name[tr]=Sinerji
Comment=Fronted for Synergy
Comment[tr]=Synergy için arayüz

Encoding=UTF-8
Version=0.1

Type=Application
Categories=Application;System;Qt


FilePattern=sinerji
Exec=sinerji
TryExec=sinerji
Terminal=false
StartupNotify=true

Icon=sinerji
