[KSplash Theme: Pardus]
Name = Pardus
Description = Pardus Splash Theme
Version = 0.4
Author = Gökhan Özkan <gokhan@pardus.org.tr>
Homepage = http://www.pardus.org.tr
Engine = Moodin

BeginOpacity = 0.1
BaseResolution = 1920
KeepXdmBackground = true

UseIconSet = true
IconSetSize = 48

Image1 = kcmsystem
Image2 = kcontrol
Image3 = kcmpci
Image7 = kmenuedit
Image8 = kmenu

LineUpImages = false

#Labels = 1
#Label1 = Welcome
#LabelFont1 = Trebuchet MS,28,-1,0,0,0
#LabelCoords1 = -1,620

StatusCoords = -1,730
StatusColor = 255,255,255
LabelShadowColor = 0,0,0

ImageCoords1 = 335,630
ImageCoords2 = 415,630
ImageCoords3 = 495,630
ImageCoords4 = 575,630
ImageCoords5 = 650,630
ImageCoords6 = 730,630
ImageCoords7 = 810,630
ImageCoords8 = 890,630
