[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell language
Icon=locale
Type=Application
DocPath=kcontrol/language/index.html

X-KDE-ModuleType=Library
X-KDE-Library=locale
X-KDE-FactoryName=locale
X-KDE-ParentApp=tasma

Name=Country/Region & Language
Name[tr]=Ülke/Bölge ve Dil
Name[nl]=Land/regio en taal

Comment=Language, numeric, and time settings for your particular region
Comment[tr]=Bölgenize özgü dil, sayı ve zaman ayarları
Comment[nl]=Taal-, numerieke, en tijdsinstelling voor uw eigen regio

Keywords=language,translation,number format,currency,time,date,formats,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,fractional digits,week,week start
Keywords[tr]=dil,çeviri,sayı biçimi,para,saat,tarih,biçimler,yerel,ülke,karakter kümeleri, ondalık sembolü,binler ayıracı,sembol,ayırıcı,işaret,pozitif,negatif,ondalık basamaklar,hafta,hafta başı
Keywords[nl]=language,vertaling,taal,getallenopmaak,valuta,valutasymbool,tijd,datum, opmaak,lokaal,locale,land,tekensets,charsets,tekenverzamelingen,Decimaalsymbool, scheidingsteken,duizendtallen,symbool,symbolen,gulden,teken,positief,negatief,week,weken,geld,bedragen

Categories=Qt;KDE;X-KDE-settings-accessibility;X-KDE-tasma-localization
