[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/icons/index.html
Icon=icons
Exec=kcmshell icons

X-KDE-ModuleType=Library
X-KDE-Library=icons
X-KDE-FactoryName=icons
X-KDE-ParentApp=tasma

Name=Icons
Name[tr]=Simgeler
Name[nl]=Pictogrammen

Comment=Customize KDE Icons
Comment[tr]=KDE Simgelerini Özelleştirir
Comment[nl]=KDE-pictogrammen aanpassen

Keywords=icons,effects,size,hicolor,locolor
Keywords[tr]=simgeler,efektler,boyut,yüksek renk,düşük renk
Keywords[nl]=iconen,pictogrammen,effecten,grootte,afmeting,formaat,kleuren

Categories=Qt;KDE;X-KDE-settings-looknfeel;X-KDE-tasma-looknfeel
