[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #                 Marc Schumann <wurblzap@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Kullanıcı Kimlik Denetimi"
   desc = "Kimlik denetimi politikalarınızı belirleyin"
%]

[% param_descs = {
  auth_env_id => "Her kullanıcı için benzersiz bir tanımlayıcı depolayacak olan " _
                 "haricî kimlik denetim mekanizması tarafından kullanılan çevre " _
                 "değişkeni. Eğer haricî bir kimlik denetim mekanizması yoksa veya " _
                 "kullanılmıyorsa boş bırakın.",

  auth_env_email => "Haricî kimlik denetim mekanizmasının her bir kullanıcının " _
                    "eposta adresini depolamak için kullandığı çevre değişkeni. "_
                    "Bu çevresel yöntemle kimlik denetimi söz konusu olduğunda " _
                    "zorunlu bir alandır. Eğer haricî kimlik denetimi mekanizması " _
                    "kullanmayacaksanız boş bırakın."

  auth_env_realname => "Haricî kimlik denetimi mekanizmasının kullanıcıların gerçek " _
                       "adlarını tutmak için kullandığı çevre değişkeni. Eğer " _
                       "haricî kimlik denetim mekanizması gerçek ad alanlarını " _
                       "sağlamıyorsa veya haricî kimlik denetimi kullanılmıyorsa " _
                       "boş bırakın."

  user_info_class => "Kullanıcının oturum bilgilerini toplamak için kullanılacak 
                      mekanizmalar. Birden fazla mekanizma seçilebilir. Eğer birincisi 
                      bir sonuç döndürmezse ikincisi denenir ve sonuç alınana kadar böyle 
                      devam edilir.<br>
                      Türler şunlardır:
                      <dl>
                        <dt>CGI</dt>
                        <dd>
                          Kullanıcı adı ve parolayı CGI form arayüzüyle sor.
                        </dd>
                        <dt>Env</dt>
                        <dd>
                          Önceden oturumu doğrulanmış kullanıcı bilgisi sistem çevre 
                          değişkenlerinden gelir.
                        </dd>
                      </dl>",

  user_verify_class => "user_info_class tarafından toplanan bilgilerin onaylanması 
                        (kimlik doğrulama) için kullanılacak mekanizma(lar).
                        Birden fazla seçilebilir. Eğer birincisi kullanıcıyı bulamazsa
                        ikincisi denenir, ve sonuç alınana kadar böyle devam edilir.<br>
                        Türler şunlardır:
                        <dl>
                          <dt>DB</dt>
                          <dd>
                            ${terms.BugzillaGen} tümleşik kimlik doğrulama yöntemi. Bu
                            en sık kullanılan seçenektir.
                          </dd>
                          <dt>RADIUS</dt>
                          <dd>
                            Bir RADIUS sunucu kullanarak RADIUS kimlik doğrulaması.
                            Bu yöntem deneyseldir; lütfen daha fazla bilgi için
                            $terms.Bugzilla belgelendirmesine bakın.
                            Bu yöntemin kullanılması 
                            <a href=\"?section=radius\">ek
                            parametreler</a>in ayarlanmasını gerektir.
                          </dd>
                          <dt>LDAP</dt>
                          <dd>
                            Bir LDAP sunucu kullanarak LDAP kimlik doğrulaması.
                            Lütfen daha fazla bilgi için $terms.Bugzilla belgelendirmesine
                            bakın. Bu yöntemin kullanılması
                            <a href=\"?section=ldap\">ek
                            parametreler</a>in ayarlanmasını gerektirir.
                          </dd>
                        </dl>",

  rememberlogin => "Oturum (session) çerezlerinin yönetim şeklini belirler.
                    <ul>
                      <li>
                        açık - Oturum çerezlerinin süresi dolmaz (kullanıcı tarayıcı başına
                        sadece bir kez oturum açar).
                      </li>
                      <li>
                        kapalı - Oturum çerezleri kullanıcı oturumu bitene kadar tutulur 
                        (kullanıcı her yeni tarayıcı oturumunda yeniden oturum açar).
                      </li>
                      <li>
                        öntanımlı açık /öntanımlı kapalı - Yukarıda açıklandığı şekliyle
                        öntanımlı davranış, fakat kullanıcı $terms.BugzillaGen oturumunu
                        hatırlayıp hatırlamayacağını belirleyebilir.
                      </li>
                    </ul>",

  loginnetmask => "Kullanıcı oturumunun birden fazla IP için geçerli olmasını " _
                  "seçtiğinde netmask için kullanılacak bit sayısı. Bu değeri 32 " _
                  "yapmak bu özelliği kapatır.<br> " _
                  "Bu özelliği açmanın sisteminizin güvenlik düzeyini " _
                  "düşüreceğini unutmayınız",

  requirelogin => "Eğer bu seçenek açıksa, ön sayfa dışındaki herhangi bir sayfaya " _
                  "erişebilmek için oturum açmak gerekir, kimliği doğrulanmamış " _
                  "kullanıcılara izin verilmez",

  emailregexp => "Bu değer geçerli eposta adresleri için kullanılacak düzenli " _
                 "ifadeyi belirtir. Öntanımlı değer kurallara uygun eposta " _
                 "adreslerine izin verecek şekildedir. Burada sık kullanılan bir " _
                 "başka değer ise '@ işareti taşımayan yerel kullanıcı adları' " _
                 "anlamına gelen <tt>^[^@]+$</tt> değeridir.'",

  emailregexpdesc => "Bu alan Türkçe olarak <tt>emailregexp</tt> parametresine " _
                     "girilebilecek ve geçerli kabul edilecek adresleri anlatır.",

  emailsuffix => "Bu, bir adrese eposta atarken eposta adresinin sonuna eklenecek bir " _
                 "dizgedir. Bu değer özellikle <tt>emailregexp</tt> parametresini " _
                 "sadece yerel kullanıcı adlarına izin verecek şekilde değiştirdiyseniz " _
                 "fakat epostaların kullanıcıadı@yerel.sunucum adresine gönderilmesini " _
                 "istiyorsanız kullanışlı olacaktır."

  createemailregexp => "Bu alan, 'Yeni Hesap' özelliğini kullanarak kendi kendine " _
                       "sisteme kayıt olmasına izin verilen eposta adreslerini belirten " _
                       "düzenli ifadedir. Öntanımlı değer (.*) emailregexp alanına uyan " _
                       "hesaplar oluşturulmasına olanak tanır. Eğer bu parametre boş " _
                       "geçilirse hiçbir kullanıcı kendi hesabını oluşturamaz ve tüm " _
                       "hesapların bir yönetici tarafından oluşturulması gerekir." }
%]
