[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Bağımlılık Grafikleri"
   desc = "Bağımlılıkların grafiklerini çizmek için isteğe bağlı ayarlar"
%]

[% param_descs = {
  webdotbase => "Birbirine bağımlı $terms.bugs ile ilgili grafikler gösterilebilir. Bu parametre şu değerlerden birini alabilir:
                 <ul>
                   <li>
                     'dot'a (<a href=\"http://www.graphviz.org\">GraphViz</a>'in bir parçası) tam bir dosya yolu - grafikler yerel olarak oluşturulur.
                   </li>
                   <li>
                     
                     <a href=\"http://www.research.att.com/~north/cgi-bin/webdot.cgi\">webdot
                     paketi</a>ne işaret eden bir adres öneki (URL prefix) - grafikler uzak makinada oluşturulur.
                   </li>
                   <li>
                     Boş bir değer bağımlılık grafiği çizimini kapatır.
                   </li>
                 </ul>
                 Öntanımlı değer halka açık bir webdot sunucusudur. Eğer bu değeri değiştirirseniz, webdot sunucunun sizin webdot dizininizdeki dosyaları okuyabilmesi gerektiğini unutmayın. Apache'de bunu .htaccess dosyasında değişiklik yaparak elde edebilirsiniz, diğer sunucu yazılımlarında ise gerekli ayarlar farklılık gösterebilir. Eğer .htaccess dosyası silindiyse yeniden oluşturmak için checksetup.pl'yi çalıştırabilirsiniz."}
%]