[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Yama Görüntüleyici"
   desc = "PatchViewer ile kullanılacak üçüncü parti uygulamaları belirleyin"
%]

[% param_descs = {
  cvsroot => "'cvs diff' için sisteminizdeki çoğu kullanıcının faydalanacağı <a href=\"http://www.cvshome.org\">CVS</a> kökü. Kullanıcılar farklı dizinlerden 'cvs diff' yapsalar bile yamaların nereye yerleştirildiğini anlamak için Yama Görüntüleyici (Yamalarda 'diff') tarafından kullanılır. (NOT: Eğer CVS deponuz farklı bir sistemdeyse ve parola gerektiriyorsa, $terms.Bugzilla kullanıcısının önceden bir 'cvs login' yapmasını sağlayın veya parolayı <a href=\"http://www.cvshome.org/docs/manual/cvs_2.html#SEC26\">CVS kökünün bir parçası olarak</a> belirtin.) CVS deponuz yoksa boş bırakın.",

  cvsroot_get => "$terms.BugzillaGen yamaları alacağı CVS kökü. Bazı kurulumlar CVS deposunu $terms.Bugzilla sunucusuna aynalamak, hattâ aynı sunucuda bulundurmak isteyebilir, böylece depo yerel dosya sisteminde (dolayısıyla çok daha hızlı) olur. Bunun ne olduğunu anlayamadıysanız, cvsroot ile aynı yapın (eğer cvsroot boş ise, bunu da boş bırakın).",

  bonsai_url => "CVS deponuz hakkında bilgi içeren bir <a href=\"http://www.mozilla.org/bonsai.html\">Bonsai</a> sunucusunun adresi. Yama Görüntüleyici bu bilgiyi bonsai'nin 'blame' özelliğiyle kullanır (bu adrese '/cvsblame.cgi?...' ekler). Bunun ne olduğunu anlamadıysanız boş bırakın.",

  lxr_url => "CVS deponuzu endeksleyen bir <a href=\"http://sourceforge.net/projects/lxr\">LXR</a> sunucusunun adresi. Yama Görüntüleyici bu bilgiyi yamadaki her dosyaya LXR bağlantısı oluşturmak için kullanır. Ne olduğunu anlamadıysanız boş bırakın.",

  lxr_root => "Bazı LXR kurulumları CVS deposunu endekslemeye kök noktadan başlamaz. Örneğin <a href=\"http://lxr.mozilla.org/mozilla\">Mozilla'nın</a> LXR kurulumu <code>mozilla/</code> noktasından başlar. Bu adreslerin o ek yola bağıl olması anlamına gelir. Eğer sizde de benzer bir durum varsa buraya o ek kısmı girin. Ne olduğunu anlamadıysanız boş bırakın." }
%]
