[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Gölge Veritabanı"
   desc = "Veritabanı performansını artırmak için kullanılabilecek bir yöntem"
%]

[% param_descs = {
  shadowdbhost => "Gölge veritabanının bulunduğu sunucu.",

  shadowdbport => "Gölge veritabanının bulunduğu port. " _
                  "<tt>shadowdbhost</tt> boş ise gözardı edilir. Eğer sunucu yerel makina ise, " _
                  "MySQL bunu gözardı eder ve aşağıda bir soket belirtmeniz gerekir.",

  shadowdbsock => "Eğer sunucu yerel makina ise gölge veritabanına bağlanmak için kullanılacak soket. " _
                  "Bu ayar (unix sistemlerde) MySQL yerel sunucuya bağlanırken istemci tarafından belirtilen port yerine kendi içinde yazılı olan soket yolunu kullandığı için gereklidir. Eğer boş bırakırsanız ve veritabanı localhost üzerindeyse <tt>shadowdbport</tt> " _
                  "gözardı edilir.",

  shadowdb => "Eğer boş değilse, bu alan $terms.BugzillaGen herşeyin salt-okunur bir kopyası olarak kullanacağı diğer veritabanının adıdır. Bu uzun süren ve sistemin yanıt verme süresini artıran salt-okunur işlemleri bu veritabnı üzerinde yaparak diğer kullanıcıların bekleme süresini azaltmak için kullanılır. Bu veritabanı <tt>shadowdbhost</tt> üzerinde varolmalıdır. $terms.Bugzilla bu veritabanını güncellemez; eğer bu parametreyi kullanırsanız, veritabanınıza çoklama (replication) ayarları yapmalısınız." }
%]
