[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]
[%
   title = "Kullanıcı Eşleme"
   desc = "Kullanıcı eşleme politikalarınızı ayarlayın"
%]

[% param_descs = {
  usemenuforusers => "Eğer bu parametreye bir değer girerseniz, $terms.Bugzilla bir kullanıcı seçmek gerektiğinde kullanıcı adının girildiği bir metin kutusu yerine kullanıcı adlarının listesini verir ve oradan seçmeniz gerekir. Çok sayıda kullanıcı bulunan sitelerde bu seçenek açılmamalıdır.",

  usermatchmode => "$terms.Bug girerken veya değiştirirken kullanıcı adları için eşleştirme dizgelerinin girilmesine izin ver.<p> 'kapalı' eşleştirmeyi kapatır,<br>'joker' sadece joker karakterlere izin verir,<br>ve 'ara' hem joker karakterlere hem de iç metin (substring) eşleştirmeye izin verir.",

  maxusermatches => "En fazla bu kadar eşleme ara.<br> " _
                    "Eğer '1' girerseniz, muğlak eşleşmelerde hiç kullanıcı gösterilmez. " _
                    "Kullanıcı gizliliğini sağlamak için kullanılabilir.<br> " _
                    "Sıfır (0) sınır yok demektir.",

  confirmuniqueusermatch => "Bir aramada sadece bir kullanıcı eşleşirse bir onay ekranı gösterilip gösterilmeyeceği." }
%]
