[Desktop Entry]
Exec=kcmshell4 network-manager
Icon=applications-internet
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=network-manager/network-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Network Manager
Name[tr]=Ağ Yöneticisi
Name[sv]=Nätverkshanteraren
Name[es]=Conexiones de Red
Name[de]=Netzwerkverbindungen
Name[nl]=Netwerkbeheer
Comment=Network Manager
Comment[sv]=Nätverkshanteraren
Comment[es]=Administrador de Red
Comment[de]=Netzwerkverbindung konfigurieren
Comment[tr]=Ağ Yöneticisi
Comment[nl]=Beheerder voor netwerk
X-KDE-Keywords=python network manager dns ethernet wireless ip dhcp internet
X-KDE-Keywords[tr]=python ağ yönetici dns ethernet kablosuz ip dhcp internet
X-KDE-Keywords[nl]=python netwerkbeheer dns ethernet draadloos ip dhcp internet
X-KDE-Keywords[de]=python netzwerk dns ethernet wireless ip dhcp internet
