[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Translator		: Baris Ozyurt <baris@tuxworkshop.com>
  #%]

[%# This is a list of all the possible messages. Please keep them in
  # alphabetical order by message tag, and leave a blank line between messages.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% message_tag = message %]

[% message = BLOCK %]
  [% IF    message_tag == "buglist_adding_field" %]
    [% title = "Alanı arama sayfasına eklemek..." %]
    [% link  = "Sayfa otomatik olarak yeniden yüklenmezse burayı tıklayın." %]

  [% ELSIF message_tag == "buglist_load_named_query" %]
    [% title = BLOCK %]
    [% namedcmd FILTER html %] isimli aramanız yükleniyor
    [% END %]
    [% link  = "Sayfa otomatik olarak yeniden yüklenmezse burayı tıklayın." %]

  [% ELSIF message_tag == "buglist_updated_named_query" %]
    <code>[% queryname FILTER html %]</code> isimli arama kaydınız güncellendi.

  [% ELSIF message_tag == "buglist_new_default_query" %]
    Yeni varsayılan arama tipiniz kaydedildi.  Ayrıca dilerseniz
    arama sonuçlarını favorilerinize de kaydedebilirsiniz.

  [% ELSIF message_tag == "buglist_new_named_query" %]
    <code>[% queryname FILTER html %]</code> isimli yeni arama kaydınız kaydedildi.

  [% ELSIF message_tag == "buglist_query_gone" %]
    [% title = "Search is gone" %]
    [% link  = "Go back to the search page." %]
    OK, the <b>[% namedcmd FILTER html %]</b> search is gone.

  [% ELSIF message_tag == "buglist_sorted_by_relevance" %]
    [% terms.Bugs %] on this list are sorted by relevance, with the most
    relevant [% terms.bugs %] at the top.
    [% IF bugs.size == 200 %]
      Only the 200 most relevant [% terms.bugs %] are shown.
    [% END %]

  [% ELSIF message_tag == "change_columns" %]
    [% title = "Kolon değişikliği" %]
    Aramanız yeni kolonlarla tekrarlanıyor...
    Sayfa kendisini otomatik olarak yeniden yüklemezse 
    <a href="[% redirect_url FILTER html %]">burayı</a> 
    tıklayın.

  [% ELSIF message_tag == "emailold_change_cancelled" %]
    [% title = "Cancel Request to Change Email Address" %]
    The request to change the email address for your account to
    [%+ new_email FILTER html %] has been cancelled.

  [% ELSIF message_tag == "email_change_cancelled" %]
    [% title = "Cancel Request to Change Email Address" %]
    The request to change the email address for the
    account [%+ old_email FILTER html %] to
    [%+ new_email FILTER html %] has been cancelled.

  [% ELSIF message_tag == "email_change_cancelled_reinstated" %]
    [% title = "Cancel Request to Change Email Address" %]
    The request to change the email address for the
    account [%+ old_email FILTER html %] to 
    [%+ new_email FILTER html %] has been cancelled.
   Your old account settings have been reinstated.

  [% ELSIF message_tag == "logged_out" %]
    [% title = "Çıkış Yapıldı" %]
    [% url = "query.cgi?GoAheadAndLogIn=1" %]
    [% link = "Tekrar giriş." %]
    <b>Giriş bilgileriniz unutuldu</b>.
    Hesap bilgilerinizi içeren çerez silindi. Tekrar giriş yapmak
    istediğinizde parolanızı girmeniz gerekecektir.

  [% ELSIF message_tag == "login_changed" %]
    [% title = "$terms.Bugzilla Login Changed" %]
    Your [% terms.Bugzilla %] login has been changed.

  [% ELSIF message_tag == "password_change_cancelled" %]
    [% title = "Cancel Request to Change Password" %]
    Your request has been cancelled.

  [% ELSIF message_tag == "password_change_request" %]
    [% title = "Parola Değişikliği Talebi" %]
    Parola değişikliği onayı için size bir e-posta gönderildi.
    Parolanızı değiştirmek için bu e-postada yazan talimatları uygulamalısınız.

  [% ELSIF message_tag == "password_changed" %]
    [% title = "Parola Değiştirildi" %]
    Parolanız değiştirildi.

  [% ELSIF message_tag == "flag_type_created" %]
    [% title = "Flama Tipi Oluşturuldu" %]
      <em>[% name FILTER html %]</em> isimli yeni flama tipi oluşturuldu.
      <a href="editflagtypes.cgi">Flama tiplerine dönüş.</a>
    
  [% ELSIF message_tag == "flag_type_changes_saved" %]
    [% title = "Flama Tipi Değişiklikleri Kaydedildi" %]
    <p>
      <em>[% name FILTER html %]</em> isimli flamada yaptığınız 
      değişiklikler kaydedildi.
      <a href="editflagtypes.cgi">Flama tiplerine dönüş.</a>
    </p>
    
  [% ELSIF message_tag == "flag_type_deleted" %]
    [% title = "Flama Tipi Silindi" %]
    <p>
      <em>[% name FILTER html %]</em> isimli flama tipi silindi.
      <a href="editflagtypes.cgi">Flama tiplerine dönüş.</a>
    </p>
    
  [% ELSIF message_tag == "flag_type_deactivated" %]
    [% title = "Flama Tipi Pasif Hale Getirildi" %]
    <p>
      <em>[% flag_type.name FILTER html %]</em> isimli flama tipi 
      pasif hale getirildi.
      <a href="editflagtypes.cgi">Flama tiplerine dönüş.</a>
    </p>
    
  [% ELSIF message_tag == "product_invalid" %]
    [% title = "$terms.Bugzilla Component Descriptions" %]
    <em>[% product FILTER html %]</em> isimli bir ürün ya da 
    bu ürüneerişim hakkınız bulunmamaktadır. Seçebileceğiniz ürünlerin 
    listesi şu şekildedir.

  [% ELSIF message_tag == "series_created" %]
    [% title = "Series Created" %]
      The series <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      has been created. Note that you may need to wait up to 
      [%+ series.frequency * 2 %] days before there will be enough data for a
      chart of this series to be produced.
      <br><br>
      Go back or 
      <a href="query.cgi?format=create-series">create another series</a>.
    
  [% ELSIF message_tag == "shutdown" %]
    [% title = "$terms.Bugzilla Kapalıdır" %]
    [% Param("shutdownhtml") %]
    [% IF userid %]
      <p>For security reasons, you have been logged out automatically.
      The cookie that was remembering your login is now gone.
    [% END %]

  [% ELSE %]
    [%# Give sensible error if error functions are used incorrectly.
      #%]        
    You are using [% terms.Bugzilla %]'s messaging functions incorrectly. You
    passed in the string '[% message_tag %]'. The correct use is to pass
    in a tag, and define that tag in the file messages.html.tmpl.<br>
    <br>
    If you are a [% terms.Bugzilla %] end-user seeing this message, please 
    save this page and send it to [% Param('maintainer') %].
    
  [% END %]
[% END %]
