[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # abuser: identity of the user who created the (invalid?) token.
  # token_action: the action the token was supposed to serve.
  # expected_action: the action the user was going to do.
  # script_name: the script generating this warning.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl title = "Şüpheli Eylem"
                                   style_urls = ['skins/standard/global.css'] %]

[% IF abuser %]
  <div class="throw_error">
    <p>[% terms.BugzillaLoc %] bir yönetim formunu açtığınızda, yapmak istediğiniz değişikliklerin [% terms.Bugzilla %] kullanılarak yapıldığından emin olmak için rasgele bir dizge oluşturulur ve hem veritabanında hem de açtığınız formda saklanır. Ancak şu an kullanılan özel dizge geçerli bir dizge değil, yani görünüşe göre buraya doğru sayfadan gelmemişsiniz. Kullanılan dizge şu :</p>
    

    <table border="0" cellpadding="5" cellspacing="0">
      [% IF token_action != expected_action %]
        <tr>
          <th>Depolanan&nbsp;eylem:</th>
          <td>[% token_action FILTER html %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            Bu eylem beklenen eylemle ([% expected_action FILTER html %]) uyuşmuyor.
          </td>
        </tr>
      [% END %]

      [% IF abuser != user.identity %]
        <tr>
          <th>Oluşturan:</th>
          <td>[% abuser FILTER html %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            Bu dizge tarafınızdan oluşturulmamış. Birinin sizi aldatmaya çalışmış olma ihtimali var!
          </td>
        </tr>
      [% END %]
    </table>

    <p>Lütfen bu problemi [%+ Param("maintainer") FILTER html %] adresine bildirin.</p>
  </div>
[% ELSE %]
  <div class="throw_error">
    Görünüşe göre doğru sayfadan gelmiyorsunuz ('[% script_name FILTER html%]' betiği işlenirken <em>[% expected_action FILTER html %]</em> eylemi için geçerli bir dizgeye ulaşılamadı. Sebep şunlardan biri olabilir:<br>
    <ul>
      <li>Başarıyla sonuçlanan değişiklikler yaptıktan sonra web tarayıcınızın "Geri" düğmesine tıkladınız (bu, zararsız olmakla birlikte, pek de iyi bir fikir değildir.</li>
      <li>Adresi doğrudan web tarayıcınızın adres çubuğuna yazdınız (bu yöntem güvenli olmakla birlikte dizge uyuşmaz).</li>
      <li>Siz doğrudan istemediğiniz halde, tıkladığınız bir bağlantı sizi bu sayfaya yönlendirdi (bu durum oldukça tehlikelidir).</li>
    </ul>
    Yine de bu değişiklikleri yapmak istiyor musunuz? Bu değişiklikler beklenmedik ve istenmeyen sonuçlar doğurabilir.
  </div>

  <form name="check" id="check" method="post" action="[% script_name FILTER html %]">
    [% PROCESS "global/hidden-fields.html.tmpl"
               exclude="^(Bugzilla_login|Bugzilla_password)$" %]
    <input type="submit" id="confirm" value="Değişiklikleri Onayla">
  </form>
  <p>Ya da bu değişikliklerden vazgeçebilir ve <a href="[% script_name FILTER html %]">
    [%- script_name FILTER html %]</a> adresine geri dönebilirsiniz.</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
