[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "$terms.Bug Raporlama Kılavuzu" %]

<h3>İçindekiler</h3>
<ul>
<li><a href="#why">Bu Belgeyi Niçin Okumalısınız</a></li>
<li><a href="#useful">Bir [% terms.Bug %] Raporunu Faydalı Yapan Nedir?</a></li>
<li><a href="#before">Başlamadan Önce...</a></li>
<li><a href="#reporting">Yeni Bir [% terms.Bug %] Raporlamak</a></li>
<li><a href="#more">İyi [% terms.Bugs %] Raporlamak İçin Daha Fazla Bilgi</a></li>
</ul>

<h3><a name="why">Bu Belgeyi Niçin Okumalısınız</a></h3>

<blockquote>
  <p>Şöyle düşünün, ne kadar etkili [% terms.abug %] raporlarsanız, o hatanın geliştiriciler için düzeltilmesi o kadar cazip olur. Bu belge [% terms.bug %] raporlamaya yeni başlayan veya [% terms.bug %] raporlamak hakkında orta seviyede bilgisi olan kullanıcılara nasıl etkili [% terms.bug %] raporlanması gerektiğini anlatır.</p>
</blockquote>

<h3><a name="useful">Bir [% terms.Bug %] Raporunu Faydalı Yapan Nedir?</a></h3>

<blockquote>
  <p>Faydalı bir [% terms.bug %] raporu kolay düzeltilir. Faydalı bir [% terms.bug %] raporunun iki niteliği vardır:</p>

  <ul>
    <li><b>Tekrar edilebilirlik.</b> Geliştiriciler tekrarlayabildikleri [% terms.bugs %]ı düzeltmeyi tercih ederler. Eğer bir geliştirici raporlanan [% terms.bug %]yı tekrar edemiyorsa "[% get_resolution("WORKSFORME") FILTER html %]" yada "[% get_resolution("INVALID") FILTER html %]" olarak işaretleyebilir.<br>
    <br>
    </li>

    <li><b>Özgünlük.</b> Bir [% terms.bug %]nın olası kaynağı ne kadar belirli ve özgün bir alan icinde tarif edilirse, geliştiricinin çözüm için harcayacağı zaman o kadar azalır. (Raporladığınız [% terms.bug %]yı anlamak geliştirici için şifre çözmeye benzerse, sorunu çözmek için harcayacağı zamanı hakkınızda kötü şeyler söyleyerek geçirebilir.)<br>
        </li>
  </ul>

</blockquote>

<h3><a name="before">Başlamadan Önce...</a></h3>

<ol>
  <li>Herhangi bir [% terms.bug %] raporlamadan önce, [% terms.Bugzilla %]'nın 
  <a href="query.cgi?format=specific">Arama</a> özelliğini kullanarak,[% terms.bug %]nın başkaları tarafından daha önce raporlanmadığına emin olun.</li>

  <li>[% terms.Bug %]yı güncel sürümü kullanarak tekrar etmeye çalışın. Raporlamak istediğiniz [% terms.bug %], geliştiricilerin üzerinde çalıştıkları son sürümde düzeltilmiş olabilir.</li>
</ol>

<blockquote>
[% terms.Bug %]yı [% terms.Bugzilla %]'da arayıp bulamadıysanız ve güncel sürümle tekrar edebiliyorsanız, yeni bir hata raporu oluşturabilirsiniz demektir.
</blockquote>

<h3><a name="reporting">Yeni Bir [% terms.Bug %] Raporlamak</a></h3>

<ol>
 <li>[% terms.Bugzilla %] anasayfasında bulunan
 "<a href="enter_bug.cgi">Yeni bir [% terms.bug %] raporu girişi</a>" bağlantısına tıklayın.</li>

 <li>[% terms.Bug %]sını bulduğunuz ürünü seçin.</li>

 <li>[% terms.Bugzilla %]'ya kullanıcı girişi yapın.</li>

 <li>Aşağıda ayrıntıları verilen formu doldurun:</li>

</ol>


  <p><b>[% terms.Bug %]yı nerede buldunuz?</b></p>

  <blockquote>
    <p><b>Ürün(Product):</b> Hangi ürün içinde buldunuz?<br>
     Zaten bir önceki sayfada seçtiğiniz ürün bilgilerini gösterir.</p>

    <p><b>Sürüm(Version):</b> Hatasını bulduğunuz ürünün sürüm bilgileri?(Mevcutsa)</p>

    <p><b>Bileşen(Component):</b> Hata hangi bileşeni ilgilendiriyor?<br>
    [% terms.Bugzilla %]'da [% terms.abug %] raporlamak için mutlaka bir bileşen seçmeniz gerekir.
    (Bileşenlere ait açıklayıcı bilgilere ulaşmak için 'Bileşen' bağlantısına tıklayın.)</p>

    <p><b>İşletim Sistemi(OS):</b> Hatayı hangi işletim sistemi altında buldunuz.
    (Bu bilgi hata raporlama sisteminin Pardus'a uyarlanmasından sonra önemini yitirmiştir.)</p>
  </blockquote>

  <p><b>[% terms.Bug %] ne kadar önemli?</b></p>

  <blockquote>
    <p><b>Önem(Severity):</b> Hata ne kadar zararlı.<br> Öntanımlı önem değeri 'normal' olarak belirlenmiştir. ('Önem' bağlantısına tıklayarak her değerin açıklayıcı bilgilerine ulaşabilirsiniz.)<br>
    </p>
  </blockquote>

  <p><b>[% terms.Bug %] ile kim ilgilenecek?</b></p>

  <blockquote>
    <p><b>Atanmış(Assigned to):</b> Bildirdiğiniz hatanın hangi geliştiricinin sorumluluğunda olduğunu gösterir.<br>
    [% terms.Bugzilla %] kayıt sırasında [% terms.bug %]yı otomatik olarak öntanımlı  geliştiriciye atar. Eğer [% terms.bug %]yı başka birine atamak isterseniz, atayacağınız kişini e-posta adresini yazın. (Hangi bileşenin, öntanımlı olarak hangi geliştiriciye ait olduğunu öğrenmek için 'Bileşen' bağlantısına tıklayın.)</p>

    <p><b>Cc:</b> Bu [% terms.bug %] raporu üzerinde yapılacak değişikler başka bir kimseye bildirilmeli mi?<br>[% terms.Bug %] raporu üzerinde yapılacak değişikliklerin gönderileceği e-posta listesidir. İstediğiniz sayıda e-posta adresi ekleyebilirsiniz, ancak her birini bir boşluk ya da virgül ile ayırmalısınız. Önemli: Yalnızca [% terms.Bugzilla %] hesabı olan kullanıcıların e-posta adreslerini yazabilirsiniz.</p>
  </blockquote>

  <p><b>[% terms.Bug %] hakkında geliştiriciye ne söyleyebilirsin?</b></p>

  <blockquote>
    <p><b>Özet(Summary):</b> Bir [% terms.bug %]yı yaklaşık 60 yada daha az karakter kullanarak nasıl anlatabilirsiniz?<br>İyi bir özet <b>[% terms.abug %]yı hızlı ve eşsiz bir şekilde tanımlamalıdır</b>. Bir geliştirici raporladığınız [% terms.bug %]yı özetinden tanıyamazsa sayfalar dolusu bir liste içinde ararken gözden kaçırabilir.<br>
    <br>"<tt>Dosya kopyalama iptal edilince Konqueror çöküyor</tt>" faydali bir özet örneğidir. "<tt>Uygulama çöküyor</tt>" ya da "<tt>Kopyalama sorunu</tt>" kötü özetlere birer örnektir.<br>
    <br>
     <b>Açıklama(Description):</b><br>
Ayrıntılı bir raporlama sağlar. [% terms.Bug %]nın alıcısı büyük olasılıkla şu bilgileri talep edecektir:</p>

    <blockquote>
      <p><b>Yüzeysel açıklama:</b> Özetin daha genişletilmiş ve açıklayıcı şekli.</p>

      <blockquote>
<pre>
NTFS formatlı bir diske büyük boyutlu dosyalar kopyalanırken, grafik arayüz kullanılarak kopyalama iptal edilirse çöküş gerçekleşiyor. Yarım kalan dosya silinmiyor.
</pre>
      </blockquote>

      <p><b>Tekrarlama adımları:</b> [% terms.Bug %]yı tekrar oluşturmak için yapılması gereken şeyleri sırayla anlatın.</p>

      <blockquote>
<pre>
1) Ext3 dosya formatına sahip bir disk bölümünden 300mb veya daha fazla boyuta sahip bir dosya kopyalanır ve NTFS formatlı bir disk bölümüne yapıştırılır.

2) Bir süre geçtikten sonra (ben %10'a kadar gelmesini bekliyorum) 'İptal' düğmesine basın ve biraz bekleyin.
</pre>
      </blockquote>

      <p><b>Sonuç:</b> Yukarıdaki adımları uyguladıktan sonra uygulama ne tepki veriyor?</p>

      <blockquote>
<pre>
Uygulama çöküyor.(Kioslave uygulaması çöktü ve 11 (SIGSEGV) sinyali gönderdi)
</pre>
      </blockquote>

      <p><b>Beklenen Sonuç:</b> Bu adımlardan sonra uygulamanın [% terms.bug %]yı oluşturmak yerine nasıl tepki vermesi gerekirdi?</p>

      <blockquote>
<pre>
Kopyalama işleminin durdurulması, kopyalanan kısmın silinmesi gerekirdi.
(Ya da en azından uygulama çökmemeliydi.)
</pre>
      </blockquote>

      <p><b>Oluşturma tarihi:</b> [% terms.Bug %]yı oluşturduğunuz tarih.</p>

      <blockquote>
<pre>
Hatayı 12.05.2007 tarihinde oluşturdum.
</pre>
      </blockquote>

      <p><b>Ek bilgiler:</b> Hatanın tespiti için yararlı olabilecek diğer bilgiler.</p>

<pre>
<b>Not:</b> Bu sorunla contrib deposundaki x paketini kurduktan sonra karşılaşmaya başladım. İlgisi olabilir mi acaba?
</pre>

    </blockquote>

  <p>İşlem tamam!<br>
  <br>Yazdıklarınızı herhangi bir yanlışlığa karşı ikinci kez kontrol ettikten sonra, "Gönder"(Commit) düğmesine tıklayın. Ardından [% terms.bug %] raporunuz [% terms.Bugzilla %] veritabanına eklenecektir.
  <br>
  </p>
</blockquote>
<hr>

<h3><a name="more">İyi [% terms.Bugs %] Raporlamak İçin Daha Fazla Bilgi</a></h3>

<blockquote>
  <p><b><a name="tips"></a> 1. Faydalı [% terms.bug %] 
     raporları için genel tavsiyeler</b></p>

  <blockquote>
    <p><b>[% terms.Bug %] raporlarken oldukca belirgin bir yapı kullanın ki, anlaşılması ve takibi kolay olsun.</b> [% terms.Bug %] raporlarını takip eden kişiler çoğunlukla [% terms.bug %]nın belli bir kısmına ihtiyaç duyarlar. Bu nedenle lütfen yukarıda tavsiye edilen rapor yapısını kullanın.</p>

    <p><b>Eğer anlaşırlığı ve açıklığı engelleyecekse esprili [% terms.bug %] raporlarmaktan kaçının.</b> Çünkü gecenin üçünde raporladığınız [% terms.bug %]yı arayan ve yazdığınız o esprili [% terms.bug %] özetini hatırlayamadığı için bulamayan kimse, buna kesinlikle gülmeyecektir.</p>

    <p><b>Her raporda yalnızca bir [% terms.bug %] anlatın.</b> [% terms.bugs %] bir çok farklı geliştirici tarafından incelenip  doğrulanıyor, düzeltiliyor yada önceliği belirleniyor. Eğer birkaç [% terms.bug %]yı aynı rapora sıkıştırırsanız, muhtemelen [% terms.bug %] uygun şekilde incelenemeyecek ve düzeltilemeyecektir. Bazı [% terms.bugs %] diğerlerine göre daha önemlidir. Ancak bir [% terms.bug %] raporunun içinde farklı önem derecelerine sahip birkaç [% terms.bug %] anlatılırsa, bu derecelendirme doğal olarak mümkün olmaz.
    </p>

    <p><b>Hiç bir [% terms.bug %] raprolanmayacak kadar önemsiz değildir.</b> Kaynak kodu okumadıkça, asıl yazılım [% terms.bugs %]ını göremezsiniz. Örneğin karşılıksız bir işaretçinin 'parçalama arızası' gibi belirtilerini ancak uygulama göçtükten sonra farkedebilirsiniz. Önemli yazılım sorunları kendilerini çok basitmiş gibi göstererek ortaya çıkabilirler. Bu tür basit görünümlü hataları raporlamaktan çekinmeyin.<br>
    </p>
  </blockquote>

  <p><b><a name="summary"></a>2. Neden ve nasıl iyi [% terms.bug %]
  özeti yazmalı</b></p>

  <blockquote>
    <p><b>[% terms.Bug %] ile ilgilenecek olan geliştirici üzerinde iyi bir etki bırakmalısınız.</b> Raporladığınız [% terms.bug %]ya ait özet bir gazetenin manşetinde yer alsaydı,okuyucuların oylarıyla en iyinin belirlendiği, düzinelerce aday manşet arasından en iyi manşet olarak seçilebilir miydi?</p>

    <p><tt>'Kurulum sorunu'</tt> gibi anlaşılmaz bir [% terms.bug %] özeti, benzer sorunlar arasında inceleme yapan biri için hiç birşey ifade etmez. Sorunu tam olarak anlayabilmek için [% terms.bug %] raporunu açıp okumak zorunda kalır ve bu da oldukça fazla zaman kaybına neden olur. </p>

    <p><b>[% terms.Bug %] raporları çoğunlukla özete göre aranır.</b>Nasıl Google'da web sitelerini arıyorsanız, diğer insanlar da [% terms.bug %] raporunuza ulaşmak için arama yapacaklardır. Açıklayıcı [% terms.bug %] özetleri anahtar kelime açısından zengindir ve dolayısıyla bulunması kolaydır.</p>

    <p>Örneğin 'VirtualBox', 'komut' veya 'esnek' anahtar kelimelerini kullanarak <tt>'VirtualBox komut satırında esnek boyutlu sanal disk oluşturmama izin vermiyor.'</tt> özetine ulaşabilirken <tt>'Disk oluşturma sorunu'</tt> özetine ulaşamazsınız. 
    </p>

    <p>Kendinize şunu sorun, "Yalnızca bu özeti okuyan insanlar raporladığım [% terms.bug %]yı anlayabilirler mi?" Eğer öyleyse başardınız demektir.</p>

    <p><b>Asla bu tür başlıklar kullanmayın:</b></p>

    <ol>
      <li>"Kuramıyorum" - Neden kuramıyorsunuz? Kurmaya çalıştığınızda ne oluyor, ne ile karşılaşıyorsunuz?</li>

      <li>"Bazı Performans Sorunları Var" - ...peki ama bu sorunlar ne yapınca, neden sonra ortaya çıkıyor?</li>

      <li>"Geri Dön Tuşu çalışmıyor" - Ne zaman? Her zaman? Genelde?</li>
    </ol>

    <p><b>İyi [% terms.bug %] başlıkları:</b></p>

    <ol>
      <li>"Başarısız posta gönderimi sonrası Kaydet tuşu çalışmıyor." -
      Sorun ve sebebini açıklıyor.</li>

      <li>"'Resim Yükleme' penceresinde &amp; kaçışını kullanmanın bir etkisi olmuyor." -
      Aynı şekilde sorun ve sebebini açıklıyor.</li>
    </ol>
  </blockquote>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
