body {
    margin: 0px;
    padding: 0px;
    background-image: url("../resim/arkaplan.png");
    font-family: "Lucida Grande", "Lucida Sans Unicode", arial, helvetica, clean, verdana, sans-serif;
}

/* alignments */
.center {
    text-align: center;
}

img.center, img[align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floatl {
    float: left;
}

img.floatl, img[align="left"] {
    float: left;
    margin: 2px 10px 5px 0px;
}

.floatr {
    float: right;
}

img.floatr, img[align="right"] {
    float:right;
    margin: 2px 0px 5px 10px;
}

.clearl {
    clear: left;
}

.clearr {
    clear: right;
}

.clear {
    clear:both;
}

.italic { font-style: italic }
.bold { font-weight: bold }

.header {
    height: 64px;
    width: 908px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    margin-top: 15.5px;
    margin-left: 23px;
}

#language {
    margin-top: 25px;
    margin-right: 23px;
}

.container_top {
    background: url("../resim/container_top.png") no-repeat bottom left;
    height: 9px;
    width: 926px;
    margin-left: auto;
    margin-right: auto;
}

.container_bottom {
    background: url("../resim/container_bottom.png") no-repeat;
    height: 10px;
    width: 926px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 926px;
    min-height: 540px;
    margin-left: auto;
    margin-right: auto;
    background: url("../resim/container_bg.png") repeat-y;
    overflow: hidden;
}

#content {
    margin: 10px 0px 10px 14px;
    width: 654px;
    min-height: 520px;
    overflow: hidden;
    float: left;
}

.content_title {
    font-size: 22px;
    font-weight: bold;
    color: #58797C;
    padding-top: 16px;
    padding-left: 16px;
    width: 450px;
}

.content_text {
    line-height: 14px;
    font-size: 11px;
    color: #58797C;
    padding-top: 16px;
    padding-left: 16px;
    padding-left: 16px;
    width: 640px;
    overflow: hidden;
}
.content_text a {
    color: #58797C;
}

.icerik_altsayfa_yazi {
    line-height: 14px;
    font-size: 11px;
    color: #58797C;
    padding-top: 16px;
    padding-left: 16px;
    width: 640px;
    overflow: hidden;
}
.icerik_altsayfa_yazi a {
    color: #58797C;
}

.icerik_sss_sorular {
    line-height: 13px;
    font-size: 11px;
    color: #58797C;
    margin-top: 16px;
    margin-left: 16px;
    width: 250px;
    height: 460px;
    overflow: none;
    float: left;
}

.icerik_sss_sorular h3 {
    font-size: 15px;
    line-height: 16px;
}

.icerik_sss_sorular li a, .icerik_sss_sorular li.secili a {
    text-decoration: none;
    color: #58797C;
}

.icerik_sss_cevaplar {
    line-height: 13px;
    font-size: 11px;
    color: #58797C;
    margin-top: 16px;
    margin-left: 16px;
    width: 327px;
    height: 460px;
    overflow: none;
    float: left;
}

.icerik_sss_cevaplar a {
    color: #58797C;
}

.icerik_sss_cevaplar h3 {
    color: #58797C;
    font-size: 15px;
    line-height: 16px;
}

.icerik_sss_dikeybolucu {
    background: url('../resim/ara_dikey.png') no-repeat;
    width: 2px;
    height: 483px;
    margin-top: 18px;
    margin-left: 29px;
    margin-right: 5px;
    float: left;
}

.icerik_sss_yataybolucu {
    background: url('../resim/ara_yatay.png') no-repeat;
    width: 327px;
    height: 2px;
}

.content_detail_button {
    margin-top: -8px;
}

.content_pointer_container {
    margin-top: 12px;
    width: 714px;
}

.content_pointer {
    color: #58797C;
    padding-left: 20px;
    width: 208px;
}

.content_pointer_text {
    font-size: 11px;
    padding-left: 5px;
}

.content_pointer_text img {
    display: block;
    padding-bottom: 8px;
    margin-top: -4px;
}

#menu {
    margin-left: -36px;
    width: 200px;
}

img.menu_img {
    border: 0;
    margin-bottom: -3px;
}

#sidebar {
    float: right;
    width: 227px;
    height: 520px;
    position: relative;
    top: 25px;
    right: 27px;
    z-index: 1;
}

#sidebar div, #sidebar img { float: right; }

/* sidebar items */
#opened_kurumsal { background: url('../resim/menu/opened/kurumsal.png') no-repeat; }
#opened_cozum_ortaklari { background: url('../resim/menu/opened/cozumortaklari.png') no-repeat; }
#opened_gelistirici { background: url('../resim/menu/opened/gelistirici.png') no-repeat; }
#opened_bireysel { background: url('../resim/menu/opened/bireysel.png') no-repeat; }

.sidebar_opened {
    width: 227px;
    padding-bottom: 14px;
    font-size: 11px;
}

.sidebar_closed {
    width: 200px;
    height: 33px;
}

.sidebar_opened ul {
    margin-top: 37px;
    list-style-image: url('../resim/bullet.png');
    margin-bottom: 0px;
}
.sidebar_opened a {
    text-decoration: none;
    color: #FFFCCC;
}

li.secili a {
    font-weight: bold;
    color: white;
}

#sidebar_bottom {
    float: right;
    width: 190px;
    position: absolute;
    left: 46px;
    top: 330px;
}

#sidebar_bottom div {
    width: 163px;
    height: 51px;
    margin-top: 2px;
    padding-top: 8px;
    padding-left: 6px;
    cursor: pointer;
}
#sidebar_bottom a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}
#indir { background: url('../resim/sag_alt_indir.png') no-repeat; }
#dukkan { background: url('../resim/sag_alt_dukkan.png') no-repeat; }
#basin { background: url('../resim/sag_alt_basin.png') no-repeat; }

#footer {
    height: 81px;
    width: 885px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 9px;
}

.alt_sutun {
    width: 221px;
    height: 77px;
    float: left;
    cursor: pointer;
}

.alt_sutun span {
    position: relative;
    top: 30px;
}

.alt_sutun a {
    font-size: 10px;
    text-decoration: none;
    color: #58797C;
}

.tubitakuekae span { left: 99px; }
.iletisim span { left: 103px; }
.yasal span { left: 102px; }
.kariyer span { left: 102px; }
.tubitakuekae { background: url('../resim/alttubitakuekae.png') no-repeat 15px 10px; }
.iletisim { background: url('../resim/altiletisim.png') no-repeat center left; }
.yasal { background: url('../resim/altmarkapolitikasi.png') no-repeat center left; }
.kariyer { background: url('../resim/altmarkapolitikasi.png') no-repeat center left; }
