[Desktop Entry]
Name=History Manager
Name[tr]=Geçmiş Yöneticisi
Name[es]=Administrador de Históricos
Name[de]=History Manager
Name[sv]=Historikhanteraren
Name[fr]=Historique de PiSi
GenericName=History Manager
GenericName[tr]=Geçmiş Yöneticisi
GenericName[es]=Administrador de Históricos
GenericName[de]=History Manager 
GenericName[sv]=Historikhanteraren
GenericName[fr]=Historique de PiSi
Comment=An application for managing Pisi history
Comment[tr]=Pisi geçmişini yönetmenizi sağlayan bir uygulama
Comment[es]=Administración históricos con ayuda del registro de instalaciones de Pisi
Comment[de]=History Manager mit Hilfe des Pisi Registers der installierten Pakete
Comment[sv]=Program för att hantera Pisis historik
Comment[fr]=Permet de revenir en arrière sur une opération PiSi en cas de problème
Exec=history-manager
Icon=user-away-extended
Type=Application
Categories=Qt;KDE;System;

