[Desktop Entry]
Exec=kcmshell4 history-manager
Icon=user-away-extended
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=history-manager/history-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=History Manager
Name[tr]=Geçmiş Yöneticisi
Name[es]=Administrador de Históricos
Name[de]=History Manager 
Name[sv]=Historikhanteraren
Name[fr]=Historique de PiSi
Comment=History Manager
Comment[tr]=Geçmiş Yöneticisi
Comment[fr]=Historique des opérations PiSi
X-KDE-Keywords=python history managers
X-KDE-Keywords[fr]=python historique pisi
