body {
    background: #fff;
    color: #000;
    margin: 15px;
    padding: 0;
}

body, th, td {
    font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

h1, h2, h3, h4 {
    font-family: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: -0.018em;
}

h1 { font-size: 22px; margin: .15em 1em 0 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }

table {
    margin:1em 0;
    border-top:1px solid #b98;
    border-left:1px solid #b98;
    font-size:85%;
}

th, td {
    border-right:1px solid #ba9;
    border-bottom:1px solid #ba9;
    padding:4px 10px;
    text-align:left;
    vertical-align:top;
}

th {
    background: #0066B3;
    font-weight: bold;
    color: #fff;
}

.milestone dl {
    clear:both;
    font-size: 10px;
    font-style: italic;
    margin: 10 1em 2em;
    white-space: nowrap;
}

.milestone dt { display: inline; margin-left: .5em }
.milestone dd { display: inline; margin: 0 1em 0 .5em }

.prog-percent {
    margin: 8px;
}

.prog-border {
    height: 18px;
    width: 650px;
    background: #fff;
    border: 1px solid silver;
    float:left;
}

.prog-bar {
    height: 16px;
    margin: 1px;
    padding: 0;
    background: #00487D;
}

/* Bar Definitions */

.bar {
    margin-bottom:7px;
    margin-top:7px;
}

.bar>span.text {
    float:left;
}

.bar>span.percent {
    float:right;
    margin-left:8px;
}

.bar>div {
    height: 16px;
    width: 140px;
    background: #fff;
    border: 1px solid silver;
    float:right;
}

.bar>div>div {
    height: 14px;
    margin: 1px;
    padding: 0;
    background: #0066B3;
    color:#fff;
}

.bar>div>div:after {
    padding-left:2px;
    float:left;
}

.bar:after {
    color:white;
    content:'.';
    clear:both;
}
