{% extends 'base.html' %}
{% load library %}
{% load i18n %}
{% block content %}
    <table class="package_list">
        <tr>
            <th>{% trans "Package" %}</th>
            <th>{% trans "Summary" %}</th>
            <th>{% trans "Maintainer" %}</th>
            <th>{% trans "Distribution" %}</th>
        </tr>
        {% for source in source_list %}
        <tr>
            <td><a href="{% url repo-source-info source.distribution.name source.distribution.release source.name %}">{{ source.name }}</a></td>
            {% for summary in source.info.summary_set.all %}
            {% ifequal summary.language LANGUAGE_CODE %}
                <td>{{ summary.text }}</td>
            {% else %}
                {% ifequal source.info.summary_set.count 1 %}
                    <td></td>
                {% endifequal %}
            {% endifequal %}
            {% endfor %}
            <td><a href="{% url profile-detail source.maintained_by %}">{{ source.maintained_by.get_full_name }}</a></td>
            <td>{{ source.distribution }}</td>
        </tr>
        {% endfor %}
    </table>

    <p></p>

    {% if is_paginated %} {% paginator %} {% endif %}
{% endblock %}
