[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Alexander Eiser <alexe@ed.ca>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # field: object; the field object that you are trying to delete.
  # token: string; the delete_field token required to complete deletion.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% title = BLOCK %]
  '[% field.name FILTER html %]' ([% field.description FILTER html %]) Alanını Sil
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           doc_section = "custom-fields.html#delete-custom-fields"
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Alan</th>
  <th valign="top" align="left">Değer</th>
</tr>
<tr>
  <td valign="top">Custom Field:</td>
  <td valign="top">[% field.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Description:</td>
  <td valign="top">[% field.description FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Type:</td>
  <td valign="top">[% field_types.${field.type} FILTER html %]</td>
</tr>
</table>

<h2>Onay</h2>

<p>
  Bu alanı veritabanından silmek istediğinize emin misiniz?<br>
  <em>Bu eylem sadece alan artık geçerliliğini yitirmişse ve [% terms.abugLoc FILTER html %] başarılı olur.</em>
</p>

<a href="editfields.cgi?action=delete&amp;name=[% field.name FILTER html %]&amp;token=[% token FILTER html %]">
  '[% field.description FILTER html %]' alanını sil</a>

<p>
  <a href="editfields.cgi">Özel alanlar listesine geri dön</a>
</p>

[% PROCESS global/footer.html.tmpl %]
