[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]'[% email FILTER html %]' eposta adresiyle yeni bir kullanıcı hesabı oluştur[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

<div>
  Hesabınızı oluşturmak için, aşağıdaki forma bir parola girmelisiniz. Yaptığınız değişikliklerle birlikte eposta adresiniz ve gerçek adınız (eğer girerseniz) gösterilecektir.
</div>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th align="right">Eposta Adresi:</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><small><i>(TERCİHLİ)</i></small> <label for="realname">Gerçek Ad</label>:</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd1">Parolanızı yazın</label>:</th>
      <td><input type="password" id="passwd1" name="passwd1" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd2">Parolanızı yeniden yazın</label>:</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th align="right">&nbsp;</th>
      <td><input type="submit" id="confirm" value="Gönder"></td>
    </tr>
  </table>
</form>

<p>
  Eğer <u>[% expiration_ts FILTER time("%B %e, %Y saat %H:%M %Z") %]</u> olmadan bu formu doldurmazsanız hesabınız açılmayacaktır.
</p>

<p>
  Eğer bu eposta adresini kullanarak bir hesap oluşturmak istemiyorsanız aşağıdaki <i>Oluşturmayı İptal Et</i> düğmesine basarsanız hakkınızdaki bilgiler sistemden silinecektir.
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="Oluşturmayı İptal Et">
</form>

[% PROCESS global/footer.html.tmpl %]
