[Desktop Entry]
Encoding=UTF-8
Name=Migration
Name[tr]=Migration
Name[de]=Migration
Name[es]=Migración
Name[nl]=Migratie
GenericName=Pardus Migration Tool
GenericName[tr]=Pardus Göç Aracı
GenericName[de]=Pardus Migrations-Tool
GenericName[es]=Herramienta Pardus de migración
GenericName[nl]=Pardus Migratie Gereedschap
Exec=migration
Icon=migration
Type=Application
Comment=A wizard to transfer files and settings from existing operating systems
Comment[tr]=Eski işletim sistemlerinizden dosya ve ayarlarınızı aktarmanızı sağlayan bir sihirbaz
Comment[de]=Ein Assistent mit dem Sie Dateien und Einstellungen von Ihrem existierenden Betriebssystemen übertragen können
Comment[es]=Asistente para transferir configuraciónes y datos personales de un sistema operativo existente a Pardus
Comment[nl]=Een wizard om bestanden en instellingen te verplaatsen vanaf een bestaand besturingssysteem
Categories=Qt;KDE;System
