[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # value: string; The field value being deleted.
  # bug_count: number; The number of bugs that have this field value.
  # value_count: number; The number of values left for this field, including
  #              this value.
  # field: object; the field the value is being deleted from.
  # param_name: string; The name of the parameter (defaultxxx) associated
  #             with the field.
  #%]

[% title = BLOCK %]
  '[% field.description FILTER html %]'
  ([% field.name FILTER html %]) Alanından '[% value FILTER html %]' Değerini Sil
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Alan</th>
  <th valign="top" align="left">Değer</th>
</tr>
<tr>
  <td valign="top">Alan Adı:</td>
  <td valign="top">[% field.description FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Alan Değeri:</td>
  <td valign="top">[% value FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bug %] sayısı:</td>
  <td valign="top">
[% IF bug_count %]
  <a title="[% terms.bugs %] '[% field.description FILTER html %]' alanının '[% value FILTER html %]' olduğu hataların listesi"
     href="buglist.cgi?[% field.name FILTER url_quote %]=[%- value FILTER url_quote %]">[% bug_count FILTER html %]</a>
[% ELSE %]
  None
[% END %]
  </td>
</tr>
</table>

<h2>Onay</h2>

[% IF (param_name.defined && Param(param_name) == value) || bug_count || (value_count == 1) %]

  <p>Şu nedenlerle '[% field.description FILTER html %]' alanından '[% value FILTER html %]' değeri silinemez:</p>

  <ul class="warningmessages">
    [% IF param_name.defined && Param(param_name) == value %]
      <li>'[% field.description FILTER html %]' alanının öntanımlı değeri '[% value FILTER html %]'.
          [% IF user.groups.tweakparams %]
            Bu değeri silmeden önceden bu alanın <a href="editparams.cgi?section=bugfields#
            [%- param_name FILTER url_quote %]">öntanımlı değerini değiştir</a>melisiniz.
          [% END %]
    [% END %]

    [% IF bug_count %]
      <li>Bu alan değerini taşıyan [% bug_count FILTER html %] [%+ terms.bug %] var. Bu değeri silmeden önce 
          <a title="'[% field.description FILTER html %]' alanının '[% value FILTER html %]' olduğu [% terms.bugsGen %] listesi"
             href="buglist.cgi?[% field.name FILTER url_quote %]=[% value FILTER url_quote %]">o
            [% IF bug_count > 1 %]
               [% terms.bugsLoc %] 
            [% ELSE %]
              [% terms.bugLoc %]
            [% END %]
          </a>ki alan değerini değiştirmelisiniz.
    [% END %]

    [% IF value_count == 1 %]
      <li>'[% value FILTER html %]' '[%- field.description FILTER html %]' alanının son değeri, o yüzden silinemez.
    [% END %]
  </ul>

[% ELSE %]

  <p>Gerçekten bu değeri silmek istiyor musunuz?</p>

  <form method="post" action="editvalues.cgi">
    <input type="submit" value="Evet, sil" id="delete">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="field" value="[% field.name FILTER html %]">
    <input type="hidden" name="value" value="[% value FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = 1
 +%]

[% PROCESS global/footer.html.tmpl %] 
