[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmnotify
Icon=knotify
Type=Application
DocPath=kcontrol/kcmnotify/index.html

X-KDE-ModuleType=Library
X-KDE-Library=knotify
X-KDE-ParentApp=tasma

Name=System Notifications
Name[tr]=Sistem Bildirimleri

Comment=System Notification Configuration
Comment[tr]=Sistem Bildirimi Yapılandırması

Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification
Keywords[tr]=Sistem sesleri,Ses,Bildir,Alarmlar,Bildirme

Categories=Qt;KDE;X-KDE-settings-sound;X-KDE-tasma-sound
