<p>Attachments:</p>

<% if @student.documents.blank? %>
  <p id="notsent">No additional documents/files sent by this student.</p>
<% else %>
<ul>
  <% for document in @student.documents %>
  <li><%= link_to document.attached_file_name, document.attached.url %></li>
  <% end %>
</ul>
<% end %>
