body {
background-color:white;
color:black;
font-family:Arial,sans-serif;
font-size:medium;
margin:3px 8px 8px;
}
img {
border:0 none;
}
form {
margin:0;
padding:0;
}
li {
margin-bottom:0.25em;
}
h1 {
font-size:x-large;
margin-top:0;
}
h2 {
font-size:large;
}
h3 {
font-size:medium;
}
h4 {
font-size:small;
}
a:link {
color:#0000CC;
}
a:active {
color:#CC0000;
}
a:visited {
color:#551A8B;
}
a.selected, .selected a, .selected {
color:black;
font-weight:bold;
text-decoration:none;
}
a.novisit {
color:#2A55A3;
}
a.noul, a.noulv {
color:#4182FA;
text-decoration:none;
}
a.noul:hover {
text-decoration:underline;
}
a.noul:visited {
color:#A32A91;
}
th, td {
padding:2px 5px;
text-align:left;
vertical-align:top;
}
table#queues {
border-collapse:collapse;
width:100%;
}
table#queues tr {
border-bottom:thin solid lightgray;
}
table#queues td {
padding:2px;
}
#title {
background-color:#E5ECF9;
border-top:1px solid #3366CC;
font-size:large;
font-weight:bold;
margin:5px 0 0;
padding:1px 0 1px 3px;
}
#body {
border-left:1px dotted silver;
margin-left:200px;
margin-right:25px;
padding-bottom:25px;
padding-left:18px;
}
.list {
-moz-border-radius-bottomleft:0;
-moz-border-radius-bottomright:0;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#E5ECF9;
border-color:#93B7FA;
border-style:solid;
border-width:1px 1px 2px;
padding:3px;
}
.list table {
background-color:white;
}
.list table th {
background-color:#EEEEEC;
border-right:1px solid lightgray;
border-top:1px solid lightgray;
}
.list table tr.on {
background-color:#FFFF99;
}
.list table tr.off {
background-color:#FFFFFF;
}
.list table td.last {
border-right:1px solid lightgray;
}
.list table .first {
border-left:1px solid lightgray;
}
.list table tr td .commented {
margin-left:40px;
}
#cover {
margin: 30px;
font-family: Arial;
line-height: 140%;
color: black;
font-size: medium;
width: 55%;
text-align: left;
}
hr {
margin-left: 20px;
width: 55%;
}
#student_attachments,#student_reviews, #student_comment { margin-left: 20px; }
.studentreview
{
    width: 55%;
    font-size:small;
}
.studentreview .title {
    background: #E5ECF9 none repeat scroll 0 0;,
}
.studentreview .other {
    background: #D2EDF6 none repeat scroll 0 0;
}

#actionbar { clear:both }
#actionbar #page_title { float:left; width:85%}

#student_attachments ul li a:visited, #student_attachments ul li a:link { color:#0000CC; text-decoration:none }
#student_attachments ul li a:hover { color:#0000CC; text-decoration:underline}

#student_attachments #notsent { background:#E5ECF9 none repeat scroll 0 0;width: 55%;}{ background:#E5ECF9 none repeat scroll 0 0; }

.link { margin-left: 20px;padding-top:5px; }
.link a:visited, .link a:link { color:black; text-decoration:underline }
.link a:hover { color:white; text-decoration:none; background-color:black}

table#queues tr th a:visited, table#queues tr th a:link { color:black; text-decoration:none }
table#queues tr th a:hover { color:black; text-decoration:underline }