[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component the
  #               user wants to delete.
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

[% title = BLOCK %]'[% product.name FILTER html %]' Ürününe Ait Bileşeni Sil
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Alan</th>
  <th valign="top" align="left">Değer</th>
</tr>
<tr>
  <td valign="top">Bileşen:</td>
  <td valign="top">[% comp.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Bileşenin tanımı:</td>
  <td valign="top">[% comp.description FILTER html_light %]</td>
</tr>
<tr>
  <td valign="top">Varsayılan olarak atanan:</td>
  <td valign="top">[% comp.default_assignee.login FILTER html %]</td>
  
[% IF Param('useqacontact') %]
</tr>
<tr>
  <td valign="top">Varsayılan Soru/Cevap irtibatı:</td>
  <td valign="top">[% comp.default_qa_contact.login FILTER html %]</td>
[% END %]
  
</tr>
<tr>
  <td valign="top">Ürünün Bileşeni:</td>
  <td valign="top">[% product.name FILTER html %]</td>

[% IF product.description %]
</tr>
<tr>
  <td valign="top">Ürün Tanımı:</td>
  <td valign="top">[% product.description FILTER html_light %]</td>
[% END %]

[% IF Param('usetargetmilestone') %]
</tr>
<tr>
  <td valign="top">Ürün Mihenk Taşına ait URL:</td>
  <td valign="top">
    <a href="[% product.milestone_url FILTER uri %]">
      [% product.milestone_url FILTER html %]
    </a>
  </td>
[% END %]

</tr>
<tr>
  <TD VALIGN="top">[% terms.Bugs %] için kapatıldı:</TD>
  <TD VALIGN="top">[% IF product.disallow_new %]Evet[% ELSE %]Hayır[% END %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF comp.bug_count %]
  <a title="'[% comp.name FILTER html %]' bileşeni için [% terms.bug %] listesi"
     href="buglist.cgi?component=[% comp.name FILTER url_quote %]&amp;product=
          [%- product.name FILTER url_quote %]">[% comp.bug_count %]</a>
[% ELSE %]
  Yok
[% END %]
  </td>
</tr>
</table>

<h2>Onay</h2>
  
[% IF comp.bug_count %]

  [% IF !Param("allowbugdeletion") %]
  <p>
    Üzgünüm, bu bileşen için

    [% IF comp.bug_count > 1 %] 
      [% comp.bug_count %] tane [%+ terms.bug %] 
    [% ELSE %]
      [% comp.bug_count %] tane [%+ terms.bug %] 
    [% END %]

    bekliyor. Bunlardan birini silebilmek için  

    [% IF comp.bug_count > 1 %]
       bu [% terms.bugs %]ı
    [% ELSE %]
       bu [% terms.bug %]yı
    [% END %]

    başka bir bileşene atamalısınız.
  </p>
  [% ELSE %]

    <table border="0" cellpadding="20" width="70%" bgcolor="red"><tr><td>

      Bu bileşen için girilmiş [% IF comp.bug_count > 1 %] 
        [% comp.bug_count %] tane [%+ terms.bug %] 
      [% ELSE %]
        1 [% terms.bug %]
      [% END %]
      var!  Bu bileşeni
      sildiğinizde, kaydedilmiş <b><blink>TÜM </blink></b> [% terms.bugs %] ve
      bunların geçmiş kayıtları da silinecek.
      </td></tr></table>

  [% END %]

[% END %]

[% IF comp.bug_count == 0 || Param('allowbugdeletion') %]

  <p>Bu bileşeni gerçekten silmek istiyor musunuz?</p>
  
  <form method="post" action="editcomponents.cgi">
  <input type="submit" id="delete" value="Evet, sil">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="component" value="[% comp.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/components/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
