
body {
    margin-left:0;
    margin-top:0;
    margin-right:0;
    background-image:url('http://www.pardus.org.tr/styles/images/HeadTile.png');
    background-repeat:repeat-x;
    background-color: #FFF;
}

#header-bugzilla {
    background-image:url('http://www.pardus.org.tr/styles/images/HeadLogo.png');
    background-repeat:no-repeat;
    background-position: 0px 0px;
    height:119px;
    padding-bottom:5px;
}

a {
    color: #F55400;
    text-decoration: none;
}

a:hover {
    color: #444;
    background-color:#EEE;
}

.menu {
    padding-left: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

.content {
    margin: 0.5em;
}
