{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <link href="/search/media/css/stil.css" type="text/css" rel="stylesheet" />
    <link rel="search" type="application/opensearchdescription+xml" title="Paket Arama" href="/search/media/paketarama.xml">

    <title>{% trans 'Package Search' %} - {% block title %}{% endblock %}</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body onLoad="document.forms.search_form.q.focus()">
  
	{% block header_menu %}
	
	<div id='header-bugzilla'>
		
		<div style='float:right; margin-right:2em'>
			<h1>{{current_version|capfirst}}</h1>
			{% for v in versions %}
			| <a href="/search/{{v}}">{{ v|capfirst }}</a>
			{% endfor%}
		</div>
	</div>
	
	<div class='menu'>
		
		<a href='http://{% trans "packages" %}.pardus.org.tr/info/{{current_version}}/index.html'>{% trans 'Information' %}</a>
		| <a href='http://{% trans "packages" %}.pardus.org.tr/info/{{current_version}}/sources.html'>{% trans 'Source Packages' %}</a>
		| <a href='http://{% trans "packages" %}.pardus.org.tr/info/{{current_version}}/binaries.html'>{% trans 'Binary Packages' %}</a>
		| <a href='http://{% trans "packages" %}.pardus.org.tr/info/{{current_version}}/packagers.html'>{% trans 'Packagers' %}</a>
		| <a href='/search'>{% trans 'Search' %}</a>
		
        </div>
	
	{% endblock %}
	<div align="center">
		<a href='javascript: history.go(-1)'>{% trans 'Back' %}</a>
	
		<div id="searchForm">
			<form name="search_form" action="/search/{{current_version}}/" method="GET">
				<input type="text" name="q" value="{{ query }}" checked="false" size="50" style="font-size:large;"/>&nbsp;<button type="submit">{% trans 'Search' %}</button><br />

			{% if group %}
				<input type="checkbox" name="group" value="yes" checked="true"/>{% trans 'Group Packages' %}
			{% else %}
				<input type="checkbox" name="group" value="yes"/>{% trans 'Group Packages' %}
			{% endif %}
			
			</form>
		</div>
	
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		<hr width="40%"/>
		<a href='javascript: history.go(-1)'>{% trans 'Back' %}</a>
	</div>
        <div id="footer">
		{% block footer %}
		{% endblock %}
        
        </div>
	{% include "footer.html" %}
        
  </body>
</html>
