{% extends "base.html" %} 
{% load i18n %}
{% block title %}{% trans 'Package Search' %}{% endblock %}
{% block content %}
	<div style="width:50%">{% blocktrans %}Welcome to Pardus Package Search! Via our search engine, you can find out to which package a file belongs to,
	which files a package contains, which packages exist in the repos. Of course, you can search partially.{% endblocktrans %}</div>

        <h2 align="center">{% trans 'Usage' %}</h2>

	<table align="center">
	<tr>
		<th>{% trans 'Usage' %}</th>
		<th>{% trans 'Meaning' %}</th>
	</tr>
	<tr>
		<td>{% trans 'term in:package' %}</td>
		<td>{% trans 'Search for "term" in "package"' %}</td>

	</tr>
	<tr>
		<td>{% trans 'in:package' %}</td>
		<td>{% trans 'List all paths in "package"' %}</td>
	</tr>
	<tr>
		<td>{% trans 'p:package' %}</td>

		<td>{% trans 'Search for packages related to "package"' %}</td>
	</tr>
	<tr>
		<td>{% trans 'p:' %}</td>
		<td>{% trans 'List all packages' %}</td>
	</tr>
	<tr>

		<td>{% trans 'term' %}</td>
		<td>{% trans 'Search for "term" in all packages' %}</td>
	</tr>
</table>
{% endblock %}