{% extends 'base.html' %}
{% block content %}
    <h1>{{ developer.get_full_name }}</h1>

    <h2>Pending Binaries</h2>
    <ul>
        {% for distro in distros %}
        <li>
            {{ distro }}
            <ul>
                {% for binary in pending %}
                {% ifequal binary.package.source.distribution distro %}
                <li class="test_{{ binary.get_result }}"><a href="{{ binary.get_url }}">{{ binary.get_filename }}</a></li>
                {% endifequal %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    {% comment %}
    <h2>Sources</h2>
    <ul>
        {% for distro in distros %}
        <li>
            {{ distro }}
            <ul>
                {% for source in developer.source_set.all %}
                    {% ifequal source.distribution distro %}
                    <li><a href="{{ source.get_url }}">{{ source.name }}</a></li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <h2>Updates</h2>
    <ul>
        {% for distro in distros %}
        <li>
            {{ distro }}
            <ul>
                {% for update in developer.update_set.all %}
                    {% ifequal update.source.distribution distro %}
                    <li>
                        <strong>{{ update.source.name }} - release {{ update.no }}</strong>
                        <br/>
                        {{ update.comment }}
                    </li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endcomment %}
{% endblock %}
