[%# 1.0@bugzilla.org %]

[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #
  # Bu dosyanın içeriği Mozilla Açık Lisansı Versyon 1.1’e (“Lisans”)
  # tabidir. Bu dosyayı bu lisansa uymak kaydıyla kullanabilirsiniz.
  # Bu lisansın bir örneğini http://www.mozilla.org/MPL/ adresinden 
  # alabilirsiniz.
  #
  # Bu lisansla dağıtılan yazılım “OLDUĞU ŞEKİLDEDİR”, ifade edilmiş 
  # ya da ima edilmiş HERHANGİ BİR GARANTİ KAPSAMINDA DEĞİLDİR.
  # Lisans altındaki yönetim hakları ve sınırlamalar için ilgili 
  # dildeki Lisansa bakınız.
  #
  # Orijinal kodlamasının adı Bugzilla Bug Tracking System’dir.
  #
  # Katkıda bulunan(lar): Frédéric Buclin <LpSolit@gmail.com>
  # 
 #%]

[%# INTERFACE:
  # none
  #%]

[%# ARABİRİM:
  # yok
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %] [% terms.Bugzilla%]ya Hoşgeldiniz. [% END %]

[% PROCESS global/header.html.tmpl
   title = title
   h3 = "versiyon $constants.BUGZILLA_VERSION"
   style_urls = [ 'skins/standard/index.css' ]
%]

<div id="welcome-admin">
  <p>Hoş geldin, [% user.identity FILTER html %].</p>


  <p>Bu sayfayı temel değişkenlerden bazıları henüz ayarlanmamış olduğu için görüyorsunuz.
  Bu sayfanın hedefi kurulumunuzun doğru olması için gerekli son adımlar konusunda 
  sizi bilgilendirmektir.</p>

  <p>Bir yönetici olduğunuz için bu sayfanın sonunda bir kaç tane yönetici bağlantısı
  bulunmaktadır. Bu bağlantılar tüm sayfalarda, daima görünür olacaktır. En azından 
  <a href="editparams.cgi">Parametreler</a> bağlantısını, bu kurulum için tüm önemli 
  değişkenleri ayarlayabileceğiniz için ziyaret etmelisiniz.
  Bu bağlantıyı tıklayarak diğer değişkenler yanında şunları da ayarlayabilirsiniz:</p>


  <ul>
    <li><a href="editparams.cgi?section=core#maintainer">maintainer</a>, bu kurulumda
    bir şeyler yanlış gidiyorsa sorumlu kişidir.</li>

    <li><a href="editparams.cgi?section=core#urlbase">urlbase</a>, bu kurulumu gösteren
    URL'dir ve e-postalarda kullanılacaktır (aynı zamanda bu sayfayı görüyor olmanızın
    da nedenidir: Bu değişken ayarlanmadığı sürece bu sayfayı tekrar tekrar
    göreceksiniz).</li>

    <li><a href="editparams.cgi?section=core#cookiepath">cookiepath</a> web tarayıcınızın
    çerezleri doğru yönetebilmesi için önemlidir.</li>

    <li><a href="editparams.cgi?section=core#utf8">utf8</a> isterseniz tüm metinleri
    UTF-8'e kodlayabilmenizi sağlayacaktır (bu değişkeni açık tutmanız şiddetle
    önerilir).</li>
  </ul>


  <p>Aşağıdaki parametreler de önem taşımaktadır:</p>

  <ul>
    <li><a href="editparams.cgi?section=auth#requirelogin">requirelogin</a>, açıldığında
    kurulumunuzu bu kurulumda hesabı olmayan kullanıcılardan koruyacaktır. Başka bir
    deyişle, geçerli bir hesap ile açıkça oturum açmayan kullanıcılar hiçbir 
    veri göremeyecektir. Verilerinizin gizli kalmasını istiyorsanız bunu yapın.</li>

    <li><a href="editparams.cgi?section=auth#createemailregexp">createemailregexp</a>
    bu kurulumda hesap açmasına izin verilen kullanıcıları tanımlamaktadır. Eğer
    ".*" (varsayılan) olarak ayarlanırsa herkesin kendine hesap açmasına izin verilir.
    Eğer "@mycompany.com$", şeklinde ayarlanırsa sadece @mycompany.com hesabı olanların 
    bir hesap açmasına izin verilir. Boş bırakılırsa, kullanıcıların  kendi kendilerine
    hesap açmasına izin verilmez; sadece bir yönetici onlar için bir hesap oluşturabilir.
    Kişisel bir kurulum istiyorsanız bu parametreyi varsayılan dışında farklı bir 
    şekilde ayarlamalısınız.</li>

    <li><a href="editparams.cgi?section=mta#mail_delivery_method">mail_delivery_method</a>,
    sendmail veya SMTP gibi e-posta göndermek için kullanılan yöntemi tanımlamaktadır.
    e-posta gönderebilmek için bunu doğru tanımlamalısınız.</li>
  </ul>

  <p>
    Bunların hepsini ayarladıktan sonra uygun bir zamanda [% terms.Bugzilla%]'nın diğer 
    parametrelerine göz atmanızı öneririz. Böylece onların neler yaptığını ve
    kurulumunuzda bunları değiştirmek isteyip istemediğinizi anlayabilirsiniz.
  </p>
</div>


[% PROCESS global/footer.html.tmpl %]
