[Desktop Entry]
Name=Display Manager
Name[tr]=Görüntü Yöneticisi
Name[es]=Administrador de Pantallas
Name[nl]=Beeldschermbeheer
Name[de]=Anzeige-Manager
Name[sv]=Bildskärmshanteraren
GenericName=Display Configuration Tool
GenericName[tr]=Ekran Yapılandırma Aracı
GenericName[es]=Herramienta para la Configuración de Pantallas
GenericName[nl]=Beeldscherm configuratie gereedschap
GenericName[de]=Anzeigekonfigurationstool
GenericName[sv]=Bildskärmsanpassningsverktyg
X-KDE-ModuleType=Library
X-KDE-Library=display-manager
X-KDE-FactoryName=display_manager
Type=Application
Icon=randr
Exec=display-manager
Categories=QT;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
