[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "$terms.Bug Writing Guidelines" %]

  <p>Effective [% terms.bug %] reports are the most likely to be fixed. 
  These guidelines explain how to write such reports.

<h3>Principles</h3>

  <ul>
    <li>Be precise</li>
    <li>Be clear - explain it so others can reproduce the [% terms.bug %]</li>
    <li>One [% terms.bug %] per report</li>
    <li>No [% terms.bug %] is too trivial to report - 
    small [% terms.bugs %] may hide big [% terms.bugs %]</li>
    <li>Clearly separate fact from speculation</li>
  </ul>

<h3>Preliminaries</h3>

<ol>
  <li>Reproduce your [% terms.bug %] using a recent build of the
  software, to see whether it has already been fixed.
  </li>

  <li><a href="query.cgi?format=specific">Search</a> 
  [% terms.Bugzilla %], to see whether your [% terms.bug %] has
  already been reported.</li>
</ol>

<h3>Reporting a New [% terms.Bug %]</h3>

<p>If you have reproduced the [% terms.bug %] in a recent build and 
no-one else appears to have reported it, then:</p>

<ol>
 <li>Choose 
 "<a href="enter_bug.cgi">Enter a new [% terms.bug %]</a>"</li>
 <li>Select the product in which you've found the [% terms.bug %]</li>
 <li>Fill out the form. Here is some help understanding it:</li>
</ol>

  <blockquote>
    <p><b>Component:</b> In which sub-part of the software does it 
          exist?<br>
    This field is required.
    Click the word "Component" to see a description of each 
    component. If none seems appropriate, look for a "General" component.</p>

    <p><b>Summary:</b> How would you describe the [% terms.bug %], in 
    approximately 60 or fewer characters?<br>
     A good summary should <b>quickly and uniquely identify [% terms.abug %]
    report</b>. It should explain the problem, not your suggested solution.<br>
    <ul>
     <li>Good Example: "<tt>Cancelling a File Copy dialog crashes 
     File Manager</tt>"</li>
     <li>Bad Example: "<tt>Software crashes</tt>"</li>
     <li>Bad Example: "<tt>Browser should work with my web site</tt>"</li>
    </ul>
    
    <b>Details:</b>
    The details of your problem report, including:</p>

      More detailed restatement of summary.

        <pre>
        Drag-selecting any page crashes Mac builds in the NSGetFactory function.
        </pre>

      <p><b>Reporoducibilty</b> You should choose the repeatability frequency of the bug.

      <ul>
      <li>Happens every time.</li>
      <li>Happens sometimes, but not always.</li>
      <li>Haven't tried to reproduce it.</li>
      <li>Tried, but couldn't reproduce it.</li>
      </ul>

      <p><b>Steps to Reproduce:</b> Minimized, easy-to-follow steps that  will trigger the [% terms.bug %]. Include any special setup steps.</p>

<pre>
1) View any web page. (I used the default sample page, 
resource:/res/samples/test0.html)

2) Drag-select the page. (Specifically, while holding down 
the mouse button, drag the mouse pointer downwards from any 
point in the browser's content region to the bottom of the 
browser's content region.)
</pre>

      <p><b>Actual Results:</b> What the application did after performing the above steps.</p>

<pre>
The application crashed.
</pre>

      <p><b>Expected Results:</b> What the application should have done, were the [% terms.bug %] not present.</p>

<pre>
The window should scroll downwards. Scrolled content should be selected. 
(Or, at least, the application should not crash.)
</pre>

      <p><b>Additional Information:</b> Any other useful information. 
      Add any additional information you feel may be relevant to this [% terms.Bug %], such as your system information, stack trace, or a testcase. Any information longer than a few lines, should be      added using the <b>Add an Attachment</b> link on the [% terms.Bug %].

    <p><b>Severity</b> Say how serious the problem is, or if your [% terms.Bug %] is a request for a new feature.
    <ul>
        <li>Happens every time.</li>
        <li>Happens sometimes, but not always.</li>
        <li>Haven't tried to reproduce it.</li>
        <li>Tried, but couldn't reproduce it.</li>
    </ul>

  <p>Double-check your report for errors and omissions, then press "Commit".
  Your [% terms.bug %] report will now be in 
  the [% terms.Bugzilla %] database.<br>
  </p>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
