[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl title = "Sağlık Kontrolleri"
                                   style_urls = ['skins/standard/admin.css'] %]

<div>
  <p>
    [% terms.Bugzilla %] veritabanınızın kayıtlar arasındaki bağlantılarının doğruluğunu kontrol ediyor. Tamamlanması birkaç dakika sürebilir.
  </p>

  <p>
    Bulunan hatalar <span class="alert">bu şekilde vurgulanacaktır</span>.
    Bulunan hataları düzeltmeniz için bazı bağlantılar gösterilir. Tamir işlemlerinden sonra bu betik tekrar çalıştırılır (ve ilk çalıştırmadan daha uzun sürebilir).
  </p>
</div>

<hr>
