[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% san_message = BLOCK %]
  [% IF san_tag == "checks_start" %]
    Doğruluk kontrolleri yapılıyor

  [% ELSIF san_tag == "checks_completed" %]
    Doğruluk kontrolleri tamamlandı.

  [% ELSIF san_tag == "attachment_reference_deletion_start" %]
    Silinen eklere referanslar siliniyor

  [% ELSIF san_tag == "attachment_reference_deletion_end" %]
    Silinen eklere referansların hepsi silindi.

  [% ELSIF san_tag == "bug_check_alert" %]
    [% errortext FILTER html %]: [% INCLUDE bug_list badbugs = badbugs %]

  [% ELSIF san_tag == "bug_check_repair" %]
    <a href="sanitycheck.cgi?[% param FILTER url_quote %]=1">[% text FILTER html %]</a>

  [% ELSIF san_tag == "bug_check_creation_date" %]
    Oluşturulma tarihi kayıtlı olmayan [% terms.bugs %] (görünmez durumdadırlar) aranıyor

  [% ELSIF san_tag == "bug_check_creation_date_error_text" %]
    Oluşturulma tarihi kayıtlı olmayan [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_creation_date_repair_text" %]
    Bu [% terms.bugsGen %] oluşturulma tarihi kayıtları düzeltiliyor

  [% ELSIF san_tag == "bug_check_bugs_fulltext" %]
    Tüm metinde arama kayıtları olmayan [% terms.bugs %] aranıyor

  [% ELSIF san_tag == "bug_check_bugs_fulltext_error_text" %]
    Tüm metinde arama kayıtları olmayan [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_bugs_fulltext_repair_text" %]
    Bu [% terms.bugsGen %] kayıt tüm metinde arama kayıtları tamir ediliyor

  [% ELSIF san_tag == "bug_check_res_dupl" %]
    Çözümleme ve çift olma durumları taranıyor

  [% ELSIF san_tag == "bug_check_res_dupl_error_text" %]
    Çiftler tablosunda çift olarak işaretlenmemiş [% terms.bugs %] bulundu

  [% ELSIF san_tag == "bug_check_res_dupl_error_text2" %]
    Çözümlenmiş ve çift olarak işaretlenmiş fakat çiftler tablosunda kayıtlı olmayan [% terms.bugs %] bulundu

  [% ELSIF san_tag == "bug_check_status_res" %]
    Durum - çözüm kontrolleri yapılıyor

  [% ELSIF san_tag == "bug_check_status_res_error_text" %]
    Açık ama çözümlenmiş görünen [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_status_res_error_text2" %]
    Açık olmayan ama çözümlenmiş de görünmeyen [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_status_everconfirmed" %]
    Onay bekleme durumu kontrol ediliyor

  [% ELSIF san_tag == "bug_check_status_everconfirmed_error_text" %]
    Onay bekleyen fakat reddedildi olarak işaretlenmiş [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_status_everconfirmed_error_text2" %]
    Onaylandı olarak işaretlenmiş fakat onay beklemeyen [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_votes_everconfirmed" %]
    Oylar ve onay bekleme durumları kontrol ediliyor

  [% ELSIF san_tag == "bug_check_votes_everconfirmed_error_text" %]
    Onaylanmak için yeterli oy alan ama onaylanmayan [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_control_values" %]
    group_control_map içinde geçersiz değerler kontrol ediliyor

  [% ELSIF san_tag == "bug_check_control_values_alert" %]
    [% entries FILTER html %] geçersiz group_control_map girdisi bulundu

  [% ELSIF san_tag == "bug_check_control_values_violation" %]
    Ait oldukları ürünün grup kontrollerinin dışına çıkan [% terms.bugs %] aranıyor

  [% ELSIF san_tag == "bug_check_control_values_error_text" %]
    Ürünlerinde izin verilmeyen gruplar taşıyorlar

  [% ELSIF san_tag == "bug_check_control_values_repair_text" %]
    Etkilenen ürünlerde kayıp gruplara izin ver
    (üye kontrolünü <code>GÖSTERİLİYOR</code> olarak ayarla)

  [% ELSIF san_tag == "bug_check_control_values_error_text2" %]
    Ürünlerinde kayıp grupların gerekliliği

  [% ELSIF san_tag == "bug_creation_date_start" %]
    Kayıp [% terms.bug %] oluşturma tarihleri tamir ediliyor.

  [% ELSIF san_tag == "bug_creation_date_fixed" %]
    [% bug_count FILTER html %] [%+ terms.bug %] tamir edildi.

  [% ELSIF san_tag == "bugs_fulltext_start" %]
    [% terms.bug %] girdilerinde tüm metin arama özelliği tamir ediliyor.

  [% ELSIF san_tag == "bugs_fulltext_fixed" %]
    [% bug_count FILTER html %] [%+ terms.bug %] tamir edildi.

  [% ELSIF san_tag == "bug_reference_deletion_start" %]
    Silinen [% terms.bugsDat %] referanslar kaldırılıyor.

  [% ELSIF san_tag == "bug_reference_deletion_end" %]
    Silinen [% terms.bugsDat %] referanslar kaldırıldı.

  [% ELSIF san_tag == "cross_check_from" %]
    [% table FILTER html %].[% field FILTER html %] alanından...

  [% ELSIF san_tag == "cross_check_to" %]
    [% table FILTER html %].[% field FILTER html %] alanına olan referanslar kontrol ediliyor.

  [% ELSIF san_tag == "cross_check_alert" %]
    [%+ table FILTER html %].[% field FILTER html %]
    alanında '[% value FILTER html %]' geçersiz değeri bulundu
    [% IF keyname %]
      [% IF keyname == "bug_id" %]
        ([% PROCESS bug_link bug_id = key %])
      [% ELSE %]
        ([% keyname FILTER html %] == '[% key FILTER html %]')
      [% END %]
    [% END %]

  [% ELSIF san_tag == "cross_check_attachment_has_references" %]
    <a href="sanitycheck.cgi?remove_invalid_attach_references=1">Varolmayan eklere yapılan referansları kaldır.</a>

  [% ELSIF san_tag == "cross_check_bug_has_references" %]
    <a href="sanitycheck.cgi?remove_invalid_bug_references=1">Varolmayan [% terms.bugsDat %] yapılan referansları kaldır.</a>

  [% ELSIF san_tag == "double_cross_check_from" %]
    [% table FILTER html %].[% field1 FILTER html %] /
    [%+ table FILTER html %].[% field2 FILTER html %] alanlarından

  [% ELSIF san_tag == "double_cross_check_to" %]
    [% table FILTER html %].[% field1 FILTER html %] /
    [%+ table FILTER html %].[% field2 FILTER html %] referansları kontrol ediliyor.

  [% ELSIF san_tag == "double_cross_check_alert" %]
    [% table FILTER html %].[% field1 FILTER html %] /
    [%+ table FILTER html %].[% field2 FILTER html %] alanlarında 
    geçersiz '[% value1 FILTER html %]', '[% value2 FILTER html %]' değerleri bulundu.
    [% IF keyname %]
      [% IF keyname == "bug_id" %]
        ([% PROCESS bug_link bug_id = key %])
      [% ELSE %]
        ([% keyname FILTER html %] == '[% key FILTER html %]')
      [% END %]
    [% END %]

  [% ELSIF san_tag == "flag_check_start" %]
    Yanlış ürün veya bileşende bulunan bayraklar kontrol ediliyor.

  [% ELSIF san_tag == "flag_deletion_start" %]
    Geçersiz bayraklar siliniyor.

  [% ELSIF san_tag == "flag_deletion_end" %]
    Geçersiz bayraklar silindi.

  [% ELSIF san_tag == "flag_alert" %]
    [%+ PROCESS bug_link bug_id = bug_id %] içinde
    [% IF attach_id %]
      [% attach_id FILTER html %] eki için
    [% END %]
    geçersiz [% flag_id FILTER html %] bayrağı.

  [% ELSIF san_tag == "flag_fix" %]
    <a href="sanitycheck.cgi?remove_invalid_flags=1">Geçersiz bayrakları silmek için buraya tıklayın</a>

  [% ELSIF san_tag == "group_control_map_entries_creation" %]
    <code>GÖSTERİLİYOR</code> üye kontrol girdilerini içermeyen ürün-grup kombinasyonları için ilgili üye kontrol girdileri oluşturuluyor.

  [% ELSIF san_tag == "group_control_map_entries_update" %]
    <em>[% product_name FILTER html %]</em> ürününde <em>[% group_name FILTER html %]</em> grubunun <code>UYGUNSUZ/<em>xxx</em></code> grup kontrol ayarı <code>GÖSTERİLİYOR/<em>xxx</em></code> olarak güncelleniyor.

  [% ELSIF san_tag == "group_control_map_entries_generation" %]
    <em>[% product_name FILTER html %]</em> ürünündeki <em>[% group_name FILTER html %]</em> grubu için <code>GÖSTERİLİYOR/UYGUNSUZ</code> grup kontrol ayarı oluşturuluyor.

  [% ELSIF san_tag == "group_control_map_entries_repaired" %]
    [% counter FILTER html %] bozuk grup kontrol ayarı tamir edildi.

  [% ELSIF san_tag == "keyword_check_start" %]
    Anahtar kelimeler tablosu kontrol ediliyor.

  [% ELSIF san_tag == "keyword_check_alert" %]
    [% id FILTER html %] kimliği için anahtar kelime tanımlarında çift girdi.

  [% ELSIF san_tag == "keyword_check_invalid_name" %]
    [% id FILTER html %] kimliği için anahtar kelime tanımlarında anlaşılır olmayan isim.

  [% ELSIF san_tag == "keyword_check_invalid_id" %]
    Anahtar kelimeler tablosunda [% id FILTER html %] anlaşılır olmayan anahtar kelime kimlikleri.

  [% ELSIF san_tag == "keyword_check_duplicated_ids" %]
    [% PROCESS bug_link bug_id = id %] içinde çift anahtar kelime kimlikleri bulundu.

  [% ELSIF san_tag == "keyword_cache_start" %]
    Önbelleklenmiş anahtar kelimeler kontrol ediliyor.

  [% ELSIF san_tag == "keyword_cache_alert" %]
    Anahtar kelime önbelleğinde [% badbugs.size FILTER none %] geçersiz [%+ terms.bug %] bulundu:
    [% INCLUDE bug_list badbugs = badbugs %]

  [% ELSIF san_tag == "keyword_cache_fixing" %]
    Anahtar kelime önbelleği tamir ediliyor.

  [% ELSIF san_tag == "keyword_cache_fixed" %]
    Anahtar kelime önbelleği tamir edildi.

  [% ELSIF san_tag == "keyword_cache_rebuild" %]
    <a href="sanitycheck.cgi?rebuildkeywordcache=1">Anahtar kelime önbelleğini tamir etmek için buraya tıklayın</a>.

  [% ELSIF san_tag == "profile_login_start" %]
    Profil oturumları kontrol ediliyor.

  [% ELSIF san_tag == "profile_login_alert" %]
    [% id FILTER html %] kimliğinde geçersiz profil eposta adresi &lt;[% email FILTER html %]&gt;.

  [% ELSIF san_tag == "repair_bugs" %]
    Bu [% terms.bugsAcc %] tamir et.

  [% ELSIF san_tag == "send_bugmail_start" %]
    Gönderilmeyen epostaları göndermeyi deniyor.

  [% ELSIF san_tag == "send_bugmail_status" %]
    Gönderilmemiş olma ihtimali olan [% bug_count FILTER html %] [%+ terms.bug %] bulundu.

  [% ELSIF san_tag == "send_bugmail_end" %]
    Gönderilmeyen epostalar gönderildi.

  [% ELSIF san_tag == "unsent_bugmail_check" %]
    Gönderilmemiş eposta olup olmadığı kontrol ediliyor

  [% ELSIF san_tag == "unsent_bugmail_alert" %]
    Değişiklik yapılan fakat en az yarım saattir epostası gönderilmeyen [% terms.Bugs %]: [% INCLUDE bug_list badbugs = badbugs %]

  [% ELSIF san_tag == "unsent_bugmail_fix" %]
    <a href="sanitycheck.cgi?rescanallBugMail=1">Bu epostaları gönder</a>.

  [% ELSIF san_tag == "vote_cache_rebuild_start" %]
    Oy önbelleği yeniden oluşturuluyor.

  [% ELSIF san_tag == "vote_cache_rebuild_end" %]
    Oy önbelleği yeniden oluşturuldu.

  [% ELSIF san_tag == "vote_cache_rebuild_fix" %]
    <a href="sanitycheck.cgi?rebuildvotecache=1">Oy önbelleğini yeniden oluşturmak için buraya tıklayın</a>

  [% ELSIF san_tag == "vote_cache_alert" %]
    [% PROCESS bug_link bug_id = id %] oy önbelleği bozuk.

  [% ELSIF san_tag == "vote_count_start" %]
    Önbelleklenmiş oy sayıları kontrol ediliyor.

  [% ELSIF san_tag == "vote_count_alert" %]
    [% terms.bug %] [%+ id FILTER html %] oy toplamı geçersiz.

  [% ELSIF san_tag == "whines_obsolete_target_deletion_start" %]
    Varolmayan kullanıcı ve gruplar alarm listelerinden çıkarılıyor.

  [% ELSIF san_tag == "whines_obsolete_target_deletion_end" %]
    Varolmayan kullanıcı ve gruplar alarm listelerinden çıkarıldı.

  [% ELSIF san_tag == "whines_obsolete_target_start" %]
    Alarmlardan varolmayan kullanıcı veya gruplar için kurulan olup olmadığı kontrol ediliyor.

  [% ELSIF san_tag == "whines_obsolete_target_alert" %]
    [% FOREACH schedule = schedules %]
      [% schedule.0 FILTER html %] alarmı [%+ schedule.1 FILTER html %] zamanlamasında varolmayan [% (type == constants.MAILTO_USER) ? "kullanıcı" : "grup" FILTER html %]<br>
    [% END %]

  [% ELSIF san_tag == "whines_obsolete_target_fix" %]
    <a href="sanitycheck.cgi?remove_old_whine_targets=1">Eski kullanıcı ve grupları silmek için buraya tıklayın</a>

  [% END %]
[% END %]

[% san_message FILTER html %]


[% BLOCK bug_list %]
  [% FOREACH bug_id = badbugs %]
    [%# Do not use FILTER bug_link() here, because bug_link() calls get_text()
     # which itself calls this template again, generating a recursion error.
     # I doubt having a tooltip with the bug status and summary is so
     # important here anyway, as you can click the "(as buglist)" link. %]
    <a href="show_bug.cgi?id=[% bug_id FILTER url_quote %]">[% bug_id FILTER html %]</a>
    [% ", " IF !loop.last %]
  [% END %]
  (<a href="buglist.cgi?bug_id=[% badbugs.join(",") FILTER url_quote %]">[% terms.bug %] listesi olarak</a>).
[% END %]

[% BLOCK bug_link %]
  <a href="show_bug.cgi?id=[% bug_id FILTER url_quote %]">[% terms.bug %] [%+ bug_id FILTER html %]</a>
[% END %]
