[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PiSi Package Info
Name[tr]=PiSi Paketi Bilgisi
Name[pt_BR]=Informação de Pacote PiSi
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pisi
MimeType=application/x-pisi
PreferredGroups=Package
PreferredItems=Name,Description,Size

