[Desktop Entry]
Name=Service Manager
Name[tr]=Servis Yöneticisi
Name[es]=Administrador de Servicios
GenericName[en]=Service Management Interface
GenericName[tr]=Servis Yönetim Arabirimi
GenericName[es]=Interfaz de Administración de Servicios
Icon=service_manager
X-KDE-ModuleType=Library
X-KDE-Library=service-manager
X-KDE-FactoryName=service_manager
X-KDE-RootOnly=false
X-Tasma-Fork=true
Type=Application
Exec=service-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
