[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  # Translator		: Baris Ozyurt <baris@tuxworkshop.com>
  #%]

[%# INTERFACE:
  # name: string; the name of the current keyword.
  #%]
  
[% PROCESS global/header.html.tmpl
  title = "Yeni anahtar kelime ekleme"
%]

<p>[% name FILTER html %] isimli anahtar kelime eklendi.</p>

<p><a href="editkeywords.cgi">Mevcut anahtar kelimelerde düzeltme yapabilir</a> ya da 
<a href="editkeywords.cgi?action=add">bir başka anahtar kelime ekleyebilirsiniz</a>.</p>

[% PROCESS global/footer.html.tmpl %]
