[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  # Portions created by Frédéric Buclin are Copyright (C) 2008
  # Frédéric Buclin. All Rights Reserved.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[%# INTERFACE:
  # script_name: the script generating this warning.
  # token: a valid token for the current action.
  # reason: reason of the failure.
  #%]

[% PROCESS global/header.html.tmpl title = "Şüpheli Eylem"
                                   style_urls = ['skins/standard/global.css'] %]

<div class="throw_error">
  [% IF reason == "expired_token" %]
    [% script_name FILTER html %] üzerinde yaptığınız değişiklikler, göndermek için [% constants.MAX_TOKEN_AGE FILTER html %] günü aştığınızdan ötürü reddedildi. Sayfanız çok uzun süre açık kalmış olabilir veya eski değişiklikleri yeniden göndermiş olabilirsiniz.

  [% ELSIF reason == "missing_token" %]
    Görünüşe bakılırsa buraya yanlış sayfadan geldiniz. Bu adresi tarayıcınızın adres çubuğuna doğrudan yazmış olabilirsiniz, bu durumda bir sorun yok. Bir başka olasılık da sizi buraya <b>sizin onayınız olmadan</b> yönlendiren bir sayfa olabilir.

  [% ELSIF reason == "invalid_token" %]
    [% script_name FILTER html %] betiğine değişiklikleri geçersiz bir jetonla gönderdiniz. Bu, birisinin sizi buraya <b>sizin onayınız olmadan</b> gönderdiği anlamına gelebilir.
  [% END %]
  <p>
    Bu değişiklikleri göndermek istediğinize emin misiniz?
  </p>
</div>

<form name="check" id="check" method="post" action="[% script_name FILTER html %]">
  [% PROCESS "global/hidden-fields.html.tmpl"
             exclude="^(Bugzilla_login|Bugzilla_password|token)$" %]
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="confirm" value="Evet, Değişiklikleri Onayla">
</form>

<p><a href="index.cgi">Hayır, bu değişiklikleri çöpe at</a> (ana sayfaya yönlendirileceksiniz).</p>

[% PROCESS global/footer.html.tmpl %]
