[Desktop Entry]
Name=Disk Manager
Name[en]=Disk Manager
Name[tr]=Disk Yöneticisi
Comment=A Tasma Module for disk management
Comment[tr]=Disk yönetiminden sorumlu Tasma Modülü
Icon=disk_manager
X-KDE-ModuleType=Library
X-KDE-Library=disk-manager
X-KDE-FactoryName=disk_manager
X-KDE-RootOnly=true
X-Tasma-Fork=True
Type=Application
Exec=kcmshell disk-manager
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-system
