[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Shane H. W. Travis <travis@sedsystems.ca>
  #
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% PROCESS global/variables.none.tmpl %]

[% setting_descs = { 
   "comment_sort_order"               => "$terms.aBug gösterirken, yorumları bu sırada göster",
   "csv_colsepchar"                   => "CSV dosyaları için alan ayırıcı karakter",
   "display_quips"                    => "Her $terms.bug listesinin başında bir nükteli söz göster.",
   "zoom_textareas"                   => "Metin alanlarını kullanımdaysa büyüt (JavaScript gerektirir)",
   "newest_to_oldest"                 => "Yeniden eskiye doğru",
   "newest_to_oldest_desc_first"      => "Yeniden eskiye doğru, fakat açıklamayı tepede bırak.",
   "off"                              => "Kapalı",
   "oldest_to_newest"                 => "Eskiden yeniye doğru",
   "on"                               => "Açık",
   "per_bug_queries"                  => "$terms.Bugs için etiketleri etkinleştir",
   "post_bug_submit_action"           => "$terms.aBug yı değiştirdikten sonra",
   "next_bug"                         => "Listemdeki bir sonraki $terms.bug yı göster",
   "same_bug"                         => "Güncellenen $terms.bug yı göster",
   "standard"                         => "Klasik",
   "skin"                             => "$terms.Bugzilla'nın genel görünüşü (kabuk)",
   "nothing"                          => "Hiçbir şey yapma",
   "state_addselfcc"                  => "$terms.bugs değiştirdiğimde beni otomatik olarak CC listesine ekle",
   "always"                           => "Her zaman",
   "never"                            => "Hiçbir zaman",
   "cc_unless_role"                   => "Yalnızca üzerinde hiç bir rolüm yoksa",
   "lang"                             => "Epostada kullanılan dil",
                   } 
%]
